/config/user_config.json
/config/user_config.yml
/config/user_config.secret.json
/config/user_config.secret.yml
/config/banlist.json
/config/codes.json

/node_modules/*
/.vscode/*

Thumbs.db
desktop.ini
package-lock.json
.directory