:root {
	--panel_height: 2.2rem;
	--panel_font_size: 1rem;
	--font_family: imported_font, sans-serif;
	--icon_size: 1.15em;
	--chat_side_spacing: 0.8em;
	--profilepic_size: 1.8em;
	--big_profilepic_size: 16rem;
	--msg_display: block;
}

@font-face {
	font-family: imported_font;
	src: url(/static/assets/css/fonts/Roboto-Regular.ttf);
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-family: var(--font_family);
	background-color: #262423;
	overflow: hidden;
	background-color: rgb(24, 24, 24);
	background-repeat: no-repeat;
	background-position: center;
}

*:not(textarea):not(input) {
	scrollbar-width: none !important;
}

*:not(textarea):not(input)::-webkit-scrollbar {
	width: 0 !important;
}

#main_container {
	opacity: 0;
	transition: opacity 1.6s linear;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	pointer-events: none;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	filter: grayscale(100%);
}

#header {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	overflow: hidden;
}

.header_side {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	width: 15rem;
	height: 100%;
}

.header_side > div {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#header_right {
	justify-content: flex-end;
}

#activity_bar {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-grow: 1;
}

#activity_bar_inner {
	position: relative;
	align-items: center;
	overflow: hidden;
	flex-grow: 0;
	height: 100%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	gap: 1.25rem;
}

#activity_bar_inner.no_usernames .activity_bar_text {
	display: none;
}

.activity_bar_text {
	white-space: nowrap;
	margin-left: 0.5rem;
	transition: text-shadow 500ms;
	font-size: var(--panel_font_size);
}

.show_image_profilepic {
	margin-right: 0.5rem;
}

.columns_container {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.rows_container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	min-height: 0;
}

.panel {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	height: var(--panel_height);
	min-height: var(--panel_height);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--altbackground);
	color: var(--text_color);
}

#chat_main {
	position: relative;
	display: flex;
	width: 100%;
	max-height: 100%;
	flex-direction: column;
	flex-grow: 1;
}

#chat_area_parent {
	flex-grow: 1;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

#chat_area {
	position: relative;
	font-size: var(--chat_font_size);
}

.chat_area {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#chat_area > .message {
	margin-left: 0.6em;
	margin-right: 0.6em;
}

#chat_area .chat_content_container,
#chat_area .announcement {
	animation-name: fadein;
	animation-duration: 600ms;
	animation-timing-function: linear;
}

#chat_area > .message:first-child {
	padding-top: 1.5em;
}

#chat_area > .message:last-child {
	padding-bottom: 1.5em;
}

.chat_area_clone {
	position: relative;
}

.chat_area_clone .chat_content {
	height: initial !important;
}

.chat_area_clone .announcement_content_container {
	width: 99%;
	cursor: pointer;
}

#media {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}

#media_split {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	position: relative;
}

#media_image_error {
	display: none;
	font-size: 1.1rem;
}

.media_main_container {
	height: 50%;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.media_container {
	height: calc(100% - 3rem);
	width: calc(100% - 3rem);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#media_image_container {
	display: flex;
}

#footer {
	justify-content: flex-start !important;
	position: relative;
}

.footer_expanded {
	height: 10rem;
}

.footer_expanded #input {
	height: 100%;
	padding-top: 0.5rem;
	box-sizing: border-box;
}

#footer_items {
	display: flex;
	flex-grow: 1;
	white-space: nowrap;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	padding-right: 0.5rem;
}

#footer .separator {
	height: 1em;
}

.footer_icon {
	cursor: pointer;
	flex-shrink: 1;
	background-color: transparent;
	color: inherit;
	width: var(--icon_size);
	height: var(--icon_size);
}

.footer_text {
	margin-right: 0.4rem;
}

#footer .horizontal_separator {
	margin-left: 0.5rem !important;
	margin-right: 0.5rem !important;
}

.panel_icon {
	cursor: pointer;
	flex-shrink: 1;
	background-color: transparent;
	color: inherit;
	width: calc(var(--icon_size) * 1.6);
	height: var(--icon_size);
}

.media_picker_icon {
	background-color: transparent;
	color: inherit;
	width: calc(var(--icon_size) * 1.8);
	height: calc(var(--icon_size) * 1.8);
}

.menu_icon {
	cursor: pointer;
	flex-shrink: 1;
	background-color: transparent;
	color: inherit;
	width: calc(var(--icon_size) * 1.6);
	height: var(--icon_size);
	margin-bottom: 0.25rem;
}

#input {
	font-size: var(--panel_font_size);
	border: 0 solid black;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	outline: none;
	font-family: inherit;
	flex-grow: 1;
	background-color: transparent;
	color: inherit;
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

#input::placeholder {
	color: var(--text_color);
	opacity: 0.8;
}

#input_reply_cancel {
	border: 1px solid grey;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	margin-left: 0.25rem;
}

.scroller_container {
	position: absolute;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	visibility: hidden;
	color: var(--text_color);
	background-color: var(--altbackground);
}

.top_scroller_container {
	top: 0;
}

.bottom_scroller_container {
	bottom: 0;
}

.scroller {
	height: 1.8rem;
	outline: none;
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
	padding-left: 2rem;
	padding-right: 2rem;
	border: 0.06rem solid var(--altcolor_a);
	flex-grow: 1;
	flex-basis: 50%;
}

.middle_scroller {
	flex-grow: 0;
	flex-shrink: 0;
	width: 2rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	flex-basis: unset;
}

.chat_message {
	overflow-wrap: break-word;
	word-break: break-word;
	display: flex;
}

.chat_left_side {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
}

.chat_right_side {
	display: flex;
	flex-direction: column;
	padding-left: var(--chat_side_spacing);
	flex-grow: 1;
	flex-shrink: 1;
}

.chat_profilepic {
	width: var(--profilepic_size);
	height: var(--profilepic_size);
	margin-top: 0;
	cursor: pointer;
}

.chat_message_top {
	display: flex;
	flex-shrink: 1;
	flex-grow: 0;
	flex-direction: row;
	align-items: center;
}

.chat_username {
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	font-weight: bold;
}

.chat_timeago {
	opacity: 0.8;
	white-space: nowrap;
	margin-left: 0.5em;
}

.chat_container {
	width: 100%;
	position: relative;
}

.chat_content_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-top: 0.2em;
}

.chat_content {
	display: inline-block;
	line-height: 1.2em;
}

.no_pre_wrap {
	white-space: initial;
}

.announcement {
	overflow-wrap: break-word;
	word-break: break-word;
	display: flex;
	flex-direction: row;
}

.announcement_top {
	margin-bottom: 0.2rem;
}

.announcement_content {
	display: inline-block;
}

.announcement_left_side {
	display: flex;
	flex-direction: column;
}

.announcement_right_side {
	margin-left: var(--chat_side_spacing);
	width: 100%;
}

.brk {
	flex-shrink: 0;
	flex-grow: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: var(--profilepic_size);
	max-width: var(--profilepic_size);
}

.brk_profilepic {
	width: var(--profilepic_size);
	height: var(--profilepic_size);
	opacity: 0.2;
	outline: 1px solid var(--text_color);
}

a.generic:link,
a.generic:visited,
a.generic:hover {
	text-decoration: underline;
	color: inherit;
}

#test_image {
	display: none;
}

.menu_item {
	font-size: 1.1rem;
	cursor: pointer;
	white-space: nowrap;
}

.user_items {
	margin-top: -0.8rem;
	margin-bottom: -0.8rem;
}

.user_item {
	overflow-wrap: break-word;
	word-break: break-word;
	display: inline-block;
	margin: 0.8rem;
}

.userlist_item_details_container {
	margin-top: 0.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 1.1rem;
	white-space: nowrap;
}

.userlist_item_username {
	cursor: pointer;
	flex-shrink: 1;
}

.userlist_item_role {
	flex-shrink: 0;
	margin-left: 0.5rem;
	cursor: pointer;
}

.userlist_item_profilepic {
	width: var(--profilepic_size);
	height: var(--profilepic_size);
	margin-top: 0.2rem;
}

.chat_icon {
	width: var(--icon_size);
	height: var(--icon_size);
}

.brk.pos_absolute .chat_icon {
	width: var(--icon_size);
	height: var(--profilepic_size);
}

.other_icon {
	width: var(--icon_size);
	height: var(--icon_size);
}

#settings_container {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.settings_item {
	width: 100%;
}

.setting_title {
	padding-bottom: 0.5rem;
}

.setting_title2 {
	padding-bottom: 0.2rem;
}

.Msg-container {
	display: var(--msg_display) !important;
}

.Msg-content {
	font-size: 1rem !important;
	overflow-wrap: break-word !important;
	word-break: break-word !important;
}

.Msg-window.whisper_width {
	width: 28rem !important;
}

#Msg-overlay-locked {
	background-color: rgb(186, 93, 93) !important;
}

.Msg-overlay {
	background-color: var(--altcolor_a) !important;
	color: var(--background_color) !important;
}

.Msg-window {
	background-color: var(--background_color) !important;
	color: var(--text_color) !important;
}

.Msg-window-inner-x:hover {
	background-color: var(--altbackground) !important;
}

.Msg-progressbar {
	background-color: var(--altbackground) !important;
}

.window_controls {
	top: 0;
	position: sticky;
	z-index: 99;
	background-color: var(--background_color);
	margin-top: -1.2rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	margin-left: -1px;
	margin-right: -1px;
}

.filter_input {
	width: 15rem;
	border: 0.06rem solid grey;
	font-size: 1rem;
	text-align: center;
	border-radius: 1.76rem;
	outline: none;
	margin-left: 0.35rem;
	margin-right: 0.35rem;
}

.chat_menu_button_main {
	position: relative;
}

.chat_menu_button_container {
	display: block;
	visibility: hidden;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 50;
	flex-direction: row;
	height: 100%;
}

.chat_menu_button {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	position: relative;
	width: 1.2rem;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--altbackground);
	border-left: 0.06rem solid var(--altbackground);
	opacity: 0.5;
}

.chat_menu_button:hover {
	background-color: var(--altcolor);
}

.chat_menu_button_main:hover > .chat_menu_button_container {
	visibility: visible;
}

.chat_menu_button_main:hover {
	box-shadow: 0 0 0.45rem var(--altcolor);
}

#pick_username_welcome {
	font-size: 1.1rem;
	padding-bottom: 0.3rem;
}

#pick_username_info {
	padding-bottom: 1rem;
}

#pick_username_input {
	font-size: 1.1rem;
	border: 0.06rem solid grey;
	text-align: center;
}

.info_title {
	font-weight: bold;
	padding-bottom: 0.3rem;
}

select {
	font-size: 1rem;
	cursor: pointer;
}

.modal_select {
	text-align-last: center;
	background-color: var(--altbackground);
	color: var(--text_color);
	border: 0;
	outline: 0;
}

.media_tweaks_select {
	width: 8rem;
}

.modal_color {
	text-align-last: center;
	min-width: 8rem;
}

input[type=text],
input[type=search],
input[type=password],
input[type=number],
textarea,
select {
	font-family: var(--font_family) !important;
	font-size: 1rem;
}

input[type=checkbox] {
	width: 1rem;
	height: 1rem;
}

#modal_image_error,
#view_image_error {
	font-size: 1.1rem;
}

#modal_image_header_info_container {
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: relative;
}

#modal_image_header_info {
	flex-grow: 0;
	flex-shrink: 1;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#modal_image_header_toolbar {
	display: flex;
	flex-direction: row;
}

.modal_image_arrow_button {
	cursor: pointer;
	z-index: 10;
	flex-grow: 0;
	flex-shrink: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	align-items: center;
	height: 100%;
	position: relative;
}

.show_image_container {
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	cursor: pointer;
	flex-direction: column;
	position: relative;
}

.show_image {
	display: none;
	object-fit: contain;
	width: calc(100% - 4rem);
	height: calc(100% - 4rem);
}

.pointer {
	cursor: pointer;
}

.input1 {
	font-size: 1rem;
	width: 18rem;
	border: 0.06rem solid grey;
	text-align: center;
}

.bigger {
	font-size: 1.1rem;
}

.underlined {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.padding1 {
	padding: 2rem;
}

#profilepic_picker {
	display: none;
}

#profilepic_cropper {
	width: 23.53rem;
	height: 23.53rem;
}

.profile_icon {
	margin-bottom: 0.5rem;
}

.small_padding_bottom {
	padding-bottom: 0.5rem;
}

.nowrap {
	white-space: nowrap;
}

.small_square_image {
	max-width: 14.71rem;
	max-height: 14.71rem;
	min-height: 5.88rem;
	min-width: 5.88rem;
}

.nodisplay {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

.shady_text {
	background-color: var(--altcolor);
	color: var(--text_color);
	outline: none;
	border: 0;
}

.shady_text::placeholder {
	color: var(--text_color_a);
	opacity: 0.8;
}


#write_whisper_area {
	margin-top: 1rem;
}

.setting_textarea {
	width: 100%;
	resize: none;
	text-align: center;
	overflow-x: hidden;
	box-sizing: border-box;
}

.setting_input_text {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

.full_textarea {
	width: 100%;
	resize: none;
	font-size: 1rem;
	text-align: center;
	overflow-x: hidden;
	box-sizing: border-box;
}

@keyframes fadein {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

#user_profile_username_container {
	margin-bottom: 1rem;
}

#user_profile_username {
	display: inline-block;
}

#user_profile_profilepic {
	margin-bottom: 2rem;
	width: var(--big_profilepic_size);
	height: var(--big_profilepic_size);
}

.user_profile_items_container {
	margin-bottom: 0.5rem;
}

.user_profile_icon {
	margin-right: 0.5rem;
}

.inline {
	display: inline-block;
}

.action, .actionbox, .actionbox_light {
	transition: text-shadow 250ms, box-shadow 250ms;
	cursor: pointer;
}

.action:hover {
	text-shadow: 0 0 1rem currentColor;
}

svg.action:hover {
	filter: drop-shadow(0 0 0.29rem currentColor);
}

.action:hover svg {
	filter: drop-shadow(0 0 0.29rem currentColor);
}

.actionbox_light:hover {
	box-shadow: 0 0 0.1rem currentColor, inset 0 0 0.1rem currentColor;
}

.actionbox:hover {
	box-shadow: 0 0 1.18rem currentColor;
}

.header_container {
	height: var(--icon_size);
}

.header_label {
	font-size: var(--panel_font_size);
	margin-right: 0.5rem;
}

.draw_tool_container {
	padding: 0.5rem;
}

#chat_area .highlighted_message {
	background-color: var(--altbackground_a);
	box-shadow: 0 0 0.12rem currentColor;
	padding: 0.25rem;
}

.chat_area .fresh_message, 
#message_board_container .fresh_message {
	background: linear-gradient(.25turn, var(--altcolor_a), 50%, transparent);
	background-clip: content-box;
}

.flex_row_center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex_column_center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inline_flex_row_center {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.inline_flex_column_center {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#admin_activity_container {
	width: 22rem;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.show_profile_button {
	font-size: 1rem;
}

#show_profile_profilepic {
	margin-top: 0.5rem;
	width: var(--big_profilepic_size);
	height: var(--big_profilepic_size);
}

#show_profile_buttons {
	gap: 1.6rem;
	background-color: var(--altbackground);
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 1.6rem;
}

#show_profile_op_buttons {
	margin-top: 1.6rem;
}

#show_profile_details {
	margin-top: 1.6rem;
}

#show_profile_bio {
	margin-top: 1rem;
}

#show_profile_role {
	margin-bottom: 0.5rem;
}

#show_profile_info {
	margin-top: 1.6rem;
	gap: 0.8rem;
}

#admin_list_container,
#ban_list_container {
	gap: 1rem;
}

.admin_list_item,
.ban_list_item {
	font-size: 1.1rem;
	cursor: pointer;
}

.special_link {
	cursor: pointer;
	text-shadow: 0 0 1rem currentColor;
}

.special_link:hover {
	text-decoration: underline;
}

a.special_link:link,
a.special_link:visited {
	color: inherit;
	text-decoration: none;
}

a.special_link:hover {
	color: inherit;
	text-decoration: underline;
}

.image_preview {
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.image_preview_text,
.link_preview_text {
	margin-bottom: 0.35em;
	overflow-wrap: break-word;
	word-break: break-word;
	display: inline-block;
}

.image_preview_image {
	max-width: 100%;
	height: 10em;
	object-fit: contain;
	flex-grow: 0;
	flex-shrink: 0;
}

.link_preview {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: var(--altbackground);
	color: var(--text_color);
}

.link_preview_text_content {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	padding: 0.25em;
	flex-grow: 1;
}

.link_preview_text_content_full .link_preview_title {
	margin-bottom: 0.2em;
}

.link_preview_text_content_full .link_preview_title {
	font-weight: bold;
}

.link_preview_title {
	overflow-wrap: break-word;
	word-break: break-word;
}

.link_preview_image {
	cursor: pointer;
	width: 6em;
	height: 3em;
	object-fit: cover;
	flex-grow: 0;
	flex-shrink: 0;
	align-self: center;
	margin: 0.35em;
}

.align_left {
	text-align: left;
}

.media_container .vertical_separator {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.message_edit_container {
	display: none;
	width: 90%;
	position: relative;
}

.editing_chat_message .chat_quote {
	display: none;
}

.message_edit_area {
	resize: none;
	font-size: 1em;
	height: 4rem;
	padding: 0.2rem;
	outline: none;
	border: 0.06rem solid grey;
	position: relative;
	width: 100%;
	background-color: var(--altcolor_a);
	color: var(--text_color);
}

.message_edit_buttons {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	position: relative;
	width: 100%;
	margin-top: 0.25rem;
}

.message_edit_button {
	cursor: pointer;
	margin-left: 1rem;
	text-decoration: underline;
}

#media_iframe_poster {
	position: absolute;
	display: none;
	font-size: 1.1rem;
}

#media_iframe_tv {
	border: 1px solid var(--text_color);
}

.noborder {
	border: 0 !important; 
}

.upload_comment_preview {
	max-height: 28rem;
	max-width: 100%;
	margin-top: 1.35rem;
	display: block;
}

.upload_comment_input {
	width: 100%;
	text-align: center;
}

.upload_comment_name {
	margin-top: 1rem;
}

.upload_comment_feedback {
	margin-top: 1rem;
}

.modal_subheader {
	padding: 0.2rem;
	background-color: var(--altcolor);
}

.chat_quote {
	padding: 0.25em;
	margin-bottom: 0.25em;
	background-color: var(--altbackground);
}

.chat_quote * {
	display: inline;
}

.chat_quote_profilepic {
	vertical-align: top;
	margin-right: 0.35rem;
}

.chat_quote_text {
	margin-left: 0.35rem;
}

.popup_message_text {
	white-space: pre-wrap;
}

.separator {
	opacity: 0.25;
}

.horizontal_separator {
	background-color: currentColor;
	width: 2px;
	height: 1em;
	margin-left: 1rem;
	margin-right: 1rem;	
}

.vertical_separator {
	background: linear-gradient(to right, transparent, currentColor 20%, currentColor 80%, transparent);
	height: 2px;
	width: 100%;
}

#room_config_more_container {
	margin-top: 1.6rem;
	gap: 0.8rem;
}

.room_config_category {
	font-size: 1.1rem;
}

.room_config_label {
	padding-bottom: 0.5rem;
}

#admin_theme_picker {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}

#theme_picker_controls {
	margin-bottom: 1.6rem;
	gap: 1.6rem;
}

#room_config_topic_container {
	margin-top: 1.6rem;
}

#user_profile_change_buttons {
	margin-bottom: 1rem;
	gap: 0.8rem;
}

#modal_popup_feedback_send {
	margin-top: 1rem;
}

#details_buttons {
	gap: 0.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.details_inputbox {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.full_width {
	width: 100%;
}

.command_book_name {
	font-weight: bold;
	flex-shrink: 0;
	margin-right: 0.5rem;
}

#user_profile_bio_textarea {
	border: 0 solid grey;
	outline: none;
	background-color: var(--altbackground);
	color: var(--text_color);
}

#user_profile_audioclip {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

pre {
	margin: 0;
	white-space: pre-wrap;
}

.info_popup_icon {
	margin-right: 0.5rem;
}

.info_popup {
	padding: 0.8rem !important;
}

.action_popup_icon {
	margin-right: 1rem;
}

.action_popup {
	padding: 0.8rem !important;
}

.nice_row_container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.nice_row_container_2 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.nice_row {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--altbackground);
	padding: 0.5rem;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	text-align: left;
	border-radius: 25px;
}

.nice_row.pointer:hover {
	background-color: var(--altbackground_a);
}

.nicerow_top {
	margin-bottom: 0.35rem;
	display: flex;
	align-items: flex-start;
}

.notification_item_icon {
	margin-right: 0.5rem;
}

#whispers_container {
	display: grid;
}

.whisper_info_container {
	max-width: 24.71rem;
}

#handle_url_url {
	text-align: center;
	margin-bottom: 0.25rem;
}

#message_board_container {
	gap: 1.5rem;
	margin-bottom: 1rem;
	justify-content: unset !important;
}

#message_board_textarea {
	margin-bottom: 1.5rem;
}

.message_board_admin .message_board_buttons {
	display: flex;
}

.message_board_post {
	position: relative;
	width: 100%;
}

.message_board_user_details {
	margin-bottom: 0.35rem;
}

.message_board_profilepic {
	opacity: 1;
	margin-right: 0.5rem;
}

.message_board_username {
	cursor: pointer;
}

.message_board_date {
	margin-top: 0.7rem;
	margin-bottom: 0.35rem;
}

.message_board_link_image {
	display: none;
	cursor: pointer;
	max-width: 100%;
	max-height: 400px;
	object-fit: contain;
	flex-grow: 0;
	flex-shrink: 0;
}

.message_board_link_title {
	display: none;
	font-weight: bold;
}

.message_board_link_description {
	display: none;
}

.message_board_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--altcolor_a);
	white-space: pre-wrap;
	padding: 0.8rem;
	gap: 0.8rem;
}

.message_board_image {
	position: relative;
	display: none;
	max-width: 100%;
	max-height: 400px;
	cursor: pointer;
}

.message_board_btns {
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
	margin-top: 0.3rem;
	display: none;
	align-items: center;
	justify-content: center;
}

.message_board_edit_area {
	display: none;
	width: 100%;
	text-align: center;
}

.message_board_edit_buttons {
	display: none;
}

.expanded_image {
	overflow: auto !important;
	justify-content: initial !important;
	align-items: initial !important;
}

.expanded_image .show_image {
	width: 100%;
	height: initial !important;
	object-fit: initial !important;
}

.framed {
	padding: 0.25em;
	text-align: left;
	white-space: pre-wrap;
	border: 1px solid var(--altcolor);
}

.colortext {
	background-color: rgb(25, 25, 25);
	padding: 0.25em;
}

.greentext {
	color: rgb(91, 218, 91);
	border: 1px solid rgb(91, 218, 91);
	white-space: pre-wrap;
}

.bluetext {
	color: rgb(119, 119, 240);
	border: 1px solid rgb(119, 119, 240);
	white-space: pre-wrap;
}

.redtext {
	color: rgb(223, 76, 76);
	border: 1px solid rgb(223, 76, 76);
	white-space: pre-wrap;
}

.goldtext {
	color: rgb(229, 255, 0);
	border: 1px solid rgb(229, 255, 0);
}

.custom_popup {
	border: 0.12rem solid var(--altcolor) !important;
}

.titlebar_inner_x {
	background-color: var(--altbackground) !important;
}

.titlebar_inner_x:hover {
	background-color: var(--background_color) !important;
}

.custom_titlebar {
	background-color: var(--altbackground) !important;
	color: var(--text_color) !important;
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
	padding-right: 1.2rem !important;
	padding-left: 1.2rem !important;
}

.custom_titlebar_popup {
	background-color: var(--altbackground) !important;
	color: var(--text_color) !important;
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.flex_start {
	justify-content: flex-start !important;
}

.show_whisper_text {
	white-space: pre-wrap;
}

.show_whisper_detail {
	display: inline;
	margin-right: 0.35rem;
	font-weight: bold;
}

.show_whisper_profilepic {
	margin-bottom: 0.25rem;
}

.bg0 {
	background-color: var(--background_color);
}

.bg1 {
	background-color: var(--background_color_a);
	color: var(--text_color);
}

.media_info_separator {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.media_info_container {
	margin-top: 0.1rem;
	display: var(--media_info_display);
}

.media_info {
	white-space: nowrap;
	cursor: pointer;
	line-height: 1.8rem;
}

.media_info_username {
	font-weight: bold;
}

.media_info_timeago {
	margin-left: 0.5rem;
	opacity: 0.8;
	white-space: nowrap;
}

.media_info_profilepic {
	margin-right: 0.35rem;
}

.result_container {
	margin-bottom: 0.5rem;
}

.center {
	text-align: center;
}

.justify_center {
	justify-content: center;
}

#main_menu .vertical_separator {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}

#draw_image_area {
	cursor: crosshair;
	width: 640px;
	height: 480px;
	outline: none;
}

#draw_image_controls {
	margin-bottom: 1rem;
	gap: 2rem;
}

#draw_image_pencil_controls {
	margin-left: 0.8rem;
}

#draw_image_pencil_size {
	margin-left: 0.5rem;
}

#draw_image_bucket_color {
	margin-left: 0.8rem;
}

.buttonbox {
	border: 1px solid transparent;
	background-color: var(--altbackground);
	padding: 0.35rem;
}

.buttonbox_active {
	border: 1px solid var(--text_color_a);
}

.clear_spacer {
	height: 100vh;
}

.ctxmenu {
	z-index: 999999999 !important;
}

.ctxmenu li span {
	cursor: pointer;
}

.pos_absolute {
	position: absolute;
}

.justify_self_center {
	justify-self: center;
}

.ban_list_item {
	gap: 1rem;
}

.whisper_item_icon {
	margin-right: 0.5rem;
}

.profilepic {
	border-radius: 50%;
}

.flipped {
	transform: rotateY(180deg);
}

.radio_station_playing {
	outline: 1px solid var(--text_color);
	outline-offset: -1px;
}

.radio_station_icon {
	width: var(--icon_size);
	height: var(--icon_size);
	margin-right: 0.8rem;
}

#flash_info {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	color: var(--text_color);
	background-color:	var(--altbackground);
	border: 2px solid var(--altcolor);
	z-index: 10;
	min-width: 14rem;
	overflow: hidden;
}

#flash_info_title_icon {
	margin-right: 0.5rem;
}

#flash_info_title {
	display: flex;
	flex-direction: row;
	background-color: var(--altcolor);
	padding: 0.25rem;
}

#flash_info_text {
	padding: 0.5rem;
}

#roomlist_container {
	gap: 1rem;
}

.roomlist_item {
	gap: 0.5rem;
}

.rem025_gap {
	gap: 0.25rem;
}

.rem05_gap {
	gap: 0.5rem;
}

.rem1_gap {
	gap: 1rem;
}

.rem2_gap {
	gap: 2rem;
}

#random_theme_container {
	margin-top: 1rem;
}

.random_theme_item {
	padding: 0.8rem;
	white-space: nowrap;
	border: 1px solid var(--altcolor_a);
}

#profilepic_preview_image {
	margin-right: var(--chat_side_spacing);
}

.titlebar_action {
	text-decoration: underline;
}

.icon_size {
	width: var(--icon_size);
	height: var(--icon_size);
}

.profilepic_size {
	width: var(--profilepic_size);
	height: var(--profilepic_size);
}

.likes_container {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	margin-top: 0.25rem;
}

.likes_label {
	flex-shrink: 0;
}

.likes_items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.like_profilepic {
	width: var(--icon_size);
	height: var(--icon_size);
}

.open_url_info_item {
	gap: 0.25rem;
}

.open_url_info_title {
	text-decoration: underline;
	opacity: 0.55;
}

.link_media_input {
	width: 100%;
	text-align: center;
}