<html>

	<head>

		<meta charset="utf-8">
		<meta name="description" content="Fun and powerful chat platform with dynamic images and internet radio.">

		<title>Change Password</title>

		<script src="/js/utilz.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/msg.min.js"></script>

		<style>

			@font-face
			{
				font-family: imported_font;
				src: url(/css/inconsolata.ttf);
			}

			body, html
			{
				font-family: imported_font, consolas, sans-serif;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				font-size: 18px;
				background-color: white;
				color: #222222;				
			}

			.center
			{
				padding-top: 5em;
				margin-left: auto;
				margin-right: auto;
				width: 50em;
				height: 35em;
				text-align: center;
			}

			.spacer1
			{
				padding-top: 1.2em;
				padding-bottom: 1.2em;
			}

			.spacer2
			{
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}

			input[type=text], input[type=password]
			{
				padding: 0.2em;
				border: 1px solid grey;
				width: 14em;
				font-size: 1.2em;
				text-align: center;
				background-color: white;
				color: #222222;				
			}

			input[type=submit]
			{
				background-color: white;
				color: #222222;	
				padding: 0.2em 0.8em 0.2em 0.8em;
				color: #222222;
				border: 1px solid #bbb;
				border-color: #ddd #aaa #aaa #ddd;
				font-size: 1em;
			}

			input[type=submit]:hover
			{
				background-color: #f4f4f4;
			}

			.logo
			{
				width: 10em;
			}

			#message_container
			{
				font-size: 1.2em;
				color: rgb(205, 140, 217);
				transition: opacity 2s;
				opacity: 0;
			}

			a:hover, a:visited, a:link
			{
				color: #222222;
				text-decoration: underline;
				cursor: pointer;
			}

			form
			{
				margin: 0;
			}

		</style>

		<script>

			<% 
				for(var key in vars)
				{
					var v = vars[key]

					%><%-key%> = <%

					if(!v)
					{
						%>undefined; <%
					}					

					else if(typeof v === "string")
					{
						%>`<%-v%>`; <% 
					}

					else
					{
						%><%-v%>; <%
					}
				}
			%>

			var utilz = Utilz()			

			var msg = Msg.factory()

			function set_message(s)
			{
				msg.show(s)
			}

			function validate_form()
			{
				var password = $("#txt_password").val()
				var password2 = $("#txt_password2").val()

				if(password.length === 0)
				{
					set_message("Password can't be empty")
					return false
				}				

				if(password.length < min_password_length)
				{
					set_message(`Password is too short. It must be at least ${min_password_length} characters long`)
					return false
				}

				if(password.length > max_password_length)
				{
					set_message("Password is too long")
					return false
				}

				if(password.length !== utilz.clean_string2(password).length)
				{
					set_message("Password contains invalid characters. There can't be spaces at the start or end of the password, or consecutive spaces")
					return false
				}

				if(password !== password2)
				{
					set_message("The passwords don't match")
					return false
				}

				$("#btn_submit").prop("disabled", true)

				return true
			}

		</script>

	</head>

	<body>

		<div class="center">

			<form method="post" action="/change_password" name="recover" onsubmit="return validate_form()">

				<input type="password" placeholder="New Password" name="password" id="txt_password">

				<div class="spacer2"></div>
				
				<input type="password" placeholder="Password Again" id="txt_password2">

				<div class="spacer2"></div>

				<input id="btn_submit" type="submit" value="Change Password">

				<input type="hidden" name="token" id="token">				

			</form>

			<div class="spacer1"></div>

			<div id="message_container"></div>
		</div>

		<script>

			if(message && message !== "undefined")
			{
				set_message(message)
			}

			$("#token").val(token)

			$("#txt_password").focus()

		</script>

	</body>
</html>