<html>

	<head>

		<title>Change Password</title>

		<% include pages_imports.ejs %>

		<script>

			function validate_form()
			{
				var password = $("#txt_password").val()
				var password2 = $("#txt_password2").val()

				if(password.length === 0)
				{
					set_message("Password can't be empty")
					return false
				}				

				if(password.length < min_password_length)
				{
					set_message(`Password is too short. It must be at least ${min_password_length} characters long`)
					return false
				}

				if(password.length > max_password_length)
				{
					set_message("Password is too long")
					return false
				}

				if(password.length !== utilz.clean_string2(password).length)
				{
					set_message("Password contains invalid characters. There can't be spaces at the start or end of the password, or consecutive spaces")
					return false
				}

				if(password !== password2)
				{
					set_message("The passwords don't match")
					return false
				}

				$("#btn_submit").prop("disabled", true)

				return true
			}

		</script>

	</head>

	<body>

		<div class='main'>

			<form method="post" action="/change_password" name="recover" onsubmit="return validate_form()">

				<input type="password" placeholder="New Password" name="password" id="txt_password">

				<div class="spacer4"></div>
				
				<input type="password" placeholder="Password Again" id="txt_password2">

				<div class="spacer4"></div>

				<input id="btn_submit" type="submit" value="Change Password">

				<input type="hidden" name="token" id="token">				

			</form>

			<div class="spacer1"></div>

			<a href="/login">Login</a>				

		</div>

		<script>

			$("#token").val(token)

			$("#txt_password").focus()

		</script>

	</body>
</html>