<% include doctype.ejs %>

<html>

	<head>

		<title><%-vars.login_title%></title>

		<% include pages_imports.ejs %>

		<script>			

			function validate_form()
			{
				if(msg_info.is_open())
				{
					return false
				}
								
				$("#login_email").val($("#login_email").val().trim())
				
				var email = $("#login_email").val()
				var password = $("#login_password").val()

				if(email.length === 0)
				{
					set_message("Email can't be empty")
					return false
				}

				if(password.length === 0)
				{
					set_message("Password can't be empty")
					return false
				}

				if(email.length > max_max_email_length)
				{
					set_message("Email is too long")
					return false
				}

				if(password.length > max_max_password_length)
				{
					set_message("Password is too long")
					return false
				}

				if(email.indexOf('@') === -1 || email.indexOf(' ') !== -1)
				{
					set_message("Invalid email address")
					return false
				}				

				$("#btn_login").prop("disabled", true)

				return true
			}

		</script>

	</head>

	<body>

		<div class='main'>

			<form method="post" action="/login" name="login" onsubmit="return validate_form()">

				<input type="text" placeholder="Email" name="email" id="login_email">

				<div class="spacer4"></div>

				<input type="password" placeholder="Password" name="password" id="login_password">

				<div class="spacer4"></div>

				<input type='hidden' name='fromurl' value="<%-vars.fromurl%>">

				<input id="btn_login" type="submit" value="Login">

			</form>	

			<div class="spacer1"></div>

			<a href="/recover" id="password_reset_link"'>Forgot Password</a>
			<div class="spacer2"></div>
			<a href="/register">Register</a>

			<div class="spacer1"></div>

		</div>

		<script>

			$("#login_email").focus()

			if(form_email && form_email !== "undefined")
			{
				$("#login_email").val(form_email)
			}

		</script>

	</body>
</html>