<% include doctype.ejs %>

<html>

	<head>

		<% include meta.ejs %>

		<title><%= vars.default_title %></title>

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/handlebars.js"></script>
		<script src="/static/js/dropzone.js"></script>
		<script src="/static/js/dateformat.js"></script>
		<script src="/static/js/perfect-scrollbar.min.js?v=3"></script>
		<script src="/static/js/nicescroll.min.js"></script>
		<script src="/static/js/tippy.all.min.js"></script>
		<script src="/static/js/spectrum.min.js"></script>
		<script src="/static/js/cropper.min.js?v=2"></script>
		<script type="text/javascript" src="/static/js/contextmenu/jquery.contextMenu.min.js"></script>
		<script src="https://player.twitch.tv/js/embed/v1.js"></script>
		<script src="/static/js/contextmenu/jquery.ui.position.min.js"></script>
		<script src="/static/js/socket.io.js"></script>
		<script src="/static/js/hls.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/perfect-scrollbar.css?v=3"/>
		<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/cropper.min.css?v=2">
		<link rel="stylesheet" href="/static/css/spectrum.css">
		<link rel="stylesheet" type="text/css" href="/static/js/contextmenu/jquery.contextMenu.min.css"> 

		<script src="/static/js/msg.min.js?v=20"></script>
		<script src="/static/js/utilz.js?ver=3"></script>
		<script src="/static/js/colorlib.js?v=7"></script>

		<script src="/static/js/base.js?ver=1044"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css?ver=297"/>

		<script>

			<% include vars.ejs %>

			$(function()
			{
				init()

				var script = document.createElement('script')
				script.src = "https://www.youtube.com/iframe_api"
				document.head.appendChild(script)
			})

		</script>

	</head>

	<body>

		<div id="loading">
			<div id="loading_spinner"></div>
		</div>

		<div id="main_container">

			<div id='background_image' class='background_image'></div>

			<div class="columns_container">

				<div id='header' class='unselectable bg2 panel'>

					<div id='header_items'>

						<div id='header_items_inner'>

							<i id='main_menu' class='header_item icon fa fa-th-large nicetitle action' onclick='show_main_menu()' title="Main Menu"></i>
							<span class='hspacer1'></span>|<span class='hspacer1'></span>
							<span class='header_item action' id='usercount' onclick='show_userlist()'></span>

							<span id='radio'>
								
								<span class='hspacer1'></span>|<span class='hspacer1'></span>

								<span class='header_item action' id='toggle_radio_state' onclick='toggle_radio_state()'>
									<i class='icon fa fa-volume-up' id='playing_icon'></i>
									<span id='toggle_now_playing_text'>Start Radio</span>
								</span>

								<span id='volume_area'>
									<span class='hspacer1'></span>|<span class='hspacer1'></span>
									<span id='volume_controls'>
										<i id='header_icon_minus' class='header_item icon fa fa-minus action' onclick='volume_decrease()'></i>
										<span class='header_item' onclick='volume_decrease()'>Volume:</span>
										<span class='header_item' id='volume' onclick='volume_increase()'>100%</span>
										<i id='header_icon_plus' class='header_item icon fa fa-plus action' onclick='volume_increase()'></i>
									</span>
								</span>

								<span id="now_playing_area" onclick="show_played()" class='action'>
									<span class='hspacer1'></span>|<span class='hspacer1'></span> 
									<span id='now_playing_controls'>
										<span class='header_item'>Now Playing:</span>
										<span class='header_item' id='now_playing'>Loading</span>
									</span>
								</span>

							</span>

							<span id='header_topic'>
								<span class='hspacer1'></span>|<span class='hspacer1'></span>
								<span class='header_item'>Topic:</span>
								<span class='header_item' id='header_topic_text'></span>
							</span>

						</div>

					</div>

				</div>

				<div class='rows_container'>

					<div id='chat_main'>

						<div id='up_scroller' class='scroller unselectable' onclick='go_up()'>Go Up</div>

						<div id='chat_area_parent'>
							<div id='chat_area' class='bg1'></div>
						</div>
						
						<div id='down_scroller' class='scroller unselectable' onclick='goto_bottom(true)'>Go Down</div>

					</div>

					<div id='media' class='unselectable bg1' draggable='false'>

						<div id='media_split'>
							
							<div id='media_image_container' onclick="show_current_image_modal()" class='pointer'>
								<img id='media_image' draggable='false'>
								<div id='media_image_error'>Image failed to load</div>
							</div>

							<div id='media_tv'>
							
								<div id='media_twitch_video_container'></div>

								<div id='media_youtube_video_container'>
									<div id='media_youtube_video' class='video_frame'></div>	
								</div>

								<div id='media_video_container'>
									<video id='media_video' class='video_frame' width="640px" height="360px" preload="metadata" poster="<%-vars.default_video_url%>" controls></video>
								</div>

							</div>

						</div>

					</div>

				</div>

				<div id='footer' class='bg2 panel'>
					<div id='footer_items'>

						<span id='footer_userinfo' class='fa fa-user-circle footer_icon nicetitle action' onclick="show_userinfo()" title="User Menu"></span>

						<input type='text' id='input' size="1">

						<span class='unselectable'>
							
							<span id='footer_images_controls'>
								<span id='toggle_images_text' class='footer_text pointer nicetitle action' onclick="maximize_images()" title="Maximize/Restore Images">Images</span>
								<i class='fa fa-toggle-on footer_icon2 nicetitle action' id='footer_toggle_images_icon' onclick='toggle_images()' title='Show/Hide Images. Hidden means it will not be displayed or active'></i>
								<i class='fa fa-unlock-alt footer_icon nicetitle action' id='footer_lock_images_icon' onclick='toggle_lock_images()' title='Lock/Unlock Images. Locked means it will stay the same even if media is changed by a user'></i>
	 
								<span class='hspacer3'></span>
							</span>
 	
							<span id='footer_tv_controls'>
								<span id='toggle_tv_text' class='footer_text pointer nicetitle action' onclick="maximize_tv()" title="Maximize/Restore TV">TV</span>
								<i class='fa fa-toggle-on footer_icon2 nicetitle action' id='footer_toggle_tv_icon' onclick='toggle_tv()' title='Show/Hide TV. Hidden means it will not be displayed or active'></i>
								<i class='fa fa-unlock-alt footer_icon nicetitle action' id='footer_lock_tv_icon' onclick='toggle_lock_tv()' title='Lock/Unlock TV. Locked means it will stay the same even if media is changed by a user'></i>
	 
								<span class='hspacer3'></span>
 							</span>

							<span id='footer_radio_controls'>
								<span id='toggle_radio_text' class='footer_text action'>Radio</span>
								<i class='fa fa-toggle-on footer_icon2 nicetitle action' id='footer_toggle_radio_icon' onclick='toggle_radio()' title='Show/Hide Radio. Hidden means it will not be displayed or active'></i>
								<i class='fa fa-unlock-alt footer_icon nicetitle action' id='footer_lock_radio_icon' onclick='toggle_lock_radio()' title='Lock/Unlock Radio. Locked means it will stay the same even if media is changed by a user'></i>
	 
								<span class='hspacer3'></span>
							</span>

							<i class='fa fa-camera footer_icon nicetitle action' id='footer_images_icon' title='Change the Image' onclick='show_image_picker()'></i>
							<i class='fa fa-television footer_icon nicetitle action' id='footer_tv_icon' onclick="show_tv_picker()" title='Change the TV'></i>
							<i class='fa fa-volume-up footer_icon nicetitle action' id='footer_radio_icon' onclick="show_radio_picker()" title='Change the Radio'></i>

							<i id='footer_media_menu' class='fa fa-bars footer_icon nicetitle action' id='footer_lock_images_icon' onclick='show_media_menu()' title='Media Menu'></i>
						</span>

					</div>
				</div>				

			</div>

			<img id='test_image'>

		</div>

		<script id='template_menu' type='text/x-handlebars-template'>
			<div id='menu' class='unselectable'>

				<div class='menu_item action inline' onclick="request_roomlist('', 'visited')">Visited Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="request_roomlist()">Public Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="show_goto_room()">Go To Room</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_create_room()'>Create Room</div>

				<div id='menu_smaller_container'>

					<span class='menu_item_smaller action' onclick='help()'>Help</span>

					<div class='spacer2'></div>

					<div class='menu_item_smaller action' onclick='copy_room_url()'>Copy Room URL</div>

					<div class='spacer2'></div>

					<span class='menu_item_smaller action' onclick='show_chat_search()'>Search</span>

					&nbsp;|&nbsp;

					<span class='menu_item_smaller action' onclick='show_status()'>Status</span>

				</div>

				<div id='admin_menu'>

					<div class='spacer3'></div>						

					<div class='small_padding_bottom'>Images</div>

					<select id='admin_enable_images'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>

					<div class='spacer1'></div>
					
					<div class='small_padding_bottom'>TV</div>

					<select id='admin_enable_tv'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Radio</div>

					<select id='admin_enable_radio'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>

					<div class='spacer1'></div>
					<div class='spacer3'></div>							

					<div class='small_padding_bottom'>Theme</div>

					<input id='admin_theme'>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Background Image</div>

					<select id='admin_background_image_select'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>						

					<div class='spacer1'></div>

					<img class='small_square_image pointer' id='admin_background_image' onclick='open_background_image_picker()'>	

					<div class='spacer1'></div>
					<div class='spacer3'></div>					

					<div class='admin_v_toggle small_padding_bottom bold pointer action inline'>+ Voice 1 Permissions</div>

					<div class='admin_v_container'>

						<div class='spacer1'></div>

						<div class='setting_title'>Can Chat</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_chat_permission" data-ptype="voice1_chat_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change Images</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_images_permission" data-ptype="voice1_images_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the TV</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_tv_permission" data-ptype="voice1_tv_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the Radio</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_radio_permission" data-ptype="voice1_radio_permission">


					</div>
					
					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='admin_v_toggle small_padding_bottom bold pointer action inline'>+ Voice 2 Permissions</div>

					<div class='admin_v_container'>						

						<div class='spacer1'></div>

						<div class='setting_title'>Can Chat</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_chat_permission" data-vtype="v2" data-ptype="voice2_chat_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change Images</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_images_permission" data-vtype="v2" data-ptype="voice2_images_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the TV</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_tv_permission" data-vtype="v2" data-ptype="voice2_tv_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the Radio</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_radio_permission" data-vtype="v2" data-ptype="voice2_radio_permission">


					</div>
					
					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='admin_v_toggle small_padding_bottom bold pointer action inline'>+ Voice 3 Permissions</div>

					<div class='admin_v_container'>

						<div class='spacer1'></div>

						<div class='setting_title'>Can Chat</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_chat_permission" data-vtype="v3" data-ptype="voice3_chat_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change Images</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_images_permission" data-vtype="v3" data-ptype="voice3_images_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the TV</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_tv_permission" data-vtype="v3" data-ptype="voice3_tv_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the Radio</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_radio_permission" data-vtype="v3" data-ptype="voice3_radio_permission">

					</div>

					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='admin_v_toggle small_padding_bottom bold pointer action inline'>+ Voice 4 Permissions</div>
					
					<div class='admin_v_container'>
					
						<div class='spacer1'></div>

						<div class='setting_title'>Can Chat</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_chat_permission" data-vtype="v4" data-ptype="voice4_chat_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change Images</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_images_permission" data-vtype="v4" data-ptype="voice4_images_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the TV</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_tv_permission" data-vtype="v4" data-ptype="voice4_tv_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the Radio</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_radio_permission" data-vtype="v4" data-ptype="voice4_radio_permission">


					</div>				
					
					<div class='spacer1'></div>
					<div class='spacer2'></div>

					<div class='small_padding_bottom'>Privacy</div>

					<select id='admin_privacy'>
						<option value="true">Public</option>
						<option value="false">Private</option>
					</select>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Log</div>

					<select id='admin_log'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>						

					<div class='spacer1'></div>
					<div class='spacer3'></div>					

					<div class='smaller_font_size'>These require double click</div>

					<div class='spacer1'></div>

					<div class='pointer underlined action inline' ondblclick='reset_voices()'>Reset Voices</div>

					<div class='spacer1'></div>

					<div class='pointer underlined action inline' ondblclick='remove_ops()'>Remove Ops</div>
					
					<div class='spacer1'></div>

					<div class='pointer underlined action inline' ondblclick='clear_log()'>Clear Log</div>
					
					<div class='spacer1'></div>

					<div class='pointer underlined action inline' ondblclick='get_banned_count()'>Banned Count</div>
					
					<div class='spacer1'></div>

					<div class='pointer underlined action inline' ondblclick='unban_all()'>Unban All</div>
					
					<div class='spacer3'></div>

				</div>
			</div>
		</script>	

		<script id='template_userinfo' type='text/x-handlebars-template'>

			<div class='unselectable'>

				<div class='bigger2' id='userinfo_username'>Loading</div>

				<div class='spacer3'></div>
				
				<div class='big_profile_image_container'>
					<img id='userinfo_profile_image' class='big_profile_image pointer unselectable' onclick='open_profile_image_picker()'>
				</div>

				<div class='spacer1'></div>

				<div class='menu_item_smaller action' onclick='show_details()'>Details</div>

				&nbsp;|&nbsp;

				<div class='menu_item_smaller action' onclick='confirm_logout()'>Logout</div>

				<div class='spacer3'></div>

				<div class='menu_item_smaller action' onclick='show_highlights()'>Highlights</div>

				&nbsp;|&nbsp;

				<div class='menu_item_smaller action' onclick='show_input_history()'>History</div>

			</div>

			<div class='spacer1'></div>
			<div class='spacer2'></div>

			<div id='settings' class='unselectable'>
				
				<div class="setting_title">Beep On Messages</div>
				<input type="checkbox" class="setting_checkbox" id="setting_beep_on_messages">
				
				<div class='spacer1'></div>

				<div class="setting_title">Beep On Highlights</div>
				<input type="checkbox" class="setting_checkbox" id="setting_beep_on_highlights">
				
				<div class='spacer1'></div>
				
				<div class="setting_title">Beep On Media Change</div>
				<input type="checkbox" class="setting_checkbox" id="setting_beep_on_media_change">
				
				<div class='spacer1'></div>
				
				<div class="setting_title">Beep On User Joins</div>
				<input type="checkbox" class="setting_checkbox" id="setting_beep_on_user_joins">
				
				<div class='spacer1'></div>

				<div class="setting_title">Background Image</div>
				<input type="checkbox" class="setting_checkbox" id="setting_background_image">
				
				<div class='spacer1'></div>

				<div class="setting_title">Custom Scrollbars</div>
				<input type="checkbox" class="setting_checkbox" id="setting_custom_scrollbars">

				<div class='spacer1'></div>

				<div class="setting_title">Modal Effects</div>
				<input type="checkbox" class="setting_checkbox" id="setting_modal_effects">

				<div class='spacer1'></div>

				<div class="setting_title">Highlight Username</div>
				<input type="checkbox" class="setting_checkbox" id="setting_highlight_current_username">

				<div class='spacer1'></div>

				<div class="setting_title">Case Insensitive Highlights</div>
				<input type="checkbox" class="setting_checkbox" id="setting_case_insensitive_highlights">

				<div class='spacer1'></div>

				<div class="setting_title2">Other Words To Highlight</div>
				<div class="setting_title">(Each on a different line)</div>
				<div class='spacer2'></div>
				<textarea rows=4 class="setting_textarea" id="setting_other_words_to_highlight"></textarea>

				<div class='spacer1'></div>

				<div class="setting_title2">On Double&nbsp;<span class='bold' id="setting_double_tap_key"></span>&nbsp;Tap</div>
				<div class="setting_title">(Leave empty to do nothing)</div>
				<div class='spacer2'></div>
				<input type="text" class="setting_input_text" id="setting_double_tap">

				<div class='spacer1'></div>

				<div class="setting_title2">On Double&nbsp;<span class='bold' id="setting_double_tap_2_key"></span>&nbsp;Tap</div>
				<div class="setting_title">(Leave empty to do nothing)</div>
				<div class='spacer2'></div>
				<input type="text" class="setting_input_text" id="setting_double_tap_2">

				<div class='spacer1'></div>

				<div class="setting_title2">On Double&nbsp;<span class='bold' id="setting_double_tap_3_key"></span>&nbsp;Tap</div>
				<div class="setting_title">(Leave empty to do nothing)</div>
				<div class='spacer2'></div>
				<input type="text" class="setting_input_text" id="setting_double_tap_3">

				<div class='spacer1'></div>
				
				<div class="setting_title">Go AFK After</div>
				
				<select class='setting_select' id='setting_afk_delay'>
					<option value='false' selected disabled>AFK means media won't change</option>
					<option value='false' selected disabled>And you won't get sound notifications</option>
					<option value='false' selected disabled>After being away for this long</option>
					<option value='0' selected>Instantly</option>
					<option value='60000' selected>1 Minute</option>
					<option value='120000' selected>2 Minutes</option>
					<option value='300000' selected>5 Minutes</option>
					<option value='600000' selected>10 Minutes</option>
					<option value='1200000' selected>20 Minutes</option>
					<option value='1800000' selected>30 Minutes</option>
					<option value='3600000' selected>1 Hour</option>
					<option value='never' selected>Never</option>
				</select>

				<div class='spacer1'></div>

				<div class='menu_item_smaller action' onclick='confirm_reset_settings()'>Reset Settings To Default</div>

			</div>
		
		</script>

		<script id='template_create_room' type='text/x-handlebars-template'>
			<div id='create_room'>

				<div class='spacer3'></div>

				<input type="text" id="create_room_name" placeholder="Name">

				<div class='unselectable'>

					<div class='spacer1'></div>	

					<select id='create_room_public'>
						<option value='true' selected>Public</option>
						<option value='false'>Private</option>
					</select>				

					<div class='spacer3'></div>
					<div class='spacer2'></div>

					<div id='create_room_done' class='menu_item action inline'>Create</div>

				</div>

			</div>
		</script>

		<script id='template_open_room' type='text/x-handlebars-template'>
				<div id="open_buttons" class='unselectable'>
					<div id='open_room_here' class='menu_item action' onclick='goto_url("{{id}}");msg_info.close()'>
						Open&nbsp;Here
					</div>
					<div id='open_room_new_tab' class='menu_item action' onclick='goto_url("{{id}}", "tab");msg_info.close()'>
						Open&nbsp;In&nbsp;New&nbsp;Tab
					</div>
				</div>
		</script>

		<script id='template_status' type='text/x-handlebars-template'>
				<div>{{{info}}}</div>
		</script>

		<script id='template_userlist' type='text/x-handlebars-template'>
			<input type="text" id="userlist_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='userlist'></div>
		</script>		
		
		<script id='template_roomlist' type='text/x-handlebars-template'>
			<input type="text" id="roomlist_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>			
			<div id='roomlist'></div>
		</script>		
		
		<script id='template_played' type='text/x-handlebars-template'>
			<input type="text" id="played_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='played'></div>
		</script>

		<script id='template_highlights' type='text/x-handlebars-template'>
			<input type="text" id="highlights_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='highlights_container'></div>
		</script>

		<script id='template_input_history' type='text/x-handlebars-template'>
			<input type="text" id="input_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='input_history_container'></div>
		</script>	

		<script id='template_chat_search' type='text/x-handlebars-template'>
			<input type="text" id="chat_search_filter" class="filter_input" placeholder="Search">
			<div class='spacer3'></div>
			<div id='chat_search_container'></div>
		</script>

		<script id='template_profile' type='text/x-handlebars-template'>
			<div id='show_profile_uname' class='bigger2'>Loading</div>
			<div class='spacer3'></div>
			<div class="bigger_profile_image_container">
				<img id='show_profile_image' class='bigger_profile_image unselectable' src="{{profile_image}}">
			</div>
			<div id='show_profile_buttons'>
				<div class='spacer4'></div>
				<span class='menu_item unselectable show_profile_button action' id='show_profile_whisper' onclick='write_whisper($("#show_profile_uname").text())'>Send Whisper</span>
			</div>
		</script>

		<script id='template_image_picker' type='text/x-handlebars-template'>
			<i class='fa fa-camera'></i>
			<div class='spacer3'></div>
			Enter an image URL<br>Or upload one from your computer
			<div class='spacer3'></div>
			<input id='image_url_picker_input' class='input1'>
			<div class='spacer3'></div>
			<div id='image_file_picker' class='menu_item action inline unselectable' onclick='msg_image_picker.close()'>Upload Image</div>
		</script>

		<script id='template_tv_picker' type='text/x-handlebars-template'>
			<i class='fa fa-television'></i>
			<div class='spacer3'></div>
			Enter a YouTube search term or URL<br>Or a Twitch channel/video URL<br>Or a video file/stream URL
			<div class='spacer3'></div>
			<input id='tv_url_picker_input' class='input1'>
			<div class='spacer3'></div>
		</script>

		<script id='template_radio_picker' type='text/x-handlebars-template'>
			<i class='fa fa-volume-up'></i>
			<div class='spacer3'></div>
			Enter a YouTube search term or URL<br>Or an audio file/stream URL
			<div class='spacer3'></div>
			<input id='radio_url_picker_input' class='input1'>
			<div class='spacer3'></div>
		</script>

		<script id='template_image_history' type='text/x-handlebars-template'>
			<input type="text" id="image_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='image_history_container' class='media_history_container'></div>
		</script>

		<script id='template_tv_history' type='text/x-handlebars-template'>
			<input type="text" id="tv_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='tv_history_container' class='media_history_container'></div>
		</script>

		<script id='template_radio_history' type='text/x-handlebars-template'>
			<input type="text" id="radio_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='radio_history_container' class='media_history_container'></div>
		</script>

		<script id='template_image' type='text/x-handlebars-template'>

			<div id='modal_image_background_image' class='background_image'></div>
			
			<div class='columns_container'>

				<div id='modal_image_header' class='panel unselectable bg2'>
					<div id='modal_image_header_prev' class='modal_image_header_button action'>&lt; Prev</div>
					<div id='modal_image_header_info' class='action pointer'></div>
					<div id='modal_image_header_next' class='modal_image_header_button action'>Next &gt;</div>
				</div>

				<div id='modal_image_container' class='bg1 unselectable'>
					<div id="modal_image_spinner" class='spinner1'></div>
					<img id="modal_image" draggable="false">
					<div id="modal_image_error">Image not available</div>
				</div>

			</div>

		</script>		

		<script id='template_media_menu' type='text/x-handlebars-template'>
			<div class='unselectable'>
				<div class='menu_item action inline' onclick='stop_and_lock(); hide_media_menu()'>Stop And Lock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='stop_and_lock(false); hide_media_menu()'>Lock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='default_media_state(false); hide_media_menu()'>Unlock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='default_media_state(); hide_media_menu()'>Default State</div>
				<div class='spacer3'></div>
				<div class='menu_item action inline' onclick='show_image_history()'>Image History</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_tv_history()'>TV History</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_radio_history()'>Radio History</div>
				<div class='spacer3'></div>
				<div class='menu_item action inline' onclick='refresh_image(); hide_media_menu()'>Refresh Image</div>
				<div></div>
				<div class='menu_item action inline' onclick='refresh_tv(); hide_media_menu()'>Refresh TV</div>
				<div></div>
				<div class='menu_item action inline' onclick='refresh_radio(); hide_media_menu()'>Refresh Radio</div>
			</div>
		</script>

		<script id='template_locked_menu' type='text/x-handlebars-template'>
			<div id='locked_menu' class='unselectable'>
				<div>You are banned from this room</div>
				<div class='spacer3'></div>
				<div class='menu_item' onclick="request_roomlist('', 'visited')">Visited Rooms</div>
				<div class='menu_item' onclick="request_roomlist()">Public Rooms</div>
				<div class='menu_item' onclick="show_goto_room()">Go To Room</div>				
				<div class='menu_item' onclick='show_create_room()'>Create Room</div>
				<div class='spacer3'></div>
				<div class='menu_item_smaller' onclick='confirm_logout()'>Logout</div>
			</div>
		</script>		

		<script id='template_whisper' type='text/x-handlebars-template'>
			<div class='bigger' id='write_whisper_info'>
				<span class='bigger'>Whisper to</span>
				<span class='bigger pointer action' id='write_whisper_uname' onclick="on_write_whisper_uname_click()"></span>
			</div>
			<div class='bigger' id='write_whisper_feedback'></div>
			<div class='spacer3'></div>
			<textarea rows="3" id='write_whisper_area'></textarea>
			<div class='spacer3'></div>
			<div class='bigger pointer unselectable action inline' onclick='send_whisper()'>Send</div>
		</script>

		<script id='template_help' type='text/x-handlebars-template'>

			<div class='info_title2'>Basic Features</div>
			<div class='info_item'>Chat by typing anything.</div>
			<div class='info_item'>All elements in the top and bottom bar are clickable.</div>
			<div class='info_item'>There are 3 main media elements that can be changed, images, tv and radio.</div>
			<div class='info_item'>The actions available to you are reflected by the icons on the bottom right, which are clickable.</div>
			<div class='info_item'>/help: Shows this message.</div>
			<div class='info_item'>/help2: Shows additional features.</div>
			<div class='info_item'>/help3: Shows administration features.</div>
			<div class='info_item'>Media change has permission settings per room. So you might not be able to do certain actions depending on what settings the ops/admins have set. If you are able to do a certain action, an icon for it will appear on the bottom right.</div>
			<div class='spacer1'></div>
			<span class='help_link action' onclick='help2()'>Additional Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action' onclick='help3()'>Administration Features</span>

		</script>

		<script id='template_help2' type='text/x-handlebars-template'>

			<div class='info_title2'>Additional Features</div>
			<div class='info_item'>Escape clears the input or closes popups.</div>
			<div class='info_item'>Shift + Escape or /clear clears all messages from the chat.</div>
			<div class='info_item'>Shift + Tab cycles between room status and user info windows.</div>
			<div class='info_item'>Up and Down Arrows cycle through the input history.</div>
			<div class='info_item'>Shift + Up Arrow and Shift + Down Arrow or Page Up and Page down make the chat scroll.</div>
			<div class='info_item'>Control + Up Arrow and Control + Down Arrow Go Up and Go Down.</div>
			<div class='info_item'>Enter without text in the input scrolls to the bottom of the chat.</div>
			<div class='info_item'>Clicking on a chat message username quotes the text.</div>
			<div class='info_item'>Tab completes usernames and commands.</div>
			<div class='info_item'>Shift + Enter toggles the radio.</div>		
			<div class='info_item'>Apart from the image upload icon, images can also be uploaded by clicking the current image or by dropping a file.</div>		
			<div class='info_item'>/image x: Sends an image to be uploaded by URL.</div>			
			<div class='info_item'>/tv x: Changes the TV using a search term or URL. "/tv restart" restarts the current video for all users, in case it gets stuck. To link a Youtube playlist the url must be a pure playlist url without a video ID. "/tv default" sets the tv to the site's default tv.</div>			
			<div class='info_item'>/radio x: Changes the radio using a search term or URL. "/radio restart" restarts the current radio for all users, in case it gets stuck. "/radio default" sets the radio to the site's default radio.</div>	
			<div class='info_item'>/me x: Makes a message in third person.</div>		
			<div class='info_item'>/whisper x: Opens the window to write a whisper to x user.</div>		
			<div class='info_item'>/status: Shows the room status window.</div>			
			<div class='info_item'>/role: Shows your role and permissions.</div>
			<div class='info_item'>/users: Shows the user list. Accepts a filter as an argument.</div>
			<div class='info_item'>/rooms: Shows the room list. Accepts a filter as an argument.</div>
			<div class='info_item'>/visited: Shows the visited room list. Accepts a filter as an argument.</div>
			<div class='info_item'>/played: Shows the list of songs played. Accepts a filter as an argument.</div>
			<div class='info_item'>/search: Opens the search window. Accepts a query as an argument.</div>
			<div class='info_item'>/history: Shows the input history. Accepts a filter as an argument.</div>
			<div class='info_item'>/highlights: Shows chat messages where you were highlighted. Accepts a filter as an argument.</div>
			<div class='info_item'>/unclear: Restores the cleared chat.</div>
			<div class='info_item'>/startradio: Starts the radio.</div>
			<div class='info_item'>/stopradio: Stops the radio.</div>
			<div class='info_item'>/volume x: Changes the volume of the radio.</div>
			<div class='info_item'>/details: Shows the account details.</div>
			<div class='info_item'>/changeusername x: Changes the account username.</div>			
			<div class='info_item'>/changepassword x: Changes the account password.</div>
			<div class='info_item'>/changeemail x: Changes the account email.</div>
			<div class='info_item'>/disconnectothers: Disconnects other connected account clients.</div>
			<div class='info_item'>/logout: Ends the user session.</div>
			<div class='info_item'>/shrug: Shows the shrug ascii.</div>
			<div class='info_item'>/afk: Shows that the user went AFK.</div>
			<div class='info_item'>/lock: Locks all media.</div>
			<div class='info_item'>/stopandlock: Stops and locks all media.</div>
			<div class='info_item'>/unlock: Unlocks all media.</div>
			<div class='info_item'>/default: Makes media into the default state, everything unlocked and visible.</div>
			<div class='info_item'>/menu: Shows the main menu.</div>
			<div class='info_item'>/user: Shows the user menu.</div>
			<div class='info_item'>/media: Shows the media menu.</div>
			<div class='info_item'>/imagehistory: Shows the image history. Accepts a filter as an argument.</div>
			<div class='info_item'>/tvhistory: Shows the tv history. Accepts a filter as an argument.</div>
			<div class='info_item'>/radiohistory: Shows the radio history. Accepts a filter as an argument.</div>
			<div class='info_item'>/showimages: Makes images visible and active.</div>
			<div class='info_item'>/showtv: Makes the tv visible and active.</div>
			<div class='info_item'>/showradio: Makes the radio images visible and active.</div>
			<div class='info_item'>/hideimages: Makes images invisible and inactive.</div>
			<div class='info_item'>/hidetv: Makes the tv invisible and inactive.</div>
			<div class='info_item'>/hideradio: Makes the radio images invisible and inactive.</div>
			<div class='info_item'>/toggleimages: Toggles between show and hide images.</div>
			<div class='info_item'>/toggletv: Toggles between show and hide the tv.</div>
			<div class='info_item'>/toggleradio: Toggles between show and hide the radio.</div>
			<div class='info_item'>/lockimages: Locks images.</div>
			<div class='info_item'>/locktv: Locks the tv.</div>
			<div class='info_item'>/lockradio: Locks the radio.</div>
			<div class='info_item'>/unlockimages: Unlocks images.</div>
			<div class='info_item'>/unlocktv: Unlocks the tv.</div>
			<div class='info_item'>/unlockradio: Unlocks the radio.</div>
			<div class='info_item'>/togglelockimages: Toggles between lock and unlock images.</div>
			<div class='info_item'>/togglelocktv: Toggles between lock and unlock the tv.</div>
			<div class='info_item'>/togglelockradio: Toggles between lock and unlock the radio.</div>
			<div class='info_item'>/maximizeimages: Maximize/Restore images.</div>
			<div class='info_item'>/maximizetv: Maximize/Restore the tv.</div>
			<div class='info_item'>/starttv: Starts the tv.</div>
			<div class='info_item'>/stoptv: Stops the tv.</div>
			<div class='info_item'>/openimage: Opens the image modal with the current image.</div>
			<div class='info_item'>/openlastimage: Opens the image modal with the latest announced image.</div>
			<div class='info_item'>/date: Shows current date.</div>
			<div class='info_item'>/verifyemail x: Used to verify an email email with a received code.</div>
			<div class='info_item'>/js x: Executes a javascript operation.</div>
			<div class='info_item'>/changeimage: Opens window to change the image.</div>
			<div class='info_item'>/changetv: Opens the window to change the tv.</div>
			<div class='info_item'>/changeradio: Opens the window to change the radio.</div>
			<div class='info_item'>When anyone else is typing a chat message, the user menu icon turns into a pencil.</div>
			<div class='spacer1'></div>
			<span class='help_link action' onclick='help()'>Basic Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action' onclick='help3()'>Administration Features</span>			
		</script>

		<script id='template_help3' type='text/x-handlebars-template'>

			<div class='info_title2'>Administration Features</div>
			<div class='info_item'>Most administration options are available in the main menu.</div>
			<div class='info_item'>/topic x: Changes the topic of the room.</div>
			<div class='info_item'>/topicadd x: Adds a section at the end of the topic.</div>
			<div class='info_item'>/topictrim x: Removes a section from the end of the topic, where the optional x is the number of trims you want to do.</div>
			<div class='info_item'>/topicaddstart x: Adds a section at the start of the topic.</div>
			<div class='info_item'>/topictrimstart x: Removes a section from the start of the topic, where the optional x is the number of trims you want to do.</div>
			<div class='info_item'>/topicedit: Puts the topic in the input, ready to be edited.</div>
			<div class='info_item'>/enableimages: Enables image support in the room.</div>
			<div class='info_item'>/disableimages: Disables image support in the room.</div>
			<div class='info_item'>/enableradio: Enables radio support in the room.</div>
			<div class='info_item'>/disableradio: Disables radio support in the room.</div>
			<div class='info_item'>/enabletv: Enables tv support in the room.</div>
			<div class='info_item'>/disabletv: Disables tv support in the room.</div>
			<div class='info_item'>/voice1 x: Gives voice 1 to a user.</div>
			<div class='info_item'>/voice2 x: Gives voice 2 to a user.</div>
			<div class='info_item'>/voice3 x: Gives voice 3 to a user.</div>
			<div class='info_item'>/voice4 x: Gives voice 4 to a user.</div>
			<div class='info_item'>/op x: Gives op to a user. Ops can do anything an admin can do except more high level commands.</div>
			<div class='info_item'>/admin x: Gives admin to a user. This gives a user the same rights as the original admin.</div>
			<div class='info_item'>/resetvoices: Turns all voices above 1 to voice 1.</div>
			<div class='info_item'>/removeops: Removes all op roles.</div>
			<div class='info_item'>/private: Room doesn\'t appear in the public room list.</div>
			<div class='info_item'>/public: Room appears in the public room list.</div>
			<div class='info_item'>/enablelog: Enables logging of the room. Which allows users to see previous messages before they joined.</div>
			<div class='info_item'>/disablelog: Disables logging.</div>
			<div class='info_item'>/clearlog: Removes all messages from the log.</div>
			<div class='info_item'>/roomname x: Chages the name of the room.</div>
			<div class='info_item'>/roomnameedit x: Puts the room name in the input, ready to be edited.</div>
			<div class='info_item'>/kick x: Kicks a user out of the room.</div>
			<div class='info_item'>/ban x: Bans a user from the room.</div>
			<div class='info_item'>/unban x: Unbans a user from the room.</div>
			<div class='info_item'>/unbanall: Removes all bans.</div>
			<div class='info_item'>/bannedcount: Displays the number of banned users in the room.</div>
			<div class='info_item'>Usernames have a context menu (right click) if you are an op or admin.</div>
			<div class='info_item'>Check /help for information about how users interact in the room through chat, image uploads, or radio.</div>
			<div class='info_item'>Currently automatic fetching of song metadata from internet radios are only supported for icecast2 servers. The metadada URL is gathered automatically. To work, the server needs to allow cross-domain requests and be HTTPS enabled if this system is being served through HTTPS.</div>
			<div class='spacer1'></div>
			<span class='help_link action' onclick='help()'>Basic Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action' onclick='help2()'>Additional Features</span>		
		</script>		

		<audio id='audio' preload="metadata" autoplay></audio>

		<audio id='pup' src='/static/audio/pup.mp3' preload="auto"></audio>
		<audio id='pup2' src='/static/audio/pup2.mp3' preload="auto"></audio>

		<div id='youtube_player'></div>

		<input type='file' accept="image/jpeg, image/png, image/gif" id='profile_image_picker' onchange='profile_image_selected(this)'>

		<input type='file' accept="image/jpeg, image/png, image/gif" id='background_image_input' class='nodisplay' onchange='background_image_selected(this)'>

	</body>

</html>