<html>
	<head>
		<title><%= id %></title> 
		<script src="/js/jquery.js"></script>
		<script src="/js/color-thief.js"></script>
		<script src="/js/dropzone.js"></script>
		<script src="/js/dateformat.js"></script>
		<script src="/js/perfect-scrollbar.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css" />
        <script type="text/javascript" src="/js/contextmenu/contextmenu.js"></script>
        <script src="/js/contextmenu/position.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script src="/js/base.js?ver=406"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css?ver=68" />

        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/js/contextmenu/contextmenu.css"> 

		<script>
			$(function()
			{
				room = "<%= id %>";
			    init();
			})
		</script>
	</head>
	<body>

		<audio id='audio' autoplay> </audio>

		<div id='header'>
			<i id='main_menu' class='header_item unselectable icon fa fa-th-large' onclick='show_menu()'></i>
			<span class='header_item'>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<span class='unselectable header_item' id='usercount' onclick='show_userlist()'></span>
			<span class='header_item'>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<span class='unselectable header_item anime' id='toggle_radio' onclick='toggle_radio()'>
				<i class='icon fa fa-volume-up' id='playing_icon'></i>
				<span id='toggle_radio_text'>Start Radio</span>
			</span> 
			<span class='unselectable' id='volume_area'>
				<span class='header_item'>&nbsp;&nbsp;|&nbsp;&nbsp; 
				<i class='header_item unselectable icon fa fa-minus' onclick='volume_decrease()'></i>
				<span onclick='volume_decrease()'>Volume:&nbsp;</span></span>
				<span class='header_item' id='volume' onclick='volume_increase()'>100%</span>
				<i class='header_item unselectable icon fa fa-plus' onclick='volume_increase()'></i>
			</span>
			<span id="now_playing_area" onclick="show_played()">
				<span class='header_item'>&nbsp;&nbsp;|&nbsp;&nbsp; Now Playing:&nbsp;</span>
				<span class='header_item' id='now_playing'></span>
			</span>
		</div>

		<div id='chat_main'>

			<div id='chat_area_parent'>
				<div id='chat_area'></div>
			</div>

			<div id='scroll_notice' onclick='goto_bottom(true)'>Go To Bottom</div>

			<input id='input' type='text'>

		</div>

		<div id='media' class='unselectable' draggable='false'>
			<img id='media_image' draggable='false'>
			<div id='image_info'>
				<span id='image_uploader'></span>
			</div>
		</div>

		<img id='test_image'>

		<div id='overlay' onclick='hide_boxes()'></div>

		<div id='userlist'></div>
		
		<div id='roomlist'></div>

		<div id='played'><br></div>

		<div id='menu'>

			<div class='menu_item' onclick="request_roomlist()">Public Rooms</div><br>
			<div class='menu_item' onclick='show_createroom_menu()'>Go To Room</div><br>
			<div class='menu_item' onclick='copy_room_url()'>Copy Room URL</div>

			<div id='menu_smaller_container'>
				<span class='menu_item_smaller' onclick='clear_chat();hide_boxes()'>Clear</span>&nbsp;|&nbsp;
				<span class='menu_item_smaller' onclick='show_status();hide_boxes()'>Status</span>&nbsp;|&nbsp;
				<span class='menu_item_smaller' onclick='help();hide_boxes()'>Help</span>
			</div>

		</div>

		<div id='createroom_menu'>

			<br>

			<input id='createroom_input' placeholder="Name">

			<br><br> Or <br>

			<div class='menu_item' onclick='random_room()'>Random Name</div><br>

		</div>

		<audio id='pup' src='/audio/pup.ogg'></audio>

	</body>
</html>