<html>

	<head>

		<title><%= vars.default_title %></title> 
		<script src="/js/jquery.js"></script>
		<script src="/js/handlebars.js"></script>
		<script src="/js/colorlib.js?v=4"></script>
		<script src="/js/msg.min.js?v=5"></script>
		<script src="/js/storageui.min.js?v=2"></script>
		<script src="/js/dropzone.js"></script>
		<script src="/js/dateformat.js"></script>
		<script src="/js/perfect-scrollbar.min.js?v=3"></script>
		<script src="/js/nicescroll.min.js"></script>
		<script type="text/javascript" src="/js/contextmenu/jquery.contextMenu.min.js"></script>
		<script src="/js/contextmenu/jquery.ui.position.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css?v=3" />
		<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/js/contextmenu/jquery.contextMenu.min.css"> 

		<script src="/js/base.js?ver=577"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css?ver=131" />

		<script src="https://www.youtube.com/iframe_api"></script>

		<script>
			$(function()
			{
				<% 
					for(var key in vars)
					{
						var v = vars[key]

						%><%-key%> = <%

						if(typeof v === "string")
						{
							%>`<%-v%>`; <% 
						}

						else
						{
							%><%-v%>; <%
						}
					}
				%>

				init()
			})
		</script>

	</head>

	<body>

		<div id="main_container">

			<div id='background_image'></div>

			<div id="main_flex">

				<div id='header' class='unselectable'>

					<div id='header_items'>

						<div id='header_items_inner'>

							<i id='main_menu' class='header_item icon fa fa-th-large' onclick='show_menu()'></i>
							<span class='hspacer1'></span>|<span class='hspacer1'></span>
							<span class='header_item' id='usercount' onclick='show_userlist()'></span>
							<span class='hspacer1'></span>|<span class='hspacer1'></span>
							<span class='header_item' id='toggle_radio' onclick='toggle_radio()'>
								<i class='icon fa fa-volume-up' id='playing_icon'></i>
								<span id='toggle_radio_text'>Start Radio</span>
							</span>
							<span id='volume_area'>
								<span class='hspacer1'></span>|<span class='hspacer1'></span>
								<span id='volume_controls'>
									<i id='header_icon_minus' class='header_item icon fa fa-minus' onclick='volume_decrease()'></i>
									<span onclick='volume_decrease()'>Volume:</span>
									<span class='header_item' id='volume' onclick='volume_increase()'>100%</span>
									<i id='header_icon_plus' class='header_item icon fa fa-plus' onclick='volume_increase()'></i>
								</span>
							</span>
							<span id="now_playing_area" onclick="show_played()">
								<span class='hspacer1'></span>|<span class='hspacer1'></span> 
								<span id='now_playing_controls'>
									<span class='header_item'>Now Playing:</span>
									<span class='header_item' id='now_playing'></span>
								</span>
							</span>

						</div>

					</div>

				</div>

				<div id="flex_columns">

					<div id='chat_main'>

						<div id='chat_area_parent'>
							<div id='chat_area'></div>
						</div>

					</div>

					<div id='media' class='unselectable' draggable='false'>
						<img id='media_image' draggable='false'>
					</div>

				</div>

				<div id='scroll_notice' onclick='goto_bottom(true)'>Go To Bottom</div>

				<div id='footer'>
					<div id='footer_items'>
						<span id='footer_nickname' onClick="show_nick_editor()"></span>
						<input id='input' type='text'>
					</div>
				</div>				

			</div>

			<img id='test_image'>

		</div>

		<script id='template_menu' type='text/x-handlebars-template'>
			<div id='menu' class='unselectable'>

				<div class='menu_item' onclick="request_roomlist()">Public Rooms</div>
				<div class='menu_item' onclick='show_create_room()'>Create Room</div>
				<div class='menu_item' onclick='show_settings()'>Settings</div>

				<div id='menu_smaller_container'>

					<div class='menu_item_smaller' onclick='copy_room_url()'>Copy Room URL</div>

					<div class='spacer2'></div>

					<div class='menu_item_smaller' onclick='chat_search()'>Search</div>

					&nbsp;|&nbsp;

					<div class='menu_item_smaller' onclick='show_history()'>History</div>

					<div class='spacer2'></div>

					<span class='menu_item_smaller' onclick='clear_chat();close_all_modals()'>Clear</span>

					&nbsp;|&nbsp;

					<span class='menu_item_smaller' onclick='show_status();close_all_modals()'>Status</span>

					&nbsp;|&nbsp;

					<span class='menu_item_smaller' onclick='help();close_all_modals()'>Help</span>

				</div>

				<div class='spacer3'></div>

			</div>
		</script>

		<script id='template_create_room' type='text/x-handlebars-template'>
			<div id='create_room'>

				<br>

				<div>All&nbsp;of&nbsp;these&nbsp;can&nbsp;be&nbsp;changed&nbsp;later</div>

				<div class='spacer1'></div>

				<input id='create_room_name' placeholder="Name" type="text">

				<div class='unselectable'>

					<div class='spacer1'></div>

					<div>Chat Permission</div>

					<div class='spacer2'></div>

					<select id='create_room_chat_permission'>
						<option value='1' selected>Anyone</option>
						<option value='2'>Voiced Users And Up</option>
						<option value='3'>Ops And Up</option>
					</select>

					<div class='spacer1'></div>

					<div>Upload Permission</div>

					<div class='spacer2'></div>					

					<select id='create_room_upload_permission'>
						<option value='1' selected>Anyone</option>
						<option value='2'>Voiced Users And Up</option>
						<option value='3'>Ops And Up</option>
					</select>

					<div class='spacer1'></div>

					<div>Radio Permission</div>

					<div class='spacer2'></div>					

					<select id='create_room_radio_permission'>
						<option value='1' selected>Anyone</option>
						<option value='2'>Voiced Users And Up</option>
						<option value='3'>Ops And Up</option>
					</select>

					<div class='spacer1'></div>

					<select id='create_room_public'>
						<option value='true' selected>Public</option>
						<option value='false'>Private</option>
					</select>					

					<div class='spacer3'></div>
					<div class='spacer2'></div>

					<div id='create_room_done' class='menu_item'>Create</div>

				</div>

			</div>
		</script>

		<script id='template_open_room' type='text/x-handlebars-template'>

				<div id="open_buttons" class='unselectable'>

					<div id='open_room_here' class='menu_item' onclick='goto_url("{{id}}");msg_open_room.close()'>Open&nbsp;Here</div>

					<div id='open_room_new_tab' class='menu_item' onclick='goto_url("{{id}}", "tab");msg_open_room.close()'>Open&nbsp;In&nbsp;New&nbsp;Tab</div>

				</div>

		</script>

		<script id='template_nick_editor' type='text/x-handlebars-template'>

				<div class="spacer3"></div>
				<input value={{nick}} id="nick_editor_input">
				<div class="spacer3"></div>

		</script>

		<script id='template_settings' type='text/x-handlebars-template'>
			<div id='settings' class='unselectable'>

				<br>

				<div class="setting_title">Background Image</div>
				<input class="setting_checkbox" id="setting_background_image" type="checkbox">
				
				<div class='spacer1'></div>

				<div class="setting_title">Foreground Image</div>
				<input class="setting_checkbox" id="setting_foreground_image" type="checkbox">

				<div class='spacer1'></div>

				<div class="setting_title">Custom Scrollbars</div>
				<input class="setting_checkbox" id="setting_custom_scrollbars" type="checkbox">

				<div class='spacer1'></div>

				<div class="setting_title">Header Contrast</div>
				<input class="setting_checkbox" id="setting_header_contrast" type="checkbox">

				<div class='spacer1'></div>

				<div class="setting_title">Footer Contrast</div>
				<input class="setting_checkbox" id="setting_footer_contrast" type="checkbox">
				
				<div class='spacer1'></div>

				<div class="setting_title">Nickname On Footer</div>
				<input class="setting_checkbox" id="setting_nickname_on_footer" type="checkbox">

				<div class='spacer1'></div>

				<div class="setting_title">Modal Color</div>

				<select id='setting_modal_color'>
					<option value='white'>White</option>
					<option value='red'>Red</option>
					<option value='green'>Green</option>
					<option value='blue'>Blue</option>
					<option value='black'>Black</option>
				</select>

				<div class='spacer1'></div>

				<div class='menu_item' onclick='show_data()'>+ Storage Manager</div>

				<br>

			</div>
		</script>

		<script id='template_userlist' type='text/x-handlebars-template'>
			<input type="text" id="userlist_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='userlist'></div>
		</script>		
		
		<script id='template_roomlist' type='text/x-handlebars-template'>
			<input type="text" id="roomlist_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>			
			<div id='roomlist'></div>
		</script>		
		
		<script id='template_played' type='text/x-handlebars-template'>
			<input type="text" id="played_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='played'></div>
		</script>		

		<audio id='audio' autoplay></audio>

		<audio id='pup' src='/audio/pup.ogg'></audio>

		<div id='youtube_player'></div>

	</body>

</html>