<% include doctype.ejs %>

<html>

	<head>

		<% include meta.ejs %>

		<title><%= vars.default_title %></title>

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/handlebars.js"></script>
		<script src="/static/js/dropzone.js"></script>
		<script src="/static/js/dateformat.js"></script>
		<script src="/static/js/perfect-scrollbar.min.js?version=3"></script>
		<script src="/static/js/nicescroll.min.js"></script>
		<script src="/static/js/tippy.all.min.js"></script>
		<script src="/static/js/spectrum.min.js"></script>
		<script src="/static/js/cropper.min.js?version=2"></script>
		<script type="text/javascript" src="/static/js/contextmenu/jquery.contextMenu.min.js"></script>
		<script src="https://player.twitch.tv/js/embed/v1.js"></script>
		<script src="/static/js/contextmenu/jquery.ui.position.min.js"></script>
		<script src="/static/js/socket.io.js"></script>
		<script src="/static/js/hls.js"></script>
		<script src="https://w.soundcloud.com/player/api.js"></script>
		<script src="/static/js/nstslider/jquery.nstSlider.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/perfect-scrollbar.css?version=3"/>
		<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/cropper.min.css?version=2">
		<link rel="stylesheet" href="/static/css/spectrum.css">
		<link rel="stylesheet" href="/static/css/spectrum.css">
		<link rel="stylesheet" href="/static/js/contextmenu/jquery.contextMenu.min.css"> 
		<link rel="stylesheet" href="/static/js/nstslider/jquery.nstSlider.min.css"> 

		<script src="/static/js/msg.min.js?version=26"></script>
		<script src="/static/js/utilz.js?version=16"></script>
		<script src="/static/js/colorlib.js?version=10"></script>

		<script src="/static/js/base.js?version=2172"></script>

		<link rel="stylesheet" href="/static/css/style.css?version=440"/>

		<script>

			<% include vars.ejs %>

			$(function()
			{
				init()

				var script = document.createElement('script')
				script.src = "https://www.youtube.com/iframe_api"
				document.head.appendChild(script)
			})

		</script>

	</head>

	<body>

		<div id="loading">
			<div id="loading_spinner"></div>
		</div>

		<div id="main_container">

			<div id='background_image' class='background_image'></div>

			<div class="columns_container">

				<div id='voice_chat_container' class='bg2'>
					<div id='voice_chat'></div>
				</div>

				<div id='header' class='unselectable bg2 panel'>

					<div id='header_items'>

						<div id='header_items_inner'>

							<div id='main_menu_icon' class='pointer nicetitle action' onclick='show_main_menu()' title="Main Menu">
								<div class='action pointer'><i class='icon fa fa-th-large'></i></div>
							</div>

							<div class='header_separator'>|</div>
							<div class='pointer action' id='usercount' onclick='show_userlist()'></div>

							<div id="header_voice_chat_container" class="pointer action nicetitle" title="Join/Leave Voice Chat" onclick="toggle_join_voice_chat()">
								<div class='header_separator'>|</div>
								<div>Voice Chat (<div id='voice_chat_num_users'></div>)</div>
							</div>

							<div id='header_radio'>
								
								<div class='header_separator'>|</div>

								<div class='pointer action' id='toggle_radio_state' onclick='toggle_radio_state()'>
									<div class='action pointer' id='header_radio_playing_icon'><i class='icon fa fa-volume-up'></i></div>
									<div id='toggle_now_playing_text'>Start Radio</div>
								</div>

								<div id='header_radio_volume_area'>
									<div class='header_separator'>|</div>
									<div id='header_radio_volume_controls'>
										<div id='header_radio_volume_icon_minus' class='action pointer' onclick='volume_decrease()'><i class='pointer icon fa fa-minus'></i></div>
										<div class='pointer action' onclick='volume_decrease()'>Volume:&nbsp;</div>
										<div class='pointer action' id='volume' onclick='volume_increase()'>100%</div>
										<div id='header_radio_volume_icon_plus' class='action pointer' onclick='volume_increase()'><i class='pointer icon fa fa-plus'></i></div>
									</div>
								</div>

								<div id='header_now_playing_area'>
									<div class='header_separator'>|</div> 
									<div id='header_now_playing_controls' class='action' onclick='show_played()'>
										<div class='pointer'>Now Playing:&nbsp;</div>
										<div class='pointer' id='now_playing'>Loading</div>
									</div>
								</div>

							</div>

							<div id='header_topic'>
								<div class='header_separator'>|</div>
								<div id='header_topic_inner' class='action' onclick='show_status()'>
									<div class='header_item'>Topic:&nbsp;</div>
									<div class='header_item' id='header_topic_text'></div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<div class='unselectable' id='reactions_box_container'>
					<div id='reactions_box'>

						<i class='reaction_icon fa fa-thumbs-o-up pointer action nicetitle' onclick='send_reaction("like")' title="Like"></i>
						
						<div class='hspacer3'></div>
						
						<i class='reaction_icon fa fa-heart-o pointer action nicetitle' onclick='send_reaction("love")' title="Love"></i>

						<div class='hspacer3'></div>

						<i class='reaction_icon fa fa-smile-o pointer action nicetitle' onclick='send_reaction("happy")' title="Happy"></i>

						<div class='hspacer3'>&nbsp;|&nbsp;</div>

						<i class='reaction_icon fa fa-meh-o pointer action nicetitle' onclick='send_reaction("meh")' title="Meh"></i>

						<div class='hspacer3'></div>

						<i class='reaction_icon fa fa-frown-o pointer action nicetitle' onclick='send_reaction("sad")' title="Sad"></i>

						<div class='hspacer3'></div>

						<i class='reaction_icon fa fa-thumbs-o-down pointer action nicetitle' onclick='send_reaction("dislike")' title="Dislike"></i>
						
						<div class='hspacer3'>&nbsp;|&nbsp;</div>
						
						<div class='pointer action user_function_button' onclick='run_user_function(1)' id='user_function_button_1'>F1</div>

						<div class='hspacer3'>&nbsp;|&nbsp;</div>
						
						<div class='pointer action user_function_button' onclick='run_user_function(2)' id='user_function_button_2'>F2</div>

						<div class='hspacer3'>&nbsp;|&nbsp;</div>
						
						<div class='pointer action user_function_button' onclick='run_user_function(3)' id='user_function_button_3'>F3</div>

						<div class='hspacer3'>&nbsp;|&nbsp;</div>
						
						<div class='pointer action user_function_button' onclick='run_user_function(4)' id='user_function_button_4'>F4</div>
					</div>
				</div>

				<div class='unselectable action nicetitle pointer' id='topbox_container' onclick='lock_screen()' title="Lock Screen">
					<div id='topbox'>
						<i class='topbox_icon fa fa-lock'></i>
					</div>
				</div>

				<div class='rows_container' id="main_rows_container">

					<div id='chat_main' class='bg1'>

						<div class='scroller_container top_scroller_container' id='top_scroller_container'>
							<div id='top_scroller' class='left_scroller scroller action3 unselectable' onclick='goto_top()'>Go&nbsp;To&nbsp;Top</div>
							<div class='hspacer3'></div>
							<div id='up_scroller' class='right_scroller scroller action3 unselectable' onclick='activity_above()'>Activity&nbsp;Above</div>
						</div>

						<div id='chat_area_parent'>
							<div id='chat_area'></div>
						</div>

						<div class='scroller_container bottom_scroller_container' id='bottom_scroller_container'>
							<div id='bottom_scroller' class='left_scroller scroller action3 unselectable' onclick='goto_bottom(true)'>Go&nbsp;To&nbsp;Bottom</div>
							<div class='hspacer3'></div>
							<div id='down_scroller' class='right_scroller scroller action3 unselectable' onclick='activity_below()'>Activity&nbsp;Below</div>
						</div>

					</div>

					<div id='media' class='unselectable bg1' draggable='false'>

						<div id='media_split'>
							
							<div id='media_image_container'>
								
								<img id='media_image' class='pointer' draggable='false' onclick="show_current_image_modal()">
								<div id='media_image_error' class='pointer' onclick="show_current_image_modal()">Image failed to load</div>

								<div class='maxer_container'>
									<div id='media_image_maxer' class='maxer' onclick="maximize_images()"></div>
								</div>

							</div>

							<div id='media_tv'>

								<div id='media_iframe_video_container' class='media_video_container'>
									<iframe width="640px" height="360px" id='media_iframe_video' class='video_frame'></iframe>
								</div>

								<div id='media_soundcloud_video_container' class='media_video_container'>
									<iframe width="640px" height="360px" id='media_soundcloud_video' class='video_frame' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301986536'></iframe>
								</div>
							
								<div id='media_twitch_video_container' class='media_video_container'></div>

								<div id='media_youtube_video_container' class='media_video_container'>
									<div id='media_youtube_video' class='video_frame'></div>	
								</div>

								<div id='media_video_container' class='media_video_container'>
									<video id='media_video' class='video_frame' width="640px" height="360px" preload="metadata" poster="<%-vars.default_video_url%>" controls></video>
								</div>

								<div class='maxer_container'>
									<div id='media_tv_maxer' class='maxer' onclick="maximize_tv()"></div>
								</div>

							</div>

						</div>

					</div>

				</div>

				<div id='footer' class='bg2 panel'>
					<div id='footer_items'>

						<div id='footer_user_menu_container' class='pointer action' onclick="show_user_menu()">
							<i id='footer_user_menu' class='fa fa-user-circle footer_icon'></i>
						</div>

						<textarea id='input' size="1" rows="1"></textarea>

						<div class='unselectable'>

							<div id='footer_images_controls' class='footer_media_control'>

								<div class='footer_text_small'>Images</div>

								<div class='pointer action nicetitle' onclick='show_image_picker()' title="Change the Image">
									<i  id='footer_images_icon' class='fa fa-camera footer_icon2'></i>
								</div>

								<div class='pointer action nicetitle' onclick='toggle_images()' title='Show/Hide Images. Hidden means it will not be displayed or active'>
									<i id='footer_toggle_images_icon' class='fa fa-toggle-on footer_icon2'></i>
								</div>
								
								<div class='pointer action nicetitle' onclick='toggle_lock_images()' title='Lock/Unlock Images. Locked means it will stay the same even if media is changed by a user'>
									<i id='footer_lock_images_icon' class='fa fa-unlock-alt footer_icon'></i>
								</div>
							</div>
 	
							<div id='footer_tv_controls' class='footer_media_control'>

								<div class='footer_text_small'>TV</div>

								<div class='pointer action nicetitle' onclick='show_tv_picker()' title="Change the TV">
									<i id='footer_tv_icon' class='fa fa-television footer_icon2'></i>
								</div>

								<div class='pointer action nicetitle' onclick='toggle_tv()' title="Show/Hide TV. Hidden means it will not be displayed or active">
									<i class='fa fa-toggle-on footer_icon2' id='footer_toggle_tv_icon'></i>
								</div>

								<div class='pointer action nicetitle' onclick='toggle_lock_tv()' title="Lock/Unlock TV. Locked means it will stay the same even if media is changed by a user">
									<i class='fa fa-unlock-alt footer_icon' id='footer_lock_tv_icon'></i>
								</div>

 							</div>

							<div id='footer_radio_controls' class='footer_media_control'>

								<div class='footer_text_small'>Radio</div>

								<div class='pointer action nicetitle' onclick='show_radio_picker()' title="Change the Radio">
									<i id='footer_radio_icon' class='fa fa-volume-up footer_icon2'></i>
								</div>

								<div class='pointer action nicetitle' onclick='toggle_radio()' title="Show/Hide Radio. Hidden means it will not be displayed or active">
									<i class='fa fa-toggle-on footer_icon2' id='footer_toggle_radio_icon'></i>
								</div>


								<div class='pointer action nicetitle' onclick='toggle_lock_radio()' title="Lock/Unlock Radio. Locked means it will stay the same even if media is changed by a user">
									<i class='fa fa-unlock-alt footer_icon' id='footer_lock_radio_icon'></i>
								</div>

							</div>

							<div class='pointer action' onclick='show_media_menu()'>
								<i id='footer_media_menu' class='fa fa-bars footer_icon' id='footer_lock_images_icon'></i>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>

		<script id='template_main_menu' type='text/x-handlebars-template'>
			<div id='main_menu' class='unselectable'>

				<div class='menu_item action inline' onclick="request_roomlist('', 'visited_roomlist')">Visited Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="request_roomlist('', 'public_roomlist')">Public Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="show_goto_room()">Go To Room</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_create_room()'>Create Room</div>

				<div id='menu_smaller_container'>

					<span class='menu_item_smaller action' onclick='show_help(1)'>Help</span>

					<div class='spacer2'></div>

					<div class='menu_item_smaller action' onclick='copy_room_url()'>Copy Room URL</div>

					<div class='spacer2'></div>

					<span class='menu_item_smaller action' onclick='show_chat_search()'>Search</span>

					&nbsp;|&nbsp;

					<span class='menu_item_smaller action' onclick='show_status()'>Status</span>

				</div>

				<div id='admin_menu'>

					<div class='spacer3'></div>
					<div class='spacer2'></div>

					<div class='small_padding_bottom'>Images</div>

					<select id='admin_enable_images' class='modal_select'>
						<option value="enabled">Enabled</option>
						<option value="disabled">Disabled</option>
						<option value="locked">Locked</option>
					</select>

					<div class='spacer1'></div>
					
					<div class='small_padding_bottom'>TV</div>

					<select id='admin_enable_tv' class='modal_select'>
						<option value="enabled">Enabled</option>
						<option value="disabled">Disabled</option>
						<option value="locked">Locked</option>
					</select>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Radio</div>

					<select id='admin_enable_radio' class='modal_select'>
						<option value="enabled">Enabled</option>
						<option value="disabled">Disabled</option>
						<option value="locked">Locked</option>
					</select>

					<div class='spacer1'></div>
					
					<div class='small_padding_bottom'>Voice Chat</div>

					<select id='admin_enable_voice_chat' class='modal_select'>
						<option value="enabled">Enabled</option>
						<option value="disabled">Disabled</option>
					</select>

					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='small_padding_bottom'>Theme</div>

					<input id='admin_theme'>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Text Color Mode</div>

					<select class='modal_select' id='admin_text_color_mode_select'>
						<option value="automatic">Automatic</option>
						<option value="custom">Custom</option>
					</select>

					<div id='admin_text_color_container'>
						<div class='spacer1'></div>
						<div class='small_padding_bottom'>Text Color</div>
						<input id='admin_text_color'>
					</div>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Background Mode</div>

					<select class='modal_select' id='admin_background_mode_select'>
						<option value="normal">Normal</option>
						<option value="tiled">Tiled</option>
						<option value="mirror">Mirror</option>
						<option value="solid">Solid</option>
					</select>
					

					<div id='admin_background_tile_dimensions_container'>
						
						<div class='spacer1'></div>

						<div class='small_padding_bottom'>Tile Dimensions</div>

						<input type='text' class='setting_input_text_small' id='admin_background_tile_dimensions' title='CSS background-size property (width and height). For example 200px 200px, 100px auto, auto 100px, or 100px 200px'>		

					</div>

					<div id='admin_background_image_container'>
						<div class='spacer1'></div>
						<img class='small_square_image pointer' id='admin_background_image' onclick='open_background_image_picker()'>
					</div>

					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='toggler_main_container'>

						<div class='toggler main_menu_toggle small_padding_bottom bold pointer action inline'>+ Voice 1 Permissions</div>

						<div class='toggler_container main_menu_toggle_container'>

							<div class='spacer3'></div>

							<div class='setting_title'>Can Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_chat_permission" data-ptype="voice1_chat_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change Images</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_images_permission" data-ptype="voice1_images_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the TV</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_tv_permission" data-ptype="voice1_tv_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the Radio</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_radio_permission" data-ptype="voice1_radio_permission">

							<div class='spacer1'></div>

							<div class='setting_title'>Can Voice Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_voice_chat_permission" data-ptype="voice1_voice_chat_permission">

							<div class='spacer3'></div>

						</div>

					</div>
					
					<div class='spacer1'></div>

					<div class='toggler_main_container'>

						<div class='toggler main_menu_toggle small_padding_bottom bold pointer action inline'>+ Voice 2 Permissions</div>

						<div class='toggler_container main_menu_toggle_container'>

							<div class='spacer3'></div>

							<div class='setting_title'>Can Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_chat_permission" data-vtype="v2" data-ptype="voice2_chat_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change Images</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_images_permission" data-vtype="v2" data-ptype="voice2_images_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the TV</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_tv_permission" data-vtype="v2" data-ptype="voice2_tv_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the Radio</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_radio_permission" data-vtype="v2" data-ptype="voice2_radio_permission">

							<div class='spacer1'></div>

							<div class='setting_title'>Can Voice Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_voice_chat_permission" data-ptype="voice2_voice_chat_permission">

							<div class='spacer3'></div>

						</div>

					</div>
					
					<div class='spacer1'></div>

					<div class='toggler_main_container'>

						<div class='toggler main_menu_toggle small_padding_bottom bold pointer action inline'>+ Voice 3 Permissions</div>

						<div class='toggler_container main_menu_toggle_container'>

							<div class='spacer3'></div>

							<div class='setting_title'>Can Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_chat_permission" data-vtype="v3" data-ptype="voice3_chat_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change Images</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_images_permission" data-vtype="v3" data-ptype="voice3_images_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the TV</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_tv_permission" data-vtype="v3" data-ptype="voice3_tv_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the Radio</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_radio_permission" data-vtype="v3" data-ptype="voice3_radio_permission">

							<div class='spacer1'></div>

							<div class='setting_title'>Can Voice Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_voice_chat_permission" data-ptype="voice3_voice_chat_permission">

							<div class='spacer3'></div>

						</div>

					</div>

					<div class='spacer1'></div>

					<div class='toggler_main_container'>

						<div class='toggler main_menu_toggle small_padding_bottom bold pointer action inline'>+ Voice 4 Permissions</div>
						
						<div class='toggler_container main_menu_toggle_container'>
						
							<div class='spacer3'></div>

							<div class='setting_title'>Can Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_chat_permission" data-vtype="v4" data-ptype="voice4_chat_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change Images</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_images_permission" data-vtype="v4" data-ptype="voice4_images_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the TV</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_tv_permission" data-vtype="v4" data-ptype="voice4_tv_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the Radio</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_radio_permission" data-vtype="v4" data-ptype="voice4_radio_permission">

							<div class='spacer1'></div>

							<div class='setting_title'>Can Voice Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_voice_chat_permission" data-ptype="voice4_voice_chat_permission">

						</div>

					</div>
					
					<div class='spacer1'></div>
					<div class='spacer2'></div>

					<div class='small_padding_bottom'>Privacy</div>

					<select id='admin_privacy' class='modal_select'>
						<option value="true">Public</option>
						<option value="false">Private</option>
					</select>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Log</div>

					<select id='admin_log' class='modal_select'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>						

					<div class='spacer1'></div>
					<div class='spacer3'></div>
					
					<div class='small_padding_bottom'>Room Name</div>

					<input type="text" class="setting_input_text" id="admin_room_name">

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Topic</div>

					<textarea class='setting_textarea' rows=5 id="admin_topic"></textarea>

					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='toggler_main_container'>

						<div class='toggler main_menu_toggle small_padding_bottom bold pointer action inline'>+ Actions</div>

						<div class='toggler_container main_menu_toggle_container'>

							<div class='spacer3'></div>

							<div class='pointer underlined action inline' onclick='needs_confirm("reset_voices")'>Reset Voices</div>

							<div class='spacer1'></div>

							<div class='pointer underlined action inline' onclick='needs_confirm("remove_ops")'>Remove Ops</div>
							
							<div class='spacer1'></div>

							<div class='pointer underlined action inline' onclick='needs_confirm("clear_log")'>Clear Log</div>
							
							<div class='spacer1'></div>

							<div class='pointer underlined action inline' onclick='get_banned_count()'>Banned Count</div>
							
							<div class='spacer1'></div>

							<div class='pointer underlined action inline' onclick='needs_confirm("unban_all")'>Unban All</div>

						</div>

					</div>

					<div class='spacer3'></div>

				</div>
			</div>
		</script>	

		<script id='template_user_menu' type='text/x-handlebars-template'>

			<div class='unselectable'>

				<div class='bigger2' id='user_menu_username'>Loading</div>

				<div class='spacer3'></div>
				
				<div class='big_profile_image_container'>
					<img id='user_menu_profile_image' class='big_profile_image pointer unselectable' onclick='open_profile_image_picker()'>
				</div>

				<div class='spacer1'></div>

				<div class='menu_item_smaller action' onclick='show_details()'>Details</div>

				&nbsp;|&nbsp;

				<div class='menu_item_smaller action' onclick='needs_confirm("logout")'>Logout</div>

				<div class='spacer2'></div>

				<div class='menu_item_smaller action' onclick='show_highlights()'>Highlights</div>

				&nbsp;|&nbsp;

				<div class='menu_item_smaller action' onclick='show_input_history()'>History</div>

				<div class='spacer3'></div>
				<div class='spacer3'></div>

				<div class="action inline pointer" onclick="show_global_settings()">
					Global&nbsp;Settings<div class='inline' id='user_menu_global_settings_status'></div>
				</div>
				<div class='spacer3'></div>
				<div class="action inline pointer" onclick="show_room_settings()">
					Room&nbsp;Settings<div class='inline' id='user_menu_room_settings_status'></div>
				</div>

				<div class='spacer3'></div>
				<div class='spacer3'></div>

				<div class='toggler_main_container'>

					<div class='toggler user_menu_toggle small_padding_bottom bold pointer action inline'>+ More</div>

					<div class='toggler_container user_menu_toggle_container'>

						<div class='spacer3'></div>

						<div class='pointer inline action' onclick='show_import_settings()'>Import Settings</div>
						
						<div class='spacer3'></div>

						<div class='pointer inline action' onclick='show_export_settings()'>Export Settings</div>

					</div>

				</div>
				
				<div class='spacer2'></div>

			</div>

		</script>

		<script id='template_settings' type='text/x-handlebars-template'>
			<div id="settings_window_{{type}}" class='settings_main_window' data-settings_type='{{type}}'>

				<div class="settings_window_left" id="settings_window_left_{{type}}">
					<div class='settings_window_left_content' id='settings_window_left_content_{{type}}'>
						<div class='spacer3'></div>
						<div class='settings_window_category border_bottom' data-category_container='settings_window_category_content_afk_{{type}}' data-category='afk'><span class='settings_window_category_text'>AFK</span><span class='settings_window_category_status'></span></div>
						<div class='settings_window_category' data-category_container='settings_window_category_content_beeps_{{type}}' data-category='beeps'><span class='settings_window_category_text'>Beeps</span><span class='settings_window_category_status'></span></div>
						<div class='settings_window_category' data-category_container='settings_window_category_content_appearance_{{type}}' data-category='appearance'><span class='settings_window_category_text'>Appearance</span><span class='settings_window_category_status'></span></div>
						<div class='settings_window_category' data-category_container='settings_window_category_content_voice_chat_{{type}}' data-category='voice_chat'><span class='settings_window_category_text'>Voice Chat</span><span class='settings_window_category_status'></span></div>
						<div class='settings_window_category' data-category_container='settings_window_category_content_functions_{{type}}' data-category='functions'><span class='settings_window_category_text'>Functions</span><span class='settings_window_category_status'></span></div>
						<div class='settings_window_category' data-category_container='settings_window_category_content_misc_{{type}}' data-category='misc'><span class='settings_window_category_text'>Misc</span><span class='settings_window_category_status'></span></div>
						<div class='spacer3'></div>
						<div class='smaller_font_size pointer' onclick='confirm_reset_settings("{{type}}")'>Reset</div>
						<div class='spacer3'></div>
					</div>
				</div>

				<div class="settings_window_right" id="settings_window_right_{{type}}">

					<div class='settings_category settings_window_category_container' id='settings_window_category_content_beeps_{{type}}' data-category='beeps'>

						<div class='settings_item' data-setting='beep_on_messages' data-type='checkbox'>
							<div class="setting_title">Beep On Messages</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_messages">
						</div>

						<div class='settings_item' data-setting='beep_on_highlights' data-type='checkbox'>
							<div class="setting_title">Beep On Highlights</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_highlights">
						</div>

						<div class='settings_item' data-setting='beep_on_media_change' data-type='checkbox'>
							<div class="setting_title">Beep On Media Change</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_media_change">
						</div>

						<div class='settings_item' data-setting='beep_on_user_joins' data-type='checkbox'>
							<div class="setting_title">Beep On User Joins</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_user_joins">
						</div>

					</div>

					<div class='settings_category settings_window_category_container' id='settings_window_category_content_appearance_{{type}}' data-category='appearance'>

						<div class='settings_item' data-setting='background_image' data-type='checkbox'>
							<div class="setting_title">Background Image</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_background_image">
						</div>

						<div class='settings_item' data-setting='custom_scrollbars' data-type='checkbox'>
							<div class="setting_title">Custom Scrollbars</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_custom_scrollbars">
						</div>

						<div class='settings_item' data-setting='modal_effects' data-type='checkbox'>
							<div class="setting_title">Modal Effects</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_modal_effects">
						</div>

						<div class='settings_item' data-setting='animate_scroll' data-type='checkbox'>
							<div class="setting_title">Animate Scroll</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_animate_scroll">
						</div>

						<div class='settings_item' data-setting='new_messages_separator' data-type='checkbox'>
							<div class="setting_title2">New Messages</div>
							<div class="setting_title">Separator</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_new_messages_separator">
						</div>

						<div class='settings_item' data-setting='chat_layout' data-type='select'>
							<div class="setting_title">Chat Layout</div>
							<select class="{{type}}_settings_item_control modal_select" id="{{type}}_chat_layout">
								<option value='normal'>Normal</option>
								<option value='compact'>Compact</option>
							</select>
						</div>

						<div class='settings_item' data-setting='media_display_percentage' data-type='none'>
							<div class="setting_title">Chat/Media Percentages</div>
							<div class='slider_container'>
								<div class='slider_icon_left'><i class='icon2 fa fa-pencil'></i></div>
								<div id='{{type}}_media_display_percentage' class="slider nstSlider" data-range_min="10" data-range_max="90" data-cur_min="0">
								    <div class="leftGrip" ondblclick='set_media_display_percentage("default", "{{type}}")'></div>
								</div>
								<div class='slider_icon_right'><i class='icon2b fa fa-picture-o'></i></div>
							</div>
						</div>

						<div class='settings_item' data-setting='tv_display_percentage' data-type='none'>
							<div class="setting_title">Image/TV Percentages</div>
							<div class='slider_container'>
								<div class='slider_icon_left'><i class='icon2 fa fa-camera'></i></div>
								<div id='{{type}}_tv_display_percentage' class="slider nstSlider" data-range_min="10" data-range_max="90" data-cur_min="0">
								    <div class="leftGrip" ondblclick='set_tv_display_percentage("default", "{{type}}")'></div>
								</div>
								<div class='slider_icon_right'><i class='icon2b fa fa-television'></i></div>
							</div>
						</div>

						<div class='settings_item' data-setting='tv_display_position' data-type='none'>
							<div class="setting_title">Image/TV Positions</div>
							<div id='{{type}}_tv_display_position' class='squaro_container pointer action2' onclick='swap_display_positions("{{type}}")'>
								<div class='squaro' id='{{type}}_display_position_image'>
									<i class='fa fa-camera smaller_font_size'></i>
								</div>
								<div class='squaro' id='{{type}}_display_position_tv'>
									<i class='fa fa-television smaller_font_size'></i>
								</div>
							</div>
						</div>

					</div>

					<div class='settings_category settings_window_category_container_selected' id='settings_window_category_content_afk_{{type}}' data-category='afk'>

						<div class='settings_item' data-setting='afk_delay' data-type='select'>
							<div class="setting_title">Go AFK On App Onfocus</div>
							<select class="{{type}}_settings_item_control modal_select" id="{{type}}_afk_delay">
								<option value='0'>Instantly</option>
								<option value='60000'>After 1 Minute</option>
								<option value='120000'>After 2 Minutes</option>
								<option value='300000'>After 5 Minutes</option>
								<option value='600000'>After 10 Minutes</option>
								<option value='1200000'>After 20 Minutes</option>
								<option value='1800000'>After 30 Minutes</option>
								<option value='3600000'>After 1 Hour</option>
								<option value='never'>Never</option>
							</select>
						</div>
							
						<div class='settings_item' data-setting='afk_disable_messages_beep' data-type='checkbox'>
							<div class="setting_title2">On AFK</div>
							<div class="setting_title">Disable Messages Beep</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_messages_beep">
						</div>

						<div class='settings_item' data-setting='afk_disable_highlights_beep' data-type='checkbox'>
							<div class="setting_title2">On AFK</div>
							<div class="setting_title">Disable Highlights Beep</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_highlights_beep">
						</div>

						<div class='settings_item' data-setting='afk_disable_media_change_beep' data-type='checkbox'>
							<div class="setting_title2">On AFK</div>
							<div class="setting_title">Disable Media Change Beep</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_media_change_beep">
						</div>

						<div class='settings_item' data-setting='afk_disable_joins_beep' data-type='checkbox'>
							<div class="setting_title2">On AFK</div>
							<div class="setting_title">Disable Joins Beep</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_joins_beep">
						</div>

						<div class='settings_item' data-setting='afk_disable_image_change' data-type='checkbox'>
							<div class="setting_title2">On AFK</div>
							<div class="setting_title">Disable Image Change</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_image_change">
						</div>

						<div class='settings_item' data-setting='afk_disable_tv_change' data-type='checkbox'>
							<div class="setting_title2">On AFK</div>
							<div class="setting_title">Disable TV Change</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_tv_change">
						</div>

						<div class='settings_item' data-setting='afk_disable_radio_change' data-type='checkbox'>
							<div class="setting_title2">On AFK</div>
							<div class="setting_title">Disable Radio Change</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_radio_change">
						</div>

						<div class='settings_item' data-setting='afk_on_lockscreen' data-type='checkbox'>
							<div class="setting_title2">Go AFK</div>
							<div class="setting_title">On Lock Screen</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_on_lockscreen">
						</div>

					</div>

					<div class='settings_category settings_window_category_container' id='settings_window_category_content_functions_{{type}}' data-category='functions'>

						<div class='toggler_main_container'>
							<div class="{{type}}_toggle toggler action pointer bold settings_container">+ User Function 1</div>
							<div class='{{type}}_toggle_container toggler_container'>
								<div class='settings_item' data-setting='user_function_1_name' data-type='text'>
									<div class="setting_title">Name</div>
									<input type="text" class="{{type}}_settings_item_control setting_input_text_small" id="{{type}}_user_function_1_name">
								</div>
								<div class='settings_item' data-setting='user_function_1' data-type='textarea'>
									<div class="setting_title2">Action</div>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_user_function_1"></textarea>
								</div>
								<div class='spacer3'></div>
								<select class='modal_select user_function_switch_select' data-number="1" data-type="{{type}}">
									<option value='0' selected>----</option>
									<option value='2'>Switch With 2</option>
									<option value='3'>Switch With 3</option>
									<option value='4'>Switch With 4</option>
								</select>
								<div class='spacer3'></div>
							</div>
						</div>

						<div class='toggler_main_container'>
							<div class="{{type}}_toggle toggler action pointer bold settings_container">+ User Function 2</div>
							<div class='{{type}}_toggle_container toggler_container'>
								<div class='settings_item' data-setting='user_function_2_name' data-type='text'>
									<div class="setting_title">Name</div>
									<input type="text" class="{{type}}_settings_item_control setting_input_text_small" id="{{type}}_user_function_2_name">
								</div>
								<div class='settings_item' data-setting='user_function_2' data-type='textarea'>
									<div class="setting_title2">Action</div>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_user_function_2"></textarea>
								</div>
								<div class='spacer3'></div>
								<select class='modal_select user_function_switch_select' data-number="2" data-type="{{type}}">
									<option value='0' selected>----</option>
									<option value='1'>Switch With 1</option>
									<option value='3'>Switch With 3</option>
									<option value='4'>Switch With 4</option>
								</select>
								<div class='spacer3'></div>
							</div>
						</div>

						<div class='toggler_main_container'>
							<div class="{{type}}_toggle toggler action pointer bold settings_container">+ User Function 3</div>
							<div class='{{type}}_toggle_container toggler_container'>
								<div class='settings_item' data-setting='user_function_3_name' data-type='text'>
									<div class="setting_title">Name</div>
									<input type="text" class="{{type}}_settings_item_control setting_input_text_small" id="{{type}}_user_function_3_name">
								</div>
								<div class='settings_item' data-setting='user_function_3' data-type='textarea'>
									<div class="setting_title2">Action</div>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_user_function_3"></textarea>
								</div>
								<div class='spacer3'></div>
								<select class='modal_select user_function_switch_select' data-number="3" data-type="{{type}}">
									<option value='0' selected>----</option>
									<option value='1'>Switch With 1</option>
									<option value='2'>Switch With 2</option>
									<option value='4'>Switch With 4</option>
								</select>
								<div class='spacer3'></div>
							</div>
						</div>

						<div class='toggler_main_container'>
							<div class="{{type}}_toggle toggler action pointer bold settings_container">+ User Function 4</div>
							<div class='{{type}}_toggle_container toggler_container'>
								<div class='settings_item' data-setting='user_function_4_name' data-type='text'>
									<div class="setting_title">Name</div>
									<input type="text" class="{{type}}_settings_item_control setting_input_text_small" id="{{type}}_user_function_4_name">
								</div>
								<div class='settings_item' data-setting='user_function_4' data-type='textarea'>
									<div class="setting_title2">Action</div>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_user_function_4"></textarea>
								</div>
								<div class='spacer3'></div>
								<select class='modal_select user_function_switch_select' data-number="4" data-type="{{type}}">
									<option value='0' selected>----</option>
									<option value='1'>Switch With 1</option>
									<option value='2'>Switch With 2</option>
									<option value='3'>Switch With 3</option>
								</select>
								<div class='spacer3'></div>
							</div>
						</div>

						<div class='settings_item' data-setting='double_tap' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_key"></span>&nbsp;Tap</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_double_tap"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='double_tap_2' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_2_key"></span>&nbsp;Tap</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_double_tap_2"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='double_tap_3' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_3_key"></span>&nbsp;Tap</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_double_tap_3"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='on_lockscreen' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ On Lock Screen</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_on_lockscreen"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='on_unlockscreen' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ On Unlock Screen</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_on_unlockscreen"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='at_startup' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ At Startup</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_at_startup"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='aliases' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline" title="For example /sky = /tv touch the sky. If the alias starts with an X, for example, /X1 = /radio restart, it won't be saved to history when used">+ Aliases</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_aliases"></textarea>
								</div>
							</div>
						</div>

					</div>
					
					<div class='settings_category settings_window_category_container' id='settings_window_category_content_voice_chat_{{type}}' data-category='voice_chat'>

						<div class='settings_item' data-setting='beep_on_voice_chat_joins' data-type='checkbox'>
							<div class="setting_title">Beep On Voice Chat Joins</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_voice_chat_joins">
						</div>

						<div class='settings_item' data-setting='beep_on_voice_chat_parts' data-type='checkbox'>
							<div class="setting_title">Beep On Voice Chat Parts</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_voice_chat_parts">
						</div>

						<div class='settings_item' data-setting='microphone_threshold' data-type='text'>
							<div class="setting_title">Microphone Threshold</div>
							<input type="text" class="{{type}}_settings_item_control setting_input_text_smaller" id="{{type}}_microphone_threshold">
						</div>
					</div>

					<div class='settings_category settings_window_category_container' id='settings_window_category_content_misc_{{type}}' data-category='misc'>
						
						<div class='settings_item' data-setting='show_joins' data-type='checkbox'>
							<div class="setting_title">Show User Joins</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_show_joins">
						</div>

						<div class='settings_item' data-setting='show_parts' data-type='checkbox'>
							<div class="setting_title">Show User Parts</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_show_parts">
						</div>

						<div class='settings_item' data-setting='open_popup_messages' data-type='checkbox'>
							<div class="setting_title2">Open Popup Messages</div>
							<div class="setting_title">Automatically</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_open_popup_messages">
						</div>

						<div class='settings_item' data-setting='highlight_current_username' data-type='checkbox'>
							<div class="setting_title">Highlight Username</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_highlight_current_username">
						</div>

						<div class='settings_item' data-setting='case_insensitive_username_highlights' data-type='checkbox'>
							<div class="setting_title2">Case Insensitive</div>
							<div class="setting_title">Username Highlights</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_case_insensitive_username_highlights">
						</div>

						<div class='settings_item' data-setting='case_insensitive_words_highlights' data-type='checkbox'>
							<div class="setting_title2">Case Insensitive</div>
							<div class="setting_title">Words Highlights</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_case_insensitive_words_highlights">
						</div>

						<div class='settings_item' data-setting='case_insensitive_ignored_words' data-type='checkbox'>
							<div class="setting_title2">Case Insensitive</div>
							<div class="setting_title">Ignored Words</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_case_insensitive_ignored_words">
						</div>

						<div class='settings_item' data-setting='ignored_words_exclude_same_user' data-type='checkbox'>
							<div class="setting_title2">Don't Ignore Words</div>
							<div class="setting_title">From Yourself</div>
							<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_ignored_words_exclude_same_user">
						</div>

						<div class='settings_item' data-setting='other_words_to_highlight' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ Words To Highlight</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_other_words_to_highlight"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='other_words_to_autocomplete' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ Words To Autocomplete</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_other_words_to_autocomplete"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='ignored_usernames' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ Usernames To Ignore</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_ignored_usernames"></textarea>
								</div>
							</div>
						</div>

						<div class='settings_item' data-setting='ignored_words' data-type='textarea'>
							<div class='toggler_main_container'>
								<div class="{{type}}_toggle toggler action pointer bold inline">+ Words To Ignore</div>
								<div class='{{type}}_toggle_container toggler_container'>
									<div class="setting_title">(Each on a different line)</div>
									<div class='spacer2'></div>
									<textarea rows=5 class="{{type}}_settings_item_control setting_textarea2" id="{{type}}_ignored_words"></textarea>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</script>

		<script id='template_global_settings' type='text/x-handlebars-template'>
			<div id='global_settings_container' class='unselectable'>
				{{{settings}}}
			</div>
		</script>

		<script id='template_room_settings' type='text/x-handlebars-template'>
			<div id='room_settings_container' class='unselectable'>
				<div>Global Settings can be overridden for the current room here</div>
				<div class='spacer3'></div>
				{{{settings}}}
			</div>
		</script>		

		<script id='template_create_room' type='text/x-handlebars-template'>
			<div id='create_room'>

				<div class='spacer3'></div>

				<input type="text" id="create_room_name" placeholder="Name">

				<div class='unselectable'>

					<div class='spacer1'></div>	

					<select id='create_room_public' class='modal_select'>
						<option value='true' selected>Public</option>
						<option value='false'>Private</option>
					</select>				

					<div class='spacer3'></div>
					<div class='spacer2'></div>

					<div id='create_room_done' class='menu_item action inline'>Create</div>

				</div>

			</div>
		</script>

		<script id='template_open_room' type='text/x-handlebars-template'>
				<div id="open_buttons" class='unselectable'>

					<div id='open_room_here' class='bigger action inline pointer' onclick='goto_url("{{id}}");msg_info2.close()'>
						Open&nbsp;Here
					</div>

					<div class='spacer3'></div>

					<div id='open_room_new_tab' class='bigger action inline pointer' onclick='goto_url("{{id}}", "tab");msg_info2.close()'>
						Open&nbsp;In&nbsp;New&nbsp;Tab
					</div>

				</div>
		</script>

		<script id='template_open_url' type='text/x-handlebars-template'>
				<div class='unselectable'>

					<div class='bigger action inline pointer' id='open_url_menu_open'>Open URL</div>

					<div class='spacer3'></div>

					<div class='bigger action inline pointer' id='open_url_menu_copy'>Copy URL</div>

				</div>
		</script>

		<script id='template_status' type='text/x-handlebars-template'>
				<div class='container_22'>{{{info}}}</div>
		</script>

		<script id='template_userlist' type='text/x-handlebars-template'>
			<input type="text" id="userlist_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='userlist'></div>
		</script>
		
		<script id='template_roomlist' type='text/x-handlebars-template'>
			<input type="text" id="{{type}}_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>	
			<div id='{{type}}_container'></div>
		</script>		
		
		<script id='template_played' type='text/x-handlebars-template'>
			<input type="text" id="played_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='played'></div>
		</script>

		<script id='template_highlights' type='text/x-handlebars-template'>
			<input type="text" id="highlights_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='highlights_container'></div>
		</script>

		<script id='template_input_history' type='text/x-handlebars-template'>
			<input type="text" id="input_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='input_history_container'></div>
		</script>	

		<script id='template_chat_search' type='text/x-handlebars-template'>
			<input type="text" id="chat_search_filter" class="filter_input" placeholder="Query">
			<div class='spacer3'></div>
			<div id='chat_search_container'>Search for chat messages</div>
		</script>

		<script id='template_profile' type='text/x-handlebars-template'>
			<div id='show_profile_uname' class='bigger2'>Loading</div>
			<div class='spacer3'></div>
			<div class="bigger_profile_image_container">
				<img id='show_profile_image' class='bigger_profile_image unselectable' src="{{profile_image}}">
			</div>
			<div id='show_profile_buttons'>
				<div class='spacer4'></div>
				<span class='menu_item unselectable show_profile_button action' id='show_profile_whisper' onclick='write_popup_message($("#show_profile_uname").text())'>Send Whisper</span>
			</div>
		</script>

		<script id='template_image_picker' type='text/x-handlebars-template'>
			<i class='fa fa-camera'></i>
			<div class='spacer3'></div>
			Enter an image URL<br>Or an Imgur search term<br>Upload one from your computer<br>Or make a drawing
			<div class='spacer3'></div>
			<div title='Use this in the main chat input'>Command: /image x</div>
			<div class='spacer3'></div>
			<input id='image_source_picker_input' class='input1'>
			<div class='spacer3'></div>
			<div class='unselectable'>
				<div id='image_file_picker' class='menu_item action inline unselectable' onclick='msg_image_picker.close()'>Upload</div>
				<span>&nbsp;|&nbsp;</span>
				<div id='image_file_picker_draw' class='menu_item action inline unselectable' onclick='open_draw_image();msg_image_picker.close()'>Draw</div>
				<span>&nbsp;|&nbsp;</span>
				<div id='image_file_picker_draw' class='menu_item action inline unselectable' onclick='needs_confirm("image_prev", "This will change the image for everyone. Are you sure?")'>Previous</div>
			</div>
		</script>

		<script id='template_tv_picker' type='text/x-handlebars-template'>
			<i class='fa fa-television'></i>
			<div class='spacer3'></div>
			Enter a YouTube search term or URL<br>Or a Twitch channel/video URL<br>Or a video file/stream URL<br>
			<div class='spacer3'></div>
			<div title='Use this in the main chat input'>Command: /tv x</div>
			<div class='spacer3'></div>
			<input id='tv_source_picker_input' class='input1'>
			<div class='spacer3'></div>
			<div class='menu_item action inline unselectable' onclick='needs_confirm("restart_tv", "This will restart the tv for everyone. Are you sure?")'>Restart</div>
			<span>&nbsp;|&nbsp;</span>
			<div id='image_file_picker_draw' class='menu_item action inline unselectable' onclick='needs_confirm("tv_prev", "This will change the tv for everyone. Are you sure?")'>Previous</div>
		</script>

		<script id='template_radio_picker' type='text/x-handlebars-template'>
			<i class='fa fa-volume-up'></i>
			<div class='spacer3'></div>
			Enter a YouTube search term or URL<br>Or an audio file/stream URL<br>
			<div class='spacer3'></div>
			<div title='Use this in the main chat input'>Command: /radio x</div>
			<div class='spacer3'></div>
			<input id='radio_source_picker_input' class='input1'>
			<div class='spacer3'></div>
			<div class='menu_item action inline unselectable' onclick='needs_confirm("restart_radio", "This will restart the radio for everyone. Are you sure?")'>Restart</div>
			<span>&nbsp;|&nbsp;</span>
			<div id='image_file_picker_draw' class='menu_item action inline unselectable' onclick='needs_confirm("radio_prev", "This will change the radio for everyone. Are you sure?")'>Previous</div>
		</script>

		<script id='template_image_history' type='text/x-handlebars-template'>
			<input type="text" id="image_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='image_history_container' class='media_history_container'></div>
		</script>

		<script id='template_tv_history' type='text/x-handlebars-template'>
			<input type="text" id="tv_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='tv_history_container' class='media_history_container'></div>
		</script>

		<script id='template_radio_history' type='text/x-handlebars-template'>
			<input type="text" id="radio_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='radio_history_container' class='media_history_container'></div>
		</script>

		<script id='template_modal_image' type='text/x-handlebars-template'>

			<div id='modal_image_background_image' class='background_image'></div>
			
			<div class='columns_container'>

				<div id='modal_image_header' class='panel unselectable bg2'>
					<div id='modal_image_header_info_container'>
						<div id='modal_image_header_info' class='action pointer'></div>
					</div>
				</div>

				<div id='modal_image_container' class='bg1 unselectable'>
					<div id="modal_image_spinner" class='spinner1'></div>
					<img id="modal_image">
					<div id="modal_image_error">Image not available</div>
				</div>

				<div id='modal_image_footer' class='panel unselectable bg2'>
					<div id='modal_image_footer_prev' class='modal_image_footer_button action'>&lt; Prev</div>
					<div id='modal_image_footer_info_container'>
						<div id='modal_image_footer_info' class='action pointer'></div>
					</div>
					<div id='modal_image_footer_next' class='modal_image_footer_button action'>Next &gt;</div>
				</div>

			</div>

		</script>

		<script id='template_lockscreen' type='text/x-handlebars-template'>

			<div class='lockscreen_body'>
				<div class="lockscreen_principal action2 pointer" onclick="unlock_screen()">
					<div class="lockscreen_menu">
						<div class="lockscreen_titulo_menu">
							<div class="lockscreen_titulo">
								<div>UNLOCK</div>
							</div>
							<div class="lockscreen_icon_menu">
								<div class="lockscreen_circle_1"></div>
								<div class="lockscreen_circle_2"></div>
								<div class="lockscreen_circle_3"></div>
								<div class="lockscreen_circle_4"></div>
							</div>
						</div>
					</div> 
				</div>
			</div>

		</script>		

		<script id='template_media_menu' type='text/x-handlebars-template'>
			<div class='unselectable'>

				<div class='menu_item action inline' onclick='stop_and_lock(); hide_media_menu()'>Stop And Lock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='stop_and_lock(false); hide_media_menu()'>Lock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='default_media_state(false); hide_media_menu()'>Unlock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='default_media_state(); hide_media_menu()'>Default State</div>
				<div class='spacer3'></div>
				<div class='menu_item action inline' onclick='refresh_image(); hide_media_menu()'>Refresh Image</div>
				<div></div>
				<div class='menu_item action inline' onclick='refresh_tv(); hide_media_menu()'>Refresh TV</div>
				<div></div>
				<div class='menu_item action inline' onclick='refresh_radio(); hide_media_menu()'>Refresh Radio</div>
				<div class='spacer3'></div>
				<div class='menu_item action inline' onclick='show_image_history()'>Image History</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_tv_history()'>TV History</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_radio_history()'>Radio History</div>

			</div>
		</script>	

		<script id='template_locked_menu' type='text/x-handlebars-template'>
			<div id='locked_menu' class='unselectable'>
				<div>You are banned from this room</div>
				<div class='spacer3'></div>
				<div class='menu_item action inline' onclick="request_roomlist('', 'visited_roomlist')">Visited Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="request_roomlist('', 'public_roomlist')">Public Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="show_goto_room()">Go To Room</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_create_room()'>Create Room</div>
				<div class='spacer3'></div>
				<div class='menu_item_smaller action' onclick='needs_confirm("logout")'>Logout</div>
			</div>
		</script>		

		<script id='template_message' type='text/x-handlebars-template'>
			<div id='write_message_feedback'></div>
			<textarea rows="3" id='write_message_area' tabindex=0></textarea>
			<div class='spacer3'></div>
			<canvas id='draw_message_area' class='draw_canvas' width='400px' height='300px' tabindex=1></canvas>
			<div class='spacer3'></div>
			<span class='unselectable'>
				<div class='bigger pointer unselectable action inline' onclick='clear_draw_message_state()' tabindex=3>Clear Drawing</div>
				<span>&nbsp;|&nbsp;</span>
				<div class='bigger pointer unselectable action inline' onclick='send_popup_message()' tabindex=4>Send</div>
			</span>
		</script>

		<script id='template_draw_image' type='text/x-handlebars-template'>
			
			<div id='draw_image_main'>

				<span class='unselectable'>
					
					<div id='draw_image_mode_select_pencil' class='pointer action modal_icon_container' onclick='set_draw_image_mode_input("pencil")'>
						<i class='fa fa-pencil nicetitle' title='Pencil'></i>
						<div class='hspacer3 inline'></div>
						<input id='draw_image_pencil_color'>
						
						<div class='hspacer3 inline'></div>

						<select id='draw_image_pencil_size' class='modal_select'>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</div>
					
					<div class='hspacer2 inline'></div>

					<div id='draw_image_mode_select_bucket' class='pointer action modal_icon_container' onclick='set_draw_image_mode_input("bucket")'>
						<i class='fa fa-adjust nicetitle' title='Bucket'></i>
						<div class='hspacer3 inline'></div>
						<input id='draw_image_bucket_color'>
					</div>

					<div class='spacer3'></div>

				</span>

				<canvas id='draw_image_area' class='draw_canvas' width='1920px' height='1440px' tabindex=1></canvas>

				<span class='unselectable'>

					<div class='spacer3'></div>

					<div class='bigger pointer action inline' onclick='draw_image_undo()'>Undo</div>
					
					<span class='hspacer1'>|</span>

					<div class='bigger pointer action inline' onclick='draw_image_redo()'>Redo</div>
					
					<span class='hspacer1'>|</span>

					<div class='bigger pointer action inline' onclick='needs_confirm("clear_draw_image_func")'>Clear</div>
				
					<span class='hspacer1'>|</span>

					<div class='bigger pointer action inline' onclick='upload_draw_image()' tabindex=3>Upload</div>
				</span>

			</div>

		</script>

		<script id='template_credits' type='text/x-handlebars-template'>

			<div id='credits_container' class='unselectable'>
				<img src='{{background_url}}' id='credits_background' draggable='false'>
			</div>

		</script>

		<script id='template_modal_image_number' type='text/x-handlebars-template'>
			<input id='modal_image_number_input' type='number' class='setting_input_text_smaller'>
			<div class='spacer3'></div>
			<div id='modal_image_number_button' class='pointer bigger action inline unselectable'>Go To Image</div>
		</script>

		<script id='template_help' type='text/x-handlebars-template'>

			<input type="text" id="help_filter" class="filter_input" placeholder="Filter">
			<div class='spacer2'></div>
			<div id="help_content"></div>

		</script>

		<script id='template_help1' type='text/x-handlebars-template'>

			<div class='info_item help_item'>Chat by typing anything.</div>
			<div class='info_item help_item'>All elements in the top and bottom bar are clickable.</div>
			<div class='info_item help_item'>There are 3 main media elements that can be changed, images, tv and radio.</div>
			<div class='info_item help_item'>Media change has permission settings per room. So you might not be able to do certain actions depending on what settings the ops/admins have set.</div>
			<div class='spacer3'></div>
			<span class='help_link action unselectable' onclick='show_help(2)'>Additional Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action unselectable' onclick='show_help(3)'>Administration Features</span>

		</script>

		<script id='template_help2' type='text/x-handlebars-template'>
			<div class='spacer3'></div>
			<div class='info_item help_item'>Escape clears the input or closes modals.</div>
			<div class='info_item help_item'>Shift + Escape closes all modals and popups.</div>
			<div class='info_item help_item'>Up and Down Arrows cycle through the input history.</div>
			<div class='info_item help_item'>Shift + Up Arrow and Shift + Down Arrow or Page Up and Page down make the chat scroll.</div>
			<div class='info_item help_item'>Control + Up Arrow and Control + Down Arrow go to Activity Above and Activity Below.</div>
			<div class='info_item help_item'>Enter without text in the input scrolls to the bottom of the chat.</div>
			<div class='info_item help_item'>Clicking on a chat message username quotes the text.</div>
			<div class='info_item help_item'>Tab completes usernames and commands.</div>
			<div class='info_item help_item'>Shift + Enter toggles the radio.</div>		
			<div class='info_item help_item'>Apart from the image upload icon, images can also be uploaded by clicking the current image or by dropping a file.</div>		
			<div class='info_item help_item'>/image x: Sends an image to be uploaded by URL. "/image default" sets the image to the site's default image. "/image prev" changes to the previous image source.</div>			
			<div class='info_item help_item'>/tv x: Changes the TV using a search term or URL. "/tv restart" restarts the current video for all users, in case it gets stuck. To link a Youtube playlist the URL must be a pure playlist URL without a video ID. "/tv default" sets the tv to the site's default tv. "/tv prev" changes to the previous tv source.</div>			
			<div class='info_item help_item'>/radio x: Changes the radio using a search term or URL. "/radio restart" restarts the current radio for all users, in case it gets stuck. "/radio default" sets the radio to the site's default radio. "/radio prev" changes to the previous radio source.</div>	
			<div class='info_item help_item'>/me x: Makes a message in third person.</div>		
			<div class='info_item help_item'>/whisper x: Opens a window to write a whisper to x user. If the argument contains the &gt; character it will use the inline method where the username is whatever is to the left of the &gt; and the message whatever is to the right of it, and send the message directly without using the window.</div>		
			<div class='info_item help_item'>/whisper2 x: Same as /whisper but it doesn't show feedback when sent through the inline format, for example "/whisper2 user > message". Useful for making calls to bots without filling your own chat too much.</div>		
			<div class='info_item help_item'>/whisperops: Opens a window to write a whisper to ops and admins.</div>
			<div class='info_item help_item'>/status: Shows the room status window.</div>	
			<div class='info_item help_item'>/role: Shows your role and permissions.</div>
			<div class='info_item help_item'>/users: Shows the user list. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/publicrooms: Shows the public room list. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/visitedrooms: Shows the visited room list. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/played: Shows the list of songs played. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/search: Opens the search window. Accepts a query as an argument.</div>
			<div class='info_item help_item'>/history: Shows the input history. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/highlights: Shows chat messages where you were highlighted. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/unclear: Restores the cleared chat.</div>
			<div class='info_item help_item'>/startradio: Starts the radio.</div>
			<div class='info_item help_item'>/stopradio: Stops the radio.</div>
			<div class='info_item help_item'>/stopradioin x: Stops the radio automatically after the given x minutes.</div>
			<div class='info_item help_item'>/toggleplayradio: Starts or stops the radio.</div>
			<div class='info_item help_item'>/radiovolume x: Changes the volume of the radio.</div>
			<div class='info_item help_item'>/tvvolume x: Changes the volume of the tv.</div>
			<div class='info_item help_item'>/volume x: Changes the volume of the radio and the tv.</div>
			<div class='info_item help_item'>/details: Shows the account details.</div>
			<div class='info_item help_item'>/changeusername x: Changes the account username.</div>
			<div class='info_item help_item'>/changepassword x: Changes the account password.</div>
			<div class='info_item help_item'>/changeemail x: Changes the account email.</div>
			<div class='info_item help_item'>/disconnectothers: Disconnects other connected account clients.</div>
			<div class='info_item help_item'>/logout: Ends the user session.</div>
			<div class='info_item help_item'>/shrug: Shows the shrug ascii.</div>
			<div class='info_item help_item'>/afk: Shows that the user went AFK.</div>
			<div class='info_item help_item'>/lock: Locks all media.</div>
			<div class='info_item help_item'>/stop: Stops all media.</div>
			<div class='info_item help_item'>/stopandlock: Stops and locks all media.</div>
			<div class='info_item help_item'>/unlock: Unlocks all media.</div>
			<div class='info_item help_item'>/default: Sets media visibility and locks to the default state.</div>
			<div class='info_item help_item'>/menu: Shows the main menu.</div>
			<div class='info_item help_item'>/user: Shows the user menu.</div>
			<div class='info_item help_item'>/media: Shows the media menu.</div>
			<div class='info_item help_item'>/imagehistory: Shows the image history. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/tvhistory: Shows the tv history. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/radiohistory: Shows the radio history. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/showimages: Makes images visible and active.</div>
			<div class='info_item help_item'>/showtv: Makes the tv visible and active.</div>
			<div class='info_item help_item'>/showradio: Makes the radio images visible and active.</div>
			<div class='info_item help_item'>/hideimages: Makes images invisible and inactive.</div>
			<div class='info_item help_item'>/hidetv: Makes the tv invisible and inactive.</div>
			<div class='info_item help_item'>/hideradio: Makes the radio images invisible and inactive.</div>
			<div class='info_item help_item'>/toggleimages: Toggles between show and hide images.</div>
			<div class='info_item help_item'>/toggletv: Toggles between show and hide the tv.</div>
			<div class='info_item help_item'>/toggleradio: Toggles between show and hide the radio.</div>
			<div class='info_item help_item'>/lockimages: Locks images.</div>
			<div class='info_item help_item'>/locktv: Locks the tv.</div>
			<div class='info_item help_item'>/lockradio: Locks the radio.</div>
			<div class='info_item help_item'>/unlockimages: Unlocks images.</div>
			<div class='info_item help_item'>/unlocktv: Unlocks the tv.</div>
			<div class='info_item help_item'>/unlockradio: Unlocks the radio.</div>
			<div class='info_item help_item'>/togglelockimages: Toggles between lock and unlock images.</div>
			<div class='info_item help_item'>/togglelocktv: Toggles between lock and unlock the tv.</div>
			<div class='info_item help_item'>/togglelockradio: Toggles between lock and unlock the radio.</div>
			<div class='info_item help_item'>/maximizeimages: Maximize/Restore images.</div>
			<div class='info_item help_item'>/maximizetv: Maximize/Restore the tv.</div>
			<div class='info_item help_item'>/starttv: Starts the tv.</div>
			<div class='info_item help_item'>/stoptv: Stops the tv.</div>
			<div class='info_item help_item'>/refreshimage: Loads the image again.</div>
			<div class='info_item help_item'>/refreshtv: Loads the tv again.</div>
			<div class='info_item help_item'>/refreshradio: Loads the radio again.</div>
			<div class='info_item help_item'>/openimage: Opens the image modal with the current image.</div>
			<div class='info_item help_item'>/openlastimage: Opens the image modal with the latest announced image.</div>
			<div class='info_item help_item'>/date: Shows current date.</div>
			<div class='info_item help_item'>/verifyemail x: Used to verify an email email with a received code.</div>
			<div class='info_item help_item'>/js x: Executes a javascript operation.</div>
			<div class='info_item help_item'>/js2 x: Executes a javascript operation without showing the result.</div>
			<div class='info_item help_item'>/endjs: This can be used when chaining /js or /js2 commands with other commands. For example: /js true && true /endjs && /ping.</div>
			<div class='info_item help_item'>/changeimage: Opens window to change the image.</div>
			<div class='info_item help_item'>/changetv: Opens the window to change the tv.</div>
			<div class='info_item help_item'>/changeradio: Opens the window to change the radio.</div>
			<div class='info_item help_item'>/closeall: Closes all the modal windows and popups.</div>
			<div class='info_item help_item'>/closeallmodals: Closes all the modal windows.</div>
			<div class='info_item help_item'>/closeallpopups: Closes all the popups.</div>
			<div class='info_item help_item'>/closeandwait: Used with chained commands. Whatever is after it will be triggered after the modals are closed. For instance: /closeandwait && /somecommand.</div>
			<div class='info_item help_item'>/activityabove: Scrolls chat to activity pertaining you above.</div>
			<div class='info_item help_item'>/activitybelow: Scrolls chat to activity pertaining you below.</div>
			<div class='info_item help_item'>/globalsettings: Shows the global settings window. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/roomsettings: Shows the room settings window. Accepts a filter as an argument.</div>
			<div class='info_item help_item'>/goto: Goes to room ID or URL.</div>
			<div class='info_item help_item'>/ping: Pings the server and shows the delay from the moment it was sent to the moment it was received.</div>
			<div class='info_item help_item'>/reactlike: Sends reaction "like".</div>
			<div class='info_item help_item'>/reactlove: Sends reaction "love".</div>
			<div class='info_item help_item'>/reacthappy: Sends reaction "happy".</div>
			<div class='info_item help_item'>/reactmeh: Sends reaction "meh".</div>
			<div class='info_item help_item'>/reactsad: Sends reaction "sad".</div>
			<div class='info_item help_item'>/reactdislike: Sends reaction "dislike".</div>
			<div class='info_item help_item'>/f1: Runs User Function 1.</div>
			<div class='info_item help_item'>/f2: Runs User Function 2.</div>
			<div class='info_item help_item'>/f3: Runs User Function 3.</div>
			<div class='info_item help_item'>/lockscreen: Locks the screen.</div>
			<div class='info_item help_item'>/unlockscreen: Unlocks the screen.</div>
			<div class='info_item help_item'>/togglelockscreen: Locks or unlocks the screen.</div>
			<div class='info_item help_item'>/drawimage: Opens the window to draw an image.</div>
			<div class='info_item help_item'>/joinvoicechate: Joins the voice chat.</div>
			<div class='info_item help_item'>/leavevoicechat: Leaves the voice chat.</div>
			<div class='info_item help_item'>/say: Sends a normal chat message. Useful if you want to make a chain of commands that starts with a message.</div>
			<div class='info_item help_item'>/clearinput: Clears the text input.</div>
			<div class='info_item help_item'>/sleep x: Pauses the execution of a chain of commands. For instance: /ping && /sleep 1000 && /ping, will execute two pings 1 second apart. If no argument is provided it defaults to 1000.</div>
			<div class='info_item help_item'>/input x: Adds text to the input.</div>
			<div class='info_item help_item'>/inputend: Since everything after /input is part of it, /endinput is needed to chain more commands. For instance: /input a && b /endinput && /say hello.</div>
			<div class='info_item help_item'>/inputenter: The same as pressing Enter when there's text in the input. For instance: /input hello /endinput && /inputenter.</div>
			<div class='info_item help_item'>When anyone else is typing a chat message, the user menu icon turns into a pencil, and profile images in chat of whoever is typing will have a glow effect.</div>
			<div class='info_item help_item'>In some commands like /whisper the > character can be used to send 2 arguments. For instance, "/whisper Jack > hello my friend" will send a message to Jack directly.</div>
			<div class='info_item help_item'>Commands can be chained with &&. For instance "/tv The World && /maximizetv".</div>
			<div class='info_item help_item'>Keyboard keys F1, F2, F3, and F4, are mapped to the corresponding User Function.</div>
			<div class='spacer3'></div>
			<span class='help_link action unselectable' onclick='show_help(1)'>Basic Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action unselectable' onclick='show_help(3)'>Administration Features</span>			
		</script>

		<script id='template_help3' type='text/x-handlebars-template'>

			<div class='info_item help_item'>Most administration options are available in the main menu.</div>
			<div class='info_item help_item'>/topic x: Changes the topic of the room.</div>
			<div class='info_item help_item'>/topicadd x: Adds a section at the end of the topic.</div>
			<div class='info_item help_item'>/topictrim x: Removes a section from the end of the topic, where the optional x is the number of trims you want to do.</div>
			<div class='info_item help_item'>/topicaddstart x: Adds a section at the start of the topic.</div>
			<div class='info_item help_item'>/topictrimstart x: Removes a section from the start of the topic, where the optional x is the number of trims you want to do.</div>
			<div class='info_item help_item'>/topicedit: Puts the topic in the input, ready to be edited.</div>
			<div class='info_item help_item'>/voice1 x: Gives voice 1 to a user.</div>
			<div class='info_item help_item'>/voice2 x: Gives voice 2 to a user.</div>
			<div class='info_item help_item'>/voice3 x: Gives voice 3 to a user.</div>
			<div class='info_item help_item'>/voice4 x: Gives voice 4 to a user.</div>
			<div class='info_item help_item'>/op x: Gives op to a user. Ops can do anything an admin can do except more high level commands.</div>
			<div class='info_item help_item'>/admin x: Gives admin to a user. This gives a user the same rights as the original admin.</div>
			<div class='info_item help_item'>/resetvoices: Turns all voices above 1 to voice 1.</div>
			<div class='info_item help_item'>/removeops: Removes all op roles.</div>
			<div class='info_item help_item'>/private: Room doesn\'t appear in the public room list.</div>
			<div class='info_item help_item'>/public: Room appears in the public room list.</div>
			<div class='info_item help_item'>/enablelog: Enables logging of the room. Which allows users to see previous messages before they joined.</div>
			<div class='info_item help_item'>/disablelog: Disables logging.</div>
			<div class='info_item help_item'>/clearlog: Removes all messages from the log.</div>
			<div class='info_item help_item'>/roomname x: Chages the name of the room.</div>
			<div class='info_item help_item'>/roomnameedit x: Puts the room name in the input, ready to be edited.</div>
			<div class='info_item help_item'>/kick x: Kicks a user out of the room.</div>
			<div class='info_item help_item'>/ban x: Bans a user from the room.</div>
			<div class='info_item help_item'>/unban x: Unbans a user from the room.</div>
			<div class='info_item help_item'>/unbanall: Removes all bans.</div>
			<div class='info_item help_item'>/bannedcount: Displays the number of banned users in the room.</div>
			<div class='info_item help_item'>/broadcast: Opens a window to write a message to be sent to the entire room.</div>
			<div class='info_item help_item'>/systembroadcast: (Only for superusers) Opens a window to write a message to be sent to the entire system.</div>
			<div class='info_item help_item'>/systemrestart: (Only for superusers) Sends a signal to every connected client to restart the application.</div>
			<div class='info_item help_item'>/annex: (Only for superusers) Used to change the user's role.</div>
			<div class='info_item help_item'>Usernames have a context menu (right click) if you are an op or admin.</div>
			<div class='info_item help_item'>Check /help for information about how users interact in the room through chat, image uploads, or radio.</div>
			<div class='info_item help_item'>Currently automatic fetching of song metadata from internet radios are only supported for icecast2 servers. The metadada URL is gathered automatically. To work, the server needs to allow cross-domain requests and be HTTPS enabled if this system is being served through HTTPS.</div>
			<div class='spacer3'></div>
			<span class='help_link action unselectable' onclick='show_help(1)'>Basic Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action unselectable' onclick='show_help(2)'>Additional Features</span>		
		</script>		

		<audio id='audio' preload="metadata"></audio>

		<audio id='audio_pup' src='/static/audio/pup.mp3?version=1' preload="auto"></audio>
		<audio id='audio_pup2' src='/static/audio/pup2.mp3?version=1' preload="auto"></audio>
		<audio id='audio_join' src='/static/audio/join.mp3?version=2' preload="auto"></audio>
		<audio id='audio_highlight' src='/static/audio/highlight.mp3?version=1' preload="auto"></audio>
		<audio id='audio_voice_chat_join' src='/static/audio/voice_chat_join.mp3?version=1' preload="auto"></audio>
		<audio id='audio_voice_chat_left' src='/static/audio/voice_chat_left.mp3?version=1' preload="auto"></audio>

		<div id='youtube_player'></div>

		<form>
			<input type='file' accept="image/jpeg, image/png, image/gif" id='profile_image_picker' onchange='profile_image_selected(this)'>
		</form>

		<form>
			<input type='file' accept="image/jpeg, image/png, image/gif" id='background_image_input' class='nodisplay' onchange='background_image_selected(this)'>
		</form>

		<iframe id='soundcloud_player' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301986536'></iframe>

	</body>

</html>