<html>

	<head>

		<meta charset="utf-8">
		<meta name="description" content="Fun and powerful chat platform with dynamic images and internet radio.">

		<title><%= vars.default_title %></title>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/handlebars.js"></script>
		<script src="/js/dropzone.js"></script>
		<script src="/js/dateformat.js"></script>
		<script src="/js/perfect-scrollbar.min.js?v=3"></script>
		<script src="/js/nicescroll.min.js"></script>
		<script src="/js/tippy.all.min.js"></script>
		<script src="/js/spectrum.min.js"></script>
		<script src="/js/cropper.min.js"></script>
		<script type="text/javascript" src="/js/contextmenu/jquery.contextMenu.min.js"></script>
		<script src="https://player.twitch.tv/js/embed/v1.js"></script>
		<script src="/js/contextmenu/jquery.ui.position.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/hls.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css?v=3"/>
		<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/cropper.min.css">
		<link rel="stylesheet" href="/css/spectrum.css">
		<link rel="stylesheet" type="text/css" href="/js/contextmenu/jquery.contextMenu.min.css"> 

		<script src="/js/msg.min.js?v=12"></script>
		<script src="/js/utilz.js?ver=1"></script>
		<script src="/js/colorlib.js?v=7"></script>

		<script src="/js/base_o.js?ver=799"></script>

		<link rel="stylesheet" type="text/css" href="/css/style.css?ver=234"/>

		<script>

			<% 
				for(var key in vars)
				{
					var v = vars[key]

					%><%-key%> = <%

					if(typeof v === "string")
					{
						%>`<%-v%>`; <% 
					}

					else
					{
						%><%-v%>; <%
					}
				}


			%>

			$(function()
			{
				init()

				var script = document.createElement('script')
				script.src = "https://www.youtube.com/iframe_api"
				document.head.appendChild(script)
			})

		</script>

	</head>

	<body>

		<div id="main_container">

			<div id='background_image'></div>

			<div id="main_flex">

				<div id='header' class='unselectable bg2'>

					<div id='header_items'>

						<div id='header_items_inner'>

							<i id='main_menu' class='header_item icon fa fa-th-large nicetitle' onclick='show_main_menu()' title="Main Menu"></i>
							<span class='hspacer1'></span>|<span class='hspacer1'></span>
							<span class='header_item' id='usercount' onclick='show_userlist()'></span>

							<span id='radio'>
								
								<span class='hspacer1'></span>|<span class='hspacer1'></span>

								<span class='header_item' id='toggle_radio_state' onclick='toggle_radio_state()'>
									<i class='icon fa fa-volume-up' id='playing_icon'></i>
									<span id='toggle_now_playing_text'>Start Radio</span>
								</span>

								<span id='volume_area'>
									<span class='hspacer1'></span>|<span class='hspacer1'></span>
									<span id='volume_controls'>
										<i id='header_icon_minus' class='header_item icon fa fa-minus' onclick='volume_decrease()'></i>
										<span class='header_item' onclick='volume_decrease()'>Volume:</span>
										<span class='header_item' id='volume' onclick='volume_increase()'>100%</span>
										<i id='header_icon_plus' class='header_item icon fa fa-plus' onclick='volume_increase()'></i>
									</span>
								</span>

								<span id="now_playing_area" onclick="show_played()">
									<span class='hspacer1'></span>|<span class='hspacer1'></span> 
									<span id='now_playing_controls'>
										<span class='header_item'>Now Playing:</span>
										<span class='header_item' id='now_playing'>Loading</span>
									</span>
								</span>

							</span>

							<span id='header_topic'>
								<span class='hspacer1'></span>|<span class='hspacer1'></span>
								<span class='header_item'>Topic:</span>
								<span class='header_item' id='header_topic_text'></span>
							</span>

						</div>

					</div>

				</div>

				<div id="flex_columns">

					<div id='chat_main'>

						<div id='chat_area_parent'>
							<div id='chat_area' class='bg1'></div>
						</div>
						
						<div id='scroll_notice' class='unselectable' onclick='goto_bottom(true)'>Go To Bottom</div>
					</div>

					<div id='media' class='unselectable bg1' draggable='false'>

						<div id='media_split'>
							
							<div id='media_image_container'>
								<img id='media_image' draggable='false' onclick="show_current_image_modal()">
							</div>

							<div id='media_tv'>
							
								<div id='media_twitch_video_container'></div>

								<div id='media_youtube_video_container'>
									<div id='media_youtube_video' class='video_frame'></div>	
								</div>

								<div id='media_video_container'>
									<video id='media_video' class='video_frame' width="640px" height="360px" controls></video>
								</div>

							</div>

						</div>

					</div>

				</div>

				<div id='footer' class='bg2'>
					<div id='footer_items'>

						<span id='footer_userinfo' class='fa fa-navicon footer_icon nicetitle' onClick="show_userinfo()" title="User Menu"></span>

						<input type='text' id='input'>

						<span class='unselectable'>

							<span id='toggle_images_text' class='footer_text'>Images</span>
							<i class='fa fa-toggle-on footer_icon2 nicetitle' id='footer_toggle_images_icon' onclick='toggle_images()' title='Enable/Disable Images. Disabled means it will be invisible and inactive'></i>
							<i class='fa fa-unlock-alt footer_icon nicetitle' id='footer_lock_images_icon' onclick='toggle_lock_images()' title='Lock/Unlock Images. Locked means it will stay the same even if media is changed by a user'></i>
 
							<span class='hspacer1'></span>
 
							<span id='toggle_tv_text' class='footer_text'>TV</span>
							<i class='fa fa-toggle-on footer_icon2 nicetitle' id='footer_toggle_tv_icon' onclick='toggle_tv()' title='Enable/Disable TV. Disabled means it will be invisible and inactive'></i>
							<i class='fa fa-unlock-alt footer_icon nicetitle' id='footer_lock_tv_icon' onclick='toggle_lock_tv()' title='Lock/Unlock TV. Locked means it will stay the same even if media is changed by a user'></i>
 
							<span class='hspacer1'></span>
 
							<span id='toggle_radio_text' class='footer_text'>Radio</span>
							<i class='fa fa-toggle-on footer_icon2 nicetitle' id='footer_toggle_radio_icon' onclick='toggle_radio()' title='Enable/Disable Radio. Disabled means it will be invisible and inactive'></i>
							<i class='fa fa-unlock-alt footer_icon nicetitle' id='footer_lock_radio_icon' onclick='toggle_lock_radio()' title='Lock/Unlock Radio. Locked means it will stay the same even if media is changed by a user'></i>
 
							<span class='hspacer1'></span>

							<i class='fa fa-camera footer_icon nicetitle' id='footer_upload_icon' title='Change the Image' onclick='show_image_picker()'></i>
							<i class='fa fa-television footer_icon nicetitle' id='footer_tv_icon' onclick="show_tv_url_picker()" title='Change the TV'></i>
							<i class='fa fa-volume-up footer_icon nicetitle' id='footer_radio_icon' onclick="show_radio_url_picker()" title='Change the Radio'></i>

						</span>

					</div>
				</div>				

			</div>

			<img id='test_image'>

		</div>

		<script id='template_menu' type='text/x-handlebars-template'>
			<div id='menu' class='unselectable'>

				<div class='menu_item' onclick="request_visited_roomlist()">Visited Rooms</div>
				<div class='menu_item' onclick="request_roomlist()">Public Rooms</div>
				<div class='menu_item' onclick='show_create_room()'>Create Room</div>

				<div id='menu_smaller_container'>

					<span class='menu_item_smaller' onclick='help()'>Help</span>

					<div class='spacer2'></div>

					<div class='menu_item_smaller' onclick='copy_room_url()'>Copy Room URL</div>

					<div class='spacer2'></div>

					<span class='menu_item_smaller' onclick='chat_search()'>Search</span>

					&nbsp;|&nbsp;

					<span class='menu_item_smaller' onclick='show_status()'>Status</span>

					<div id='admin_menu'>

						<div class='spacer1'></div>						

						<div class='small_padding_bottom'>Images</div>

						<select id='admin_enable_images'>
							<option value="true">Enabled</option>
							<option value="false">Disabled</option>
						</select>

						<div class='spacer1'></div>
						
						<div class='small_padding_bottom'>TV</div>

						<select id='admin_enable_tv'>
							<option value="true">Enabled</option>
							<option value="false">Disabled</option>
						</select>

						<div class='spacer1'></div>

						<div class='small_padding_bottom'>Radio</div>

						<select id='admin_enable_radio'>
							<option value="true">Enabled</option>
							<option value="false">Disabled</option>
						</select>

						<div class='spacer1'></div>
						<div class='spacer3'></div>							

						<div class='small_padding_bottom'>Theme</div>

						<input id='admin_default_theme'>

						<div class='spacer1'></div>

						<div class='small_padding_bottom'>Background Image</div>

						<select id='admin_default_background_image_select'>
							<option value="true">Enabled</option>
							<option value="false">Disabled</option>
						</select>						

						<div class='spacer1'></div>

						<img class='small_square_image pointer' id='admin_default_background_image' onclick='open_default_background_image_picker()'>	

						<div class='spacer1'></div>
						<div class='spacer3'></div>					

						<div class='admin_v_toggle small_padding_bottom bold pointer'>+ Voice 1 Permissions</div>

						<div class='admin_v_container'>

							<div class='spacer1'></div>

							<div class='setting_title'>Can Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v1_chat_permission" data-ptype="v1_chat_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change Images</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v1_images_permission" data-ptype="v1_images_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the TV</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v1_tv_permission" data-ptype="v1_tv_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the Radio</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v1_radio_permission" data-ptype="v1_radio_permission">


						</div>
						
						<div class='spacer1'></div>
						<div class='spacer3'></div>

						<div class='admin_v_toggle small_padding_bottom bold pointer'>+ Voice 2 Permissions</div>

						<div class='admin_v_container'>						

							<div class='spacer1'></div>

							<div class='setting_title'>Can Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v2_chat_permission" data-vtype="v2" data-ptype="v2_chat_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change Images</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v2_images_permission" data-vtype="v2" data-ptype="v2_images_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the TV</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v2_tv_permission" data-vtype="v2" data-ptype="v2_tv_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the Radio</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v2_radio_permission" data-vtype="v2" data-ptype="v2_radio_permission">


						</div>
						
						<div class='spacer1'></div>
						<div class='spacer3'></div>

						<div class='admin_v_toggle small_padding_bottom bold pointer'>+ Voice 3 Permissions</div>

						<div class='admin_v_container'>

							<div class='spacer1'></div>

							<div class='setting_title'>Can Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v3_chat_permission" data-vtype="v3" data-ptype="v3_chat_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change Images</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v3_images_permission" data-vtype="v3" data-ptype="v3_images_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the TV</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v3_tv_permission" data-vtype="v3" data-ptype="v3_tv_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the Radio</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v3_radio_permission" data-vtype="v3" data-ptype="v3_radio_permission">

						</div>

						<div class='spacer1'></div>
						<div class='spacer3'></div>

						<div class='admin_v_toggle small_padding_bottom bold pointer'>+ Voice 4 Permissions</div>
						
						<div class='admin_v_container'>
						
							<div class='spacer1'></div>

							<div class='setting_title'>Can Chat</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v4_chat_permission" data-vtype="v4" data-ptype="v4_chat_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change Images</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v4_images_permission" data-vtype="v4" data-ptype="v4_images_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the TV</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v4_tv_permission" data-vtype="v4" data-ptype="v4_tv_permission">
							
							<div class='spacer1'></div>

							<div class='setting_title'>Can Change the Radio</div>
							<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_v4_radio_permission" data-vtype="v4" data-ptype="v4_radio_permission">


						</div>				
						
						<div class='spacer1'></div>
						<div class='spacer3'></div>

						<div class='small_padding_bottom'>Privacy</div>

						<select id='admin_privacy'>
							<option value="true">Public</option>
							<option value="false">Private</option>
						</select>

						<div class='spacer1'></div>

						<div class='small_padding_bottom'>Log</div>

						<select id='admin_log'>
							<option value="true">Enabled</option>
							<option value="false">Disabled</option>
						</select>						

						<div class='spacer1'></div>
						<div class='spacer3'></div>					

						<div class='smaller_font_size'>These require double click</div>

						<div class='spacer1'></div>

						<div class='pointer underlined' ondblclick='reset_voices()'>Reset Voices</div>

						<div class='spacer1'></div>

						<div class='pointer underlined' ondblclick='remove_ops()'>Remove Ops</div>
						
						<div class='spacer1'></div>

						<div class='pointer underlined' ondblclick='clear_log()'>Clear Log</div>
						
						<div class='spacer1'></div>

						<div class='pointer underlined' ondblclick='get_banned_count()'>Banned Count</div>
						
						<div class='spacer1'></div>

						<div class='pointer underlined' ondblclick='unban_all()'>Unban All</div>
						
						<div class='spacer1'></div>

						<div class='pointer underlined' ondblclick='unban_last()'>Unban Last</div>

					</div>

				</div>

			</div>
		</script>	

		<script id='template_userinfo' type='text/x-handlebars-template'>

			<div class='bigger2' id='userinfo_username'>Loading</div>

			<div class='spacer3'></div>
			
			<img id='userinfo_profile_image' class='big_profile_image' onclick='open_profile_image_picker()'>

			<div class='spacer3'></div>

			<div id='settings' class='unselectable'>

				<br>

				<div class="setting_title">Background Image</div>
				<input type="checkbox" class="setting_checkbox" id="setting_background_image">
				
				<div class='spacer1'></div>

				<div class="setting_title">Custom Scrollbars</div>
				<input type="checkbox" class="setting_checkbox" id="setting_custom_scrollbars">

				<div class='spacer1'></div>

				<div class="setting_title">Sound Notifications</div>
				<input type="checkbox" class="setting_checkbox" id="setting_sound_notifications">

				<div class='spacer1'></div>

				<div class="setting_title">Modal Color</div>

				<span class='pointer' onclick="modal_color_up()">&lt;</span>

				<select id='setting_modal_color'>
					<option value='white'>White</option>
					<option value='black'>Black</option>
					<option value='red'>Red</option>
					<option value='green'>Green</option>
					<option value='blue'>Blue</option>
					<option value='yellow'>Yellow</option>
					<option value='purple'>Purple</option>
				</select>

				<span class='pointer' onclick="modal_color_down()">&gt;</span>

				<div class='spacer1'></div>

			</div>
			
			<span class='menu_item_smaller' onclick='show_history()'>History</span>

			&nbsp;|&nbsp;

			<span class='menu_item_smaller' onclick='confirm_logout()'>Logout</span>

		</script>

		<script id='template_create_room' type='text/x-handlebars-template'>
			<div id='create_room'>

				<div class='spacer3'></div>

				<input type="text" id="create_room_name" placeholder="Name">

				<div class='unselectable'>

					<div class='spacer1'></div>	

					<select id='create_room_public'>
						<option value='true' selected>Public</option>
						<option value='false'>Private</option>
					</select>				

					<div class='spacer3'></div>
					<div class='spacer2'></div>

					<div id='create_room_done' class='menu_item'>Create</div>

				</div>

			</div>
		</script>

		<script id='template_open_room' type='text/x-handlebars-template'>

				<div id="open_buttons" class='unselectable'>

					<div id='open_room_here' class='menu_item' onclick='goto_url("{{id}}");msg_info.close()'>Open&nbsp;Here</div>

					<div id='open_room_new_tab' class='menu_item' onclick='goto_url("{{id}}", "tab");msg_info.close()'>Open&nbsp;In&nbsp;New&nbsp;Tab</div>

				</div>

		</script>

		<script id='template_status' type='text/x-handlebars-template'>
				<div>{{{info}}}</div>
		</script>

		<script id='template_userlist' type='text/x-handlebars-template'>
			<input type="text" id="userlist_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='userlist'></div>
		</script>		
		
		<script id='template_roomlist' type='text/x-handlebars-template'>
			<input type="text" id="roomlist_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>			
			<div id='roomlist'></div>
		</script>		
		
		<script id='template_played' type='text/x-handlebars-template'>
			<input type="text" id="played_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='played'></div>
		</script>	

		<script id='template_profile' type='text/x-handlebars-template'>
			<div id='show_profile_uname' class='bigger2'>Loading</div>
			<div class='spacer3'></div>
			<img id='show_profile_image' class='big_profile_image'>
		</script>

		<script id='template_image_picker' type='text/x-handlebars-template'>
			<i class='fa fa-camera'></i>
			<div class='spacer3'></div>
			Enter an image URL<br>Or upload one from your computer
			<div class='spacer3'></div>
			<input id='image_url_picker_input' class='input1'>
			<div class='spacer3'></div>
			<div id='image_file_picker' class='menu_item' onclick='close_all_modals()'>Upload Image</div>
		</script>

		<script id='template_help' type='text/x-handlebars-template'>

			<div class='info_title2'>Basic Features</div>
			<div class='info_item'>Chat by typing anything.</div>
			<div class='info_item'>All elements in the top and bottom bar are clickable.</div>
			<div class='info_item'>There are 3 main media elements that can be changed, images, tv and radio.</div>
			<div class='info_item'>The actions available to you are reflected by the icons on the bottom right, which are clickable.</div>
			<div class='info_item'>/help: Shows this message.</div>
			<div class='info_item'>/help2: Shows additional features.</div>
			<div class='info_item'>/help3: Shows administration features.</div>
			<div class='info_item'>Media change has permission settings per room. So you might not be able to do certain actions depending on what settings the ops/admins have set. If you are able to do a certain action, an icon for it will appear on the bottom right.</div>
			<div class='info_item'>There's a Windows (x64) app available for download <a class='generic' href='https://s3-us-west-1.amazonaws.com/merkoba/Hue_Win_x64_Installer.exe'>here</a>.</div>
			<div class='spacer1'></div>
			<span class='help_link' onclick='help2()'>Additional Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link' onclick='help3()'>Administration Features</span>

		</script>

		<script id='template_help2' type='text/x-handlebars-template'>

			<div class='info_title2'>Additional Features</div>
			<div class='info_item'>Escape clears the input or closes popups.</div>
			<div class='info_item'>Shift + Escape or /clear clears all messages from the chat.</div>
			<div class='info_item'>Shift + Tab cycles between room status and user info windows.</div>
			<div class='info_item'>Up and Down Arrows cycle through the input history.</div>
			<div class='info_item'>Shift + Up Arrow and Shift + Down Arrow or Page Up and Page down make the chat scroll.</div>
			<div class='info_item'>Enter without text in the input scrolls to the bottom of the chat.</div>
			<div class='info_item'>Clicking on a chat message username quotes the text.</div>
			<div class='info_item'>Tab completes usernames and commands.</div>
			<div class='info_item'>Shift + Enter toggles the radio.</div>		
			<div class='info_item'>Apart from the image upload icon, images can also be uploaded by clicking the current image or by dropping a file.</div>		
			<div class='info_item'>/image x: Sends an image to be uploaded by URL.</div>			
			<div class='info_item'>/tv x: Changes the TV using a search term or URL.</div>			
			<div class='info_item'>/radio x: Changes the radio using a search term or URL.</div>	
			<div class='info_item'>/me x: Makes a message in third person.</div>		
			<div class='info_item'>/status: Shows the room status window.</div>			
			<div class='info_item'>/userinfo: Shows the user info window.</div>
			<div class='info_item'>/role: Shows information regarding roles and permissions.</div>
			<div class='info_item'>/users: Shows the user list. Accepts a filter as an argument.</div>
			<div class='info_item'>/rooms: Shows the room list. Accepts a filter as an argument.</div>
			<div class='info_item'>/visited: Shows the visited room list. Accepts a filter as an argument.</div>
			<div class='info_item'>/played: Shows the list of songs played. Accepts a filter as an argument.</div>
			<div class='info_item'>/search: Opens the search window. Accepts a query as an argument.</div>
			<div class='info_item'>/history: Shows the input history. Accepts a filter as an argument.</div>
			<div class='info_item'>/unclear: Restores the cleared chat.</div>
			<div class='info_item'>/startradio: Starts the radio.</div>
			<div class='info_item'>/stopradio: Stops the radio.</div>
			<div class='info_item'>/volume x: Changes the volume of the radio.</div>
			<div class='info_item'>/details: Shows the account details.</div>
			<div class='info_item'>/changeusername x: Changes the account username.</div>
			<div class='info_item'>/changepassword x: Changes the account password.</div>
			<div class='info_item'>/changeemail x: Changes the account email.</div>
			<div class='info_item'>/logout: Ends the user session.</div>
			<div class='spacer1'></div>
			<span class='help_link' onclick='help()'>Basic Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link' onclick='help3()'>Administration Features</span>			
		</script>

		<script id='template_help3' type='text/x-handlebars-template'>

			<div class='info_title2'>Administration Features</div>
			<div class='info_item'>Most administration options are available in the main menu.</div>
			<div class='info_item'>/topic x: Changes the topic of the room.</div>
			<div class='info_item'>/topicadd x: Adds a section at the end of the topic.</div>
			<div class='info_item'>/topictrim x: Removes a section from the end of the topic, where the optional x is the number of trims you want to do.</div>
			<div class='info_item'>/topicaddstart x: Adds a section at the start of the topic.</div>
			<div class='info_item'>/topictrimstart x: Removes a section from the start of the topic, where the optional x is the number of trims you want to do.</div>
			<div class='info_item'>/topicedit: Puts the topic in the input, ready to be edited.</div>
			<div class='info_item'>/enableimages: Enables image support in the room.</div>
			<div class='info_item'>/disableimages: Disables image support in the room.</div>
			<div class='info_item'>/enableradio: Enables radio support in the room.</div>
			<div class='info_item'>/disableradio: Disables radio support in the room.</div>
			<div class='info_item'>/enabletv: Enables tv support in the room.</div>
			<div class='info_item'>/disabletv: Disables tv support in the room.</div>
			<div class='info_item'>/voice1 x: Gives voice 1 to a user.</div>
			<div class='info_item'>/voice2 x: Gives voice 2 to a user.</div>
			<div class='info_item'>/voice3 x: Gives voice 3 to a user.</div>
			<div class='info_item'>/voice4 x: Gives voice 4 to a user.</div>
			<div class='info_item'>/op x: Gives op to a user. Ops can do anything an admin can do except more high level commands.</div>
			<div class='info_item'>/admin x: Gives admin to a user. This gives a user the same rights as the original admin.</div>
			<div class='info_item'>/resetvoices: Turns all voices above 1 to voice 1.</div>
			<div class='info_item'>/removeops: Removes all op roles.</div>
			<div class='info_item'>/private: Room doesn\'t appear in the public room list.</div>
			<div class='info_item'>/public: Room appears in the public room list.</div>
			<div class='info_item'>/enablelog: Enables logging of the room. Which allows users to see previous messages before they joined.</div>
			<div class='info_item'>/disablelog: Disables logging.</div>
			<div class='info_item'>/clearlog: Removes all messages from the log.</div>
			<div class='info_item'>/roomname x: Chages the name of the room.</div>
			<div class='info_item'>/roomnameedit x: Puts the room name in the input, ready to be edited.</div>
			<div class='info_item'>/kick x: Kicks a user out of the room.</div>
			<div class='info_item'>/ban x: Bans a user from the room.</div>
			<div class='info_item'>/unbanlast: Unbans the latest banned user.</div>
			<div class='info_item'>/unbanall: Removes all bans.</div>
			<div class='info_item'>/bannedcount: Displays the number of banned users in the room.</div>
			<div class='info_item'>/claim: Requests administration of the room. If it hasn\'t been claimed, user gets the ownership.</div>
			<div class='info_item'>/reclaim: Reclaims the room if you\'re already an admin. Removes all given roles.</div>
			<div class='info_item'>/unclaim: Removes all ownership on the room and resets it to a default state.</div>
			<div class='info_item'>Usernames have a context menu (right click) if you are an op or admin.</div>
			<div class='info_item'>Check /help for information about how users interact in the room through chat, image uploads, or radio.</div>
			<div class='info_item'>Currently automatic fetching of song metadata from internet radios are only supported for icecast2 servers. The metadada URL is gathered automatically. To work, the server needs to allow cross-domain requests and be HTTPS enabled if this system is being served through HTTPS.</div>
			<div class='spacer1'></div>
			<span class='help_link' onclick='help()'>Basic Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link' onclick='help2()'>Additional Features</span>		
		</script>		

		<audio id='audio' autoplay></audio>

		<audio id='pup' src='/audio/pup.mp3'></audio>

		<div id='youtube_player'></div>

		<input type='file' accept="image/jpeg, image/png, image/gif" id='profile_image_picker' onchange='profile_image_selected(this)'>

		<input type='file' accept="image/jpeg, image/png, image/gif" id='default_background_image_input' class='nodisplay' onchange='default_background_image_selected(this)'>		

	</body>

</html>