<% include doctype.ejs %>

<html>

	<head>

		<% include meta.ejs %>

		<title><%= vars.default_title %></title>

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/handlebars.js"></script>
		<script src="/static/js/dropzone.js"></script>
		<script src="/static/js/dateformat.js"></script>
		<script src="/static/js/perfect-scrollbar.min.js?v=3"></script>
		<script src="/static/js/nicescroll.min.js"></script>
		<script src="/static/js/tippy.all.min.js"></script>
		<script src="/static/js/spectrum.min.js"></script>
		<script src="/static/js/cropper.min.js?v=2"></script>
		<script type="text/javascript" src="/static/js/contextmenu/jquery.contextMenu.min.js"></script>
		<script src="https://player.twitch.tv/js/embed/v1.js"></script>
		<script src="/static/js/contextmenu/jquery.ui.position.min.js"></script>
		<script src="/static/js/socket.io.js"></script>
		<script src="/static/js/hls.js"></script>
		<script src="https://w.soundcloud.com/player/api.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/perfect-scrollbar.css?v=3"/>
		<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/cropper.min.css?v=2">
		<link rel="stylesheet" href="/static/css/spectrum.css">
		<link rel="stylesheet" type="text/css" href="/static/js/contextmenu/jquery.contextMenu.min.css"> 

		<script src="/static/js/msg.min.js?v=25"></script>
		<script src="/static/js/utilz.js?ver=8"></script>
		<script src="/static/js/colorlib.js?v=10"></script>

		<script src="/static/js/base.js?ver=1200"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css?ver=330"/>

		<script>

			<% include vars.ejs %>

			$(function()
			{
				init()

				var script = document.createElement('script')
				script.src = "https://www.youtube.com/iframe_api"
				document.head.appendChild(script)
			})

		</script>

	</head>

	<body>

		<div id="loading">
			<div id="loading_spinner"></div>
		</div>

		<div id="main_container">

			<div id='background_image' class='background_image'></div>

			<div class="columns_container">

				<div id='header' class='unselectable bg2 panel'>

					<div id='header_items'>

						<div id='header_items_inner'>

							<i id='main_menu' class='header_item icon fa fa-th-large nicetitle action' onclick='show_main_menu()' title="Main Menu"></i>
							<span class='hspacer1'></span>|<span class='hspacer1'></span>
							<span class='header_item action' id='usercount' onclick='show_userlist()'></span>

							<span id='radio'>
								
								<span class='hspacer1'></span>|<span class='hspacer1'></span>

								<span class='header_item action' id='toggle_radio_state' onclick='toggle_radio_state()'>
									<i class='icon fa fa-volume-up' id='playing_icon'></i>
									<span id='toggle_now_playing_text'>Start Radio</span>
								</span>

								<span id='volume_area'>
									<span class='hspacer1'></span>|<span class='hspacer1'></span>
									<span id='volume_controls'>
										<i id='header_icon_minus' class='header_item icon fa fa-minus action' onclick='volume_decrease()'></i>
										<span class='header_item action' onclick='volume_decrease()'>Volume:</span>
										<span class='header_item action' id='volume' onclick='volume_increase()'>100%</span>
										<i id='header_icon_plus' class='header_item icon fa fa-plus action' onclick='volume_increase()'></i>
									</span>
								</span>

								<span id="now_playing_area" onclick="show_played()">
									<span class='hspacer1'></span>|<span class='hspacer1'></span> 
									<span id='now_playing_controls' class='action'>
										<span class='header_item'>Now Playing:</span>
										<span class='header_item' id='now_playing'>Loading</span>
									</span>
								</span>

							</span>

							<span id='header_topic'>
								<span class='hspacer1'></span>|<span class='hspacer1'></span>
								<span class='action'>
									<span class='header_item'>Topic:</span>
									<span class='header_item' id='header_topic_text'></span>
								</span>
							</span>

						</div>

					</div>

				</div>

				<div class='rows_container'>

					<div id='chat_main'>

						<div class='scroller_container top_scroller_container' id='top_scroller_container'>
							<div id='top_scroller' class='left_scroller scroller unselectable' onclick='goto_top()'>Go&nbsp;To&nbsp;Top</div>
							<div class='hspacer3'></div>
							<div id='up_scroller' class='right_scroller scroller unselectable' onclick='activity_above()'>Activity&nbsp;Above</div>
						</div>

						<div id='chat_area_parent'>
							<div id='chat_area' class='bg1'></div>
						</div>

						<div class='scroller_container bottom_scroller_container' id='bottom_scroller_container'>
							<div id='bottom_scroller' class='left_scroller scroller unselectable' onclick='goto_bottom(true)'>Go&nbsp;To&nbsp;Bottom</div>
							<div class='hspacer3'></div>
							<div id='down_scroller' class='right_scroller scroller unselectable' onclick='activity_below()'>Activity&nbsp;Below</div>
						</div>

					</div>

					<div id='media' class='unselectable bg1' draggable='false'>

						<div id='media_split'>
							
							<div id='media_image_container'>
								<img id='media_image' class='pointer' draggable='false' onclick="show_current_image_modal()">
								<div id='media_image_error' class='pointer' onclick="show_current_image_modal()">Image failed to load</div>
							</div>

							<div id='media_tv'>

								<div id='media_soundcloud_video_container'>
									<iframe id='media_soundcloud_video' class='video_frame' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301986536'></iframe>
								</div>
							
								<div id='media_twitch_video_container'></div>

								<div id='media_youtube_video_container'>
									<div id='media_youtube_video' class='video_frame'></div>	
								</div>

								<div id='media_video_container'>
									<video id='media_video' class='video_frame' width="640px" height="360px" preload="metadata" poster="<%-vars.default_video_url%>" controls></video>
								</div>

							</div>

						</div>

					</div>

				</div>

				<div id='footer' class='bg2 panel'>
					<div id='footer_items'>

						<span id='footer_userinfo' class='fa fa-user-circle footer_icon nicetitle action' onclick="show_userinfo()" title="User Menu"></span>

						<input type='text' id='input' size="1">

						<span class='unselectable'>

							<span id='footer_images_controls'>
								<i id='footer_images_icon' class='fa fa-camera footer_icon2 pointer nicetitle action' onclick="show_image_picker()" title="Change the Image"></i>
								<i class='fa fa-toggle-on footer_icon2 nicetitle action' id='footer_toggle_images_icon' onclick='toggle_images()' title='Show/Hide Images. Hidden means it will not be displayed or active'></i>
								<i class='fa fa-unlock-alt footer_icon nicetitle action' id='footer_lock_images_icon' onclick='toggle_lock_images()' title='Lock/Unlock Images. Locked means it will stay the same even if media is changed by a user'></i>
	 
								<span class='hspacer3'></span>
							</span>
 	
							<span id='footer_tv_controls'>
								<i id='footer_tv_icon' class='fa fa-television footer_icon2 pointer nicetitle action' onclick="show_tv_picker()" title="Change the TV"></i>
								<i class='fa fa-toggle-on footer_icon2 nicetitle action' id='footer_toggle_tv_icon' onclick='toggle_tv()' title='Show/Hide TV. Hidden means it will not be displayed or active'></i>
								<i class='fa fa-unlock-alt footer_icon nicetitle action' id='footer_lock_tv_icon' onclick='toggle_lock_tv()' title='Lock/Unlock TV. Locked means it will stay the same even if media is changed by a user'></i>
	 
								<span class='hspacer3'></span>
 							</span>

							<span id='footer_radio_controls'>
								<i id='footer_radio_icon' class='fa fa-volume-up footer_icon2 pointer nicetitle action' onclick="show_radio_picker()" title="Change the Radio"></i>
								<i class='fa fa-toggle-on footer_icon2 nicetitle action' id='footer_toggle_radio_icon' onclick='toggle_radio()' title='Show/Hide Radio. Hidden means it will not be displayed or active'></i>
								<i class='fa fa-unlock-alt footer_icon nicetitle action' id='footer_lock_radio_icon' onclick='toggle_lock_radio()' title='Lock/Unlock Radio. Locked means it will stay the same even if media is changed by a user'></i>
	 
								<span class='hspacer3'></span>
							</span>

							<i id='footer_media_menu' class='fa fa-bars footer_icon nicetitle action' id='footer_lock_images_icon' onclick='show_media_menu()' title='Media Menu'></i>
						</span>

					</div>
				</div>

			</div>

			<img id='test_image'>

		</div>

		<script id='template_menu' type='text/x-handlebars-template'>
			<div id='menu' class='unselectable'>

				<div class='menu_item action inline' onclick="request_roomlist('', 'visited_roomlist')">Visited Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="request_roomlist('', 'public_roomlist')">Public Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="show_goto_room()">Go To Room</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_create_room()'>Create Room</div>

				<div id='menu_smaller_container'>

					<span class='menu_item_smaller action' onclick='help()'>Help</span>

					<div class='spacer2'></div>

					<div class='menu_item_smaller action' onclick='copy_room_url()'>Copy Room URL</div>

					<div class='spacer2'></div>

					<span class='menu_item_smaller action' onclick='show_chat_search()'>Search</span>

					&nbsp;|&nbsp;

					<span class='menu_item_smaller action' onclick='show_status()'>Status</span>

				</div>

				<div id='admin_menu'>

					<div class='spacer3'></div>
					<div class='spacer2'></div>

					<div class='small_padding_bottom'>Images</div>

					<select id='admin_enable_images' class='modal_select'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>

					<div class='spacer1'></div>
					
					<div class='small_padding_bottom'>TV</div>

					<select id='admin_enable_tv' class='modal_select'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Radio</div>

					<select id='admin_enable_radio' class='modal_select'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>

					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='small_padding_bottom'>Theme</div>

					<input id='admin_theme'>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Background Mode</div>

					<select class='modal_select' id='admin_background_mode_select'>
						<option value="normal">Normal</option>
						<option value="tiled">Tiled</option>
						<option value="mirror">Mirror</option>
						<option value="solid">Solid</option>
					</select>
					

					<div id='admin_background_tile_dimensions_container'>
						
						<div class='spacer1'></div>

						<div class='small_padding_bottom'>Tile Dimensions</div>

						<input type='text' class='setting_input_text_small' id='admin_background_tile_dimensions' title='CSS background-size property (width and height). For example 200px 200px, 100px auto, auto 100px, or 100px 200px'>		

					</div>

					<div id='admin_background_image_container'>
						<div class='spacer1'></div>
						<img class='small_square_image pointer' id='admin_background_image' onclick='open_background_image_picker()'>
					</div>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Text Color Mode</div>

					<select class='modal_select' id='admin_text_color_mode_select'>
						<option value="automatic">Automatic</option>
						<option value="custom">Custom</option>
					</select>

					<div id='admin_text_color_container'>
						<div class='spacer1'></div>
						<div class='small_padding_bottom'>Text Color</div>
						<input id='admin_text_color'>
					</div>

					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='toggler menu_toggle small_padding_bottom bold pointer action inline'>+ Voice 1 Permissions</div>

					<div class='toggler_container menu_toggle_container'>

						<div class='spacer3'></div>

						<div class='setting_title'>Can Chat</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_chat_permission" data-ptype="voice1_chat_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change Images</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_images_permission" data-ptype="voice1_images_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the TV</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_tv_permission" data-ptype="voice1_tv_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the Radio</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice1_radio_permission" data-ptype="voice1_radio_permission">

						<div class='spacer3'></div>

					</div>
					
					<div class='spacer1'></div>

					<div class='toggler menu_toggle small_padding_bottom bold pointer action inline'>+ Voice 2 Permissions</div>

					<div class='toggler_container menu_toggle_container'>

						<div class='spacer3'></div>

						<div class='setting_title'>Can Chat</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_chat_permission" data-vtype="v2" data-ptype="voice2_chat_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change Images</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_images_permission" data-vtype="v2" data-ptype="voice2_images_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the TV</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_tv_permission" data-vtype="v2" data-ptype="voice2_tv_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the Radio</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice2_radio_permission" data-vtype="v2" data-ptype="voice2_radio_permission">

						<div class='spacer3'></div>

					</div>
					
					<div class='spacer1'></div>

					<div class='toggler menu_toggle small_padding_bottom bold pointer action inline'>+ Voice 3 Permissions</div>

					<div class='toggler_container menu_toggle_container'>

						<div class='spacer3'></div>

						<div class='setting_title'>Can Chat</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_chat_permission" data-vtype="v3" data-ptype="voice3_chat_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change Images</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_images_permission" data-vtype="v3" data-ptype="voice3_images_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the TV</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_tv_permission" data-vtype="v3" data-ptype="voice3_tv_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the Radio</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice3_radio_permission" data-vtype="v3" data-ptype="voice3_radio_permission">

						<div class='spacer3'></div>

					</div>

					<div class='spacer1'></div>

					<div class='toggler menu_toggle small_padding_bottom bold pointer action inline'>+ Voice 4 Permissions</div>
					
					<div class='toggler_container menu_toggle_container'>
					
						<div class='spacer3'></div>

						<div class='setting_title'>Can Chat</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_chat_permission" data-vtype="v4" data-ptype="voice4_chat_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change Images</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_images_permission" data-vtype="v4" data-ptype="voice4_images_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the TV</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_tv_permission" data-vtype="v4" data-ptype="voice4_tv_permission">
						
						<div class='spacer1'></div>

						<div class='setting_title'>Can Change the Radio</div>
						<input type="checkbox" class="admin_voice_permissions_checkbox" id="admin_voice4_radio_permission" data-vtype="v4" data-ptype="voice4_radio_permission">

					</div>
					
					<div class='spacer1'></div>
					<div class='spacer2'></div>

					<div class='small_padding_bottom'>Privacy</div>

					<select id='admin_privacy' class='modal_select'>
						<option value="true">Public</option>
						<option value="false">Private</option>
					</select>

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Log</div>

					<select id='admin_log' class='modal_select'>
						<option value="true">Enabled</option>
						<option value="false">Disabled</option>
					</select>						

					<div class='spacer1'></div>
					<div class='spacer3'></div>
					
					<div class='small_padding_bottom'>Room Name</div>

					<input type="text" class="setting_input_text" id="admin_room_name">

					<div class='spacer1'></div>

					<div class='small_padding_bottom'>Topic</div>

					<textarea class='setting_textarea' rows=4 id="admin_topic"></textarea>

					<div class='spacer1'></div>
					<div class='spacer3'></div>

					<div class='toggler menu_toggle small_padding_bottom bold pointer action inline'>+ Actions</div>

					<div class='toggler_container menu_toggle_container'>

						<div class='spacer3'></div>

						<div class='pointer underlined action inline' onclick='needs_confirm("reset_voices")'>Reset Voices</div>

						<div class='spacer1'></div>

						<div class='pointer underlined action inline' onclick='needs_confirm("remove_ops")'>Remove Ops</div>
						
						<div class='spacer1'></div>

						<div class='pointer underlined action inline' onclick='needs_confirm("clear_log")'>Clear Log</div>
						
						<div class='spacer1'></div>

						<div class='pointer underlined action inline' onclick='get_banned_count()'>Banned Count</div>
						
						<div class='spacer1'></div>

						<div class='pointer underlined action inline' onclick='needs_confirm("unban_all")'>Unban All</div>

					</div>

					<div class='spacer3'></div>

				</div>
			</div>
		</script>	

		<script id='template_userinfo' type='text/x-handlebars-template'>

			<div class='unselectable'>

				<div class='bigger2' id='userinfo_username'>Loading</div>

				<div class='spacer3'></div>
				
				<div class='big_profile_image_container'>
					<img id='userinfo_profile_image' class='big_profile_image pointer unselectable' onclick='open_profile_image_picker()'>
				</div>

				<div class='spacer1'></div>

				<div class='menu_item_smaller action' onclick='show_details()'>Details</div>

				&nbsp;|&nbsp;

				<div class='menu_item_smaller action' onclick='needs_confirm("logout")'>Logout</div>

				<div class='spacer2'></div>

				<div class='menu_item_smaller action' onclick='show_highlights()'>Highlights</div>

				&nbsp;|&nbsp;

				<div class='menu_item_smaller action' onclick='show_input_history()'>History</div>

				<div class='spacer3'></div>
				<div class='spacer3'></div>

				<div class="action inline pointer" onclick="show_global_settings()">
					Global&nbsp;Settings<div class='inline' id='userinfo_global_settings_status'></div>
				</div>
				<div class='spacer3'></div>
				<div class="action inline pointer" onclick="show_room_settings()">
					Room&nbsp;Settings<div class='inline' id='userinfo_room_settings_status'></div>
				</div>

				<div class='spacer3'></div>
				<div class='spacer3'></div>

				<div class='toggler userinfo_toggle small_padding_bottom bold pointer action inline'>+ More</div>

				<div class='toggler_container userinfo_toggle_container'>

					<div class='spacer3'></div>

					<div class='pointer inline action' onclick='show_import_settings()'>Import Settings</div>				
					
					<div class='spacer3'></div>

					<div class='pointer inline action' onclick='show_export_settings()'>Export Settings</div>

				</div>	
				
				<div class='spacer2'></div>

			</div>

		</script>

		<script id='template_settings' type='text/x-handlebars-template'>
			<input type="text" id="{{type}}_filter" class="filter_input" placeholder="Filter">
			
			<div class='spacer3'></div>	

			<div class='settings_item' data-setting='beep_on_messages' data-type='checkbox'>
				<div class="setting_title">Beep On Messages</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_messages">
			</div>

			<div class='settings_item' data-setting='beep_on_highlights' data-type='checkbox'>
				<div class="setting_title">Beep On Highlights</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_highlights">
			</div>

			<div class='settings_item' data-setting='beep_on_media_change' data-type='checkbox'>
				<div class="setting_title">Beep On Media Change</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_media_change">
			</div>

			<div class='settings_item' data-setting='beep_on_user_joins' data-type='checkbox'>
				<div class="setting_title">Beep On User Joins</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_user_joins">
			</div>

			<div class='settings_item' data-setting='background_image' data-type='checkbox'>
				<div class="setting_title">Background Image</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_background_image">
			</div>

			<div class='settings_item' data-setting='custom_scrollbars' data-type='checkbox'>
				<div class="setting_title">Custom Scrollbars</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_custom_scrollbars">
			</div>

			<div class='settings_item' data-setting='modal_effects' data-type='checkbox'>
				<div class="setting_title">Modal Effects</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_modal_effects">
			</div>

			<div class='settings_item' data-setting='show_joins' data-type='checkbox'>
				<div class="setting_title">Show User Joins</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_show_joins">
			</div>

			<div class='settings_item' data-setting='show_parts' data-type='checkbox'>
				<div class="setting_title">Show User Parts</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_show_parts">
			</div>

			<div class='settings_item' data-setting='animate_scroll' data-type='checkbox'>
				<div class="setting_title">Animate Scroll</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_animate_scroll">
			</div>

			<div class='settings_item' data-setting='new_messages_separator' data-type='checkbox'>
				<div class="setting_title">New Messages Separator</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_new_messages_separator">
			</div>

			<div class='settings_item' data-setting='open_popup_messages' data-type='checkbox'>
				<div class="setting_title2">Open Popup Messages</div>
				<div class="setting_title">Automatically</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_open_popup_messages">
			</div>

			<div class='settings_item' data-setting='highlight_current_username' data-type='checkbox'>
				<div class="setting_title">Highlight Username</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_highlight_current_username">
			</div>

			<div class='settings_item' data-setting='case_insensitive_highlights' data-type='checkbox'>
				<div class="setting_title2">Case Insensitive</div>
				<div class="setting_title">Highlights</div>
				<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_case_insensitive_highlights">
			</div>

			<div class='settings_item' data-setting='other_words_to_highlight' data-type='textarea'>
				<div class="{{type}}_toggle toggler action pointer bold inline">+ Words To Highlight</div>
				<div class='{{type}}_toggle_container toggler_container'>
					<div class="setting_title">(Each on a different line)</div>
					<div class='spacer2'></div>
					<textarea rows=4 class="{{type}}_settings_item_control setting_textarea" id="{{type}}_other_words_to_highlight"></textarea>
				</div>
			</div>

			<div class='settings_item' data-setting='ignored_usernames' data-type='textarea'>
				<div class="{{type}}_toggle toggler action pointer bold inline">+ Usernames To Ignore</div>
				<div class='{{type}}_toggle_container toggler_container'>
					<div class="setting_title">(Each on a different line)</div>				
					<div class='spacer2'></div>
					<textarea rows=4 class="{{type}}_settings_item_control setting_textarea" id="{{type}}_ignored_usernames"></textarea>
				</div>
			</div>

			<div class='settings_item' data-setting='double_tap' data-type='textarea'>
				<div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_key"></span>&nbsp;Tap</div>
				<div class='{{type}}_toggle_container toggler_container'>
					<div class="setting_title">(Each on a different line)</div>
					<div class='spacer2'></div>
					<textarea rows=4 class="{{type}}_settings_item_control setting_textarea" id="{{type}}_double_tap"></textarea>
				</div>
			</div>

			<div class='settings_item' data-setting='double_tap_2' data-type='textarea'>
				<div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_2_key"></span>&nbsp;Tap</div>
				<div class='{{type}}_toggle_container toggler_container'>
					<div class="setting_title">(Each on a different line)</div>
					<div class='spacer2'></div>
					<textarea rows=4 class="{{type}}_settings_item_control setting_textarea" id="{{type}}_double_tap_2"></textarea>
				</div>
			</div>

			<div class='settings_item' data-setting='double_tap_3' data-type='textarea'>
				<div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_3_key"></span>&nbsp;Tap</div>
				<div class='{{type}}_toggle_container toggler_container'>
					<div class="setting_title">(Each on a different line)</div>
					<div class='spacer2'></div>
					<textarea rows=4 class="{{type}}_settings_item_control setting_textarea" id="{{type}}_double_tap_3"></textarea>
				</div>
			</div>

			<div class='settings_item' data-setting='at_startup' data-type='textarea'>
				<div class="{{type}}_toggle toggler action pointer bold inline">+ At Startup</div>
				<div class='{{type}}_toggle_container toggler_container'>
					<div class="setting_title">(Each on a different line)</div>				
					<div class='spacer2'></div>
					<textarea rows=4 class="{{type}}_settings_item_control setting_textarea" id="{{type}}_at_startup"></textarea>
				</div>
			</div>

			<div class='settings_item' data-setting='afk_delay' data-type='select'>
				<div class="setting_title">Go AFK</div>
				<select class="{{type}}_settings_item_control modal_select" id="{{type}}_afk_delay">
					<option value='0'>Instantly</option>
					<option value='60000'>After 1 Minute</option>
					<option value='120000'>After 2 Minutes</option>
					<option value='300000'>After 5 Minutes</option>
					<option value='600000'>After 10 Minutes</option>
					<option value='1200000'>After 20 Minutes</option>
					<option value='1800000'>After 30 Minutes</option>
					<option value='3600000'>After 1 Hour</option>
					<option value='never'>Never</option>
				</select>
			</div>

			<div class="{{type}}_toggle toggler action pointer bold inline spacer4">+ On AFK Actions</div>
			<div class='{{type}}_toggle_container toggler_container'>
				<div class='settings_item' data-setting='afk_disable_messages_beep' data-type='checkbox'>
					<div class="setting_title2">On AFK</div>
					<div class="setting_title">Disable Messages Beep</div>
					<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_messages_beep">
				</div>

				<div class='settings_item' data-setting='afk_disable_highlights_beep' data-type='checkbox'>
					<div class="setting_title2">On AFK</div>
					<div class="setting_title">Disable Highlights Beep</div>
					<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_highlights_beep">
				</div>

				<div class='settings_item' data-setting='afk_disable_media_change_beep' data-type='checkbox'>
					<div class="setting_title2">On AFK</div>
					<div class="setting_title">Disable Media Change Beep</div>
					<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_media_change_beep">
				</div>

				<div class='settings_item' data-setting='afk_disable_joins_beep' data-type='checkbox'>
					<div class="setting_title2">On AFK</div>
					<div class="setting_title">Disable Joins Beep</div>
					<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_joins_beep">
				</div>

				<div class='settings_item' data-setting='afk_disable_image_change' data-type='checkbox'>
					<div class="setting_title2">On AFK</div>
					<div class="setting_title">Disable Image Change</div>
					<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_image_change">
				</div>

				<div class='settings_item' data-setting='afk_disable_tv_change' data-type='checkbox'>
					<div class="setting_title2">On AFK</div>
					<div class="setting_title">Disable TV Change</div>
					<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_tv_change">
				</div>

				<div class='settings_item' data-setting='afk_disable_radio_change' data-type='checkbox'>
					<div class="setting_title2">On AFK</div>
					<div class="setting_title">Disable Radio Change</div>
					<input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_afk_disable_radio_change">
				</div>
			</div>		

			<div class='spacer3'></div>

			<div class='menu_item_smaller action' onclick='confirm_reset_settings("{{type}}")'>Reset Settings To Default</div>		

		</script>

		<script id='template_global_settings' type='text/x-handlebars-template'>
			<div class='spacer2'></div>
			<div id='global_settings_container' class='unselectable'>
				{{{settings}}}
			</div>
		</script>

		<script id='template_room_settings' type='text/x-handlebars-template'>
			<div class='spacer2'></div>
			<div id='room_settings_container' class='unselectable'>
				{{{settings}}}
			</div>
		</script>		

		<script id='template_create_room' type='text/x-handlebars-template'>
			<div id='create_room'>

				<div class='spacer3'></div>

				<input type="text" id="create_room_name" placeholder="Name">

				<div class='unselectable'>

					<div class='spacer1'></div>	

					<select id='create_room_public' class='modal_select'>
						<option value='true' selected>Public</option>
						<option value='false'>Private</option>
					</select>				

					<div class='spacer3'></div>
					<div class='spacer2'></div>

					<div id='create_room_done' class='menu_item action inline'>Create</div>

				</div>

			</div>
		</script>

		<script id='template_open_room' type='text/x-handlebars-template'>
				<div id="open_buttons" class='unselectable'>

					<div id='open_room_here' class='bigger action inline pointer' onclick='goto_url("{{id}}");msg_info2.close()'>
						Open&nbsp;Here
					</div>

					<div class='spacer3'></div>

					<div id='open_room_new_tab' class='bigger action inline pointer' onclick='goto_url("{{id}}", "tab");msg_info2.close()'>
						Open&nbsp;In&nbsp;New&nbsp;Tab
					</div>

				</div>
		</script>

		<script id='template_status' type='text/x-handlebars-template'>
				<div class='container_22'>{{{info}}}</div>
		</script>

		<script id='template_userlist' type='text/x-handlebars-template'>
			<input type="text" id="userlist_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='userlist'></div>
		</script>
		
		<script id='template_roomlist' type='text/x-handlebars-template'>
			<input type="text" id="{{type}}_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>	
			<div id='{{type}}_container'></div>
		</script>		
		
		<script id='template_played' type='text/x-handlebars-template'>
			<input type="text" id="played_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='played'></div>
		</script>

		<script id='template_highlights' type='text/x-handlebars-template'>
			<input type="text" id="highlights_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='highlights_container'></div>
		</script>

		<script id='template_input_history' type='text/x-handlebars-template'>
			<input type="text" id="input_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='input_history_container'></div>
		</script>	

		<script id='template_chat_search' type='text/x-handlebars-template'>
			<input type="text" id="chat_search_filter" class="filter_input" placeholder="Query">
			<div class='spacer3'></div>
			<div id='chat_search_container'>Search for chat messages</div>
		</script>

		<script id='template_profile' type='text/x-handlebars-template'>
			<div id='show_profile_uname' class='bigger2'>Loading</div>
			<div class='spacer3'></div>
			<div class="bigger_profile_image_container">
				<img id='show_profile_image' class='bigger_profile_image unselectable' src="{{profile_image}}">
			</div>
			<div id='show_profile_buttons'>
				<div class='spacer4'></div>
				<span class='menu_item unselectable show_profile_button action' id='show_profile_whisper' onclick='write_popup_message($("#show_profile_uname").text())'>Send Whisper</span>
			</div>
		</script>

		<script id='template_image_picker' type='text/x-handlebars-template'>
			<i class='fa fa-camera'></i>
			<div class='spacer3'></div>
			Enter an image URL<br>Or upload one from your computer
			<div class='spacer3'></div>
			<input id='image_source_picker_input' class='input1'>
			<div class='spacer3'></div>
			<div id='image_file_picker' class='menu_item action inline unselectable' onclick='msg_image_picker.close()'>Upload</div>
		</script>

		<script id='template_tv_picker' type='text/x-handlebars-template'>
			<i class='fa fa-television'></i>
			<div class='spacer3'></div>
			Enter a YouTube search term or URL<br>Or a Twitch channel/video URL<br>Or a video file/stream URL
			<div class='spacer3'></div>
			<input id='tv_source_picker_input' class='input1'>
			<div class='spacer3'></div>
			<div class='menu_item action inline unselectable' onclick='needs_confirm("restart_tv")'>Restart</div>
		</script>

		<script id='template_radio_picker' type='text/x-handlebars-template'>
			<i class='fa fa-volume-up'></i>
			<div class='spacer3'></div>
			Enter a YouTube search term or URL<br>Or an audio file/stream URL
			<div class='spacer3'></div>
			<input id='radio_source_picker_input' class='input1'>
			<div class='spacer3'></div>
			<div class='menu_item action inline unselectable' onclick='needs_confirm("restart_radio")'>Restart</div>
		</script>

		<script id='template_image_history' type='text/x-handlebars-template'>
			<input type="text" id="image_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='image_history_container' class='media_history_container'></div>
		</script>

		<script id='template_tv_history' type='text/x-handlebars-template'>
			<input type="text" id="tv_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='tv_history_container' class='media_history_container'></div>
		</script>

		<script id='template_radio_history' type='text/x-handlebars-template'>
			<input type="text" id="radio_history_filter" class="filter_input" placeholder="Filter">
			<div class='spacer3'></div>
			<div id='radio_history_container' class='media_history_container'></div>
		</script>

		<script id='template_image' type='text/x-handlebars-template'>

			<div id='modal_image_background_image' class='background_image'></div>
			
			<div class='columns_container'>

				<div id='modal_image_header' class='panel unselectable bg2'>
					<div id='modal_image_header_prev' class='modal_image_header_button action'>&lt; Prev</div>
					<div id='modal_image_header_info_container'>
						<div id='modal_image_header_info' class='action pointer'></div>
					</div>
					<div id='modal_image_header_next' class='modal_image_header_button action'>Next &gt;</div>
				</div>

				<div id='modal_image_container' class='bg1 unselectable'>
					<div id="modal_image_spinner" class='spinner1'></div>
					<img id="modal_image">
					<div id="modal_image_error">Image not available</div>
				</div>

			</div>

		</script>		

		<script id='template_media_menu' type='text/x-handlebars-template'>
			<div class='unselectable'>

				<div class='menu_item action inline' onclick='stop_and_lock(); hide_media_menu()'>Stop And Lock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='stop_and_lock(false); hide_media_menu()'>Lock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='default_media_state(false); hide_media_menu()'>Unlock Everything</div>
				<div></div>
				<div class='menu_item action inline' onclick='default_media_state(); hide_media_menu()'>Default State</div>
				<div class='spacer3'></div>
				<div class='menu_item action inline' onclick='show_image_history()'>Image History</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_tv_history()'>TV History</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_radio_history()'>Radio History</div>
				<div class='spacer3'></div>
				<div class='menu_item action inline' onclick='refresh_image(); hide_media_menu()'>Refresh Image</div>
				<div></div>
				<div class='menu_item action inline' onclick='refresh_tv(); hide_media_menu()'>Refresh TV</div>
				<div></div>
				<div class='menu_item action inline' onclick='refresh_radio(); hide_media_menu()'>Refresh Radio</div>
				
			</div>
		</script>	

		<script id='template_locked_menu' type='text/x-handlebars-template'>
			<div id='locked_menu' class='unselectable'>
				<div>You are banned from this room</div>
				<div class='spacer3'></div>
				<div class='menu_item action inline' onclick="request_roomlist('', 'visited_roomlist')">Visited Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="request_roomlist('', 'public_roomlist')">Public Rooms</div>
				<div></div>
				<div class='menu_item action inline' onclick="show_goto_room()">Go To Room</div>
				<div></div>
				<div class='menu_item action inline' onclick='show_create_room()'>Create Room</div>
				<div class='spacer3'></div>
				<div class='menu_item_smaller action' onclick='needs_confirm("logout")'>Logout</div>
			</div>
		</script>		

		<script id='template_message' type='text/x-handlebars-template'>
			<div id='write_message_feedback'></div>
			<textarea rows="3" id='write_message_area'></textarea>
			<div class='spacer3'></div>
			<div class='bigger pointer unselectable action inline' onclick='send_popup_message()'>Send</div>
		</script>

		<script id='template_help' type='text/x-handlebars-template'>

			<div class='info_item'>Chat by typing anything.</div>
			<div class='info_item'>All elements in the top and bottom bar are clickable.</div>
			<div class='info_item'>There are 3 main media elements that can be changed, images, tv and radio.</div>
			<div class='info_item'>Media change has permission settings per room. So you might not be able to do certain actions depending on what settings the ops/admins have set.</div>
			<div class='spacer1'></div>
			<span class='help_link action unselectable' onclick='help2()'>Additional Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action unselectable' onclick='help3()'>Administration Features</span>

		</script>

		<script id='template_help2' type='text/x-handlebars-template'>

			<div class='info_item'>Escape clears the input or closes modals.</div>
			<div class='info_item'>Shift + Escape closes all modals and popups.</div>
			<div class='info_item'>Shift + Tab cycles between room status and user info windows.</div>
			<div class='info_item'>Up and Down Arrows cycle through the input history.</div>
			<div class='info_item'>Shift + Up Arrow and Shift + Down Arrow or Page Up and Page down make the chat scroll.</div>
			<div class='info_item'>Control + Up Arrow and Control + Down Arrow go to Activity Above and Activity Below.</div>
			<div class='info_item'>Enter without text in the input scrolls to the bottom of the chat.</div>
			<div class='info_item'>Clicking on a chat message username quotes the text.</div>
			<div class='info_item'>Tab completes usernames and commands.</div>
			<div class='info_item'>Shift + Enter toggles the radio.</div>		
			<div class='info_item'>Apart from the image upload icon, images can also be uploaded by clicking the current image or by dropping a file.</div>		
			<div class='info_item'>/image x: Sends an image to be uploaded by URL. "/image default" sets the image to the site's default image.</div>			
			<div class='info_item'>/tv x: Changes the TV using a search term or URL. "/tv restart" restarts the current video for all users, in case it gets stuck. To link a Youtube playlist the URL must be a pure playlist URL without a video ID. "/tv default" sets the tv to the site's default tv.</div>			
			<div class='info_item'>/radio x: Changes the radio using a search term or URL. "/radio restart" restarts the current radio for all users, in case it gets stuck. "/radio default" sets the radio to the site's default radio.</div>	
			<div class='info_item'>/me x: Makes a message in third person.</div>		
			<div class='info_item'>/whisper x: Opens a window to write a whisper to x user.</div>		
			<div class='info_item'>/whisperops: Opens a window to write a whisper to ops and admins.</div>
			<div class='info_item'>/status: Shows the room status window.</div>			
			<div class='info_item'>/role: Shows your role and permissions.</div>
			<div class='info_item'>/users: Shows the user list. Accepts a filter as an argument.</div>
			<div class='info_item'>/publicrooms: Shows the public room list. Accepts a filter as an argument.</div>
			<div class='info_item'>/visitedrooms: Shows the visited room list. Accepts a filter as an argument.</div>
			<div class='info_item'>/played: Shows the list of songs played. Accepts a filter as an argument.</div>
			<div class='info_item'>/search: Opens the search window. Accepts a query as an argument.</div>
			<div class='info_item'>/history: Shows the input history. Accepts a filter as an argument.</div>
			<div class='info_item'>/highlights: Shows chat messages where you were highlighted. Accepts a filter as an argument.</div>
			<div class='info_item'>/unclear: Restores the cleared chat.</div>
			<div class='info_item'>/startradio: Starts the radio.</div>
			<div class='info_item'>/stopradio: Stops the radio.</div>
			<div class='info_item'>/volume x: Changes the volume of the radio.</div>
			<div class='info_item'>/details: Shows the account details.</div>
			<div class='info_item'>/changeusername x: Changes the account username.</div>			
			<div class='info_item'>/changepassword x: Changes the account password.</div>
			<div class='info_item'>/changeemail x: Changes the account email.</div>
			<div class='info_item'>/disconnectothers: Disconnects other connected account clients.</div>
			<div class='info_item'>/logout: Ends the user session.</div>
			<div class='info_item'>/shrug: Shows the shrug ascii.</div>
			<div class='info_item'>/afk: Shows that the user went AFK.</div>
			<div class='info_item'>/lock: Locks all media.</div>
			<div class='info_item'>/stopandlock: Stops and locks all media.</div>
			<div class='info_item'>/unlock: Unlocks all media.</div>
			<div class='info_item'>/default: Makes media into the default state, everything unlocked and visible.</div>
			<div class='info_item'>/menu: Shows the main menu.</div>
			<div class='info_item'>/user: Shows the user menu.</div>
			<div class='info_item'>/media: Shows the media menu.</div>
			<div class='info_item'>/imagehistory: Shows the image history. Accepts a filter as an argument.</div>
			<div class='info_item'>/tvhistory: Shows the tv history. Accepts a filter as an argument.</div>
			<div class='info_item'>/radiohistory: Shows the radio history. Accepts a filter as an argument.</div>
			<div class='info_item'>/showimages: Makes images visible and active.</div>
			<div class='info_item'>/showtv: Makes the tv visible and active.</div>
			<div class='info_item'>/showradio: Makes the radio images visible and active.</div>
			<div class='info_item'>/hideimages: Makes images invisible and inactive.</div>
			<div class='info_item'>/hidetv: Makes the tv invisible and inactive.</div>
			<div class='info_item'>/hideradio: Makes the radio images invisible and inactive.</div>
			<div class='info_item'>/toggleimages: Toggles between show and hide images.</div>
			<div class='info_item'>/toggletv: Toggles between show and hide the tv.</div>
			<div class='info_item'>/toggleradio: Toggles between show and hide the radio.</div>
			<div class='info_item'>/lockimages: Locks images.</div>
			<div class='info_item'>/locktv: Locks the tv.</div>
			<div class='info_item'>/lockradio: Locks the radio.</div>
			<div class='info_item'>/unlockimages: Unlocks images.</div>
			<div class='info_item'>/unlocktv: Unlocks the tv.</div>
			<div class='info_item'>/unlockradio: Unlocks the radio.</div>
			<div class='info_item'>/togglelockimages: Toggles between lock and unlock images.</div>
			<div class='info_item'>/togglelocktv: Toggles between lock and unlock the tv.</div>
			<div class='info_item'>/togglelockradio: Toggles between lock and unlock the radio.</div>
			<div class='info_item'>/maximizeimages: Maximize/Restore images.</div>
			<div class='info_item'>/maximizetv: Maximize/Restore the tv.</div>
			<div class='info_item'>/starttv: Starts the tv.</div>
			<div class='info_item'>/stoptv: Stops the tv.</div>
			<div class='info_item'>/openimage: Opens the image modal with the current image.</div>
			<div class='info_item'>/openlastimage: Opens the image modal with the latest announced image.</div>
			<div class='info_item'>/date: Shows current date.</div>
			<div class='info_item'>/verifyemail x: Used to verify an email email with a received code.</div>
			<div class='info_item'>/js x: Executes a javascript operation.</div>
			<div class='info_item'>/js2 x: Executes a javascript operation without showing the result.</div>
			<div class='info_item'>/changeimage: Opens window to change the image.</div>
			<div class='info_item'>/changetv: Opens the window to change the tv.</div>
			<div class='info_item'>/changeradio: Opens the window to change the radio.</div>
			<div class='info_item'>/closeall: Closes all the modal windows and popups.</div>
			<div class='info_item'>/closeallmodals: Closes all the modal windows.</div>
			<div class='info_item'>/closeallpopups: Closes all the popups.</div>
			<div class='info_item'>/activityabove: Scrolls chat to activity pertaining you above.</div>
			<div class='info_item'>/activitybelow: Scrolls chat to activity pertaining you below.</div>
			<div class='info_item'>/globalsettings: Shows the global settings window. Accepts a filter as an argument.</div>
			<div class='info_item'>/roomsettings: Shows the room settings window. Accepts a filter as an argument.</div>
			<div class='info_item'>/goto: Goes to room ID or URL.</div>
			<div class='info_item'>/changeinput: Sets the text input to the specified argument.</div>
			<div class='info_item'>When anyone else is typing a chat message, the user menu icon turns into a pencil.</div>
			<div class='spacer1'></div>
			<span class='help_link action unselectable' onclick='help()'>Basic Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action unselectable' onclick='help3()'>Administration Features</span>			
		</script>

		<script id='template_help3' type='text/x-handlebars-template'>

			<div class='info_item'>Most administration options are available in the main menu.</div>
			<div class='info_item'>/topic x: Changes the topic of the room.</div>
			<div class='info_item'>/topicadd x: Adds a section at the end of the topic.</div>
			<div class='info_item'>/topictrim x: Removes a section from the end of the topic, where the optional x is the number of trims you want to do.</div>
			<div class='info_item'>/topicaddstart x: Adds a section at the start of the topic.</div>
			<div class='info_item'>/topictrimstart x: Removes a section from the start of the topic, where the optional x is the number of trims you want to do.</div>
			<div class='info_item'>/topicedit: Puts the topic in the input, ready to be edited.</div>
			<div class='info_item'>/enableimages: Enables image support in the room.</div>
			<div class='info_item'>/disableimages: Disables image support in the room.</div>
			<div class='info_item'>/enableradio: Enables radio support in the room.</div>
			<div class='info_item'>/disableradio: Disables radio support in the room.</div>
			<div class='info_item'>/enabletv: Enables tv support in the room.</div>
			<div class='info_item'>/disabletv: Disables tv support in the room.</div>
			<div class='info_item'>/voice1 x: Gives voice 1 to a user.</div>
			<div class='info_item'>/voice2 x: Gives voice 2 to a user.</div>
			<div class='info_item'>/voice3 x: Gives voice 3 to a user.</div>
			<div class='info_item'>/voice4 x: Gives voice 4 to a user.</div>
			<div class='info_item'>/op x: Gives op to a user. Ops can do anything an admin can do except more high level commands.</div>
			<div class='info_item'>/admin x: Gives admin to a user. This gives a user the same rights as the original admin.</div>
			<div class='info_item'>/resetvoices: Turns all voices above 1 to voice 1.</div>
			<div class='info_item'>/removeops: Removes all op roles.</div>
			<div class='info_item'>/private: Room doesn\'t appear in the public room list.</div>
			<div class='info_item'>/public: Room appears in the public room list.</div>
			<div class='info_item'>/enablelog: Enables logging of the room. Which allows users to see previous messages before they joined.</div>
			<div class='info_item'>/disablelog: Disables logging.</div>
			<div class='info_item'>/clearlog: Removes all messages from the log.</div>			
			<div class='info_item'>/roomname x: Chages the name of the room.</div>
			<div class='info_item'>/roomnameedit x: Puts the room name in the input, ready to be edited.</div>
			<div class='info_item'>/kick x: Kicks a user out of the room.</div>
			<div class='info_item'>/ban x: Bans a user from the room.</div>
			<div class='info_item'>/unban x: Unbans a user from the room.</div>
			<div class='info_item'>/unbanall: Removes all bans.</div>
			<div class='info_item'>/bannedcount: Displays the number of banned users in the room.</div>
			<div class='info_item'>/broadcast: Opens a window to write a message to be sent to the entire room.</div>
			<div class='info_item'>/systembroadcast: (Only for superusers) Opens a window to write a message to be sent to the entire system.</div>
			<div class='info_item'>/annex: (Only for superusers) Used to change the user's role.</div>
			<div class='info_item'>Usernames have a context menu (right click) if you are an op or admin.</div>
			<div class='info_item'>Check /help for information about how users interact in the room through chat, image uploads, or radio.</div>
			<div class='info_item'>Currently automatic fetching of song metadata from internet radios are only supported for icecast2 servers. The metadada URL is gathered automatically. To work, the server needs to allow cross-domain requests and be HTTPS enabled if this system is being served through HTTPS.</div>
			<div class='spacer1'></div>
			<span class='help_link action unselectable' onclick='help()'>Basic Features</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='help_link action unselectable' onclick='help2()'>Additional Features</span>		
		</script>		

		<audio id='audio' preload="metadata"></audio>

		<audio id='audio_pup' src='/static/audio/pup.mp3?v=1' preload="auto"></audio>
		<audio id='audio_pup2' src='/static/audio/pup2.mp3?v=1' preload="auto"></audio>
		<audio id='audio_join' src='/static/audio/join.mp3?v=2' preload="auto"></audio>
		<audio id='audio_highlight' src='/static/audio/highlight.mp3?v=1' preload="auto"></audio>

		<div id='youtube_player'></div>

		<input type='file' accept="image/jpeg, image/png, image/gif" id='profile_image_picker' onchange='profile_image_selected(this)'>

		<input type='file' accept="image/jpeg, image/png, image/gif" id='background_image_input' class='nodisplay' onchange='background_image_selected(this)'>

		<iframe id='soundcloud_player' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301986536'></iframe>

	</body>

</html>