<% include doctype.ejs %>

<html>

	<head>

		<title>Reset Password</title>

		<% include pages_imports.ejs %>

		<script>	

			function validate_form()
			{
				$("#txt_email").val($("#txt_email").val().trim())

				var email = $("#txt_email").val()

				if(email.length === 0)
				{
					set_message("Email can't be empty")
					return false
				}

				if(email.length > max_max_email_length)
				{
					set_message("Password is too long")
					return false
				}

				if(email.indexOf('@') === -1 || email.indexOf(' ') !== -1)
				{
					set_message("Invalid email address")
					return false
				}

				$("#btn_submit").prop("disabled", true)

				return true
			}

		</script>

	</head>

	<body>

		<div class="main">

			<form method="post" action="/recover" name="recover" onsubmit="return validate_form()">

				<div>If the email matches</div>
				<div class="spacer2"></div>
				<div>we will email you a reset link</div>

				<div class="spacer4"></div>
				
				<input type="text" placeholder="Email" name="email" id="txt_email">

				<div class="spacer4"></div>

				<input id="btn_submit" type="submit" value="Send Email">		

			</form>

			<div class="spacer1"></div>

			<a href="/login">Login</a>				

		</div>

		<script>

			$("#txt_email").focus()

		</script>

	</body>
</html>