<html>

	<head>

		<title><%-vars.register_title%></title>

		<% include pages_imports.ejs %>	

	</head>

	<body>

		<div class='main'>

			<form method="post" action="/register" name="register" onsubmit="return validate_form()">

				<div>Usernames are case sensitive</div>
				<div class="spacer2"></div>
				<div>Username can be changed later</div>

				<div class="spacer4"></div>

				<input type="text" placeholder="Username" name="username" id="register_username">
				
				<div id="username_taken">
					<div class="spacer3"></div>
					<div class="error">Username is already taken</div>
				</div>

				<div class="spacer4"></div>

				<input type="password" placeholder="Password" name="password" id="register_password">

				<div class="spacer4"></div>

				<input type="password" placeholder="Password Again" id="register_password2">

				<div class="spacer4"></div>

				<input type="text" placeholder="Email" name="email" id="register_email">

				<div class="spacer4"></div>

				<input id="btn_register" type="submit" value="Register">

			</form>

			<div class="spacer1"></div>

			<a href="/login">Login</a>			

		</div>

		<script>

			$("#register_username").focus()

			function validate_form()
			{
				if(msg.is_open())
				{
					return false
				}

				if($("#username_taken").css("display") !== "none")
				{
					return false					
				}

				$("#register_username").val($("#register_username").val().trim())
				
				var username = $("#register_username").val()
				var password = $("#register_password").val()
				var password2 = $("#register_password2").val()
				
				$("#register_email").val($("#register_email").val().trim())
				
				var email = $("#register_email").val()

				if(username.length === 0)
				{
					set_message("Username can't be empty")
					return false
				}

				if(password.length === 0)
				{
					set_message("Password can't be empty")
					return false
				}

				if(email.length === 0)
				{
					set_message("Email can't be empty")
					return false
				}

				if(username.length > max_username_length)
				{
					set_message("Username is too Long")
					return false
				}

				if(username.length !== utilz.clean_string4(username).length)
				{
					set_message("Username contains invalid characters. Only letters, numbers, and some special characters are allowed")
					return false
				}

				if(password.length < min_password_length)
				{
					set_message(`Password is too short. It must be at least ${min_password_length} characters long`)
					return false
				}

				if(password.length > max_password_length)
				{
					set_message("Password is too long")
					return false
				}

				if(password.length !== utilz.clean_string2(password).length)
				{
					set_message("Password contains invalid characters. There can't be spaces at the start or end of the password, or consecutive spaces")
					return false
				}

				if(password !== password2)
				{
					set_message("The passwords don't match")
					return false
				}

				if(email.indexOf('@') === -1)
				{
					set_message("Invalid email address")
					return false
				}

				if(email.length > max_email_length)
				{
					set_message("Email is too long")
					return false
				}

				if(email.length !== utilz.clean_string5(email).length)
				{
					set_message("Invalid email address")
					return false
				}				

				$("#btn_register").prop("disabled", true)

				return true
			}

			var current_username = ""

			var check_username_timer = (function() 
			{
				var timer 

				return function() 
				{
					clearTimeout(timer)

					timer = setTimeout(function() 
					{
						$.post('/check_username/',
						{
							username: current_username
						}, 
						function(response)
						{
							if(response.taken)
							{
								$("#username_taken").css("display", "block")
							}
						})					
					}, 1200)
				}
			})()			

			$("#register_username").on("input", function()
			{
				var uname = $("#register_username").val().trim()

				if(uname === current_username)
				{
					return
				}

				$("#username_taken").css("display", "none")

				if(uname.length > max_username_length)
				{
					uname = uname.substring(0, max_username_length)
					$("#register_username").val(uname)
				}

				current_username = uname

				if(uname.length > 0 && uname.length < max_username_length)
				{
					check_username_timer()	
				}
			})

		</script>

	</body>

</html>