@font-face
{
	font-family: iconsolas;
	src: url(/css/consolas.ttf);
}

body, html
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-family: iconsolas;
	background-color: black;
	overflow: hidden;
}

#main_container
{
	position: relative;
	visibility: hidden;
	width: 100%;
	height: 100%;
}

#background_image 
{
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
	width: 200%;
	height: 200%;
	background-repeat: repeat;
}

#main_flex
{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#header
{
	background-color: black;
	color: white;
	flex-shrink: 0;
	flex-grow: 0;
}

#header_items
{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

#header_items_inner
{
	display: inline-block;
	padding-top: 0.33em;
	padding-bottom: 0.33em;
}

.header_item
{
	cursor: pointer;
	display: inline-block;
}

#playing_icon
{
	display: none;
}

#flex_columns
{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	min-height: 0;	
}

#chat_main
{
	position: relative;
	display: flex;
	width: 100%;
	max-height: 100%;
	min-width: 50%;	
	flex-direction: column;
	flex-grow: 1;
}

#chat_area_parent
{
	display: flex;
	flex-grow: 1;
	max-width: 100%;
	max-height: 100%
}

#chat_area
{
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: black;
	color: white;
	flex-grow: 1;
	max-width: 100%;
	max-width: 100%;
}

#media
{
	display: flex;
	width: 100%;
	min-width: 50%;	
	background-color: black;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}

#media_image
{
	max-height: calc(100% - 8em);
	max-width: calc(100% - 6em);
	cursor: pointer;
}

#footer
{
	background-color: black;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex-grow: 0;
}

#footer_items
{
	padding-left: 1.66em;
	display: flex;
	flex-grow: 1;
}

#footer_username
{
	padding-top: 0.31em;
	padding-right: 0.6em;
	cursor: pointer;
	flex-shrink: 1;
	background-color: transparent;
	color: inherit;
}

#input
{
	font-size: 1em;
	color: white;
	border: 0px solid black;
	padding-right: 1em;
	padding-top: 0.33em;
	padding-bottom: 0.33em;
	outline: none;
	font-family: inherit;
	flex-grow: 1;
	background-color: transparent;
	color: inherit;
}

#scroll_notice
{
	visibility: hidden;
	position: absolute;
	left: 30px;
	width: calc(100% - 60px);	
	bottom: 0em;
	height: 2em;
	background-color: #393939;
	color: white;
	border: 0px solid #2D2D2D;
	outline: none;
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#scroll_notice:hover 
{
	background-color: #474747;
}

.chat_message
{
	overflow-wrap: break-word;
	word-break: break-word;
	font-size: 1.2em;
}

.announcement
{
	overflow-wrap: break-word;
	word-break: break-word;
}

.announcement_small
{
	font-size: 1em;
}

.announcement_big
{
	font-size: 1.2em;
}

.chat_uname 
{
	cursor: pointer;
	white-space: nowrap;
}

a.generic:link, a.generic:visited, a.generic:hover 
{
	text-decoration: underline;
	color: inherit;
}

#test_image
{
	display: none;
}

.unselectable
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#volume_area
{
	display: none;
}

.played_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	overflow-wrap: break-word;
	word-break: break-word;
}

.pititle
{
	font-size: 1.2em;
	font-weight: bold;
}

.piartist
{
	padding-top: 0.3em;
}

.menu_item 
{
	font-size: 1.2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
}

.menu_item_smaller
{
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
	display: inline-block;
}

#menu_smaller_container
{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

#create_room_name
{
	width: 14em;
	font-size: 1.2em;
	text-align: center;
	border: 1px solid grey;
}

.userlist_item
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	overflow-wrap: break-word;
	word-break: break-word;	
}

.ui_item_priv
{
	padding-right: 0.5em;
}

.ui_item_uname
{
	font-size: 1.2em;	
	cursor: pointer;
}

.roomlist_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	overflow-wrap: break-word;
	word-break: break-word;	
}

.roomlist_name
{
	font-size: 1.2em;
	font-weight: bold;
}

.roomlist_topic
{
	padding-top: 0.3em;
}

.roomlist_count
{
	padding-top: 0.3em;
}

.roomlist_here
{
	padding-top: 0.3em;
	display: none;
}

#now_playing_area
{
	display: none;
}

.icon
{
	position: relative;
	top: 0.07em;
}

#main_menu
{
	padding-right: 0.1em;
}

#header_icon_plus
{
	padding-left: 0.3em;
}

#header_icon_minus
{
	padding-right: 0.3em;
}

.ps__thumb-y
{
	width: 6px !important;
	transition: initial !important;
	background-color: transparent !important;
}

.ps__rail-y,
.ps__rail-y:focus
{
	width: 10px !important;
	transition: initial !important;
}

.ps--active-y:not(.ps--scrolling-y) .ps__rail-y:hover
{
	opacity: 0 !important;
}

.ps--scrolling-y .ps__rail-y 
{
	width: 10px !important;
	background-color: #eee !important;
}

.ps__rail-y:hover .ps__thumb-y,
.ps__rail-y:focus .ps__thumb-y,
.ps--scrolling-y .ps__thumb-y 
{
	width: 6px !important;
	background-color: #3b3b3b !important;
}

.dotted
{
	border-bottom: 1px dotted;
}

.dash_container
{
	max-width: 50%;
}

.dash
{
	color: inherit;
	border: 1px dashed;
	border-color: currentColor;
}

.setting_title
{
	padding-bottom: 0.5em;
}

.spacer1
{
	padding-top: 1.1em;
	padding-bottom: 1.1em;
}

.spacer2
{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.spacer3
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.spacer4
{
	padding-top: 1em;
	padding-bottom: 1em;
}

.hspacer1
{
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.setting_checkbox
{
	width: 1.5em;
	height: 1.5em;
}

#Msg-overlay-username-picker
{
	background-color: rgba(121, 121, 121, 1) !important;
}

.Msg-content
{
	font-size: 1em !important;
}

#Msg-window-menu
{
	width: 20em !important;
}

#Msg-window-settings
{
	width: 22em !important;
}

#Msg-window-userlist
{
	width: 22em !important;
}

#Msg-window-roomlist
{
	width: 28em !important;
}

#Msg-window-played
{
	width: 28em !important;
}

.StorageUI-area
{
	width: 30em !important;
}

.StorageUI-checkbox
{
	width: 1.5em !important;
	height: 1.5em !important;
}

#Msg-window-info
{
	height: auto !important;
}

.history_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	max-width: 26em;
}

.filter_input
{
	top: 0px;
	width: 10em;
	border: 1px solid grey;
	font-size: 1.2em;
	text-align: center;
	position: sticky;
}

#played_filter
{
	width: 14em;
}

#roomlist_filter
{
	width: 14em;
}

#userlist_filter
{
	width: 12em;
}

#history_filter
{
	width: 14em;
}

#search_filter
{
	width: 14em;
}

.search_result_item
{
	padding-top: 1em;
	padding-bottom: 1em;
}

.search_result_uname
{
	font-weight: bold;
	padding-bottom: 0.3em;
}

.search_result_uname *
{
	cursor: default;
}

.search_result_content
{
	max-width: 26em;
}

#pick_username_welcome
{
	font-size: 1.2em;
	padding-bottom: 0.3em;
}

#pick_username_info
{
	padding-bottom: 1em;
}

#pick_username_input
{
	font-size: 1.2em;
	border: 1px solid grey;
	text-align: center;
}

#youtube_player
{
	display: none;
}

.volume_context
{
	min-width: 5em !important;
	max-width: 10em !important;
	text-align: center !important;
	padding: 0 !important;
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
	border: 0px solid grey !important;
}

.volume_context .context-menu-item
{
	padding: 0 !important;
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
}

.info_item
{
	padding-top: 1em;
	padding-bottom: 1em;	
	max-width: 26em;
}

.info_title
{
	font-weight: bold;
	padding-bottom: 0.3em;
}

.info_title2
{
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0.3em;
}

.help_link
{
	cursor: pointer;
	text-decoration: underline;
}

select
{
	font-size: 0.9em;
	text-align-last: center;	
}

.msg
{
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

#chat_area > .msg:last-child
{
	padding-bottom: 2rem;
}

input[type=text], textarea
{
	background-color: white;
	color: #222222;
}

.modal_image
{
	max-height: 100%;
	max-width: 100%;
	display: none;
}

.pointer
{
	cursor: pointer;	
}

.spinner1 
{
    border: 10px solid;
    border-top: 10px solid;
    color: inherit;
    border-color: transparent;
    border-top-color: currentColor;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1.4s linear infinite;
}

@keyframes spin 
{
	0% {transform:rotate(0deg)}
	100% {transform:rotate(360deg)}
}