@font-face
{
	font-family: consolas;
	src: url(consolas.ttf);
}

body, html
{
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: consolas;
	background-color: white;
	overflow: hidden;
}

#main_container
{
	display: none;
}

#background_image 
{
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
	width: 200%;
	height: 200%;
	background-repeat: repeat;
}

#header
{
	position: relative;
	height: 2em;
	width: 100%;
	background-color: black;
	color: white;
	z-index: 9999999;
}

#header_items
{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

.header_item
{
	padding-top: 0.25em;
	display: inline-block;
}

#toggle_radio
{
	cursor: pointer;
}

#playing_icon
{
	display: none;
}

#chat_main
{
	height: 100%;
	width: 50%;
	float: left;
}

#media
{
	display: flex;
	position: relative;
	float: right;
	background-color: black;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: calc(100% - 2em);
	flex-direction: column;
}

#media_image
{
	max-height: calc(100vh - 8em);
	max-width: 44vw;
	cursor: pointer;
}

#chat_area_parent
{
	position: relative;
	max-width: 100%;
	width: 100%;
	top: 2em;
	bottom: 2em;
}

#chat_area
{
	position: fixed;
	padding-left: 30px;
	width: calc(50% - 30px);
	max-width: 50%;
	overflow-x: none;
	overflow-y: auto;
	background-color: black;
	color: white;
	top: 2em;
	bottom: 2em;
}

#input_container
{
	background-color: black;	
	position: absolute;
	bottom: 0;
	width: 50%;
}

#input
{
	width: calc(100% - 30px);
	margin-left: 30px;
	height: 2em;
	font-size: 1em;
	background-color: black;
	color: white;
	border: 0px solid black;
	outline: none;
	font-family:inherit;
}

#scroll_notice
{
	visibility: hidden;
	position: absolute;
	max-width: 50%;
	left: 30px;
	width: calc(50% - 30px);	
	bottom: 2em;
	height: 2em;
	font-size: 1em;
	background-color: #393939;
	color: white;
	border: 0px solid #2D2D2D;
	outline: none;
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#scroll_notice:hover 
{
	background-color: #474747;
}

#colorpicker
{
	position: fixed;
	top: 0px;
	left: 0px;
}

.sp-replacer
{
	z-index: 99999;
	top: 0px;
	left: 0px;
	position: fixed;
}

.chat_message
{
	max-width: 98%;
	clear: both;
	overflow-wrap: break-word;
	word-break: break-word;
	font-size: 1.4em;
	display: inline-block;
}

.announcement
{
	max-width: 98%;
	clear: both;
	overflow-wrap: break-word;
	word-break: break-word;
	display: inline-block;
}

.announcement_small
{
	font-size: 1em;
}

.announcement_big
{
	font-size: 1.4em;
}

.chat_uname 
{
	cursor: pointer;
	white-space: nowrap;
}

a.chat:link, a.chat:visited, a.chat:hover 
{
	text-decoration: underline;
	color: inherit;
}

.clear
{
	clear: both;
}

#test_image
{
	display: none;
}

.unselectable
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#usercount
{
	padding-left: 0.3em;
	cursor: pointer;
}

.played_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	overflow-wrap: break-word;
	word-break: break-word;
}

.pititle
{
	font-size: 1.4em;
	font-weight: bold;
}

.piartist
{
	padding-top: 0.3em;
	font-size: 1.2em;
}

.menu_item 
{
	font-size: 1.4em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
}

.menu_item_smaller
{
	font-size: 1.1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
	display: inline-block;
}

#menu_smaller_container
{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

#create_room_input
{
	width: 99%;
	font-size: 1.4em;
	text-align: center;
	border: 1px solid grey;
}

.userlist_item
{
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	cursor: pointer;
	overflow-wrap: break-word;
	word-break: break-word;	
}

.ui_item_priv
{
	font-size: 1.1em;
	padding-right: 0.7em;
}

.ui_item_nick
{
	font-size: 1.4em;	
}

.roomlist_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	overflow-wrap: break-word;
	word-break: break-word;	
}

.roomlist_name
{
	font-size: 1.4em;
	font-weight: bold;
}

.roomlist_topic
{
	padding-top: 0.3em;
	font-size: 1.2em;
}

.roomlist_count
{
	font-size: 1.1em;
	padding-left: 0.5em;
}

.roomlist_filler
{
	font-size: 1.1em;
	padding-right: 0.5em;
	opacity: 0;
}

#volume_area
{
	cursor: pointer;
}

#now_playing_area
{
	cursor: pointer;
	display: none;
}

.icon
{
	height: 100%;
	padding-left: 0.3em;
	padding-right: 0.3em;
	position: relative;
	top: 0.07em;
}

#main_menu
{
	cursor: pointer;
}

.ps__thumb-y
{
	width: 6px !important;
	transition: initial !important;
	background-color: transparent !important;
}

.ps__rail-y,
.ps__rail-y:hover,
.ps__rail-y:focus
{
	width: 10px !important;
	transition: initial !important;
}

.ps--scrolling-y .ps__rail-y 
{
	width: 10px !important;
	background-color: #eee !important;
}

.ps__rail-y:hover .ps__thumb-y,
.ps__rail-y:focus .ps__thumb-y,
.ps--scrolling-y .ps__thumb-y 
{
	width: 6px !important;
	background-color: #3b3b3b !important;
}

.dotted
{
	border-bottom: 1px dotted;
}

.dash_container
{
	max-width: 50%;
}

.dash
{
	border: 1px dashed;
}

.sep1
{
	font-size: 0.8em;
}

.setting_title
{
	font-size: 1.4em;
	padding-bottom: 0.5em;
}

.spacer1
{
	padding-top: 1.1em;
	padding-bottom: 1.1em;
}

.spacer2
{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.spacer3
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.setting_checkbox
{
	width: 1.5em;
	height: 1.5em;
}

#Msg-overlay-nickname-picker
{
	background-color: rgba(121, 121, 121, 1) !important;;
}

.Msg-content
{
	font-size: 1em !important;
}

#Msg-window-menu
{
	width: 22em !important;
}

#Msg-window-create-room
{
	width: 22em !important;
}

#Msg-window-settings
{
	width: 22em !important;
}

#Msg-window-userlist
{
	width: 22em !important;
}

#Msg-window-roomlist
{
	width: 30em !important;
}

#Msg-window-played
{
	width: 30em !important;
}

#Msg-content-storageui
{
	font-size: 20px !important;
}

.StorageUI-area
{
	width: 32em !important;
}

.StorageUI-checkbox
{
	width: 1.5em !important;
	height: 1.5em !important;
}

#Msg-window-info
{
	height: auto !important;
}

.show_history_item
{
	font-size: 1.4em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 2em;
	padding-right: 2em;
	cursor: pointer;
}

.filter_input
{
	top: 0px;
	width: 10em;
	border: 1px solid grey;
	font-size: 1.4em;
	text-align: center;
	position: sticky;
}

#played_filter
{
	width: 14em;
}

#roomlist_filter
{
	width: 14em;
}

#userlist_filter
{
	width: 10em;
}

#history_filter
{
	width: 14em;
}

#search_filter
{
	width: 14em;
}

.search_result_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
}

.search_result_uname
{
	font-size: 1.4em;
	font-weight: bold;
	padding-bottom: 0.3em;
}

.search_result_content
{
	font-size: 1.4em;
}

#pick_nickname_welcome
{
	font-size: 1.4em;
	padding-bottom: 0.3em;
}

#pick_nickname_info
{
	font-size: 1.2em;
	padding-bottom: 1em;
}

#pick_nickname_input
{
	font-size: 1.4em;
	border: 1px solid grey;
	text-align: center;
}