@font-face
{
	font-family: imported_font;
	src: url(/static/css/inconsolata.ttf);
}

body, html
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-family: imported_font, consolas, sans-serif;
	background-color: #262423;
	overflow: hidden;
	background-color: rgb(24,24,24);
	background-repeat: no-repeat;
	background-position: center;
}

#main_container
{
	position: relative;
	opacity: 0;
	transition: opacity 1.6s linear;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.background_image 
{
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.columns_container
{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.rows_container
{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	min-height: 0;
}

.panel
{
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	height: 2rem;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}

#header
{
	background-color: #262423;
	color: white;
}

#header_items
{
	width: calc(100% - 2em);
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
}

#header_items_inner
{
	display: inline-block;
}

.header_item
{
	cursor: pointer;
	display: inline-block;
}

#playing_icon
{
	display: none;
}

#chat_main
{
	position: relative;
	display: flex;
	width: 100%;
	max-height: 100%;
	min-width: 30%;	
	flex-direction: column;
	flex-grow: 1;
}

#chat_area_parent
{
	display: flex;
	flex-grow: 1;
	max-width: 100%;
	max-height: 100%
}

#chat_area
{
	position: relative;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #262423;
	color: white;
	flex-grow: 1;
	max-width: 100%;
}

#media
{
	display: flex;
	width: 100%;
	min-width: 70%;	
	background-color: #262423;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}

#media_split
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
}

#media_image_container
{
	height: 50%;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#media_image
{
	object-fit: contain;
	max-height: calc(100% - 4em);
	max-width: calc(100% - 4.7em);
	min-height: 20px;
	min-width: 20px;
}

#media_image_error
{
	display: none;
	font-size: 1.2em;
}

#media_tv
{
	height: 50%;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	align-items: center;	
	justify-content: center;	
}

#media_youtube_video_container
{
	height: calc(100% - 4em);
	width: calc(100% - 4.7em);
	display: none;
	align-items: center;
	justify-content: center;
}

#media_video_container
{
	height: calc(100% - 4em);
	width: calc(100% - 4.7em);
	display: none;
	align-items: center;
	justify-content: center;
}

#media_twitch_video_container
{
	height: calc(100% - 4em);
	width: calc(100% - 4.7em);
	display: none;
	align-items: center;
	justify-content: center;
}

#media_soundcloud_video_container
{
	height: calc(100% - 4em);
	width: calc(100% - 4.7em);
	display: none;
	align-items: center;
	justify-content: center;
}

#footer
{
	background-color: #262423;
	justify-content: flex-start !important;
}

#footer_items
{
	display: flex;
	flex-grow: 1;
	white-space: nowrap;
	align-items: center;
	justify-content: flex-start;	
}

.footer_icon
{
	padding-right: 1.2em;
	cursor: pointer;
	flex-shrink: 1;
	background-color: transparent;
	color: inherit;
	font-size: 0.8em;
	cursor: pointer;	
}

.footer_icon2
{
	padding-right: 0.3em;
	cursor: pointer;
	flex-shrink: 1;
	background-color: transparent;
	color: inherit;
	font-size: 0.8em;
	cursor: pointer;	
}

.footer_text
{
	padding-right: 0.3em;
}

.footer_text_small
{
	padding-right: 0.3em;
	font-size: 0.8em;
}

#footer_media_menu
{
	padding-right: 1.2rem !important;
}

#input
{
	font-size: 1em;
	color: white;
	border: 0px solid black;
	padding-right: 1em;
	padding-top: 0.33em;
	padding-bottom: 0.33em;
	outline: none;
	font-family: inherit;
	flex-grow: 1;
	background-color: transparent;
	color: inherit;
	resize: none;
	overflow: hidden;
}

.scroller_container
{
	position: absolute;
	left: 16px;
	width: calc(100% - 35px);	
	display: flex;
	flex-direction: row;
	visibility: hidden;	
}

.top_scroller_container
{
	top: 0em;
}

.bottom_scroller_container
{	
	bottom: 0em;
}

.scroller
{
	height: 2em;
	background-color: rgba(57, 57, 57, 0.7);
	color: white;
	border: 0px solid #2D2D2D;
	outline: none;
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 99;
	padding-left: 2em;
	padding-right: 2em;
}

.left_scroller
{
	width: 60%;
}

.right_scroller
{
	flex-grow: 1;
	flex-shrink: 1;
}

.scroller:hover 
{
	background-color: rgba(71, 71, 71, 0.5);
}

.chat_message
{
	overflow-wrap: break-word;
	word-break: break-word;
	display: flex;
}

.chat_left_side
{
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
}

.chat_right_side
{
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	flex-grow: 1;
	flex-shrink: 1;
}

.chat_profile_image_container
{
	min-width: 45px;
	max-width: 45px;
	min-height: 45px;
	max-height: 45px;
	overflow: hidden;
}

.chat_profile_image
{
	width: 100%;
	cursor: pointer;
}

.chat_uname_container
{
	flex-shrink: 1;
	flex-grow: 0;
	font-size: 1em;
}

.chat_uname 
{
	cursor: pointer;
	white-space: nowrap;
	font-weight: bold;
	display: inline-block;
}

.chat_content_container
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 0.2em;
}

.chat_content
{
	font-size: 1em;
	white-space: pre-wrap;
	line-height: 1.2em;
}

.thirdperson *
{
	font-size: 1em;
	padding-top: 0 !important;
}

.announcement
{
	overflow-wrap: break-word;
	word-break: break-word;
	font-size: 1em;
}

.announcement_content_container
{
	display: inline-flex;
}

.announcement_brk
{
	flex-grow: 0;
	flex-shrink: 0;
	padding-right: 0.8em;
}

a.generic:link, a.generic:visited, a.generic:hover 
{
	text-decoration: underline;
	color: inherit;
}

#test_image
{
	display: none;
}

.unselectable
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#volume_area
{
	display: none;
}

.played_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	overflow-wrap: break-word;
	word-break: break-word;
}

.pititle
{
	font-size: 1.2em;
	font-weight: bold;
}

.piartist
{
	padding-top: 0.3em;
}

.menu_item 
{
	font-size: 1.2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
}

.menu_item2
{
	font-size: 1.2em;
	padding-top: 0.5em;
	cursor: pointer;
}

.menu_item_smaller
{
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
	display: inline-block;
}

#menu_smaller_container
{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

#create_room_name
{
	width: 14em;
	font-size: 1.2em;
	text-align: center;
	border: 1px solid grey;
}

#goto_room_input
{
	width: 18em;
	font-size: 1.2em;
	text-align: center;
	border: 1px solid grey;
}

.userlist_item
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	overflow-wrap: break-word;
	word-break: break-word;	
}

.ui_item_role
{
	padding-right: 0.5em;
}

.ui_item_uname
{
	font-size: 1.3em;	
	cursor: pointer;
}

.roomlist_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	overflow-wrap: break-word;
	word-break: break-word;	
}

.roomlist_name
{
	font-size: 1.2em;
	font-weight: bold;
}

.roomlist_topic
{
	padding-top: 0.3em;
}

.roomlist_count
{
	padding-top: 0.3em;
}

.roomlist_here
{
	padding-top: 0.3em;
	display: none;
}

#now_playing_area
{
	display: none;
}

.icon
{
	position: relative;
	top: 0.07em;
}

.icon2
{
	font-size: 0.77em;
	padding-right: 0.2em;
}

.icon2b
{
	font-size: 0.77em;
	padding-left: 0.2em;
}

.icon3
{
	font-size: 2em;
}

#main_menu
{
	padding-right: 0.1em;
}

#header_icon_plus
{
	padding-left: 0.3em;
}

#header_icon_minus
{
	padding-right: 0.3em;
}

.ps__thumb-y
{
	width: 6px !important;
	transition: initial !important;
	background-color: transparent !important;
}

.ps__rail-y,
.ps__rail-y:focus
{
	width: 10px !important;
	transition: initial !important;
}

.ps--active-y:not(.ps--scrolling-y) .ps__rail-y:hover
{
	opacity: 0 !important;
}

.ps--scrolling-y .ps__rail-y 
{
	width: 10px !important;
	background-color: #eee !important;
}

.ps__rail-y:hover .ps__thumb-y,
.ps__rail-y:focus .ps__thumb-y,
.ps--scrolling-y .ps__thumb-y 
{
	width: 6px !important;
	background-color: #3b3b3b !important;
}

.dotted
{
	text-decoration: underline;
	text-decoration-style: dotted;
	text-underline-position: under;
}

.setting_title
{
	padding-bottom: 0.5em;
}

.setting_title2
{
	padding-bottom: 0.2em;
}

.toggler_container
{
	display: none;
	padding-top:0.2em;
}

.spacer1
{
	padding-top: 1.1em;
	padding-bottom: 1.1em;
}

.spacer2
{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.spacer3
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.spacer4
{
	padding-top: 1em;
	padding-bottom: 1em;
}

.spacer5
{
	padding-top: 0.08em;
	padding-bottom: 0.08em;
}

.spacer6
{
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

.hspacer1
{
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.hspacer2
{
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.hspacer3
{
	padding-left: 0.4em;
	padding-right: 0.4em;
}

.setting_checkbox
{
	width: 1.5em;
	height: 1.5em;
}

.admin_voice_permissions_checkbox
{
	width: 1.5em;
	height: 1.5em;
}

.Msg-content
{
	font-size: 1em !important;
	overflow-wrap: break-word;
	word-break: break-word;	
}

#Msg-overlay-locked
{
	background-color: rgba(186, 93, 93, 0.7) !important;
}

#Msg-overlay-lockscreen
{
	background-color: #b17fbf !important;
}

.input_history_item
{
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	max-width: 26em;
}

.filter_input
{
	top: 0px;
	width: 12em;
	border: 1px solid grey;
	font-size: 1.2em;
	text-align: center;
	position: sticky;
	z-index: 99;
}

.chat_search_result_item
{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.chat_search_result_item .announcement_brk
{
	display: none;
}

.chat_search_result_content
{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 26em;
}

.highlights_item
{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.highlights_item .announcement_brk
{
	display: none;	
}

.generic_uname
{
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	padding-bottom: 0.2em;
}

.highlights_content
{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 26em;
}

.highlights_content *
{
	border-bottom: 0px solid black !important;
}

#pick_username_welcome
{
	font-size: 1.2em;
	padding-bottom: 0.3em;
}

#pick_username_info
{
	padding-bottom: 1em;
}

#pick_username_input
{
	font-size: 1.2em;
	border: 1px solid grey;
	text-align: center;
}

#youtube_player
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -99999999999;
}

#soundcloud_player
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -99999999999;
}

.volume_context
{
	min-width: 5em !important;
	max-width: 10em !important;
	text-align: center !important;
	padding: 0 !important;
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
	border: 0px solid grey !important;
}

.volume_context .context-menu-item
{
	padding: 0 !important;
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
}

.info_item
{
	padding-top: 1em;
	padding-bottom: 1em;	
	max-width: 26em;
}

.info_title
{
	font-weight: bold;
	padding-bottom: 0.3em;
}

.info_title2
{
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0.3em;
}

.help_link
{
	cursor: pointer;
	text-decoration: underline;
}

select
{
	font-size: 0.95em;	
}

.modal_select
{
	text-align-last: center;
	padding-left: 0.25em;
	padding-right: 0.25em;
	cursor: pointer;
}

.msg
{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#chat_area > .msg:last-child
{
	padding-bottom: 2.5rem !important;
}

input[type=text], textarea
{
	background-color: white;
	color: #222222;
	font-family: imported_font, consolas, sans-serif !important;
	border: 1px solid currentColor;
}

#modal_image_error
{
	font-size: 1.2em;	
}

#modal_image_header_info_container
{
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;	
}

#modal_image_header_info
{
	flex-grow: 0;
	flex-shrink: 1;
}

.modal_image_header_button
{
	cursor: pointer;
	z-index: 10;
	flex-grow: 0;
	flex-shrink: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#modal_image_header_prev
{
	float: left;
}

#modal_image_header_next
{
	float: right;
}

#modal_image_container
{
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	cursor: pointer;
	flex-direction: column;
	position: relative;
}

#modal_image
{
	display: none;
	object-fit: contain;
	max-width: calc(100% - 4rem);
	max-height: calc(100% - 4rem);
	min-height: 20px;
	min-width: 20px;
}

.pointer
{
	cursor: pointer;	
}

.spinner1 
{
	border: 10px solid;
	border-top: 10px solid;
	color: inherit;
	border-color: transparent;
	border-top-color: currentColor;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1.4s linear infinite;
}

@keyframes spin 
{
	0% {transform:rotate(0deg)}
	100% {transform:rotate(360deg)}
}

.input1
{
	font-size: 1.2em;
	width: 16em;
	border: 1px solid grey;
	text-align: center;
}

.editor_area
{
	display: block;
	font-size: 1em;
	width: 35em;
	height: 16em;
	border: 1px solid grey;
	resize: vertical;
}

.bigger
{
	font-size: 1.2em;
}

.underlined
{
	text-decoration: underline;
}

.bold
{
	font-weight: bold;
}

.bigger2
{
	font-size: 1.4em;
}

.padding1
{
	padding: 2em;
}

.big_profile_image_container
{
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	max-height: 200px;
	display: inline-block;
	overflow: hidden;
}

.big_profile_image
{
	width: 100%;
}

.bigger_profile_image_container
{
	min-width: 300px;
	max-width: 300px;
	min-height: 300px;
	max-height: 300px;
	display: inline-block;
	overflow: hidden;		
}

.bigger_profile_image
{
	width: 100%;
}

#profile_image_picker
{
	display: none;
}

#profile_image_canvas_image
{
	max-width: 50vw;
	max-height: 50vh;
}

.cropper-view-box, .cropper-face 
{
	border-radius: 50% !important;
}

#profile_image_canvas_button
{
	font-size: 1.2em;
	cursor: pointer;
	padding-top: 1em;
}

.small_padding_bottom
{
	padding-bottom: 0.5em;
}

.smaller_font_size
{
	font-size: 0.9em;
}

.nowrap
{
	white-space: nowrap;	
}

#header_topic
{
	display: none;
}

.small_square_image
{
	max-width: 250px;
	max-height: 250px;
	min-height: 100px;
	min-width: 100px;	
}

.nodisplay
{
	display: none;
}

.admin_v_container
{
	display: none;
}

#loading
{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9999999999999;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b17fbf;
	transition: opacity 1.6s linear;
	pointer-events: none;
}

#loading_spinner 
{
	width: 80px;
	height: 80px;
	background-color: #8f46a8;
	animation: rotate_plane 1.2s infinite ease-in-out;
}

@keyframes rotate_plane 
{
	0% 
	{
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg); 
	}
	50% 
	{
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); 
	}
	100% 
	{
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); 
	} 
}

#footer_userinfo
{
	width: 10px;
	padding-left: 1.2rem;
}

#write_message_info
{
	max-width: 30rem;
}

#write_message_area
{
	width: 400px;
	resize: none;
	font-size: 1em;
}

#draw_message_area
{
	cursor: crosshair;
}

#draw_image_area
{
	cursor: crosshair;
	width: 800px;
	height: 600px;
}

.draw_canvas
{
	outline: none;
}

#write_message_feedback
{
	padding-bottom: 1.2em;
	display: none;
}

.setting_textarea
{
	width: 100%;
	resize: none;
	font-size: 1em;
	text-align: center;
}

.setting_input_text
{
	width: 100%;
	font-size: 1em;
	text-align: center;
}

.setting_input_text_small
{
	width: 200px;
	font-size: 1em;
	text-align: center;
}

.setting_input_text_smaller
{
	width: 100px;
	font-size: 1em;
	text-align: center;
}

.media_history_container
{
	max-width: 25em;
}

.media_history_item .msg
{
	padding-top: 0em !important;
	padding-bottom: 0em !important;
}

.media_history_item
{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.media_history_item .announcement_content
{
	font-size: 1em !important;
}

.media_history_item .announcement_brk
{
	display: none;
}

@keyframes fadein 
{
	from 
	{
		opacity: 0;
	}

	to 
	{
		opacity: 1;
	}
}

#chat_area .fader
{
	animation: fadein 600ms linear;
}

#userinfo_username
{
	display: inline-block;
}

.small_button
{
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
}

.inline
{
	display: inline-block;
}

.action:hover
{
	animation-duration: 500ms;
	animation-name: glow;
	animation-fill-mode: forwards;
}

@keyframes glow
{	
	0% {text-shadow: 0 0 0px}
	100% {text-shadow: 0 0 1em}
}

.action2:hover
{
	animation-duration: 500ms;
	animation-name: glow2;
	animation-fill-mode: forwards;
}

@keyframes glow2
{	
	0% {box-shadow: 0 0 0px}
	100% {box-shadow: 0 0 1rem}
}

.aura
{
	box-shadow: 0 0 20px currentColor, inset 0 0 20px currentColor;
	border-radius: 50px;
}

.aura2
{
	box-shadow: inset 0 0 4px currentColor;
}

.custom_titlebar
{
	font-family: imported_font, consolas, sans-serif !important;
}

.room_settings_overrider_container
{
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	pointer-events: initial !important;
}

.faded
{
	opacity: 0.5;
	pointer-events: none;
}

.nopointer
{
	pointer-events: none;
}

.settings_item
{
	padding-top: 1em;
	padding-bottom: 1em;	
}

.container_22
{
	width: 22em;
}

.separator_container
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.separator_line
{
	flex-grow: 1;
	color: inherit;
	border-bottom: 1px solid currentColor;
}

.separator_text
{
	flex-grow: 0;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

#reactions_box_container
{
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: fixed;
	border-radius: 50px;
	bottom: 2rem;
	left: 0;	
	flex-grow: 1;
	flex-shrink: 0;
	z-index: 99999;
}

#reactions_box
{
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	font-size: 1.1rem;
}

.chat_third_container
{
	display: flex;
	flex-direction: row;
}

.chat_third_brk
{
	flex-grow: 0;
	flex-shrink: 0;
	padding-right: 0.8em;
}

.slider_container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nstSlider
{
	width: 10em !important;
}

.squaro
{
	display: flex;
	width: 3em;
	height: 3em;
	background-color: grey;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 2px currentColor;
}

.squaro_container
{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#topbox_container
{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	height: 2rem;
}

#topbox_container:hover > #topbox
{
	visibility: visible;
}

#topbox
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	visibility: hidden;
}

.topbox_icon
{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.lockscreen_body
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #b17fbf;
}

.lockscreen_principal
{
	color: #ffffff;
}

.lockscreen_principal * 
{
	padding: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.lockscreen_menu 
{
	width: 320px;
}

.lockscreen_titulo_menu
{
	position: relative;
	float: left;
	width: 100%;
	height: 60px;
	overflow: hidden;
	background-color: #8f46a8;
	box-shadow: 0px 7px 30px -12px rgba(0,0,0,0.5);
	border-radius:3px ;
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-ms-user-select: none;         
	user-select: none;           
}

.lockscreen_icon_menu
{
	position: relative;
	float: right;
	margin-right: 20px;
	top:14px;
}

.lockscreen_titulo 
{
	position: relative;
	float: left;
	margin-left: 20px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.lockscreen_circle_1 
{
	position: absolute;
	top:-16px;
	left: -16px;
	width: 64px;
	height: 64px;
	background-color: #ffffff;
	opacity: 0.3;
	z-index: 0;
	border-radius:50% ;
	animation: animation_circle_1 3s infinite;
	animation-direction: alternate;
	transform: scale(0);
}

.lockscreen_circle_2 {
	position: absolute;
	top:-46px;
	left: -46px;
	width: 128px;
	height: 128px;
	background-color: #ffffff;
	opacity: 0.2;
	z-index: 0;
	border-radius:50% ;
	animation: animation_circle_1 3s infinite;
	animation-direction: alternate;
	animation-delay: 0.5s;
	transform: scale(0);
}

.lockscreen_circle_3 {
	position: absolute;
	top:-80px;
	left: -80px;
	width: 192px;
	height: 192px;
	background-color: #ffffff;
	opacity: 0.1;
	z-index: 0;
	border-radius:50% ;
	animation: animation_circle_1 3s infinite;
	animation-direction: alternate;
	animation-delay: 1s;
	transform: scale(0);
}

.lockscreen_circle_4 
{
	position: absolute;
	top:-115px;
	left: -116px;
	width: 256px;
	height: 256px;
	background-color: #ffffff;
	opacity: 0.1;
	z-index: 0;
	border-radius:50% ;
	animation: animation_circle_1 3s infinite;
	animation-direction: alternate;
	animation-delay: 1.5s;
	transform: scale(0);
}

@keyframes animation_circle_1 
{
	from {transform: scale(0)}
	to {transform: scale(1)}
}

.modal_icon_container
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

#draw_image_pencil_size
{
	height: 33px;
}

.modal_icon_selected
{
	box-shadow: 0 0 2px currentColor
}