<%- include('doctype.ejs'); %>

<html>
	<head>
		<title><%-vars.login_title%></title>

		<%- include('pages_imports.ejs'); %>

		<script>
			function validate_form() {
				if (msg_info.is_open()) {
					return false
				}

				$("#login_username").val($("#login_username").val().trim())

				let username = $("#login_username").val()
				let password = $("#login_password").val()

				if (username.length === 0) {
					set_message("Username can't be empty")
					return false
				}

				if (password.length === 0) {
					set_message("Password can't be empty")
					return false
				}

				if (username.length > max_max_username_length) {
					set_message("Username is too long")
					return false
				}

				if (password.length > max_max_password_length) {
					set_message("Password is too long")
					return false
				}

				$("#btn_login").prop("disabled", true)

				return true
			}
		</script>
	</head>

	<body>
		<div class='main'>
			<form method="post" action="/login" name="login" onsubmit="return validate_form()">
				<input type="text" placeholder="Username" name="username" id="login_username">
				<div class="spacer4"></div>
				<input type="password" placeholder="Password" name="password" id="login_password">
				<div class="spacer4"></div>
				<input type='hidden' name='fromurl' value="<%-vars.fromurl%>">
				<input id="btn_login" type="submit" value="Login">
			</form>	

			<div class="spacer1"></div>

			<a href="/register">Register</a>

			<div class="spacer1"></div>

		</div>

		<script>
			$("#login_username").trigger("focus")

			if(form_username && form_username !== "undefined") {
				$("#login_username").val(form_username)
			}
		</script>
	</body>
</html>