<%- include('doctype.ejs'); %>

<html>
	<head>
		<title>Message</title>
		<%- include('pages_imports.ejs'); %>
	</head>

	<body>
		<div class="main">
			<div class="spacer1"></div>
			<div id="message_container"><%=vars.message2%></div>
			<div class="spacer2"></div>
			<a href="/login">Login</a>
		</div>
	</body>
</html>