<script id="template_action_popup" type="text/x-handlebars-template" class="template">
  <div class="action_popup_item {{classes}}">
    {{{icon}}}
    <div class="action_popup_message">{{message}}</div>
  </div>
</script>