<script id='template_admin_list_item' type='text/x-handlebars-template' class='template'>
  <div class='flex_row_center'>
    <div class='admin_list_username'></div>&nbsp;&nbsp;<div class='admin_list_role'></div>
  </div>
</script>