<script id="template_announcement_message" type="text/x-handlebars-template" class="template">
  <div class="announcement_left_side">
    <img class="brk_profilepic profilepic actionbox chat_image" loading="lazy">
    <div class="{{brk_classes}}">{{{brk}}}</div>
  </div>

  <div class="announcement_right_side dynamic_title">
    <div class="announcement_content_split">
      <div class="{{top_classes}}">
        <div class="chat_username action"></div>
        <div class="chat_timeago"></div>
      </div>

      <div class="announcement_content_container chat_menu_button_main reply_message_container edit_message_container">
        <div class="chat_menu_button_container">
          <svg class="other_icon chat_menu_button chat_menu_button_menu">
            <use href="#icon_ellipsis">
          </svg>
        </div>
        
        <div class="{{content_classes}}"></div>
        
        <div class="likes_container"></div>

        <div class="message_edit_container">
          <textarea class="message_edit_area"></textarea>
          <div class="message_edit_buttons">
            <div class="message_edit_button action message_edit_cancel">Cancel</div>
            <div class="message_edit_button action message_edit_submit">Done</div>
          </div>
        </div> 
      </div>
    </div>       
  </div>
</script>