<script id="template_announcement_message" type="text/x-handlebars-template" class="template">
  <div class="announcement_left_side">
    <img class="brk_profilepic profilepic actionbox chat_image" loading="lazy">
    <div class="{{brk_classes}}">{{{brk}}}</div>
  </div>

  <div class="announcement_right_side">
    <div class="announcement_content_split">
      <div class="{{top_classes}}">
        <div class="chat_username action"></div>
        <div class="chat_date"></div>
      </div>

      <div class="announcement_content_container chat_menu_button_main">
        <div class="chat_menu_button_container">
          <svg class="other_icon chat_menu_button chat_menu_button_menu">
            <use href="#icon_ellipsis">
          </svg>
        </div>

        <div class="{{content_classes}}"></div>
        <div class="likes_container"></div>
      </div>
    </div>
  </div>
</script>