<script id='template_app_titlebar' type='text/x-handlebars-template' class='template'>
  <div class="app_titlebar_container">
    <div class="app_titlebar_info">
      <canvas class="app_titlebar_icon pointer" width="20" height="20"></canvas>
      <div class="app_titlebar_name action"></div>
      <div class="app_activity_bar activity_bar">
        <div class="app_activity_bar_inner activity_bar_inner"></div>
      </div>
    </div>
    
    <div class="app_titlebar_buttons">
      <div class="action app_titlebar_applist">Apps</div>
      <div class="action app_titlebar_refresh">Refresh</div>
      <div class="action app_titlebar_minimize">Minimize</div>
    </div>
  </div>
</script>