<script id='template_app_picker' type='text/x-handlebars-template' class='template'>
  <div id="app_picker_container">
    {{#each apps}}
    <div class="app_picker_item action" data-appindex="{{@index}}">{{name}}</div>
    {{/each}}
  </div>
</script>