<script id='template_app_popup' type='text/x-handlebars-template' class='template'>
  <div class="app_popup_container action">
    <canvas class="app_popup_icon" width="20" height="20"></canvas>
    <div class="app_popup_name"></div>
  </div>
</script>