<script id="template_audioclip_select" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem1_gap">
    <div>Change your audio clip</div>
    <div>This can be played in your profile</div>
  </div>
</script>