<script id='template_audio_clip_menu' type='text/x-handlebars-template' class='template'>
  <div class='flex_row_center' id='background_image_select_container'>
    <div id='upload_audio_clip' class='bigger action inline pointer'>Change</div>
    <div id='remove_audio_clip' class='bigger action inline pointer'>Remove</div>
  </div>
</script>