<script id="template_audioclip_menu" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center" id="audioclip_select_container">
    <div id="play_audioclip" class="bigger action inline pointer">Play</div>
    <div id="upload_audioclip" class="bigger action inline pointer">Upload</div>
    <div id="remove_audioclip" class="bigger action inline pointer">Remove</div>
  </div>
</script>