<script id="template_automedia" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem05_gap">
    <svg id="automedia_icon"><use href="#icon_image"></use></svg>
    <div id="automedia_message">{{message}}</div>
    <div>Press <b>Enter</b> to send to chat</div>
    <div><b>Shift + Enter</b> to change media</div>
  </div>
</script>