<script id='template_background_select' type='text/x-handlebars-template' class='template'>
  <div class='flex_row_center nowrap' id='background_select_container'>
    <div id='background_select_upload' class='bigger action inline pointer'>Upload</div>
    <div id='background_select_draw' class='bigger action inline pointer'>Draw</div>
    <div id='background_select_url' class='bigger action inline pointer'>Use&nbsp;URL</div>
  </div>
</script>