<script id="template_background_peek" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="background_peek_peek" class="bigger action">Peek</div>
    <div id="background_peek_choose" class="bigger action">Re-Choose</div>
    <div id="background_peek_cancel" class="bigger action">Cancel</div>
    <div id="background_peek_confirm" class="bigger action">Confirm</div>
  </div>
</script>