<script id="template_link_background" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center">
    <input id="link_background_input" class="nice_input" type="text" placeholder="Image URL">
  </div>
</script>