<script id='template_background_image_select' type='text/x-handlebars-template' class='template'>
    <div class='flex_row_center' id='background_image_select_container'>
    <div class='bigger action inline pointer' onclick='Hue.open_background_image_input()'>Use&nbsp;Image&nbsp;URL</div>
        <div class='bigger action inline pointer' onclick='Hue.open_background_image_picker()'>Upload&nbsp;Image</div>
    </div>
</script>