<script id='template_background_image_select' type='text/x-handlebars-template' class='template'>
    <div class='flex_row_center' id='background_image_select_container'>
    <div id='background_image_select_url' class='bigger action inline pointer'>Use&nbsp;Image&nbsp;URL</div>
    <div id='background_image_select_upload' class='bigger action inline pointer'>Upload&nbsp;Image</div>
</script>