<script id="template_background_select" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center nowrap generic_horizontal_separator">
    <div id="background_select_link" class="bigger action inline pointer">Link</div>
    <div id="background_select_upload" class="bigger action inline pointer">Upload</div>
    <div id="background_select_draw" class="bigger action inline pointer">Draw</div>
    <div id="background_select_random" class="bigger action inline pointer">Random</div>
    <div id="background_select_remove" class="bigger action inline pointer">Remove</div>
  </div>
</script>