<script id='template_ban_list_item' type='text/x-handlebars-template' class='template'>
  <div class='flex_row_center ban_list_item'>
    <div class='ban_list_username action'></div>
    <div class='ban_list_unban action'>Unban</div>
  </div>
</script>