<script id="template_change_role" type="text/x-handlebars-template" class="template">
  <div class="nice_row_container">
    <div id="change_role_voice" class="nice_row action">Voice: Basic features</div>
    <div id="change_role_op" class="nice_row action">Op: Operator features</div>
    <div id="change_role_admin" class="nice_row action">Admin: Full features</div>
  </div>
</script>