<script id="template_change_role" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem1_gap">
    <div>Change the user's role</div>
    <div>Admin: Full features</div>
    <div>Op: Operator features</div>
    <div>Voice: Basic features</div>
  </div>
</script>