<script id="template_change_password" type="text/x-handlebars-template" class="template">
  <div class="details_inputbox">
    <input type="password" placeholder="New Password" id="change_password_input_1" class="nice_input_2">
    <input type="password" placeholder="Password Again" id="change_password_input_2" class="nice_input_2">
  </div>
  <div class="flex_row_center">
    <div class="action bigger details_change_submit" id="change_password_submit">Change</div>
  </div>
</script>