<script id="template_change_password_titlebar" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div class="action titlebar_action" id="change_password_submit">Change Password</div>
  </div>
</script>