<script id="template_change_username" type="text/x-handlebars-template" class="template">
  <input type="text" placeholder="New Username" id="change_username_input" class="nice_input_2">
  <div class="flex_row_center">
    <div class="action bigger details_change_submit" id="change_username_submit">Change</div>
  </div>
</script>