<script id="template_change_role" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="change_role_admin" class="bigger action inline">Admin</div>
    <div id="change_role_op" class="bigger action inline">Op</div>
    <div id="change_role_voice" class="bigger action inline">Voice</div>
  </div>
</script>