<script id="template_change_role" type="text/x-handlebars-template" class="template">
  <div class="nice_row_container rem05_gap">
    <div id="change_role_admin" class="nice_row pointer">Admin: Full features</div>
    <div id="change_role_op" class="nice_row pointer">Op: Operator features</div>
    <div id="change_role_voice" class="nice_row pointer">Voice: Basic features</div>
  </div>
</script>