<script id="template_change_password" type="text/x-handlebars-template" class="template">
  <div class="details_inputbox">
    <input autocomplete="new-password" type="password" placeholder="New Password" id="change_password_input_1" class="input1">
    <input autocomplete="new-password" type="password" placeholder="Password Again" id="change_password_input_2" class="input1">
  </div>
</script>