<script id='template_chat_search' type='text/x-handlebars-template' class='template'>
    <div class='flex_row_center sticky bg1'>
        <i class='fa fa-history invisible'></i>
        <input type="search" id="chat_search_filter" data-mode='manual' class="filter_input_2 filter_padding" placeholder="Query">
        <i class='fa fa-history pointer action nicetitle' id='chat_search_history_icon' title="Recent Searches"></i>
    </div>

    <div id='chat_search_no_results' class='unselectable'>
        <div class='bigger3'>No Results</div>
    </div>

    <div id='chat_search_container' class='chat_area align_left'></div>
</script>