<script id="template_chat_quote" type="text/x-handlebars-template" class="template">
  <img class="chat_quote_profilepic profilepic actionbox" loading="lazy", src="{{profilepic}}">
  <div class="chat_quote_username action underlined">{{username}}</div><div class="chat_quote_dots">:</div>
  <div class="chat_quote_text action">{{quote}}</div>
</script>