<script id="template_chat_search_titlebar" type="text/x-handlebars-template" class="template">
  <div id="chat_search_buttons" class="flex_row_center generic_horizontal_separator">
    <div id="chat_search_highlights" class="action">Highlights</div>
    <div id="chat_search_links" class="action">Links</div>
    <div id="chat_search_user" class="action">User</div>
  </div>
</script>