<script id="template_chat_search_titlebar" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="chat_search_highlights" class="action titlebar_action">Highlights</div>
    <div id="chat_search_links" class="action titlebar_action">Links</div>
    <div id="chat_search_user" class="action titlebar_action">User</div>
    <div id="chat_search_image" class="action titlebar_action">Image</div>
    <div id="chat_search_tv" class="action titlebar_action">TV</div>
  </div>
</script>