<script id='template_chat_search' type='text/x-handlebars-template' class='template'>
    <div class='flex_row_center sticky bg1'>
        <svg class='other_icon invisible'>
            <use href='#icon_sync'></use>
        </svg>

        <input type="text" id="chat_search_filter" data-mode='manual' class="filter_input_2 filter_padding" placeholder="Query">
        
        <svg class='other_icon action pointer nicetitle' id='chat_search_history_icon' title="Recent Searches">
            <use href='#icon_sync'></use>
        </svg>
    </div>

    <div id='chat_search_no_results'>
        <div class='bigger3'>No Results</div>
    </div>

    <div id='chat_search_container' class='chat_area chat_area_clone align_left'></div>
</script>