<script id="template_chat_search" type="text/x-handlebars-template" class="template">
  <input type="text" id="chat_search_filter" data-mode="manual" class="filter_input" placeholder="Query">
  <div id="chat_search_container" class="chat_area chat_area_clone align_left result_container"></div>
</script>