<script id="template_chat_search" type="text/x-handlebars-template" class="template">
  {{{window_controls}}}
  <div id="chat_search_container" class="chat_area chat_area_clone align_left result_container"></div>
</script>