<script id="template_chat_message" type="text/x-handlebars-template" class="template">
  <div class="chat_left_side">
    <img class="chat_profilepic profilepic actionbox chat_image" src="{{profilepic}}" loading="lazy">
  </div>

  <div class="chat_right_side">
    <div class="chat_message_top">
      <div class="chat_username action"></div>
      <div class="chat_date"></div>
      <div class="chat_info"></div>
    </div>

    <div class="chat_container">
      <div class="chat_content_container chat_menu_button_main message_unit unit_data_container" title="{{title}}" data-date="{{date}}">
        <div class="chat_quote"></div>
        <div class="chat_menu_button_container">
          <svg class="other_icon chat_menu_button chat_menu_button_menu">
            <use xlink:href="#icon_ellipsis"></use>
          </svg>
        </div>

        <div class="{{content_classes}}"></div>
        <div class="likes_container"></div>
      </div>
    </div>
  </div>
</script>