<script id="template_command_book_commands" type="text/x-handlebars-template" class="template">
  {{#each commands}}
  <div class="command_book_item modal_item nice_row">
    <div class="command_book_name">{{@key}}:</div>
    <div class="command_book_description">{{description}}</div>
  </div>
  {{/each}} 
</script>