<script id="template_commands" type="text/x-handlebars-template" class="template">
  <input type="text" id="commands_filter" class="filter_input" placeholder="Filter">
  <div id="commands_container" class="nice_row_container">
    {{#each commands}}
    <div class="commands_item modal_item nice_row">
      <div class="commands_name">{{@key}}:</div>
      <div class="commands_description">{{description}}</div>
    </div>
    {{/each}} 
  </div>
</script>