<script id='template_confirm' type='text/x-handlebars-template' class='template'>
  <div class='flex_column_center'>
    <div id='confirm_message'></div>

    <div id='confirm_buttons' class='flex_row_center generic_horizontal_separator'>
      <div id='confirm_button_cancel' class='bigger action'>Cancel</div>
      <div id='confirm_button_confirm' class='bigger action'>Confirm</div>
    </div>
  </div>
</script>