<script id='template_create_room' type='text/x-handlebars-template' class='template'>
    <div id='create_room'>
        <div class='flex_row_center'>
            <svg class='other_icon invisible'><use href='#icon_question'></svg>
            <input type="text" id="create_room_name" class='nice_input_2' placeholder="Name">
            <svg id='create_room_suggest_name' class='other_icon action pointer'>
                <use href='#icon_question'>
            </svg>
        </div>

        <div class='flex_column_center'>
            <select id='create_room_public' class='modal_select'>
                <option value='true' selected>Public</option>
                <option value='false'>Private</option>
            </select>

            <div id='create_room_done' class='menu_item action'>Create</div>
        </div>
    </div>
</script>