<script id='template_credits' type='text/x-handlebars-template' class='template'>
    <div id='credits_container' class='unselectable'>
        <img src='{{background_url}}' id='credits_background' draggable='false'>
    </div>
</script>