<script id='template_custom_app_picker' type='text/x-handlebars-template' class='template'>
  <input type="text" id="custom_app_picker_input" class="nice_input" placeholder="Enter a URL">
  <div id="custom_app_picker_open" class="action">Open</div>
</script>