<script id='template_delete_messages_select' type='text/x-handlebars-template' class='template'>
  <div class='flex_row_center' id='delete_messages_select_container'>
      <div id='delete_messages_select_delete' class='bigger action inline pointer'>Delete</div>
  <div id='delete_messages_select_above' class='bigger action inline pointer'>Delete Above</div>
  <div id='delete_messages_select_below' class='bigger action inline pointer'>Delete Below</div>
</script>