<script id='template_delete_messages' type='text/x-handlebars-template' class='template'>
  <div class='flex_row_center' id='delete_messages_container_1'>
    <div id='delete_messages_delete' class='bigger action inline pointer'>Delete One</div>
    <div id='delete_messages_delete_group' class='bigger action inline pointer'>Delete Group</div>
  </div>
  <div class='flex_row_center' id='delete_messages_container_2'>
    <div id='delete_messages_above' class='bigger action inline pointer'>Delete Above</div>
    <div id='delete_messages_below' class='bigger action inline pointer'>Delete Below</div>
  </div>
</script>