<script id='template_details' type='text/x-handlebars-template' class='template'>
    <div class='info_item'>
        <div class='info_title'>Username</div>
        <div class='info_item_content' id='details_username'></div>
    </div>

    <div class='info_item'>
        <div class='info_title'>Email</div>
        <div class='info_item_content' id='details_email'></div>
    </div>

    <div class='info_item'>
        <div class='info_title'>Account Created On</div>
        <div class='info_item_content' id='details_reg_date'></div>
    </div>

    <div class='info_item'>
        <div class='info_title'>Joined Room On</div>
        <div class='info_item_content' id='details_joined_room'></div>
    </div>

    <div class='info_item'>
        <div class='info_title'>Bio</div>
        <textarea id='details_bio_textarea' class='setting_textarea' rows="4"></textarea>
    </div>

    <div id='details_change_buttons' class='grid_column_center'>
        <div id='details_change_username' class=' action pointer'>Change Username</div>
        <div id='details_change_password' class=' action pointer'>Change Password</div>
        <div id='details_change_email' class=' action pointer'>Change Email</div>
    </div>
</script>