<script id="template_draw_image_titlebar" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="draw_image_undo" class="action titlebar_action">Undo</div>
    <div id="draw_image_redo" class="action titlebar_action">Redo</div>
    <div id="draw_image_clear" class="action titlebar_action">Clear</div>
    <div id="draw_image_upload" class="action titlebar_action">Upload</div>
  </div>
</script>