<script id="template_draw_image" type="text/x-handlebars-template" class="template">
  <div id="draw_image_main">
    <div class="flex_row_center" id="draw_image_controls">
      <div id="draw_image_mode_select_pencil" class="draw_tool_container inline_flex_row_center buttonbox">
        <svg class="action other_icon draw_icon"><use href="#icon_pencil" title="Pencil"></use></svg>

        <div id="draw_image_pencil_controls" class="flex_row_center">
          <input type="color" id="draw_image_pencil_color">

          <select id="draw_image_pencil_size" class="modal_select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>

      <div id="draw_image_mode_select_bucket" class="draw_tool_container inline_flex_row_center buttonbox">
        <svg class="action other_icon draw_icon"><use href="#icon_adjust" title="Bucket"></use></svg>
        <input type="color" id="draw_image_bucket_color">
      </div>

      <div id="draw_image_color_picker" class="action buttonbox">Color Picker</div>
    </div>

    <canvas id="draw_image_area" class="draw_canvas" width="1280px" height="960px" tabindex=1></canvas>
  </div>
</script>