<script id='template_draw_image' type='text/x-handlebars-template' class='template'>
    <div id='draw_image_main'>
        <div class='unselectable' id='draw_image_controls'>
            <div id='draw_image_mode_select_pencil' class='pointer action modal_icon_container' onclick='Hue.set_draw_image_mode_input("pencil")'>
                <i class='fa fa-pencil nicetitle' title='Pencil'></i>

                <div id='draw_image_pencil_controls'>
                    <input type='color' id='draw_image_pencil_color'>

                    <select id='draw_image_pencil_size' class='modal_select'>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div id='draw_image_mode_select_bucket' class='pointer action modal_icon_container' onclick='Hue.set_draw_image_mode_input("bucket")'>
                <i class='fa fa-adjust nicetitle' title='Bucket' id='draw_image_bucket_icon'></i>
                <input type='color' id='draw_image_bucket_color'>
            </div>
        </div>

        <canvas id='draw_image_area' class='draw_canvas' width='1920px' height='1440px' tabindex=1></canvas>

        <div id='draw_image_buttons' class='unselectable flex_row_center'>
            <div class='bigger pointer action' onclick='Hue.draw_image_undo()'>Undo</div>
            <div class='bigger pointer action' onclick='Hue.draw_image_redo()'>Redo</div>
            <div class='bigger pointer action' onclick='Hue.needs_confirm("clear_draw_image_func")'>Clear</div>
            <div class='bigger pointer action' onclick='Hue.upload_draw_image()' tabindex=3>Upload</div>
        </div>
    </div>
</script>