<script id="template_draw_image" type="text/x-handlebars-template" class="template">
  <div id="draw_image_main">
    <div class="flex_row_center" id="draw_image_controls">
      <div id="draw_image_mode_select_pencil" class="modal_icon_container">
        <svg class="action other_icon"><use href="#icon_pencil" title="Pencil"></svg>

        <div id="draw_image_pencil_controls">
          <input type="color" id="draw_image_pencil_color">

          <select id="draw_image_pencil_size">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>

      <div id="draw_image_mode_select_bucket" class="modal_icon_container">
        <svg class="action other_icon"><use href="#icon_adjust" title="Bucket"></svg>
        <input type="color" id="draw_image_bucket_color">
      </div>

      <div id="draw_image_color_picker" class="action">Color Picker</div>
    </div>

    <canvas id="draw_image_area" class="draw_canvas" width="1280px" height="960px" tabindex=1></canvas>

    <div id="draw_image_buttons" class="flex_row_center generic_horizontal_separator">
      <div id="draw_image_undo" class="bigger action">Undo</div>
      <div id="draw_image_redo" class="bigger action">Redo</div>
      <div id="draw_image_clear" class="bigger action">Clear</div>
      <div id="draw_image_upload" class="bigger action">Upload</div>
    </div>

    <canvas id="draw_random_canvas" class="nodisplay" width="1280px" height="1280px"></canvas>
  </div>
</script>