<script id='template_draw_image' type='text/x-handlebars-template' class='template'>
    <div id='draw_image_main'>
        <div id='draw_image_controls'>
            <div id='draw_image_mode_select_pencil' class='pointer action modal_icon_container' title='Pencil'>
                <svg class='other_icon'><use href='#icon_pencil'></svg>

                <div id='draw_image_pencil_controls'>
                    <input type='color' id='draw_image_pencil_color'>

                    <select id='draw_image_pencil_size'></select>
                </div>
            </div>
            <div id='draw_image_mode_select_bucket' class='pointer action modal_icon_container' title='Bucket'>
                <svg class='other_icon' id='draw_image_bucket_icon'><use href='#icon_adjust'></svg>
                <input type='color' id='draw_image_bucket_color'>
            </div>
        </div>

        <canvas id='draw_image_area' class='draw_canvas' width='1920px' height='1440px' tabindex=1></canvas>

        <div id='draw_image_buttons' class='flex_row_center'>
            <div id='draw_image_undo' class='bigger pointer action'>Undo</div>
            <div id='draw_image_redo' class='bigger pointer action'>Redo</div>
            <div id='draw_image_clear' class='bigger pointer action'>Clear</div>
            <div id='draw_image_upload' class='bigger pointer action' tabindex=3>Upload</div>
        </div>
    </div>
</script>