<script id='template_expand_image' type='text/x-handlebars-template' class='template'>
  <img id='expand_image_background' class='background'>

  <div id="expand_image_container" class="bg1">
    <div id="expand_image_spinner" class='spinner1'></div>
    <img id="expand_image">
    <div id="expand_image_error">Image Not Available</div>
  </div>
</script>