<script id="template_expand_image" type="text/x-handlebars-template" class="template">
  <img id="expand_image_background" class="background">

  <div class="columns_container">
    <div id="expand_image_header" class="panel">
      <div class="flex_row_center generic_horizontal_separator">
        <div id="expand_image_toolbar_expand" class="modal_image_button action">Expand</div>
        <div id="expand_image_toolbar_url" class="modal_image_button action">URL</div>
      </div>
    </div>

    <div id="expand_image_subheader" class="modal_subheader action"></div>
  
    <div id="expand_image_container" class="show_image_container bg1">
      <div id="expand_image_spinner" class="spinner1"></div>
      <img id="expand_image" class="show_image">
      <div id="expand_image_error">Image Not Available</div>
    </div>
  </div>

</script>