<script id='template_game_picker' type='text/x-handlebars-template' class='template'>
  <div id="game_picker_container">
    {{#each games}}
    <div class="game_picker_item" data-gameindex="{{@index}}">{{name}}</div>
    {{/each}}
  </div>
</script>