<script id='template_global_settings' type='text/x-handlebars-template' class='template'>
    <input type="text" class="filter_input" placeholder="Filter" id="global_settings_filter" data-mode="manual">
    <div id='global_settings_container'>
        {{{settings}}}
    </div>
</script>