<script id="template_handle_chat_media" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div class="menu_item action" id="handle_chat_media_to_chat">Send to Chat</div>
    <div class="menu_item action" id="handle_chat_media_change"></div>
  </div>
</script>