<script id='template_handle_url' type='text/x-handlebars-template' class='template'>
  <div id='handle_url_url'></div>
  <div id='handle_url_container' class='flex_row_center'>
    <div id='handle_url_chat' class='bigger action inline pointer'>Send&nbsp;To&nbsp;Chat</div>
    <div id='handle_url_image' class='bigger action inline pointer'>Change&nbsp;Image</div>
    <div id='handle_url_tv' class='bigger action inline pointer'>Change&nbsp;TV</div>
  </div>
</script>