<script id="template_handle_url_titlebar" type="text/x-handlebars-template" class="template">
  <div id="handle_url_container" class="flex_row_center">
    <div id="handle_url_chat" class="action titlebar_action">Send&nbsp;To&nbsp;Chat</div>
    <div id="handle_url_image" class="action titlebar_action">Change&nbsp;Image</div>
    <div id="handle_url_tv" class="action titlebar_action">Change&nbsp;TV</div>
  </div>
</script>