<script id='template_handle_url' type='text/x-handlebars-template' class='template'>
    <input type='text' id='handle_url_input'>
    <div id='handle_url_container' class='flex_row_center unselectable'>
        <div id='handle_url_chat' class='bigger action inline pointer'>Send To Chat</div>
        <div id='handle_url_image' class='bigger action inline pointer'>Change&nbsp;Image</div>
        <div id='handle_url_tv' class='bigger action inline pointer'>Change&nbsp;TV</div>
        <div id='handle_url_radio' class='bigger action inline pointer'>Change&nbsp;Radio</div>
    </div>
</script>