<script id="template_handle_radio_history" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="handle_radio_history_copy" class="bigger action inline pointer">Copy&nbsp;URL</div>
    <div id="handle_radio_history_search" class="bigger action inline pointer">Search&nbsp;YouTube</div>
  </div>
</script>