<script id='template_header_menu' type='text/x-handlebars-template' class='template'>
  <div id='header_menu'>
    <div id='header_menu_main_menu' class='bitbigger action'>
      <svg class="menu_icon">
        <use href='#icon_cube'>
      </svg>
      <div>Main Menu</div>
    </div>

    <div id='header_menu_users' class='bitbigger action'>
      <svg class="menu_icon">
        <use href='#icon_robot'>
      </svg>
      <div>User List</div>
    </div>

    <div id='header_menu_message_board' class='bitbigger action'>
      <svg class="menu_icon">
        <use href='#icon_comment'>
      </svg>
      <div>Message Board</div>
    </div>

    <div id='header_menu_whispers' class='bitbigger action'>
      <svg class="menu_icon">
        <use href='#icon_envelope'>
      </svg>
      <div>Whispers</div>
    </div>

    <div id='header_menu_notifications' class='bitbigger action'>
      <svg class="menu_icon">
        <use href='#icon_bell'>
      </svg>
      <div>Notifications</div>
    </div>

    <div id='header_menu_lock' class='bitbigger action'>
      <svg class="menu_icon">
        <use href='#icon_locked'>
      </svg>
      <div>Lock Screen</div>
    </div>
  </div>
</script>