<script id='template_help' type='text/x-handlebars-template' class='template'>
    <div class='info_item'>Chat by typing anything.</div>
    <div class='info_item'>All elements in the top and bottom bar are clickable.</div>
    <div class='info_item'>There are 3 main media elements that can be changed, image, tv and radio.</div>
    <div class='info_item'>Media change has permission settings per room. So you might not be able to do certain actions depending on what settings the ops/admins have set.</div>
    <div class='help_controls'>
        <span class='help_link action' onclick='Hue.show_commands()'>Commands</span>
    </div>
</script>