<script id='template_highlights' type='text/x-handlebars-template' class='template'>
    <input type="search" id="highlights_filter" data-mode='manual' class="filter_input" placeholder="Filter">

    <div id='highlights_no_results' class='unselectable'>
        <div class='bigger3'>No Highlights Yet</div>
    </div>

    <div id='highlights_container' class='chat_area chat_area_clone align_left'></div>
</script>