<script id='template_highlights' type='text/x-handlebars-template' class='template'>
    <input type="text" id="highlights_filter" data-mode='manual' class="filter_input" placeholder="Filter">
    <div id='highlights_container' class='chat_area chat_area_clone align_left result_container'></div>
</script>