<script id="template_image_preview" type="text/x-handlebars-template" class="template">
  <div class="image_preview_text">{{text}}</div>
  <div class="image_preview action">
    <img draggable="false" class="image_preview_image actionbox" src="{{source}}" loading="lazy">
  </div>
</script>