<script id="template_image_picker" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem1_gap">
    <svg class="media_picker_icon"><use href="#icon_image"></use></svg>
    <div>Change the room image</div>
    <div>This changes it for everyone</div>
  </div>
</script>