<script id='template_image_upload_comment' type='text/x-handlebars-template' class='template'>
  <img id='image_upload_comment_image_preview' class='upload_comment_preview'>
  <div id='image_upload_comment_image_feedback'>Image seems to be corrupted</div>

  <div class='flex_column_center upload_comment_controls'>
    <input type='text' id='image_upload_comment_input' class='input1 upload_comment_input' placeholder='Comment'>

    <div class='flex_row_center generic_horizontal_separator'>
      <div class='menu_item action' id='image_upload_comment_change'>Re-Choose</div>
      <div class='menu_item action' id='image_upload_comment_submit'>Upload</div>
    </div>
  </div>
</script>