<script id="template_image_upload_comment" type="text/x-handlebars-template" class="template">
  <img id="image_upload_comment_image_preview" class="upload_comment_preview">
  <div id="image_upload_comment_image_feedback">Image seems to be corrupted</div>
  <div id="image_upload_name" class="upload_comment_name"></div>
  <input type="text" id="image_upload_comment_input" class="input1 upload_comment_input" placeholder="Comment (Optional)">
</script>