<script id="template_image_upload_comment_titlebar" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div class="action titlebar_action" id="image_upload_comment_change"></div>
    <div class="action titlebar_action" id="image_upload_comment_submit">Upload</div>
  </div>
</script>