<script id="template_image_picker" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center media_picker_options generic_horizontal_separator" id="image_picker_options">
    <div id="image_picker_link" class="menu_item action">Link</div>
    <div id="image_picker_upload" class="menu_item action">Upload</div>
    <div id="image_picker_draw" class="menu_item action">Draw</div>
    <div id="image_picker_random" class="menu_item action">Random</div>
    <div id="image_picker_screenshot" class="menu_item action">Screenshot</div>
  </div>
</script>