<script id="template_image_link" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center">
    <input type="text" id="image_link_input" class="input1 media_link_input" placeholder="Search Term or URL">
    <input type="text" id="image_link_comment" class="input1 media_link_input" placeholder="Comment (Optional)">
  </div>
  
  <div id="image_link_submit" class="menu_item action inline">Submit</div>
</script>