<script id='template_input_history' type='text/x-handlebars-template' class='template'>
    <div class='flex_row_center sticky bg1'>
        <svg class='other_icon invisible'>
            <use href='#icon_bin'>
        </svg>

        <input type="text" id="input_history_filter" data-mode='manual' class="filter_input_2 filter_padding" placeholder="Filter">
        
        <svg class='other_icon pointer action nicetitle' id='input_history_clear_icon' title="Clear">
            <use href='#icon_bin'>
        </svg>
    </div>

    <div id='input_history_container' class='grid_column_center'></div>
</script>