<script id="template_input_history" type="text/x-handlebars-template" class="template">
  {{{window_controls}}}
  <div id="input_history_container" class="nice_row_container rem05_gap"></div>
</script>