<script id='template_input_history' type='text/x-handlebars-template' class='template'>
    <div class='flex_row_center sticky bg1'>
        <i class='far fa-trash-alt invisible'></i>
        <input type="search" id="input_history_filter" data-mode='manual' class="filter_input_2 filter_padding" placeholder="Filter">
        <i class='far fa-trash-alt pointer action nicetitle' id='input_history_clear_icon' title="Clear"></i>
    </div>

    <div id='input_history_container' class='grid_column_center'></div>
</script>