<script id="template_link_image_titlebar" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="link_image_submit" class="action titlebar_action">Submit Image</div>
  </div>
</script>