<script id="template_link_tv" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem1_gap">
    <input type="text" id="link_tv_input" class="link_media_input" placeholder="Search Term or URL">
    <input type="text" id="link_tv_comment" class="link_media_input" placeholder="Comment (Optional)">
    <div>You can also use the {{commands_prefix}}tv command</div>
  </div>
</script>