<script id="template_link_preview" type="text/x-handlebars-template" class="template">
  <div class="{{classes}}">
    <div class="{{text_content_classes}}">
      <div class="{{title_classes}}">{{title}}</div>
      <div class="{{description_classes}}">{{description}}</div>
    </div>
    <img class="{{image_classes}}" src="{{image}}" loading="lazy">
    </div>
  </div>
</script>