<script id="template_link_image" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem1_gap">
    <input type="text" id="link_image_input" class="input1" placeholder="Search Term or URL">
    <input type="text" id="link_image_comment" class="input1" placeholder="Comment (Optional)">
    <div>You can also use the <%= vars.commands_prefix %>image command</div>
  </div> 
</script>