<script id="template_link_tv_titlebar" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="link_tv_submit" class="action titlebar_action">Submit TV</div>
  </div>
</script>