<script id="template_link_image" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem1_gap">
    <input type="text" id="link_image_input" class="link_media_input" placeholder="Search Term or URL">
    <input type="text" id="link_image_comment" class="link_media_input" placeholder="Comment (Optional)">
    <div>You can also use the image command</div>
  </div>
</script>