<script id="template_link_image" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center">
    <input type="text" id="link_image_input" class="input1 media_link_input" placeholder="Search Term or URL">
    <input type="text" id="link_image_comment" class="input1 media_link_input" placeholder="Comment (Optional)">
  </div>  
</script>