<script id='template_locked_menu' type='text/x-handlebars-template' class='template'>
    <div id='locked_menu' class='unselectable'>
        <div>You are banned from this room</div>
        <div id='locked_menu_container' class='flex_column_center'>
            <div class='menu_item action' onclick="Hue.request_roomlist('', 'visited_roomlist')">Visited Rooms</div>
            <div class='menu_item action' onclick="Hue.request_roomlist('', 'public_roomlist')">Public Rooms</div>
            <div class='menu_item action' onclick="Hue.show_goto_room()">Go To Room</div>
        </div>
        <div class='inline menu_item_smaller action' onclick='Hue.needs_confirm("logout")'>Logout</div>
    </div>
</script>