<script id='template_locked_menu' type='text/x-handlebars-template' class='template'>
    <div id='locked_menu'>
        <div>You are banned from this room</div>
        <div id='locked_menu_container' class='flex_column_center'>
            <div id='locked_menu_visited_rooms' class='menu_item action'>Visited Rooms</div>
            <div id='locked_menu_public_rooms' class='menu_item action'>Public Rooms</div>
            <div id='locked_menu_goto_room' class='menu_item action'>Go To Room</div>
        </div>
        <div id='locked_menu_logout' class='inline menu_item_smaller action'>Logout</div>
    </div>
</script>