<script id="template_lockscreen" type="text/x-handlebars-template" class="template">
  <div id="lockscreen_body">
    <div id="lockscreen_header">Lock Screen</div>
    <div id="lockscreen_principal" class="action2">
      <div id="lockscreen_menu">
        <div id="lockscreen_title_menu">
          <div id="lockscreen_title">
            <div>UNLOCK</div>
            <div id="lockscreen_title_info">(Hover To Peek)</div>
          </div>
          <div id="lockscreen_icon_menu">
            <div class="lockscreen_circle_1"></div>
            <div class="lockscreen_circle_2"></div>
            <div class="lockscreen_circle_3"></div>
            <div class="lockscreen_circle_4"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="lockscreen_info">
      <div>Media and notifications are blocked</div>
    </div>
  </div>
</script>