<script id="template_main_menu" type="text/x-handlebars-template" class="template">
  <div id="main_menu">
    <div id="main_menu_user_profile" class="menu_item action">
      <svg class="menu_icon">
        <use href="#icon_user">
      </svg>
      <div>User Profile</div>
    </div>

    <div id="main_menu_settings" class="menu_item action">
      <svg class="menu_icon">
        <use href="#icon_cog">
      </svg>
        <div>User Settings</div>
    </div>    
  
    <div id="main_menu_room_config" class="menu_item action">
      <svg class="menu_icon">
        <use href="#icon_comment">
      </svg>
      <div>Room Config</div>
    </div>

    <div id="main_menu_chat_search" class="menu_item action">
      <svg class="menu_icon">
        <use href="#icon_search">
      </svg>
      <div>Chat Search</div>
    </div>

    <div id="main_menu_media_tweaks" class="menu_item action">
      <svg class="menu_icon">
        <use href="#icon_image">
      </svg>
      <div>Media Tweaks</div>
    </div>

    <div id="main_menu_rooms" class="menu_item action">
      <svg class="menu_icon">
        <use href="#icon_snowflake">
      </svg>
      <div>Room List</div>
    </div>

    <div id="main_menu_commands" class="menu_item action">
      <svg class="menu_icon">
        <use href="#icon_terminal">
      </svg>
        <div>Command Book</div>
    </div>
  </div>
</script>