<script id='template_main_menu' type='text/x-handlebars-template' class='template'>
    <div id='main_menu'>

        <div id='main_menu_user_menu' class='menu_item action'>User Menu</div>
        <div id='main_menu_media_menu' class='menu_item action'>Media Menu</div>
        <div id='main_menu_status' class='menu_item action'>Room Status</div>
        <div id='main_menu_create_room' class='menu_item action'>Create Room</div>
        <div id='main_menu_commands' class='menu_item action'>Commands</div>

        <div id='admin_menu'>
            <div id='main_menu_main_container_theme' class='toggler_main_container'>
                <div id='main_menu_toggle_theme' class='toggler main_menu_toggle bold pointer action inline main_menu_category'>+ Theme</div>

                <div class='toggler_container main_menu_toggle_container'>
                    <div class='main_menu_section_container'>
                        <div class='main_menu_section'>
                            <div class='main_menu_label'>Theme</div>
                            <input type='color' id='admin_theme'>
                        </div>

                        <div class='main_menu_section'>
                            <div class='main_menu_label'>Text Color Mode</div>
                            <select class='modal_select' id='admin_text_color_mode_select'>
                                <option value="automatic">Automatic</option>
                                <option value="custom">Custom</option>
                            </select>
                        </div>

                        <div id='admin_text_color_container' class='main_menu_section'>
                            <div class='main_menu_label'>Text Color</div>
                            <input type='color' id='admin_text_color'>
                        </div>
                    </div>
                </div>
            </div>

            <div id='main_menu_main_container_background' class='toggler_main_container'>
                <div id='main_menu_toggle_background' class='toggler main_menu_toggle bold pointer action inline main_menu_category'>+ Background</div>

                <div class='toggler_container main_menu_toggle_container'>
                    <div class='main_menu_section_container'>
                        <div class='main_menu_section'>
                            <div class='main_menu_label'>Background Mode</div>
                            <select class='modal_select' id='admin_background_mode_select'>
                                <option value="normal">Normal</option>
                                <option value="tiled">Tiled</option>
                                <option value="solid">Solid</option>
                            </select>
                        </div>

                        <div id='admin_background_effect_container' class='main_menu_section'>
                            <div class='main_menu_label'>Background Effect</div>
                            <select class='modal_select' id='admin_background_effect_select'>
                                <option value="none">None</option>
                                <option value="blur">Blur</option>
                                <option value="grayscale">Grayscale</option>
                                <option value="saturate">Saturate</option>
                                <option value="brightness">Brightness</option>
                                <option value="invert">Invert</option>
                            </select>
                        </div>

                        <div id='admin_background_tile_dimensions_container' class='main_menu_section'>
                            <div class='small_padding_bottom'>Tile Dimensions</div>
                            <input type='text' class='setting_input_text_small' id='admin_background_tile_dimensions' title='CSS background-size property (width and height). For example 200px 200px, 100px auto, auto 100px, or 100px 200px'>
                        </div>

                        <div id='admin_background_image_container' class='main_menu_section'>
                            <img id='admin_background_image' class='small_square_image pointer'>
                        </div>
                    </div>
                </div>
            </div>

            <div id='main_menu_main_container_room_config' class='toggler_main_container'>
                <div id='main_menu_toggle_room_config' class='toggler main_menu_toggle bold pointer action inline main_menu_category'>+ Room Config</div>
                <div class='toggler_container main_menu_toggle_container'>
                    <div class='main_menu_section_container'>
                        <div id='main_menu_room_name_container' class='main_menu_section'>
                            <div class='main_menu_label'>Room Name</div>
                            <input type="text" class="setting_input_text" id="admin_room_name">
                        </div>
                        
                        <div id='main_menu_topic_container' class='main_menu_section'>
                            <div class='small_padding_bottom'>Topic</div>
                            <textarea class='setting_textarea' rows=4 id="admin_topic"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div id='main_menu_main_container_more' class='toggler_main_container'>
                <div id='main_menu_toggle_more' class='toggler main_menu_toggle bold pointer action inline main_menu_category'>+ More</div>

                <div class='toggler_container main_menu_toggle_container'>
                    <div id='main_menu_more_container' class='grid_column_center'>
                        <div id='main_menu_more_clear_log' class='pointer action'>Clear Log</div>
                        <div id='main_menu_more_admin_activity' class='pointer action'>Admin Activity</div>
                        <div id='main_menu_more_admin_list' class='pointer action'>Admin List</div>
                        <div id='main_menu_more_ban_list' class='pointer action'>Ban List</div>
                        <div id='main_menu_more_unban_all' class='pointer action'>Unban All</div>
                        <div id='main_menu_more_clear_message_board' class='pointer action'>Clear Msg Board</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>