<script id='template_main_menu' type='text/x-handlebars-template' class='template'>
  <div id='main_menu'>
    <div id='main_menu_user_menu' class='bitbigger action'>
      <svg id='footer_user_menu' class='panel_icon'>
        <use href='#icon_user'>
      </svg>
      <div>User Menu</div>
    </div>
  
    <div id='main_menu_room_menu' class='bitbigger action'>
      <svg id='footer_user_menu' class='panel_icon'>
        <use href='#icon_comment'>
      </svg>
      <div>Room Menu</div>
    </div>
  
    <div id='main_menu_media_menu' class='bitbigger action'>
      <svg id='footer_user_menu' class='panel_icon'>
        <use href='#icon_tv'>
      </svg>
        <div>Media Menu</div>
    </div>

    <div id='main_menu_settings' class='bitbigger action'>
      <svg id='footer_user_menu' class='panel_icon'>
        <use href='#icon_cog'>
      </svg>
        <div>Settings</div>
    </div>

    <div id='main_menu_commands' class='bitbigger action'>
      <svg id='footer_user_menu' class='panel_icon'>
        <use href='#icon_terminal'>
      </svg>
        <div>Commands</div>
    </div>

    <div id='main_menu_create_room' class='bitbigger action'>
      <svg id='footer_user_menu' class='panel_icon'>
        <use href='#icon_plus'>
      </svg>
        <div>Create Room</div>
    </div>
  </div>
</script>