<script id='template_main_menu' type='text/x-handlebars-template' class='template'>
  <div id='main_menu_user_menu' class='menu_item action'>User Menu</div>
  <div id='main_menu_room_menu' class='menu_item action'>Room Menu</div>
  <div id='main_menu_media_menu' class='menu_item action'>Media Menu</div>
  <div id='main_menu_commands' class='menu_item action'>Commands</div>
</script>