<script id="template_media_info" type="text/x-handlebars-template" class="template">
  <div id="media_{{type}}_info_container" class="media_info_container flex_row_center dynamic_title">
    <div id="media_{{type}}_info" class="media_info flex_row_center"></div>
    <div class="media_info_timeago"></div>
  </div>
</script>