<script id='template_media_iframe_tv' type='text/x-handlebars-template' class='template'>
  <div id='media_iframe_poster' class='action'>Click Here To Load</div>
  <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" 
    width="640px" height="360px" id='media_iframe_tv' class='video_frame'>
  </iframe>
  {{{info}}}
</script>