<script id='template_media_menu' type='text/x-handlebars-template' class='template'>
    <div id='media_menu_container' class='flex_column_center generic_vertical_separator'>
        <div id='media_menu_loaded_media' class='generic_vertical_separator flex_column_center'>
            <div class='full_width'>
                <i class='fa fa-camera icon2c action pointer' onclick='Hue.show_image_picker()'></i>
                <div id='media_menu_loaded_image' class='media_menu_loaded_media_container chat_area_clone_center'></div>
            </div>

            <div class='full_width'>
                <i class='fa fa-tv icon2c action pointer' onclick='Hue.show_tv_picker()'></i>
                <div id='media_menu_loaded_tv' class='media_menu_loaded_media_container chat_area_clone_center'></div>
            </div>
        </div>

        <div id='media_menu_actions' class='grid_column_center'>
            <div class='pointer action' onclick='Hue.stop_and_lock(); Hue.hide_media_menu()'>Stop & Lock Everything</div>
            <div class='pointer action' onclick='Hue.stop_and_lock(false); Hue.hide_media_menu()'>Lock Everything</div>
            <div class='pointer action' onclick='Hue.default_media_state(false); Hue.hide_media_menu()'>Unlock Everything</div>
        </div>

        <div class='full_width'>
            <div id='media_menu_tv_volume_title' class='setting_title'>TV Volume</div>
            <div class='slider_container'>
                <div class='slider_icon_left pointer action' onclick="Hue.set_media_menu_tv_volume('decrease')" onauxclick="Hue.set_media_menu_tv_volume('min')"><i class='icon2 fa fa-minus'></i></div>
                <input type='range' id='media_menu_tv_volume' type="range" min="0" max="1" step="0.1"
                ondblclick='Hue.set_media_menu_tv_volume("default")'>
                <div class='slider_icon_right pointer action' onclick="Hue.set_media_menu_tv_volume('increase')" onauxclick="Hue.set_media_menu_tv_volume('max')"><i class='icon2b fa fa-plus'></i></div>
            </div>
        </div>
    </div>
</script>