<script id='template_media_percentages' type='text/x-handlebars-template' class='template'>
  <option value='30'>30%</option>
  <option value='35'>35%</option>
  <option value='40'>40%</option>
  <option value='45'>45%</option>
  <option value='50'>50%</option>
  <option value='55'>55%</option>
  <option value='60'>60%</option>
  <option value='65'>65%</option>
  <option value='70'>70%</option>
</script>