<script id="template_media_tweaks" type="text/x-handlebars-template" class="template">
  <div id="media_tweaks" class="flex_column_center">
    <div id="media_tweaks_top" class="full_width">
      <div class="flex_row_center generic_horizontal_separator">
        <div id="media_tweaks_swap" class="menu_item action" title="Swap position of image and tv">Swap</div>
        <div id="media_tweaks_rotate" class="menu_item action" title="Media in column or row">Rotate</div>
        <div id="media_tweaks_revolve" class="menu_item action" title="Media on top or on the side">Revolve</div>
      </div>
    </div>

    <div class="full_width flex_column_center rem2_gap">
      <div>
        <div class="setting_title">TV / Image Size</div>
        <div class="flex_row_center">
          <svg id="media_tweaks_tv_size_minus" class="panel_icon action"><use href="#icon_minus"></svg>
          <select class="modal_select" id="media_tweaks_tv_size">
            {{{percentages}}}
          </select>
          <svg id="media_tweaks_tv_size_plus" class="panel_icon action"><use href="#icon_plus"></svg>
        </div>
      </div>

      <div>
        <div class="setting_title">Chat / Media Size</div>
        <div class="flex_row_center">
          <svg id="media_tweaks_chat_size_minus" class="panel_icon action"><use href="#icon_minus"></svg>
          <select class="modal_select" id="media_tweaks_chat_size">
            {{{percentages}}}
          </select>
          <svg id="media_tweaks_chat_size_plus" class="panel_icon action"><use href="#icon_plus"></svg>
        </div>
      </div>

      <div>
        <div class="setting_title">Chat Font Size</div>
        <div class="flex_row_center">
          <svg id="media_tweaks_chat_font_size_minus" class="panel_icon action"><use href="#icon_minus"></svg>
          <select class="modal_select" id="media_tweaks_chat_font_size">
            {{{chat_font_sizes}}}
          </select>
          <svg id="media_tweaks_chat_font_size_plus" class="panel_icon action"><use href="#icon_plus"></svg>
        </div>
      </div>
    </div>

    <div id="media_tweaks_toggles" class="flex_column_center rem1_gap">
      <div class="flex_row_center rem1_gap">
        <div class="flex_column_center rem1_gap media_tweaks_toggles_col">
          <div id="media_tweaks_toggle_image" class="action" title="Show or hide the image"></div>
          <div id="media_tweaks_toggle_info" class="action" title="Info below media"></div>
        </div>

        <div class="flex_column_center rem1_gap media_tweaks_toggles_col">
          <div id="media_tweaks_toggle_tv" class="action" title="Show or hide the tv"></div>
          <div id="media_tweaks_toggle_chat" class="action" title="Show or hide the chat"></div>
        </div>
      </div>
    </div>
    
    <div id="media_tweaks_defaults" class="menu_item action" title="Set all tweaks to default">Apply Defaults</div>
  </div>
</script>