<script id="template_media_info_inner" type="text/x-handlebars-template" class="template">
  <div class="media_info_username action">{{setter}}</div>
  <div class="media_info_details action">: {{message}}</div>
</script>