<script id="template_media_info_inner" type="text/x-handlebars-template" class="template">
  <div class="media_info_user flex_row_center">
    <div class="media_info_profile flex_row_center underaction outlander">
        <img src="{{profilepic}}" class="media_info_profilepic profilepic icon_size">
        <div class="media_info_username">{{username}}</div>
    </div>

    <div class="media_info_date media_info_menu underaction"></div>
  </div>

  <div class="media_info_title media_info_menu underaction">{{message}}</div>
</script>