<script id="template_media_info" type="text/x-handlebars-template" class="template">
  <div id="media_{{type}}_info_container" class="media_info_container flex_row_center">
    <div class="media_info_loading" style="display:none">Loading...</div>
    <div id="media_{{type}}_info" class="media_info flex_column_center"></div>
  </div>
</script>