<script id="template_media_tweaks" type="text/x-handlebars-template" class="template">
  <div id="media_tweaks" class="flex_column_center">
    <div class="full_width flex_column_center rem2_gap">
      <div>
        <div class="setting_title">TV / Image Size</div>
        <div class="flex_row_center">
          <svg id="media_tweaks_tv_size_minus" class="panel_icon action"><use href="#icon_minus"></svg>
          <select class="modal_select media_tweaks_select" id="media_tweaks_tv_size">
            {{{percentages}}}
          </select>
          <svg id="media_tweaks_tv_size_plus" class="panel_icon action"><use href="#icon_plus"></svg>
        </div>
      </div>

      <div>
        <div class="setting_title">Chat / Media Size</div>
        <div class="flex_row_center">
          <svg id="media_tweaks_chat_size_minus" class="panel_icon action"><use href="#icon_minus"></svg>
          <select class="modal_select media_tweaks_select" id="media_tweaks_chat_size">
            {{{percentages}}}
          </select>
          <svg id="media_tweaks_chat_size_plus" class="panel_icon action"><use href="#icon_plus"></svg>
        </div>
      </div>

      <div>
        <div class="setting_title">Chat Font Size</div>
        <div class="flex_row_center">
          <svg id="media_tweaks_chat_font_size_minus" class="panel_icon action"><use href="#icon_minus"></svg>
          <select class="modal_select media_tweaks_select" id="media_tweaks_chat_font_size">
            {{{chat_font_sizes}}}
          </select>
          <svg id="media_tweaks_chat_font_size_plus" class="panel_icon action"><use href="#icon_plus"></svg>
        </div>
      </div>

      <div>
        <div class="setting_title">Media Info</div>
        <div class="flex_row_center">
          <svg id="media_tweaks_media_info_enabled_minus" class="panel_icon action"><use href="#icon_minus"></svg>
          <select class="modal_select media_tweaks_select" id="media_tweaks_media_info_enabled">
            <option value="enabled">Enabled</option>
            <option value="disabled">Disabled</option>
          </select>
          <svg id="media_tweaks_media_info_enabled_plus" class="panel_icon action"><use href="#icon_plus"></svg>
        </div>
      </div>

      <div>
        <div class="setting_title">Chat Area</div>
        <div class="flex_row_center">
          <svg id="media_tweaks_chat_enabled_minus" class="panel_icon action"><use href="#icon_minus"></svg>
          <select class="modal_select media_tweaks_select" id="media_tweaks_chat_enabled">
            <option value="enabled">Enabled</option>
            <option value="disabled">Disabled</option>
          </select>
          <svg id="media_tweaks_chat_enabled_plus" class="panel_icon action"><use href="#icon_plus"></svg>
        </div>
      </div>

      <div id="media_tweaks_vertical_preset" class="bigger action">Vertical Preset</div>
    </div>
  </div>
</script>