<script id='template_message_board_post' type='text/x-handlebars-template' class='template'>
  <div class='message_board_top'>
    <div class='message_board_user_details action'>
      <img class='message_board_profilepic profilepic actionbox' loading='lazy'>
      <div class='message_board_username'></div>
    </div>
    <div class='message_board_date'></div>
  </div>
  <div class='message_board_text dynamic_title'></div>
  <div><div class='message_board_delete action inline underlined'>Delete</div></div>
</script>