<script id="template_message_board_post" type="text/x-handlebars-template" class="template">
  <div class="message_board_top">
    <div class="message_board_user_details action flex_row_center">
      <img class="message_board_profilepic profilepic icon_size actionbox" loading="lazy">
      <div class="message_board_username"></div>
      <div class="message_board_date"></div>
    </div>
  </div>

  <div class="message_board_content shady_text">
    <div class="message_board_text"></div>
    <img class="message_board_image actionbox hidden" loading="lazy">
    <div class="message_board_link_title hidden"></div>
    <div class="message_board_link_description hidden"></div>
    <img class="message_board_link_image actionbox hidden" loading="lazy">
  </div>

  <textarea rows="4" class="message_board_edit_area modal_textarea hidden"></textarea>

  <div class="message_board_buttons message_board_btns">
    <div class="message_board_delete action underlined">Delete</div>
    <div class="message_board_edit action underlined">Edit</div>
    <div class="message_board_bump action underlined">Bump</div>
  </div>

  <div class="message_board_edit_buttons message_board_btns hidden">
    <div class="message_board_edit_cancel action underlined">Cancel</div>
    <div class="message_board_edit_done action underlined">Done</div>
  </div>
</script>