<script id='template_message_board' type='text/x-handlebars-template' class='template'>
    <div class='flex_row_center sticky bg1'>
        <i class='fas fa-plus invisible'></i>
        <input type="search" id="message_board_filter" class="filter_input_2 filter_padding" placeholder="Filter">
        <i class='fas fa-plus pointer action nicetitle' id='message_board_post_icon' title="Create A New Post"></i>
    </div>
    <div id='message_board_container' class='grid_column_center'>No Posts Yet</div>
</script>