<script id='template_message' type='text/x-handlebars-template' class='template'>
    <div id='write_message_user_profilepics'></div>
    <div id='write_message_add_user' class='action'>Click here to add more users</div>
    <textarea rows='3' id='write_message_area' tabindex=0 placeholder='Write a Message' class='full_textarea'></textarea>
    <span class='flex_row_center generic_horizontal_separator'>
        <div id='write_message_send_button' class='bigger action inline' tabindex=4>Send</div>
    </span>
</script>