<script id="template_message_board_post" type="text/x-handlebars-template" class="template">
  <div class="message_board_top">
    <div class="message_board_user_details action flex_row_center">
      <img class="message_board_profilepic profilepic actionbox" loading="lazy">
      <div class="message_board_username"></div>
    </div>
    <div class="message_board_date"></div>
  </div>

  <div class="message_board_content dynamic_title">
    <div class="message_board_text"></div>
    <img class="message_board_image actionbox" loading="lazy">
    <div class="message_board_link_title"></div>
    <div class="message_board_link_description"></div>
    <img class="message_board_link_image actionbox" loading="lazy">
  </div>

  <textarea rows="4" class="message_board_edit_area shady_text"></textarea>

  <div class="message_board_buttons message_board_btns">
    <div class="message_board_delete action underlined">Delete</div>
    <div class="message_board_edit action underlined">Edit</div>
  </div>

  <div class="message_board_edit_buttons message_board_btns">
    <div class="message_board_edit_cancel action underlined">Cancel</div>
    <div class="message_board_edit_done action underlined">Done</div>
  </div>
</script>