<script id="template_message_board" type="text/x-handlebars-template" class="template">
  <div id="message_board_input">
    <textarea id="message_board_textarea" class="full_textarea modal_textarea" rows="3" placeholder="Post something on the message board"></textarea>
  </div>

  {{{window_controls}}}

  <div id="message_board_container" class="flex_column_center"></div>
</script>