<script id="template_message_board" type="text/x-handlebars-template" class="template">
  <div id="message_board_input">
    <textarea id="message_board_textarea" class="full_textarea shady_text" rows="3" placeholder="Write Something"></textarea>
    <div id="message_board_publish" class="bigger action">Publish</div>
  </div>
  <input type="text" id="message_board_filter" class="filter_input" placeholder="Filter">
  <div id="message_board_container" class="grid_column_center"></div>
</script>