<script id='template_message_board_post' type='text/x-handlebars-template' class='template'>
    <textarea id='message_board_post_textarea' class='setting_textarea' rows=3></textarea>
    <div id='message_board_post_button' class='menu_item inline action unselectable'>Post</div>
</script>