<script id="template_message_board_titlebar" type="text/x-handlebars-template" class="template">
  <div id="message_board_titlebar_admin" class="flex_row_center generic_horizontal_separator">
    <div id="message_board_publish" class="action titlebar_action">Publish</div>
    <div id="message_board_user" class="action titlebar_action">User</div>
  </div>

  <div id="message_board_titlebar">
    Message Board
  </div>
</script>