<script id='template_modal_image_number' type='text/x-handlebars-template' class='template'>
    <input id='modal_image_number_input' type='number' class='setting_input_text_smaller'>
    <div id='modal_image_number_button' class='pointer bigger action'>Go To Image</div>
</script>