<script id="template_modal_image" type="text/x-handlebars-template" class="template">
  <img id="modal_image_background" class="background">

  <div class="columns_container">
    <div id="modal_image_header" class="panel">
      <div id="modal_image_arrow_prev" class="modal_image_arrow_button action">&lt; Prev</div>
      <div id="modal_image_header_info_container">
        <div class="flex_row_center">
          <img id="modal_image_profilepic" class="show_image_profilepic profilepic icon_size actionbox">
          <div id="modal_image_username" class="action"></div>
        </div>
        <div id="modal_image_header_info"></div>
        <div id="modal_image_toolbar_expand" class="modal_image_button action">Expand</div>
        <div id="modal_image_toolbar_menu" class="modal_image_button action">Menu</div>
        <div id="modal_image_toolbar_list" class="modal_image_button action">List</div>
      </div>
      <div id="modal_image_arrow_next" class="modal_image_arrow_button action">Next &gt;</div>
    </div>

    <div id="modal_image_subheader" class="panel panel_alt action"></div>

    <div id="modal_image_container" class="show_image_container bg1">
      <img id="modal_image" class="show_image">
      <div id="modal_image_error">Image Not Available</div>
    </div>
  </div>
</script>