<script id="template_modal_image" type="text/x-handlebars-template" class="template">
  <img id="modal_image_background" class="background">

  <div class="columns_container">
    <div id="modal_image_header" class="panel">
      <div id="modal_image_arrow_prev" class="modal_image_arrow_button action">&lt; Prev</div>
      <div id="modal_image_header_info_container">
        <div id="modal_image_header_info"></div>
        <div id="modal_image_toolbar_expand" class="modal_image_button action">Expand</div>
        <div id="modal_image_toolbar_menu" class="modal_image_button action">Menu</div>
      </div>
      <div id="modal_image_arrow_next" class="modal_image_arrow_button action">Next &gt;</div>
    </div>

    <div id="modal_image_subheader" class="modal_subheader action"></div>

    <div id="modal_image_container" class="bg1">
      <div id="modal_image_spinner" class="spinner1"></div>
      <img id="modal_image">
      <div id="modal_image_error">Image Not Available</div>
    </div>
  </div>
</script>