<script id='template_modal_image' type='text/x-handlebars-template' class='template'>
    <div id='modal_image_background_image' class='background_image'></div>

    <div class='columns_container'>

        <div id='modal_image_header' class='panel unselectable bg2'>
            <div id='modal_image_header_info_container'>
                <div id='modal_image_header_info' class='action pointer'></div>
                <div id='modal_image_toolbar_load' class='action pointer'>Load</div>
                <div id='modal_image_toolbar_change' class='action pointer'>Change</div>
            </div>
        </div>

        <div id='modal_image_subheader' class='modal_subheader'></div>

        <div id='modal_image_container' class='bg1 unselectable'>
            <div id="modal_image_spinner" class='spinner1'></div>
            <img id="modal_image">
            <div id="modal_image_error">Image Not Available</div>
        </div>

        <div id='modal_image_footer' class='panel unselectable bg2'>
            <div id='modal_image_footer_prev' class='modal_image_footer_button action'>&lt; Prev</div>
            <div id='modal_image_footer_info_container'>
                <div id='modal_image_footer_info' class='action pointer'></div>
            </div>
            <div id='modal_image_footer_next' class='modal_image_footer_button action'>Next &gt;</div>
        </div>
    </div>
</script>