<script id='template_notebook' type='text/x-handlebars-template' class='template'>
    <div id='notebook_container'>
        <img src='<%= vars.notebook_background_source %>' id='notebook_background'>
        <textarea id='notebook_textarea'></textarea>
    </div>
</script>