<script id="template_notification" type="text/x-handlebars-template" class="template">
  <div class="notification_item_date nicerow_top">{{date}}</div>
  <div class="notification_item_content nice_row {{content_classes}}">
    <svg class="notification_item_icon other_icon "><use href="#icon_{{icon}}"></svg>
    <div class="notification_item_message">{{message}}</div>
  </div>
</script>