<script id="template_notifications" type="text/x-handlebars-template" class="template">
  {{{window_controls}}}
  <div id="notifications_container" class="nice_row_container rem1_5_gap">
    <div class="empty_window_message">Notifications appear here</div>
  </div>
</script>