<script id="template_notification_2" type="text/x-handlebars-template" class="template">
  <div class="notification_date nicerow_top">{{date}}</div>

  <div class="notification_content nice_row {{content_classes}}">
    <img class="notification_icon profilepic icon_size actionbox" loading="lazy" src="{{profilepic}}">
    <div class="notification_message">{{message}}</div>
  </div>
</script>