<script id='template_notifications' type='text/x-handlebars-template' class='template'>
    <input type="search" id="notifications_filter" class="filter_input" placeholder="Filter">
    <div id='notifications_container'>No Notifications Yet</div>
</script>