<script id='template_open_url' type='text/x-handlebars-template' class='template'>
    <div class='flex_row_center unselectable' id='open_url_container'>
        <div class='bigger action inline pointer' id='open_url_menu_open'>Open&nbsp;URL</div>
        <div class='bigger action inline pointer' id='open_url_menu_copy'>Copy&nbsp;URL</div>
        <div class='bigger action inline pointer' id='open_url_menu_copy_title'>Copy&nbsp;Title</div>
        <div class='bigger action inline pointer' id='open_url_menu_load'>Load</div>
        <div class='bigger action inline pointer' id='open_url_menu_change'>Change</div>
    </div>
</script>