<script id="template_open_url_info" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem1_gap">
    {{#if title}}
    <div class="flex_column_center open_url_info_item">
      <div class="open_url_info_title">Title</div>
      <div>{{title}}</div>
    </div>
    {{/if}}

    {{#if comment}}
    <div class="flex_column_center open_url_info_item">
      <div class="open_url_info_title">Comment</div>
      <div>{{comment}}</div>
    </div>
    {{/if}}
    
    {{#if url}}
    <div class="flex_column_center open_url_info_item">
      <div class="open_url_info_title">URL</div>
      <div>{{url}}</div>
    </div>
    {{/if}}
  </div>
</script>