<script id='template_open_radio' type='text/x-handlebars-template' class='template'>
  <input type="text" id="open_radio_input" class="nice_input" placeholder="Enter a URL">
  <div id="open_radio_open" class="action">Open</div>
</script>