<script id="template_open_url" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center nowrap" id="open_url_container">
    <div class="bitbigger action inline pointer" id="open_url_menu_view_url">URL</div>
    <div class="bitbigger action inline pointer" id="open_url_menu_view_title">Title</div>
    <div class="bitbigger action inline pointer" id="open_url_menu_view_comment">Comment</div>
    <div class="bitbigger action inline pointer" id="open_url_menu_load">Load</div>
    <div class="bitbigger action inline pointer" id="open_url_menu_submit_link">Link</div>
    <div class="bitbigger action inline pointer" id="open_url_menu_jump">Jump</div>
  </div>
</script>