<script id='template_open_room' type='text/x-handlebars-template' class='template'>
    <div id="open_buttons" class='flex_column_center'>
        <div id='open_room_here' class='bigger action pointer'>
            Open&nbsp;Here
        </div>

        <div id='open_room_new_tab' class='bigger action pointer')'>
            Open&nbsp;In&nbsp;New&nbsp;Tab
        </div>
    </div>
</script>