<script id="template_open_url_info" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center rem1_gap">
    {{#if title}}
    <div>{{title}}</div>
    {{/if}}

    {{#if comment}}
    <div>{{comment}}</div>
    {{/if}}
    
    {{#if url}}
    <div>{{url}}</div>
    {{/if}}
  </div>
</script>