<script id='template_open_app' type='text/x-handlebars-template' class='template'>
  <input type="text" id="open_app_input" class="nice_input" placeholder="Enter a URL">
  <div id="open_app_open" class="action">Open</div>
</script>