<script id="template_open_room" type="text/x-handlebars-template" class="template">
  <div id="open_buttons" class="flex_column_center">
    <div id="open_room_here" class="menu_item action">Open Here</div>
    <div id="open_room_new_tab" class="menu_item action">Open In New Tab</div>
  </div>
</script>