<script id='template_played' type='text/x-handlebars-template' class='template'>
    <input type="search" id="played_filter" class="filter_input" placeholder="Filter">
    <div id='played'></div>
</script>