<script id="template_popup_item" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center {{classes}}">
    <svg class="other_icon info_popup_icon"><use href="#icon_{{icon}}"></svg>
    <div class="popup_item_message">{{message}}</div>
  </div>
</script>