<script id="template_popup_item_2" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center {{classes}}">
    <img class="info_popup_icon profilepic icon_size actionbox" loading="lazy" src="{{profilepic}}">
    <div class="popup_item_message">{{message}}</div>
  </div>
</script>