<script id='template_popup_item' type='text/x-handlebars-template' class='template'>
  <div class='info_popup_item {{classes}}'>
    <svg class='other_icon info_popup_icon'><use href='#icon_{{icon}}'></svg>
    <div>{{message}}</div>
  </div>
</script>