<script id="template_profilepic_preview_titlebar" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="profilepic_preview_choose" class="action">Re-Choose</div>
    <div id="profilepic_preview_confirm" class="action">Confirm</div>
  </div>
</script>