<script id="template_profilepic_preview" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center">
    <img id="profilepic_preview_image" class="chat_profilepic profilepic">
    <div>This is how the image normally looks</div>
  </div>
</script>