<script id="template_profilepic_cropper" type="text/x-handlebars-template" class="template">
  <div id="profilepic_cropper_container">
    <div id="profilepic_cropper"></div>
  </div>
  <div id="profilepic_cropper_buttons" class="generic_horizontal_separator">
    <div id="profilepic_cropper_change" class="action profilepic_cropper_button"></div>
    <div id="profilepic_cropper_crop" class="action profilepic_cropper_button">Crop</div>
  </div>
</script>