<script id='template_profile' type='text/x-handlebars-template' class='template'>
    <div id='show_profile_uname' class='bigger2'>Loading</div>
    <div id='show_profile_role'></div>
    <div class="bigger_profile_image_container round_image_container">
        <img id='show_profile_image' class='bigger_profile_image unselectable profile_image' src="{{profile_image}}">
    </div>
    <div class='unselectable flex_row_center' id='show_profile_hearts'>
        <i class='icon5 fa fa-heart action pointer' id='show_profile_hearts_icon'></i>
        <div id='show_profile_hearts_x'>x</div>
        <div id='show_profile_hearts_counter'>0</div>
    </div>
    <div class='unselectable flex_row_center' id='show_profile_skulls'>
        <i class='icon5 fa fa-skull action pointer' id='show_profile_skulls_icon'></i>
        <div id='show_profile_skulls_x'>x</div>
        <div id='show_profile_skulls_counter'>0</div>
    </div>
    <div id='show_profile_bio'></div>
    <div id='show_profile_buttons' class='flex_column_center unselectable'>
        <div class='show_profile_button pointer action' id='show_profile_whisper'><i class='icon4 fa fa-envelope'></i>Send Whisper</div>
        <div class='show_profile_button pointer action' id='show_profile_edit'><i class='icon4 fa fa-cog'></i>Edit Profile</div>
    </div>
</script>