<script id='template_profile' type='text/x-handlebars-template' class='template'>
    <div id='show_profile_uname' class='bigger2'>Loading</div>
    <div id='show_profile_role'></div>
    <div class="bigger_profile_image_container round_image_container">
        <img id='show_profile_image' class='bigger_profile_image unselectable' src="{{profile_image}}">
    </div>
    <div id='show_profile_bio'>This is a test to see how this work and so I eat a tree and sprout a vowel</div>
    <div id='show_profile_buttons' class='flex_column_center'>
        <div class='unselectable show_profile_button pointer action' id='show_profile_whisper'><i class='icon4 fa fa-envelope'></i>Send Whisper</div>
        <div class='unselectable show_profile_button pointer action' id='show_profile_edit'><i class='icon4 fa fa-gear'></i>Edit Profile</div>
    </div>
</script>