<script id='template_profilepic_cropper' type='text/x-handlebars-template' class='template'>
  <div id='profilepic_cropper_container'>
    <div id='profilepic_cropper'></div>
  </div>
  <div id='profilepic_cropper_buttons' class='generic_horizontal_separator'>
    <div id='profilepic_cropper_change' class='action profilepic_cropper_button'>Re-Choose</div>
    <div id='profilepic_cropper_upload' class='action profilepic_cropper_button'>Upload</div>
  </div>
</script>