<script id="template_profilepic_select" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center" id="profilepic_select_container">
    <div id="profilepic_select_upload" class="bigger action inline pointer">Upload</div>
    <div id="profilepic_select_draw" class="bigger action inline pointer">Draw</div>
    <div id="profilepic_select_random" class="bigger action inline pointer">Random</div>
  </div>
</script>