<script id="template_profilepic_select" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    <div id="profilepic_select_upload" class="menu_item action">Upload</div>
    <div id="profilepic_select_draw" class="menu_item action">Draw</div>
    <div id="profilepic_select_random" class="menu_item action">Random</div>
  </div>
</script>