<script id='template_profile_image_cropper' type='text/x-handlebars-template' class='template'>
    <div id='profile_image_cropper_container'>
        <div id='profile_image_cropper'></div>
    </div>
    <div id='profile_image_cropper_buttons'>
        <div id='profile_image_cropper_change' class='action pointer profile_image_cropper_button'>Change</div>
        <div id='profile_image_cropper_upload' class='action pointer profile_image_cropper_button'>Upload</div>
    </div>
</script>