<script id='template_radio_audio' type='text/x-handlebars-template' class='template'>
  <div class="radio_audio_container">
    <div class="radio_audio_metadata">
      <div class='radio_audio_metadata_artist'></div>
      <div class='radio_audio_metadata_title'></div>
    </div>
    <audio controls class='radio_player' frameBorder='0' src='{{url}}'>
  </div>
</script>