<script id='template_radio_item_volume' type='text/x-handlebars-template' class='template'>
  <svg id="radio_item_volume_icon" class="radio_item_svg action"><use href="#icon_play"></svg>
  <div id="radio_item_volume_text"></div>
</script>