<script id="template_radio_item_buttons" type="text/x-handlebars-template" class="template">
  <svg id="radio_button_playstop" class="radio_item_icon action"><use href="#icon_play"></svg>
  <div class="radio_content">
    <div id="radio_button_random" class="action" title="Select a random station">Random</div>
    <div class="radio_button_separator">|</div>
    <div id="radio_button_volume"></div>
  </div>
</script>