<script id="template_radio_window" type="text/x-handlebars-template" class="template">
  <div id="radio_container" class="flex_column_center">
    <input type="text" id="radio_window_filter" class="filter_input" placeholder="Filter">
    <div id="radio_history" class="nice_row_container"></div>
    <div id="radio_metadata">
      <div id="radio_metadata_artist"></div>
      <div id="radio_metadata_title"></div>
    </div>
    <div id="radio_buttons">
      <div id="radio_reload" class="action">Check Now</div>
      <div id="radio_clipboard" class="action">Copy To Clipboard</div>
      <div id="radio_search" class="action">Search in YouTube</div>
    </div>
  </div>
</script>