<script id="template_radio_window" type="text/x-handlebars-template" class="template">
  <div id="radio_container" class="flex_column_center">
    <input type="text" id="radio_window_filter" class="filter_input" placeholder="Filter">
    <div id="radio_history" class="nice_row_container"></div>
  </div>
</script>