<script id='template_radio_item' type='text/x-handlebars-template' class='template'>
  <div class="radio_item_icon_container">
    <canvas class="radio_item_icon actionbox" width="20" height="20"></canvas>
  </div>
  <div class="radio_item_name"></div>
</script>