<script id="template_radio_item" type="text/x-handlebars-template" class="template">
  <canvas class="radio_item_icon" width="20" height="20"></canvas>
  <div class="radio_content">
    <div class="radio_item_name"></div>
  </div>
</script>