<script id="template_radio_item_volume" type="text/x-handlebars-template" class="template">
  <svg id="radio_item_volume_icon" class="radio_item_icon action"><use href="#icon_volume-high"></svg>
  <div class="radio_content">
    <div id="radio_item_volume_text" class="action"></div>
  </div>
</script>