<script id="template_radio_station" type="text/x-handlebars-template" class="template">
  <canvas class="radio_station_icon" width="20" height="20"></canvas>
  <div class="radio_station_name"></div>
</script>