<script id="template_radio_item_dj" type="text/x-handlebars-template" class="template">
  <svg id="radio_dj_icon" class="radio_item_icon action">
    <title></title><use href="#icon_headphones">
  </svg>
  <div class="radio_content">
    <select id="radio_dj_delay_select" class="action" title="Change the stations automatically after these minutes">
      <option value="5">5 minutes</option>
      <option value="10">10 minutes</option>
      <option value="15">15 minutes</option>
      <option value="30">30 minutes</option>
      <option value="60">60 minutes</option>
    </select>
  </div>
</script>