<script id='template_radio_item_buttons' type='text/x-handlebars-template' class='template'>
  <svg id="radio_button_playstop" class="radio_item_svg action"><use href="#icon_play"></svg>
  <div id="radio_button_random" class="action">Random</div>
  <div class="radio_button_separator">|</div>
  <div id="radio_button_info" class="action">Info</div>
</script>