<script id='template_radio_popup' type='text/x-handlebars-template' class='template'>
  <div class="radio_popup_container action">
    <div class="radio_popup_icon_container">
      <canvas class="radio_popup_icon actionbox" width="20" height="20"></canvas>
    </div>
    <div class="radio_popup_name"></div>
  </div>
</script>