<script id="template_radio_window" type="text/x-handlebars-template" class="template">
  <div class="radio_container">
    <div class="radio_metadata">
      <div class="radio_metadata_artist"></div>
      <div class="radio_metadata_title"></div>
    </div>
    <div class="radio_buttons">
      <div class="radio_reload action">Check Now</div>
      <div class="radio_clipboard action">Copy To Clipboard</div>
      <div class="radio_search action">Search in YouTube</div>
    </div>
    <audio controls class="radio_player" frameBorder="0">
  </div>
</script>