<script id="template_random_theme" type="text/x-handlebars-template" class="template">
  <div id="random_theme_regenerate" class="text_button action">Re-Generate</div>
  
  <div id="random_theme_container" class="flex_row_center rem05_gap">
    <div id="random_theme_container_1" class="random_theme_container rem05_gap flex_column_center"></div>
    <div id="random_theme_container_2" class="random_theme_container rem05_gap flex_column_center"></div>
    </div>
  </div>
</script>