<script id="template_random_theme" type="text/x-handlebars-template" class="template">
  <div id="random_theme_regenerate" class="text_button action">Re-Generate</div>
  <div id="random_theme_container" class="flex_column_center rem1_gap">
    <div >Dark Themes</div>
    <div id="random_theme_dark_container" class="random_theme_container flex_column_center"></div>
    <div>Light Themes</div>
    <div id="random_theme_light_container" class="random_theme_container flex_column_center"></div>
  </div>
</script>