<script id="template_random_theme_titlebar" type="text/x-handlebars-template" class="template">
  <div class="rem1_gap flex_row_center generic_horizontal_separator">
    <div id="random_theme_regenerate" class="action">Re-Generate</div>
    <div id="random_theme_cancel" class="action">Cancel</div>
    <div id="random_theme_done" class="action">Done</div>
  </div>
</script>