<script id="template_random_theme" type="text/x-handlebars-template" class="template">
  <div id="random_theme_regenerate" class="text_button action">Re-Generate</div>
  <div id="random_theme_container" class="flex_column_center"></div>
</script>