<script id='template_reaction_target' type='text/x-handlebars-template' class='template'>
  <div class='flex_row_center generic_horizontal_separator' id='open_url_container'>
    <div class='bigger action inline pointer' id='reaction_target_chat'>Chat</div>
    <div class='bigger action inline pointer' id='reaction_target_image'>Image</div>
    <div class='bigger action inline pointer' id='reaction_target_tv'>TV</div>
  </div>
</script>