<script id='template_reaction_picker' type='text/x-handlebars-template' class='template'>
    <div id='reaction_picker'>
        <div id='reactions_good' class='flex_row_center generic_horizontal_separator'>
            <div class='flex_row_center action pointer reaction_icon' data-kind="like">
                <svg class='other_icon'><use href='#icon_thumbs-up'></svg>
                <div class='reactions_icon_label'>Like</div>
            </div>

            <div class='flex_row_center action pointer reaction_icon' data-kind="love">
                <svg class='other_icon'><use href='#icon_heart'></svg>
                <div class='reactions_icon_label'>Love</div>
            </div>

            <div class='flex_row_center action pointer reaction_icon' data-kind="happy">
                <svg class='other_icon'> <use href='#icon_happy'></svg>
                <div class='reactions_icon_label'>Happy</div>
            </div>
        </div>

        <div id='reactions_bad' class='flex_row_center generic_horizontal_separator'>
            <div class='flex_row_center action pointer reaction_icon' data-kind="dislike">
                <svg class='other_icon'><use href='#icon_thumbs-down'></svg>
                <div class='reactions_icon_label'>Dislike</div>
            </div>                

            <div class='flex_row_center action pointer reaction_icon' data-kind="meh">
                <svg class='other_icon'><use href='#icon_meh'></svg>
                <div class='reactions_icon_label'>Meh</div>
            </div>                
            <div class='flex_row_center action pointer reaction_icon' data-kind="sad">
                <svg class='other_icon'><use href='#icon_sad'></svg>
                <div class='reactions_icon_label'>Sad</div>
            </div>
        </div>
    </div>
</div>
</script>