<script id='template_reply' type='text/x-handlebars-template' class='template'>
    <div id='reply_text'></div>
    <textarea id='reply_input' class='setting_textarea' rows=3 placeholder='Write a Reply (Optional)'></textarea>
    <div id='reply_submit' class='menu_item inline action' onclick='Hue.submit_reply()'>Reply</div>
</script>