<script id='template_reply' type='text/x-handlebars-template' class='template'>
    <div class='flex_column_center'>
        <textarea id='reply_text'></textarea>
        <textarea id='reply_input' class='setting_textarea' rows=3 placeholder='Write a Reply (Optional)'></textarea>
        <div id='reply_submit' class='menu_item inline action'>Reply</div>
    </div>
</script>