<script id="template_reply_info" type="text/x-handlebars-template" class="template">
  <div id="reply_info_container" class="flex_column_center rem05_gap">
    <img id="reply_info_profilepic" class="profilepic actionbox profilepic_size" src="{{profilepic}}">
    <div id="reply_info_username" class="action"></div>
    <div id="reply_info_text"></div>
  </div>
</script>