<script id="template_reply" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center">
    <div class="flex_row_center">
      <img id="reply_profilepic" class="profilepic actionbox">
      <div id="reply_username" class="action"></div>
    </div>
    <textarea id="reply_text" rows="2"></textarea>
    <textarea id="reply_input" rows=3 placeholder="Write Something" class="shady_text"></textarea>
  </div>
</script>