<script id='template_reply' type='text/x-handlebars-template' class='template'>
  <div class='flex_column_center'>
    <textarea id='reply_text' rows='3'></textarea>
    <textarea id='reply_input' rows=3 placeholder='Write a Reply (Optional)'></textarea>
    <div id='reply_submit' class='menu_item inline action'>Reply</div>
  </div>
</script>