<script id='template_room_status' type='text/x-handlebars-template' class='template'>
    <div class='info_item'>
        <div class='info_title'>Room Name</div>
        <div class='info_item_content bigger' id='room_status_name'></div>
    </div>

    <div class='info_item'>
        <div class='info_title'>Topic</div>
        <div class='info_item_content bigger' id='room_status_topic'></div>
    </div>
</script>