<script id="template_roomlist_item" type="text/x-handlebars-template" class="template">
  <canvas class="roomlist_icon" width="50" height="50"></canvas>
  <div class="roomlist_name">{{name}}</div>
  <div class="roomlist_topic">Topic: {{topic}}</div>
  <div class="roomlist_modified">Modified: {{modified}}</div>
</script>