<script id="template_room_config" type="text/x-handlebars-template" class="template">
  <div id="room_config">
    <div id="room_config_details_container" class="room_config_section">
      <div id="room_config_room_name_container">
        <div class="room_config_label">Name</div>
        <input type="text" class="setting_input_text shady_text" id="admin_room_name">
      </div>
              
      <div id="room_config_topic_container">
        <div class="small_padding_bottom">Topic</div>
        <textarea class="setting_textarea shady_text" rows=4 id="admin_topic"></textarea>
      </div>
    </div>

    <div id="room_config_theme_container" class="room_config_section flex_column_center">
      <div id="admin_random_theme" class="underlined action">Random Theme</div>

      <div>
        <div class="room_config_label">Background Color</div>
        <input type="color" class="modal_color" id="admin_background_color">
      </div>

      <div id="admin_text_color_container">
        <div class="room_config_label">Text Color</div>
        <input type="color" class="modal_color" id="admin_text_color">
      </div>

      <img id="admin_background" class="small_square_image actionbox">
    </div>

    <div id="room_config_more_container" class="room_config_section flex_column_center">
      <div id="room_config_more_admin_activity" class="action">Admin Activity</div>
      <div id="room_config_more_admin_list" class="action">Admin List</div>
      <div id="room_config_more_ban_list" class="action">Ban List</div>
    </div>
  </div>
</script>