<script id='template_room_settings' type='text/x-handlebars-template' class='template'>
    <div id='room_settings_container' class='unselectable'>
        <div>Global Settings can be overridden for the current room here</div>
        <input type="text" class="filter_input" placeholder="Filter" id="room_settings_filter" data-mode="manual">
        {{{settings}}}
    </div>
</script>