<script id='template_room_settings' type='text/x-handlebars-template' class='template'>
    <div id='room_settings_info'>Global Settings can be overridden for the current room here</div>

    <div class='flex_row_center'>
        <div title="Switch To Global Settings">
            <svg class='other_icon action pointer' id='room_settings_switch'>
                <use href='#icon_sync'></use>
            </svg>
        </div>
    
        <input type="text" class="filter_input_2 filter_padding" placeholder="Filter" id="room_settings_filter" data-mode="manual">
    
        <div>
            <svg class='other_icon invisible'>
                <use href='#icon_sync'></use>
            </svg>
        </div>
    </div>

    <div id='room_settings_container'>
        {{{settings}}}
    </div>
</script>