<script id="template_room_menu" type="text/x-handlebars-template" class="template">
  <div id="room_menu">
    <div id="room_menu_details_container" class="room_menu_section">
      <div id="room_menu_room_name_container">
        <div class="room_menu_label">Name</div>
        <input type="text" class="setting_input_text shady_text" id="admin_room_name">
      </div>
              
      <div id="room_menu_topic_container">
        <div class="small_padding_bottom">Topic</div>
        <textarea class="setting_textarea shady_text" rows=4 id="admin_topic"></textarea>
      </div>
    </div>

    <div id="room_menu_theme_container" class="room_menu_section grid_column_center">
      <div>
        <div class="room_menu_label">Background Color</div>
        <input type="color" class="modal_color" id="admin_background_color">
      </div>

      <div id="admin_text_color_container">
        <div class="room_menu_label">Text Color</div>
        <input type="color" class="modal_color" id="admin_text_color">
      </div>

      <img id="admin_background" class="small_square_image actionbox">
    </div>

    <div id="room_menu_more_container" class="room_menu_section grid_column_center">
      <div id="room_menu_more_admin_activity" class="action">Admin Activity</div>
      <div id="room_menu_more_admin_list" class="action">Admin List</div>
      <div id="room_menu_more_ban_list" class="action">Ban List</div>
    </div>
  </div>
</script>