<script id="template_rooms_item" type="text/x-handlebars-template" class="template">
  <canvas class="rooms_icon" width="50" height="50"></canvas>
  <div class="rooms_name">{{name}}</div>
  <div class="rooms_topic">Topic: {{topic}}</div>
</script>