<script id='template_roomlist' type='text/x-handlebars-template' class='template'>
    <input type="text" id="{{type}}_filter" class="filter_input" placeholder="Filter">
    <div id='{{type}}_container'></div>
</script>