<script id='template_room_menu_op_permissions_container' type='text/x-handlebars-template' class='template'>
    <div class='toggler_main_container room_menu_op_permissions_toggler_item room_menu_tree_toggler_item'>
        <div class='toggler room_menu_op_permissions_toggle bold action inline'>+ Op {{number}} Permissions</div>
        <div class='toggler_container room_menu_op_permissions_toggle_container'>
            <div class='room_menu_op_permissions_container room_menu_tree_container grid_column_center'>
                <div>
                    <div class='setting_title'>Change Media</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="media">
                </div>
                <div>
                    <div class='setting_title'>Change Theme</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="theme">
                </div>
                <div>
                    <div class='setting_title'>Change Background</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="background">
                </div>
                <div>
                    <div class='setting_title'>Delete Messages</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="delete_messages">
                </div>
                <div>
                    <div class='setting_title'>Change Log</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="log">
                </div>
                <div>
                    <div class='setting_title'>Change Room Name</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="name">
                </div>
                <div>
                    <div class='setting_title'>Change Topic</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="topic">
                </div>
                <div>
                    <div class='setting_title'>Can Kick</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="kick">
                </div>
                <div>
                    <div class='setting_title'>Can Ban</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="ban">
                </div>
                <div>
                    <div class='setting_title'>Can Unban</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="unban">
                </div>
                <div>
                    <div class='setting_title'>Msg Board Delete</div>
                    <input type="checkbox" class="admin_op_permissions_checkbox" data-optype="op_{{number}}" data-ptype="message_board_delete">
                </div>
            </div>
        </div>
    </div>
</script>