<script id='template_sent_message' type='text/x-handlebars-template' class='template'>
  <div id='sent_message_container' class='grid_column_center'>
    <div id='sent_message_text'></div>
    <canvas id='sent_message_drawing' class='draw_canvas' width='400px' height='300px' tabindex=1></canvas>
    <div id='sent_message_button' class='pointer action bigger'></div>
  </div>
</script>