<script id='template_sent_message' type='text/x-handlebars-template' class='template'>
  <div class='sent_message_container grid_column_center'>
    <div class='sent_message_text'></div>
    <canvas class='sent_message_drawing draw_canvas' width='400px' height='300px' tabindex=1></canvas>
    <div class='sent_message_button pointer action bigger'></div>
  </div>
</script>