<script id='template_sent_message' type='text/x-handlebars-template' class='template'>
  <div class='sent_message_container grid_column_center'>
    <div class='sent_message_text'></div>
    <div class='sent_message_button pointer action bigger'></div>
  </div>
</script>