<script id='template_sent_whisper' type='text/x-handlebars-template' class='template'>
  <div class='sent_whisper_container grid_column_center'>
    <img class='sent_whisper_profilepic profilepic actionbox'>
    <div class='sent_whisper_text'></div>
    <div class='sent_whisper_button action bitbigger'></div>
  </div>
</script>