<script id='template_settings' type='text/x-handlebars-template' class='template'>
    <input type="text" class="filter_input" placeholder="Filter" id="settings_filter">
    
    <div id="settings_container" class="grid_column_center">
        <div class='settings_item modal_item' data-setting='show_image_previews'>
            <div class="setting_title">Image Previews</div>
            <input type="checkbox" class="settings_item_control" id="settings_show_image_previews">
        </div>

        <div class='settings_item modal_item' data-setting='show_link_previews'>
            <div class="setting_title">Link Previews</div>
            <input type="checkbox" class="settings_item_control" id="settings_show_link_previews">
        </div>

        <div class='settings_item modal_item' data-setting='highlight_current_username'>
            <div class="setting_title">Username Highlights</div>
            <input type="checkbox" class="settings_item_control" id="settings_highlight_current_username">
        </div>

        <div class='settings_item modal_item' data-setting='case_insensitive_username_highlights'>
            <div class="setting_title2">Case Insensitive</div>
            <div class="setting_title">Username Highlights</div>
            <input type="checkbox" class="settings_item_control" id="settings_case_insensitive_username_highlights">
        </div>

        <div class='settings_item modal_item' data-setting='open_whispers_automatically'>
            <div class="setting_title2">Open Whispers</div>
            <div class="setting_title">Automatically</div>
            <input type="checkbox" class="settings_item_control" id="settings_open_whispers_automatically">
        </div>

        <div class='settings_item modal_item' data-setting='show_activity_notifications'>
            <div class="setting_title2">Show Activity</div>
            <div class="setting_title">Notifications</div>
            <input type="checkbox" class="settings_item_control" id="settings_show_activity_notifications">
        </div>

        <div class='settings_item modal_item' data-setting='warn_before_closing'>
            <div class="setting_title">Warn On Close</div>
            <input type="checkbox" class="settings_item_control" id="settings_warn_before_closing">
        </div>
    </div>
</script>