<script id="template_settings" type="text/x-handlebars-template" class="template">
  {{{window_controls}}}

  <div id="settings_container">
    <div class="settings_item modal_item" data-setting="font">
      <div class="setting_title">Font</div>
      <select class="settings_item_control modal_select" id="settings_font">
        <option value="sans-serif">Sans</option>
        <option value="serif">Serif</option>
        <option value="monospace">Mono</option>
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="chat_font_size">
      <div class="setting_title">Chat Font Size</div>
      <select class="settings_item_control modal_select" id="settings_chat_font_size">
        {{{font_sizes}}}
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="chat_size">
      <div class="setting_title">Chat Size</div>
      <select class="settings_item_control modal_select" id="settings_chat_size">
        {{{percentages}}}
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="main_layout">
      <div class="setting_title">Main Layout</div>
      <select class="settings_item_control modal_select" id="settings_main_layout">
        <option value="column">Column</option>
        <option value="row">Row</option>
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="media_layout">
      <div class="setting_title">Media Layout</div>
      <select class="settings_item_control modal_select" id="settings_media_layout">
        <option value="column">Column</option>
        <option value="row">Row</option>
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="tv_position">
      <div class="setting_title">TV Position</div>
      <select class="settings_item_control modal_select" id="settings_tv_position">
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="tv_size">
      <div class="setting_title">TV Size</div>
      <select class="settings_item_control modal_select" id="settings_tv_size">
        {{{percentages}}}
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="date_format">
      <div class="setting_title">Date Format</div>
      <select class="settings_item_control modal_select" id="settings_date_format">
        <option value="relative">Relative</option>
        <option value="absolute_12">Absolute 12</option>
        <option value="absolute_24">Absolute 24</option>
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="radio_auto_minutes">
      <div class="setting_title">Radio Auto Minutes</div>
      <select class="settings_item_control modal_select" id="settings_radio_auto_minutes">
        <option value="5">5 Mins</option>
        <option value="10">10 Mins</option>
        <option value="15">15 Mins</option>
        <option value="20">20 Mins</option>
        <option value="25">25 Mins</option>
        <option value="30">30 Mins</option>
      </select>
    </div>

    <div class="settings_item modal_item" data-setting="show_chat">
      <div class="setting_title">Show Chat</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_chat">
    </div>

    <div class="settings_item modal_item" data-setting="show_media_info">
      <div class="setting_title">Show Media Info</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_media_info">
    </div>

    <div class="settings_item modal_item" data-setting="show_linksbar">
      <div class="setting_title">Show Links Bar</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_linksbar">
    </div>

    <div class="settings_item modal_item" data-setting="show_background">
      <div class="setting_title">Show Background</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_background">
    </div>

    <div class="settings_item modal_item" data-setting="autoplay">
      <div class="setting_title">Autoplay</div>
      <input type="checkbox" class="settings_item_control" id="settings_autoplay">
    </div>

    <div class="settings_item modal_item" data-setting="embed_images">
      <div class="setting_title">Embed Images</div>
      <input type="checkbox" class="settings_item_control" id="settings_embed_images">
    </div>

    <div class="settings_item modal_item" data-setting="show_link_previews">
      <div class="setting_title">Link Previews</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_link_previews">
    </div>

    <div class="settings_item modal_item" data-setting="highlight_current_username">
      <div class="setting_title">Username Highlights</div>
      <input type="checkbox" class="settings_item_control" id="settings_highlight_current_username">
    </div>

    <div class="settings_item modal_item" data-setting="case_insensitive_username_highlights">
      <div class="setting_title2">Case Insensitive</div>
      <div class="setting_title">Username Highlights</div>
      <input type="checkbox" class="settings_item_control" id="settings_case_insensitive_username_highlights">
    </div>

    <div class="settings_item modal_item" data-setting="show_highlight_notifications">
      <div class="setting_title2">Show Highlight</div>
      <div class="setting_title">Notifications</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_highlight_notifications">
    </div>

    <div class="settings_item modal_item" data-setting="show_activity_notifications">
      <div class="setting_title2">Show Activity</div>
      <div class="setting_title">Notifications</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_activity_notifications">
    </div>

    <div class="settings_item modal_item" data-setting="show_user_join_notifications">
      <div class="setting_title2">Show User Join</div>
      <div class="setting_title">Notifications</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_user_join_notifications">
    </div>

    <div class="settings_item modal_item" data-setting="show_user_leave_notifications">
      <div class="setting_title2">Show User Leave</div>
      <div class="setting_title">Notifications</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_user_leave_notifications">
    </div>

    <div class="settings_item modal_item" data-setting="open_whispers_automatically">
      <div class="setting_title2">Open Whispers</div>
      <div class="setting_title">Automatically</div>
      <input type="checkbox" class="settings_item_control" id="settings_open_whispers_automatically">
    </div>

    <div class="settings_item modal_item" data-setting="color_text">
      <div class="setting_title">Color Text</div>
      <input type="checkbox" class="settings_item_control" id="settings_color_text">
    </div>
  </div>
</script>