<script id='template_settings' type='text/x-handlebars-template' class='template'>
    <div id="settings_window_{{type}}" class='settings_main_window' data-settings_type='{{type}}'>

        <div class="settings_window_left" id="settings_window_left_{{type}}">

            <div class='settings_window_left_content' id='settings_window_left_content_{{type}}'>

                <div id='settings_window_category_chat_{{type}}' class='settings_window_category action' data-category_container='settings_window_category_content_chat_{{type}}' data-category='chat'>
                    <span class='settings_window_category_status_filler invisible'></span>
                    <span class='settings_window_category_text'>Chat</span>
                    <span class='settings_window_category_status'></span>
                </div>

                <div id='settings_window_category_sound_{{type}}' class='settings_window_category action' data-category_container='settings_window_category_content_sound_{{type}}' data-category='sound'>
                    <span class='settings_window_category_status_filler invisible'></span>
                    <span class='settings_window_category_text'>Sound</span>
                    <span class='settings_window_category_status'></span>
                </div>

                <div id='settings_window_category_appearance_{{type}}' class='settings_window_category action' data-category_container='settings_window_category_content_appearance_{{type}}' data-category='appearance'>
                    <span class='settings_window_category_status_filler invisible'></span>
                    <span class='settings_window_category_text'>Appearance</span>
                    <span class='settings_window_category_status'></span>
                </div>

                <div id='settings_window_category_notifications_{{type}}' class='settings_window_category action' data-category_container='settings_window_category_content_notifications_{{type}}' data-category='notifications'>
                    <span class='settings_window_category_status_filler invisible'></span>
                    <span class='settings_window_category_text'>Notifications</span>
                    <span class='settings_window_category_status'></span>
                </div>

                <div id='settings_window_category_functions_{{type}}' class='settings_window_category action' data-category_container='settings_window_category_content_functions_{{type}}' data-category='functions'>
                    <span class='settings_window_category_status_filler invisible'></span>
                    <span class='settings_window_category_text'>Functions</span>
                    <span class='settings_window_category_status'></span>
                </div>

                <div id='settings_window_category_confirms_{{type}}' class='settings_window_category action' data-category_container='settings_window_category_content_confirms_{{type}}' data-category='confirms'>
                    <span class='settings_window_category_status_filler invisible'></span>
                    <span class='settings_window_category_text'>Confirms</span>
                    <span class='settings_window_category_status'></span>
                </div>

                <div id='settings_window_category_media_{{type}}' class='settings_window_category action' data-category_container='settings_window_category_content_media_{{type}}' data-category='media'>
                    <span class='settings_window_category_status_filler invisible'></span>
                    <span class='settings_window_category_text'>Media</span>
                    <span class='settings_window_category_status'></span>
                </div>

                <div id='settings_window_category_misc_{{type}}' class='settings_window_category action' data-category_container='settings_window_category_content_misc_{{type}}' data-category='misc'>
                    <span class='settings_window_category_status_filler invisible'></span>
                    <span class='settings_window_category_text'>Misc</span>
                    <span class='settings_window_category_status'></span>
                </div>

                <div id='{{type}}_reset' class='settings_reset_button smaller_font_size action pointer'>Reset</div>
            </div>
        </div>

        <div class="settings_window_right" id="settings_window_right_{{type}}">

            <div class='settings_category settings_window_category_container' id='settings_window_category_content_sound_{{type}}' data-category='sound'>
                <div class='settings_item settings_top_level_item' data-setting='beep_on_messages'>
                    <div class="setting_title">Beep On Messages</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_messages">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='beep_on_highlights'>
                    <div class="setting_title">Beep On Highlights</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_highlights">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='beep_on_media_change'>
                    <div class="setting_title">Beep On Media Change</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_media_change">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='beep_on_user_joins'>
                    <div class="setting_title">Beep On User Joins</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_beep_on_user_joins">
                </div>
            </div>

            <div class='settings_category settings_window_category_container' id='settings_window_category_content_chat_{{type}}' data-category='chat'>
                <div class='settings_item settings_top_level_item' data-setting='show_image_previews'>
                    <div class="setting_title">Show Image Previews</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_show_image_previews">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='show_link_previews'>
                    <div class="setting_title">Show Link Previews</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_show_link_previews">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='autoreveal_spoilers'>
                    <div class="setting_title">Auto-Reveal Spoilers</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_autoreveal_spoilers">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='scramble_chat'>
                    <div class="setting_title">Scramble Chat</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_scramble_chat">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='chat_enabled'>
                    <div class="setting_title">Chat Enabled</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_chat_enabled">
                </div>
            </div>

            <div class='settings_category settings_window_category_container' id='settings_window_category_content_appearance_{{type}}' data-category='appearance'>
                <div class='settings_item settings_top_level_item' data-setting='theme_mode'>
                    <div class="setting_title">Theme Mode</div>
                    <select class="{{type}}_settings_item_control modal_select" id="{{type}}_theme_mode">
                        <option value='room'>Use Room Setting</option>
                        <option value='custom'>Custom Theme</option>
                    </select>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='theme_color'>
                    <div class="setting_title">Theme Color</div>
                    <input type="color" class="{{type}}_settings_item_control setting_color" id="{{type}}_theme_color">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='text_color'>
                    <div class="setting_title">Text Color</div>
                    <input type="color" class="{{type}}_settings_item_control setting_color" id="{{type}}_text_color">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='background_mode'>
                    <div class="setting_title">Background Mode</div>
                    <select class="{{type}}_settings_item_control modal_select" id="{{type}}_background_mode">
                        <option value='room'>Use Room Setting</option>
                        <option value='custom_normal'>Custom Normal</option>
                        <option value='custom_tiled'>Custom Tiled</option>
                        <option value='custom_solid'>Custom Solid</option>
                    </select>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='background_url'>
                    <div class="setting_title">Background URL</div>
                    <input type="text" class="{{type}}_settings_item_control setting_input_text_2" id="{{type}}_background_url">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='background_tile_dimensions'>
                    <div class="setting_title">Background Tile Dimensions</div>
                    <input type="text" class="{{type}}_settings_item_control setting_input_text_small" id="{{type}}_background_tile_dimensions">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='transparent_panels'>
                    <div class="setting_title">Transparent Panels</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_transparent_panels">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='show_input_placeholder'>
                    <div class="setting_title">Show Input Placeholder</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_show_input_placeholder">
                </div>
            </div>

            <div class='settings_category settings_window_category_container' id='settings_window_category_content_functions_{{type}}' data-category='functions'>

                <div id='settings_user_functions_container_{{type}}'>{{{user_functions}}}</div>

                <div class='settings_item settings_top_level_item' data-setting='double_tap'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_key"></span>&nbsp;Tap</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_double_tap"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='double_tap_2'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_2_key"></span>&nbsp;Tap</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_double_tap_2"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='double_tap_3'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ On Double&nbsp;<span class='underlined' id="{{type}}_double_tap_3_key"></span>&nbsp;Tap</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_double_tap_3"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='on_lockscreen'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ On Lock Screen</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_on_lockscreen"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='on_unlockscreen'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ On Unlock Screen</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_on_unlockscreen"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='at_startup'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ At Startup</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_at_startup"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='aliases'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline" title="For example <%= vars.commands_prefix %>sky = <%= vars.commands_prefix %>tv touch the sky. If the alias starts with an X, for example, <%= vars.commands_prefix %>X1 = <%= vars.commands_prefix %>tv restart, it won't be saved to history when used">+ Aliases</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_aliases"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class='settings_category settings_window_category_container' id='settings_window_category_content_media_{{type}}' data-category='media'>
                <div class='settings_item settings_top_level_item' data-setting='bypass_image_lock_on_own_change'>
                    <div class="setting_title2">Bypass Image Lock</div>
                    <div class="setting_title">When You Change</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_bypass_image_lock_on_own_change">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='bypass_tv_lock_on_own_change'>
                    <div class="setting_title2">Bypass TV Lock</div>
                    <div class="setting_title">When You Change</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_bypass_tv_lock_on_own_change">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='media_info'>
                    <div class="setting_title">Media Info</div>
                    <select class="{{type}}_settings_item_control modal_select" id="{{type}}_media_info">
                        <option value='room'>Use Room Setting</option>
                        <option value='custom_enabled'>Custom Enabled</option>
                        <option value='custom_disabled'>Custom Disabled</option>
                    </select>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='media_layout'>
                    <div class="setting_title">Media Layout</div>
                    <select class="{{type}}_settings_item_control modal_select" id="{{type}}_media_layout">
                        <option value='column'>Column</option>
                        <option value='row'>Row</option>
                    </select>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='chat_display_percentage'>
                    <div class="setting_title">Chat/Media Percentages</div>
                    <div class='slider_container'>
                        <div id='{{type}}_chat_percentage_decrease' class='slider_icon_left pointer action'>
                            <svg class='other_icon'><use href='#icon_pencil'</svg>
                        </div>
                        <input type='range' id='{{type}}_chat_display_percentage' min="10" max="90" step="10">
                        <div id='{{type}}_chat_percentage_increase' class='slider_icon_right pointer action'>
                            <svg class='other_icon'><use href='#icon_image'</svg>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='tv_display_percentage'>
                    <div class="setting_title">Image/TV Percentages</div>
                    <div class='slider_container'>
                        <div id='{{type}}_tv_percentage_decrease' class='slider_icon_left pointer action'>
                            <svg class='other_icon'><use href='#icon_image'</svg>
                        </div>
                        <input type='range' id='{{type}}_tv_display_percentage' min="10" max="90" step="10">
                        <div id='{{type}}_tv_percentage_increase' class='slider_icon_right pointer action'>
                            <svg class='other_icon'><use href='#icon_tv'</svg>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='tv_display_position'>
                    <div class="setting_title">Media Positions</div>
                    <div id='{{type}}_tv_display_position' class='squaro_container pointer action2'>
                        <div class='squaro squaro_secondary' id='{{type}}_display_position_image'>
                            <svg class='other_icon'><use href='#icon_image'</svg>
                        </div>
                        <div class='squaro squaro_main' id='{{type}}_display_position_tv'>
                            <svg class='other_icon'><use href='#icon_tv'</svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class='settings_category settings_window_category_container' id='settings_window_category_content_notifications_{{type}}' data-category='notifications'>
                <div class='settings_item settings_top_level_item' data-setting='user_join_notifications_method'>
                    <div class="setting_title2">Show User Join</div>
                    <div class="setting_title">Notifications</div>
                    <select class="{{type}}_settings_item_control modal_select" id="{{type}}_user_join_notifications_method">
                        <option value='popups'>Popups</option>
                        <option value='chat'>Chat</option>
                        <option value='none'>Don't Show</option>
                    </select>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='save_user_join_notifications'>
                    <div class="setting_title2">Save User Join</div>
                    <div class="setting_title">Notifications</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_save_user_join_notifications">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='user_part_notifications_method'>
                    <div class="setting_title2">Show User Part</div>
                    <div class="setting_title2">Notifications</div>
                    <select class="{{type}}_settings_item_control modal_select" id="{{type}}_user_part_notifications_method">
                        <option value='popups'>Popups</option>
                        <option value='chat'>Chat</option>
                        <option value='none'>Don't Show</option>
                    </select>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='save_user_part_notifications'>
                    <div class="setting_title2">Save User Part</div>
                    <div class="setting_title2">Notifications</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_save_user_part_notifications">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='room_notifications'>
                    <div class="setting_title2">Show Room</div>
                    <div class="setting_title">Notifications</div>
                    <select class="{{type}}_settings_item_control modal_select" id="{{type}}_room_notifications_method">
                        <option value='popups'>Popups</option>
                        <option value='chat'>Chat</option>
                        <option value='none'>Don't Show</option>
                    </select>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='save_room_notifications'>
                    <div class="setting_title2">Save Room</div>
                    <div class="setting_title">Notifications</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_save_room_notifications">
                </div> 

                <div class='settings_item settings_top_level_item' data-setting='popup_notifications_close_delay'>
                    <div class="setting_title2">Popup Notifications</div>
                    <div class="setting_title">Close Delay</div>
                    <input type="number" class="{{type}}_settings_item_control setting_input_text_small" id="{{type}}_popup_notifications_close_delay">
                </div>
            </div>

            <div class='settings_category settings_window_category_container' id='settings_window_category_content_confirms_{{type}}' data-category='confirms'>
                <div class='settings_item settings_top_level_item' data-setting='confirm_chat'>
                    <div class="setting_title">Confirm Chat</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_confirm_chat">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='confirm_image'>
                    <div class="setting_title">Confirm Image</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_confirm_image">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='confirm_tv'>
                    <div class="setting_title">Confirm TV</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_confirm_tv">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='confirm_message_board'>
                    <div class="setting_title">Confirm Message Board</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_confirm_message_board">
                </div>
            </div>

            <div class='settings_category settings_window_category_container' id='settings_window_category_content_misc_{{type}}' data-category='misc'>
                <div class='settings_item settings_top_level_item' data-setting='warn_before_closing'>
                    <div class="setting_title">Warn On Close</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_warn_before_closing">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='open_popup_messages'>
                    <div class="setting_title2">Open Popup Messages</div>
                    <div class="setting_title">Automatically</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_open_popup_messages">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='highlight_current_username'>
                    <div class="setting_title">Highlight Username</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_highlight_current_username">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='case_insensitive_username_highlights'>
                    <div class="setting_title2">Case Insensitive</div>
                    <div class="setting_title">Username Highlights</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_case_insensitive_username_highlights">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='case_insensitive_words_highlights'>
                    <div class="setting_title2">Case Insensitive</div>
                    <div class="setting_title">Words Highlights</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_case_insensitive_words_highlights">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='case_insensitive_ignored_words'>
                    <div class="setting_title2">Case Insensitive</div>
                    <div class="setting_title">Ignored Words</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_case_insensitive_ignored_words">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='ignored_words_exclude_same_user'>
                    <div class="setting_title2">Don't Ignore Words</div>
                    <div class="setting_title">From Yourself</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_ignored_words_exclude_same_user">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='message_log'>
                    <div class="setting_title">Enable Message Log</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_message_log">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='autoconnect'>
                    <div class="setting_title">Auto Connect</div>
                    <input type="checkbox" class="{{type}}_settings_item_control setting_checkbox" id="{{type}}_autoconnect">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='chat_crop_limit'>
                    <div class="setting_title">Chat Crop Limit</div>
                    <input type="number" class="{{type}}_settings_item_control setting_input_text_smaller" id="{{type}}_chat_crop_limit">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='autoscroll_amount'>
                    <div class="setting_title">Autoscroll Amount</div>
                    <input type="number" class="{{type}}_settings_item_control setting_input_text_smaller" id="{{type}}_autoscroll_amount">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='autoscroll_delay'>
                    <div class="setting_title">Autoscroll Delay</div>
                    <input type="number" class="{{type}}_settings_item_control setting_input_text_smaller" id="{{type}}_autoscroll_delay">
                </div>

                <div class='settings_item settings_top_level_item' data-setting='other_words_to_highlight'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ Words To Highlight</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_other_words_to_highlight"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='other_words_to_autocomplete'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ Words To Autocomplete</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_other_words_to_autocomplete"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='ignored_usernames'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ Usernames To Ignore</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_ignored_usernames"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='ignored_words'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline">+ Words To Ignore</div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_ignored_words"></textarea>
                        </div>
                    </div>
                </div>

                <div class='settings_item settings_top_level_item' data-setting='accept_commands_from'>
                    <div class='toggler_main_container'>
                        <div class="{{type}}_toggle toggler action pointer bold inline"
                        title="Usernames here will be able to execute commands on your behalf">
                        + Accept Commands From<br>(Dangerous)
                        </div>
                        <div class='{{type}}_toggle_container toggler_container'>
                            <div class="setting_title3">(Each on a different line)</div>
                            <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_accept_commands_from"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>