<script id='template_settings' type='text/x-handlebars-template' class='template'>
    <input type="text" class="filter_input filter_padding" placeholder="Filter" id="settings_filter">
    
    <div id="settings_container" class="grid_column_center">
        <div class='settings_item modal_item' data-setting='show_image_previews'>
            <div class="setting_title">Show Image Previews</div>
            <input type="checkbox" class="settings_item_control setting_checkbox" id="settings_show_image_previews">
        </div>

        <div class='settings_item modal_item' data-setting='show_link_previews'>
            <div class="setting_title">Show Link Previews</div>
            <input type="checkbox" class="settings_item_control setting_checkbox" id="settings_show_link_previews">
        </div>

        <div class='settings_item modal_item' data-setting='highlight_current_username'>
            <div class="setting_title">Highlight Username</div>
            <input type="checkbox" class="settings_item_control setting_checkbox" id="settings_highlight_current_username">
        </div>

        <div class='settings_item modal_item' data-setting='case_insensitive_username_highlights'>
            <div class="setting_title2">Case Insensitive</div>
            <div class="setting_title">Username Highlights</div>
            <input type="checkbox" class="settings_item_control setting_checkbox" id="settings_case_insensitive_username_highlights">
        </div>

        <div class='settings_item modal_item' data-setting='warn_before_closing'>
            <div class="setting_title">Warn On Close</div>
            <input type="checkbox" class="settings_item_control setting_checkbox" id="settings_warn_before_closing">
        </div>

        <div class='settings_item modal_item' data-setting='open_whispers_automatically'>
            <div class="setting_title2">Open Whispers</div>
            <div class="setting_title">Automatically</div>
            <input type="checkbox" class="settings_item_control setting_checkbox" id="settings_open_whispers_automatically">
        </div>

        <div class='settings_item modal_item' data-setting='message_log'>
            <div class="setting_title">Enable Message Log</div>
            <input type="checkbox" class="settings_item_control setting_checkbox" id="settings_message_log">
        </div>

        <div class='settings_item modal_item' data-setting='autoconnect'>
            <div class="setting_title">Auto Connect</div>
            <input type="checkbox" class="settings_item_control setting_checkbox" id="settings_autoconnect">
        </div>

        <div class='settings_item modal_item' data-setting='chat_crop_limit'>
            <div class="setting_title">Chat Crop Limit</div>
            <input type="number" class="settings_item_control setting_input_text_small" id="settings_chat_crop_limit">
        </div>

        <div class='settings_item modal_item' data-setting='popup_notifications_close_delay'>
            <div class="setting_title2">Popup Notifications</div>
            <div class="setting_title">Close Delay</div>
            <input type="number" class="settings_item_control setting_input_text_small" id="settings_popup_notifications_close_delay">
        </div>
    </div>
</script>