<script id='template_settings_user_function' type='text/x-handlebars-template' class='template'>
    <div class='toggler_main_container settings_top_level_item'>
        <div class="{{type}}_toggle toggler action pointer bold settings_container">+ User Function {{number}}</div>
        <div class='{{type}}_toggle_container toggler_container'>
            <div class='settings_item' data-setting='user_function_{{number}}_name'>
                <div class="setting_title">Name</div>
                <input type="text" class="{{type}}_settings_item_control setting_input_text_small" id="{{type}}_user_function_{{number}}_name">
            </div>
            <div class='settings_item' data-setting='user_function_{{number}}'>
                <div class="setting_title2">Action</div>
                <div class="setting_title3">(Each on a different line)</div>
                <textarea rows=5 class="{{type}}_settings_item_control setting_textarea3" id="{{type}}_user_function_{{number}}"></textarea>
            </div>
            <select class='modal_select user_function_switch_select' data-number="{{number}}" data-type="{{type}}">
                {{{options}}}
            </select>
        </div>
    </div>
</script>