<script id="template_settings" type="text/x-handlebars-template" class="template">
  {{{window_controls}}}

  <div id="settings_container">
    <div class="settings_item modal_item" data-setting="show_background">
      <div class="setting_title">Show Background</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_background">
    </div>

    <div class="settings_item modal_item" data-setting="embed_images">
      <div class="setting_title">Embed Images</div>
      <input type="checkbox" class="settings_item_control" id="settings_embed_images">
    </div>

    <div class="settings_item modal_item" data-setting="show_link_previews">
      <div class="setting_title">Link Previews</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_link_previews">
    </div>

    <div class="settings_item modal_item" data-setting="highlight_current_username">
      <div class="setting_title">Username Highlights</div>
      <input type="checkbox" class="settings_item_control" id="settings_highlight_current_username">
    </div>

    <div class="settings_item modal_item" data-setting="case_insensitive_username_highlights">
      <div class="setting_title2">Case Insensitive</div>
      <div class="setting_title">Username Highlights</div>
      <input type="checkbox" class="settings_item_control" id="settings_case_insensitive_username_highlights">
    </div>

    <div class="settings_item modal_item" data-setting="show_highlight_notifications">
      <div class="setting_title2">Show Highlight</div>
      <div class="setting_title">Notifications</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_highlight_notifications">
    </div>

    <div class="settings_item modal_item" data-setting="show_activity_notifications">
      <div class="setting_title2">Show Activity</div>
      <div class="setting_title">Notifications</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_activity_notifications">
    </div>

    <div class="settings_item modal_item" data-setting="show_user_join_notifications">
      <div class="setting_title2">Show User Join</div>
      <div class="setting_title">Notifications</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_user_join_notifications">
    </div>

    <div class="settings_item modal_item" data-setting="show_user_leave_notifications">
      <div class="setting_title2">Show User Leave</div>
      <div class="setting_title">Notifications</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_user_leave_notifications">
    </div>

    <div class="settings_item modal_item" data-setting="open_whispers_automatically">
      <div class="setting_title2">Open Whispers</div>
      <div class="setting_title">Automatically</div>
      <input type="checkbox" class="settings_item_control" id="settings_open_whispers_automatically">
    </div>

    <div class="settings_item modal_item" data-setting="show_linkbar">
      <div class="setting_title">Show LinkBar</div>
      <input type="checkbox" class="settings_item_control" id="settings_show_linkbar">
    </div>
  </div>
</script>