<script id="template_show_whisper" type="text/x-handlebars-template" class="template">
  <div class="show_whisper_container flex_column_center">
    <div id="show_whisper_users"></div>
    <div id="show_whisper_text"></div>
  </div>
</script>