<script id='template_status' type='text/x-handlebars-template' class='template'>
    <div class='container_22'>
        <div class='info_item'>
            <div class='info_title'>Room Name</div>
            <div class='info_item_content'>{{ data.room_name }} </div>
        </div>
    
        <div class='info_item'>
            <div class='info_title'>Topic</div>
            <div class='info_item_content'>{{ data.topic }} </div>
        </div>
    
        <div class='info_item'>
            <div class='info_title'>Privacy</div>
            <div class='info_item_content'>{{ data.privacy }} </div>
        </div>

        <div class='info_item'>
            <div class='info_title'>Log</div>
            <div class='info_item_content'>{{ data.log }} </div>
        </div>
    </div>
</script>