<script id='template_swaprotate' type='text/x-handlebars-template' class='template'>
  <div id="swaprotate_container" class='flex_row_center'>
      <div id='swaprotate_swap' class='bigger action pointer'>Swap</div>
      <div id='swaprotate_rotate' class='bigger action pointer')'>Rotate</div>
  </div>
</script>