<script id='template_swaprotate' type='text/x-handlebars-template' class='template'>
  <div id="swaprotate_container" class='flex_row_center'>
      <div id='swaprotate_swap' class='bigger action pointer flex_column_center'>
        <div class='swaprotate_label'>Swap</div>
        <svg class='other_icon'><use href='#icon_adjust'></svg>
      </div>

      <div id='swaprotate_rotate' class='bigger action pointer flex_column_center'>
        <div class='swaprotate_label'>Rotate</div>
        <svg class='other_icon'><use href='#icon_sync'></svg>
      </div>
  </div>
</script>