<script id="template_theme_picker" type="text/x-handlebars-template" class="template">
  <div id="theme_picker_controls" class="room_config_section flex_row_center rem1_gap">
    <div>
      <div class="room_config_label">Background Color</div>
      <input type="color" class="modal_color" id="admin_background_color">
    </div>

    <div id="admin_text_color_container">
      <div class="room_config_label">Text Color</div>
      <input type="color" class="modal_color" id="admin_text_color">
    </div>
  </div>
  
  <div id="random_theme_container" class="flex_row_center rem1_gap">
    <div id="random_theme_container_1" class="random_theme_container rem1_gap flex_column_center"></div>
    <div id="random_theme_container_2" class="random_theme_container rem1_gap flex_column_center"></div>
  </div>
</script>