<script id="template_theme_picker_titlebar" type="text/x-handlebars-template" class="template">
  <div class="rem1_gap flex_row_center generic_horizontal_separator">
    <div id="theme_picker_random" class="action titlebar_action">Random</div>
    <div id="theme_picker_peek" class="action titlebar_action">Peek</div>
  </div>
</script>