<script id="template_theme_picker_titlebar" type="text/x-handlebars-template" class="template">
  <div class="rem1_gap flex_row_center generic_horizontal_separator">
    <div id="theme_picker_regenerate" class="action">Re-Generate</div>
    <div id="theme_picker_cancel" class="action">Cancel</div>
    <div id="theme_picker_peek" class="action">Peek</div>
  </div>
</script>