<script id="template_titlebar" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center generic_horizontal_separator">
    {{#each items}}
    <div id="{{id}}" class="action titlebar_action">{{text}}</div>
    {{/each}} 
  </div>
</script>