<script id='template_tv_history' type='text/x-handlebars-template' class='template'>
    <input type="search" id="tv_history_filter" data-mode='manual' class="filter_input" placeholder="Filter">
    <div id='tv_history_container' class='media_history_container chat_area chat_area_clone chat_area_clone_center'></div>
</script>