<script id='template_tv_picker' type='text/x-handlebars-template' class='template'>
    <i class='fa fa-tv media_picker_icon'></i>
    <div class='media_picker_info'>
        Enter a YouTube search term or URL<br>Or a Twitch channel/video URL<br>Or a video file/stream URL<br>
        <div title='Use this in the main chat input'>Command: /tv x</div>
    </div>
    <div class='flex_column_center'>
        <input type="text" id='tv_source_picker_input' class='input1 media_picker_input' placeholder='Search Term or URL'>
        <input type="text" id='tv_source_picker_input_comment' class='input1 media_picker_input' placeholder='Comment'>
    </div>
    <div class='flex_row_center' id='tv_picker_options'>
        <div id='tv_picker_prev' class='menu_item action inline'>Previous</div>
        <div id='tv_picker_restart' class='menu_item action inline'>Restart</div>
        <div id='tv_picker_submit' class='menu_item action inline'>Submit</div>
    </div>
    <div class='media_picker_hist'>History</div>
    <input type="text" id="tv_history_filter" data-mode='manual' class="filter_input" placeholder="Filter">
    <div id='tv_history_container' class='media_history_container chat_area chat_area_clone chat_area_clone_center'></div>
</script>