<script id="template_tv_picker" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center media_picker_options generic_horizontal_separator" id="tv_picker_options">
    <div id="tv_picker_link" class="menu_item action inline">Link</div>
    <div id="tv_picker_upload" class="menu_item action inline">Upload</div>
  </div>
  {{{window_controls}}}
  <div id="tv_history_container" class="media_history_container chat_area chat_area_clone chat_area_clone_center"></div>
</script>