<script id="template_tv_picker" type="text/x-handlebars-template" class="template">
  <div class="flex_row_center media_picker_options generic_horizontal_separator" id="tv_picker_options">
    <div id="tv_picker_link" class="menu_item action inline">Link</div>
    <div id="tv_picker_upload" class="menu_item action inline">Upload</div>
    <div id="tv_picker_capture" class="menu_item action inline">Capture</div>
    <div id="tv_picker_history" class="menu_item action inline">History</div>
  </div>
</script>