<script id='template_tv_picker' type='text/x-handlebars-template' class='template'>
  <div class='media_picker_info'>
    <div title='Use this in the main chat input'>Command: <%= vars.commands_prefix %>tv x</div>
  </div>
  <div class='flex_column_center'>
    <input type="text" id='tv_source_picker_input' class='input1 media_picker_input' placeholder='Search Term or URL'>
    <input type="text" id='tv_source_picker_input_comment' class='input1 media_picker_input' placeholder='Comment'>
  </div>
  <div class='flex_row_center media_picker_options generic_horizontal_separator' id='tv_picker_options'>
    <div id='tv_picker_upload' class='menu_item action inline'>Upload</div>
    <div id='tv_picker_reload' class='menu_item action inline'>Reload</div>
    <div id='tv_picker_submit' class='menu_item action inline'>Submit</div>
  </div>
  <input type="text" id="tv_history_filter" data-mode='manual' class="filter_input" placeholder="Filter">
  <div id='tv_history_container' class='media_history_container chat_area chat_area_clone chat_area_clone_center'></div>
</script>