<script id="template_tv_upload_comment" type="text/x-handlebars-template" class="template">
  <video controls id="tv_upload_comment_video_preview" class="upload_comment_preview"></video>
  <div id="tv_upload_comment_video_feedback">Video seems to be corrupted</div>
  
  <div class="flex_column_center upload_comment_controls">
    <input type="text" id="tv_upload_comment_input" class="input1 upload_comment_input" placeholder="Comment (Optional)">

    <div class="flex_row_center generic_horizontal_separator">
      <div class="menu_item action" id="tv_upload_comment_change">Re-Choose</div>
      <div class="menu_item action" id="tv_upload_comment_submit">Upload</div>
    </div>
  </div>
</script>