<script id='template_tv_upload_comment' type='text/x-handlebars-template' class='template'>
  <div id='tv_upload_comment_controls' class='flex_column_center'>
      <input type='text' id='tv_upload_comment_input' class='input1 upload_comment_input' placeholder='Comment'>

      <div class='flex_row_center generic_horizontal_separator'>
          <div class='menu_item action' id='tv_upload_comment_change'>Re-Choose</div>
          <div class='menu_item action' id='tv_upload_comment_submit'>Upload</div>
      </div>
  </div>
</script>