<script id="template_tv_upload_comment" type="text/x-handlebars-template" class="template">
  <input type="text" id="tv_upload_comment_input" class="input1 upload_comment_input" placeholder="Comment (Optional)">
  <video controls id="tv_upload_comment_video_preview" class="upload_comment_preview"></video>
  <div id="tv_upload_comment_video_feedback">Video seems to be corrupted</div>
  <div id="tv_upload_name" class="upload_comment_name"></div>
</script>