<script id="template_tv_upload_comment" type="text/x-handlebars-template" class="template">
  <div class="flex_column_center">
    <input type="text" id="tv_upload_comment_input" class="upload_comment_input" placeholder="Comment (Optional)">
    <video controls id="tv_upload_comment_video_preview" class="upload_comment_preview" poster="<%= vars.video_poster %>" preload="metadata"></video>
    <div id="tv_upload_comment_video_feedback" class="upload_comment_feedback">Video seems to be corrupted</div>
    <div id="tv_upload_name" class="upload_comment_name"></div>
  </div>
</script>