<script id='template_userlist' type='text/x-handlebars-template' class='template'>
  <input type="text" id="userlist_filter" class="filter_input" placeholder="Filter">
  <div id='userlist'></div>
</script>