<script id='template_userlist_item' type='text/x-handlebars-template' class='template'>
  <div class='userlist_column flex_column_center'>
    <img class='userlist_item_profilepic profilepic actionbox' src='{{profilepic}}' loading='lazy'>
    <div class='userlist_item_details_container action'>
      <div class='userlist_item_username'></div>
      <div class='userlist_item_role'></div>
    </div>
  </div>
</script>