<script id='template_user_menu' type='text/x-handlebars-template' class='template'>
  <div id='user_menu'>
    <div id='user_menu_username_container'>
      <div class='bigger' id='user_menu_username'></div>
      <div id='user_menu_role'></div>
    </div>

    <img id='user_menu_profilepic' class='profilepic pointer actionbox'>

    <textarea id='user_menu_bio_textarea' class='setting_textarea' rows="3" placeholder="Bio"></textarea>

    <div>
      <div id='user_menu_audioclip' class='inline_flex_row_center user_menu_items_container menu_item_smaller_2 action'>
        <svg class='user_menu_icon other_icon'><use href='#icon_play'></svg><div>Audio Clip</div>
      </div>
    </div>

    <div>
      <div class='info_title'>Account Created On</div>
      <div class='info_item_content' id='user_menu_reg_date'></div>
    </div>

    <div id='details_buttons' class='grid_column_center'>
      <div id='user_menu_change_username' class='action underlined'>Change Username</div>
      <div id='user_menu_change_password' class='action underlined'>Change Password</div>
      <div id='user_menu_logout' class='action underlined'>Logout</div>
    </div>

    <div id='user_menu_id'></div>     
  </div>
</script>