<script id='template_userlist' type='text/x-handlebars-template' class='template'>
    <input type="text" id="userlist_filter" class="filter_input" placeholder="Filter">
    <div id='userlist' class='grid_column_center result_container'></div>
</script>