<script id="template_user_profile" type="text/x-handlebars-template" class="template">
  <div id="user_profile">
    <div id="user_profile_username_container">
      <div class="bigger" id="user_profile_username"></div>
      <div id="user_profile_role"></div>
    </div>

    <img id="user_profile_profilepic" class="profilepic pointer actionbox">

    <textarea id="user_profile_bio_textarea" class="setting_textarea shady_text" rows="3" placeholder="Bio"></textarea>

    <div>
      <div id="user_profile_audioclip" class="inline_flex_row_center user_profile_items_container menu_item_smaller_2 action">
        <svg class="user_profile_icon other_icon"><use href="#icon_play"></svg><div>Audio Clip</div>
      </div>
    </div>

    <div>
      <div class="info_title">Account Created On</div>
      <div class="info_item_content" id="user_profile_reg_date"></div>
    </div>

    <div id="details_buttons" class="flex_column_center">
      <div id="user_profile_change_username" class="action underlined">Change Username</div>
      <div id="user_profile_change_password" class="action underlined">Change Password</div>
      <div id="user_profile_logout" class="action underlined">Logout</div>
    </div>

    <div id="user_profile_id"></div>     
  </div>
</script>