<script id='template_user_menu' type='text/x-handlebars-template' class='template'>
    <div>
        <div id='user_menu_username_container'>
            <div class='bigger2 action pointer' id='user_menu_username'>Loading</div>
        </div>

        <div id='user_menu_profile_image_container' class='big_profile_image_container round_image_container action4'>
            <img id='user_menu_profile_image' class='big_profile_image pointer'>
        </div>

        <textarea id='user_menu_bio_textarea' class='setting_textarea' rows="3" placeholder="Bio"></textarea>

        <div>
            <div id='user_menu_audio_clip' class='inline_flex_row_center user_menu_items_container menu_item_smaller_2 action pointer'>
                <svg class='user_menu_icon other_icon'><use href='#icon_play'></svg><div>Audio Clip</div>
            </div>
        </div>

        <div id='user_menu_button_container' class='grid_column_center'>
            <div id='user_menu_highlights' class='action pointer'>Highlights</div>
            <div id='user_menu_settings' class='action pointer'>Settings</div>
            <div id='user_menu_details' class='action pointer'>Details</div>
            <div id='user_menu_logout' class='action pointer'>Logout</div>
        </div>

        <div id='user_menu_toggler_main' class='toggler_main_container'>
            <div class='toggler user_menu_toggle small_padding_bottom bold pointer action'>+ More</div>

            <div class='toggler_container user_menu_toggle_container'>
                <div id='user_menu_toggle_items' class='grid_column_center'>
                    <div id='user_menu_request_notifications' class='pointer action'>Desktop Notifications</div>
                </div>
            </div>
        </div>
    </div>
</script>