<script id='template_user_menu' type='text/x-handlebars-template' class='template'>
    <div id='user_menu'>
        <div id='user_menu_username_container'>
            <div class='bigger' id='user_menu_username'></div>
            <div id='user_menu_role'></div>
        </div>

        <div id='user_menu_profilepic_container' class='big_profilepic_container round_image_container action4'>
            <img id='user_menu_profilepic' class='big_profilepic pointer'>
        </div>

        <textarea id='user_menu_bio_textarea' class='setting_textarea' rows="3" placeholder="Bio"></textarea>

        <div>
            <div id='user_menu_audioclip' class='inline_flex_row_center user_menu_items_container menu_item_smaller_2 action'>
                <svg class='user_menu_icon other_icon'><use href='#icon_play'></svg><div>Audio Clip</div>
            </div>
        </div>

        <div id='user_menu_button_container' class='grid_column_center'>
            <div id='user_menu_settings' class='action'>Settings</div>
            <div id='user_menu_details' class='action'>Details</div>
            <div id='user_menu_logout' class='action'>Logout</div>
        </div>
    </div>
</script>