<script id="template_view_text" type="text/x-handlebars-template" class="template">
  <div id="view_text_text"></div>
  <div class="bitbigger action inline pointer" id="view_text_copy">Copy To Clipboard</div>
</script>