<script id="template_view_image" type="text/x-handlebars-template" class="template">
  <img id="view_image_background" class="background">

  <div class="columns_container">
    <div class="panel">
      <div id="view_image_header" class="panel_container">
        <div class="flex_row_center generic_horizontal_separator">
          <div class="flex_row_center">
            <img id="view_image_profilepic" class="show_image_profilepic profilepic icon_size actionbox">
            <div id="view_image_username" class="action"></div>
          </div>
          <div id="view_image_toolbar_expand" class="modal_image_button action">Expand</div>
          <div id="view_image_toolbar_url" class="modal_image_button action">URL</div>
          <div id="view_image_toolbar_link" class="modal_image_button action">Link</div>
        </div>
      </div>
    </div>

    <div class="panel panel_alt">
      <div id="view_image_subheader" class="panel_container action"></div>
    </div>

    <div id="view_image_container" class="show_image_container bg1">
      <img id="view_image" class="show_image">
      <div id="view_image_error">Image Not Available</div>
    </div>
  </div>

</script>