<script id="template_whispers_info" type="text/x-handlebars-template" class="template">
  <div class="empty_window_message">
    Whispers appear here. Whispers are direct private messages between users.
    They are not saved in the server, users must be online to send/receive whispers
  </div>
</script>