<script id="template_whisper_received" type="text/x-handlebars-template" class="template">
  <div class="whisper_date nicerow_top">{{date}}</div>
  <div class="whisper_item_content action nice_row dynamic_title">
    <img class="whisper_item_profilepic profilepic icon_size actionbox" loading="lazy" src="{{profilepic}}">
    <div class="whisper_item_message">{{message}}</div>
  </div>
</script>