<script id="template_whisper_sent" type="text/x-handlebars-template" class="template">
  <div class="whisper_date nicerow_top">{{date}}</div>

  <div class="whisper_item_content nice_row pointer">
    <svg class="whisper_item_icon profilepic_size_small"><use href="#icon_envelope"></use></svg>
    <div class="whisper_item_message">{{message}}</div>
  </div>
</script>