<script id="template_whisper_received" type="text/x-handlebars-template" class="template">
  <div class="whisper_date nicerow_top">{{date}}</div>

  <div class="whisper_item_content nice_row pointer">
    <img class="whisper_item_icon profilepic profilepic_size_small actionbox" loading="lazy" src="{{profilepic}}">
    <div class="whisper_item_message">{{message}}</div>
  </div>
</script>