<script id="template_whisper_user" type="text/x-handlebars-template" class="template">
<img class="show_whisper_profilepic profilepic icon_size actionbox">
<div class="show_whisper_username action"></div>
</script>