<script id="template_whispers" type="text/x-handlebars-template" class="template">
  <input type="text" id="whispers_filter" class="filter_input" placeholder="Filter">
  <div id="whispers_container" class="nice_row_container">
    <div class="empty_window_message">
      Whispers appear here. Whispers are direct private messages between users.
      They are not saved in the server, users must be online to send/receive whispers.
      To send a whisper click the button in a user"s profile or use <%= vars.commands_prefix %>whisper
    </div>
  </div>
</script>