<script id="template_window_controls" type="text/x-handlebars-template" class="template">
  <div class="window_controls flex_row_center" data-parent-id="{{parent_id}}">
    <div class="window_filter_bottom action flex_column_center" title="Go To Bottom or Top. Middle Click to go to the top">
      <svg class="panel_icon"><use href="#icon_arrow-down"></use></svg>
    </div>

    <input type="text" id="{{filter_id}}" class="filter_input" placeholder="{{filter_placeholder}}" data-mode="{{filter_mode}}">

    <div class="window_filter_clear action flex_column_center" title="Clear Filter">
      <svg class="panel_icon"><use href="#icon_x-circle"></use></svg>
    </div>
  </div>
</script>