<script id="template_write_whisper" type="text/x-handlebars-template" class="template">
  <div id="write_whisper_users" class="user_items"></div>
  <textarea rows="3" id="write_whisper_area" tabindex=0 placeholder="Write a Message" class="full_textarea shady_text"></textarea>
</script>