<script id="template_write_whisper" type="text/x-handlebars-template" class="template">
  <div id="write_whisper_user_profilepics"></div>
  <div id="write_whisper_add_user" class="action">Click here to add more users</div>
  <textarea rows="3" id="write_whisper_area" tabindex=0 placeholder="Write a Message" class="full_textarea shady_text"></textarea>
  <span class="flex_row_center generic_horizontal_separator">
    <div id="write_whisper_send_button" class="bigger action inline" tabindex=4>Send</div>
  </span>
</script>