<div id='activity_bar_container' class='unselectable'>
    <div id='activity_bar_left'>
        <i id='activity_left_room_menu_icon' class='activity_icon nicetitle pointer action fa fa-th-large' onclick='Hue.show_room_menu()' title="Room Menu"></i>
        <div id='activity_left_users_container' class='nicetitle action nicetitle pointer flex_row_center' title="Users Online" onclick='Hue.show_userlist_window()'>
            <i id='activity_left_users_icon' class='activity_icon fas fa-users'></i>
            <div id='activity_left_users_count' class='activity_label'></div>
        </div>
        <div class='nicetitle action nicetitle pointer flex_row_center' title="Message Board" onclick='Hue.show_message_board()'>
            <i id='activity_left_message_board_icon' class='activity_icon fas fa-comment-dots'></i>
            <div id='activity_left_message_board_label' class='activity_label'>Message Board</div>
        </div>
    </div>

    <div id='activity_bar_content'>
        <div id='activity_bar_no_activity'>No Recent Activity</div>
    </div>

    <div id='activity_bar_right'>
        <i id='activity_right_icon_lock' class='action nicetitle pointer activity_icon fas fa-lock' title="Lock Screen" onclick='Hue.lock_screen()'></i>
        <i id='activity_right_icon_envelope' class='action nicetitle pointer activity_icon fa fa-envelope' title="Whispers" onclick='Hue.show_whispers()'></i>
        <i id='activity_right_icon_bell' class='action nicetitle pointer activity_icon fas fa-bell' title="Notifications" onclick='Hue.show_notifications()'></i>
    </div>
</div>