<body>
    <div id="loading">
        <div id="loading_spinner"></div>
    </div>

    <div id="main_container" class='bg0'>
        <div id='background_image' class='background_image'></div>

        <div class="columns_container">

            <% include header.ejs %>

            <div class='rows_container bg1' id="main_rows_container">

                <% include chat.ejs %>
                <% include media.ejs %>

            </div>

            <% include footer.ejs %>

        </div>
    </div>

    <div id='audio_players'>
        <audio id='audio_pup' src='/static/_audio/pup.mp3?version=1' preload='auto'></audio>
        <audio id='audio_pup2' src='/static/_audio/pup2.mp3?version=1' preload='auto'></audio>
        <audio id='audio_join' src='/static/_audio/join.mp3?version=2' preload='auto'></audio>
        <audio id='audio_highlight' src='/static/_audio/highlight.mp3?version=1' preload='auto'></audio>
    </div>

    <div id='file_pickers'>
        <form>
            <input type='file' accept='image/jpeg, image/png, image/gif, image/webp, image/bmp'
                id='profile_image_picker' onchange='Hue.profile_image_selected(this)'>
        </form>
        <form>
            <input type='file' accept='image/jpeg, image/png, image/gif, image/webp, image/bmp'
                id='background_image_input' class='nodisplay' onchange='Hue.background_image_selected(this)'>
        </form>
        <form>
            <input type='file' accept='audio/mpeg, audio/ogg, audio/wav, audio/flac' id='audio_clip_picker'
                class='nodisplay' onchange='Hue.audio_clip_selected(this)'>
        </form>
    </div>

    <div id='infotip_container'>
        <div id='infotip'>hi</div>
    </div>

    <% include reactions.ejs %>

    <%- templates %>
    
    <%- svg %>
</body>