<body>
    <div id="loading">
        <div id="loading_spinner"></div>
    </div>

    <div id="main_container" class='bg0'>
        <div id='background_image' class='background_image'></div>

        <div class="columns_container">
            <div id='activity_bar_container' class='unselectable'>
                <div id='activity_bar_left'>
                    <div class='nicetitle action nicetitle pointer flex_row_center' onclick='Hue.show_message_board()'>
                        <i id='activity_left_message_board_icon' class='activity_icon fas fa-comment-dots' title="Show Message Board"></i>
                        <div id='activity_left_message_board_label' class='activity_label'>Message Board</div>
                    </div>
                </div>

                <div id='activity_bar_content'>
                    <div id='activity_bar_no_activity'>No Recent Activity</div>
                </div>

                <div id='activity_bar_right'>
                    <i id='activity_right_icon_lock' class='action nicetitle pointer activity_icon fas fa-lock' title="Lock Screen" onclick='Hue.lock_screen()'></i>
                    <i id='activity_right_icon_envelope' class='action nicetitle pointer activity_icon fa fa-envelope' title="Whispers" onclick='Hue.show_whispers()'></i>
                    <i id='activity_right_icon_bell' class='action nicetitle pointer activity_icon fas fa-bell' title="Notifications" onclick='Hue.show_notifications()'></i>
                </div>
            </div>

            <% include header.ejs %>

            <div class='rows_container' id="main_rows_container">

                <% include chat.ejs %>

                <% include media.ejs %>

            </div>

            <% include footer.ejs %>

        </div>
    </div>

    <audio id='audio_pup' src='/static/audio/pup.mp3?version=1' preload="auto"></audio>
    <audio id='audio_pup2' src='/static/audio/pup2.mp3?version=1' preload="auto"></audio>
    <audio id='audio_join' src='/static/audio/join.mp3?version=2' preload="auto"></audio>
    <audio id='audio_highlight' src='/static/audio/highlight.mp3?version=1' preload="auto"></audio>

    <div id='media_radio'>
        <div id='media_youtube_audio_container' class='media_radio_item'></div>
        <div id='media_soundcloud_audio_container' class='media_radio_item'></div>
        <div id='media_audio_audio_container' class='media_radio_item'></div>
    </div>

    <form>
        <input type='file' accept="image/jpeg, image/png, image/gif, image/webp, image/bmp" id='profile_image_picker' onchange='Hue.profile_image_selected(this)'>
    </form>

    <form>
        <input type='file' accept="image/jpeg, image/png, image/gif, image/webp, image/bmp" id='background_image_input' class='nodisplay' onchange='Hue.background_image_selected(this)'>
    </form>

    <%- templates %>

</body>