<div id='chat_main'>
    <div class='scroller_container top_scroller_container' id='top_scroller_container'>
        <div id='top_scroller' class='left_scroller scroller action3 unselectable' onclick='Hue.goto_top()'>Go&nbsp;To&nbsp;Top</div>
        <div class='center_scroller scroller action3 unselectable' onclick='Hue.autoscroll_up()'>Scroll</div>
        <div id='up_scroller' class='right_scroller scroller action3 unselectable' onclick='Hue.activity_above()'>Your&nbsp;Activity</div>
    </div>

    <div class='maxer_container maxer_container_left'>
        <div id='chat_maxer' class='maxer'></div>
    </div>

    <div id='chat_area_parent'>
        <div id='chat_area' class='chat_area'></div>
    </div>

    <div class='scroller_container bottom_scroller_container' id='bottom_scroller_container'>
        <div id='bottom_scroller' class='left_scroller scroller action3 unselectable' onclick='Hue.goto_bottom(true)'>Go&nbsp;To&nbsp;Bottom</div>
        <div class='center_scroller scroller action3 unselectable' onclick='Hue.autoscroll_down()'>Scroll</div>
        <div id='down_scroller' class='right_scroller scroller action3 unselectable' onclick='Hue.activity_below()'>Your&nbsp;Activity</div>
    </div>
</div>