<div id="chat_main">
  <div class="scroller_container top_scroller_container" id="top_scroller_container">
    <div id="top_scroller" class="scroller action3">Go&nbsp;To&nbsp;Top</div>
    <div id="top_percentage_scroller" class="scroller middle_scroller action3">0%</div>
    <div id="activity_up_scroller" class="scroller action3">Your&nbsp;Activity</div>
  </div>

  <div id="chat_area_parent">
    <div id="chat_area" class="chat_area"></div>
  </div>

  <div class="scroller_container bottom_scroller_container" id="bottom_scroller_container">
    <div id="bottom_scroller" class="scroller action3">Go&nbsp;To&nbsp;Bottom</div>
    <div id="bottom_percentage_scroller" class="scroller middle_scroller action3">0%</div>
    <div id="activity_down_scroller" class="scroller action3">Your&nbsp;Activity</div>
  </div>
</div>