<div id="flash_info">
  <div id="flash_info_title">
    <canvas id="flash_info_title_icon" width="20" height="20"></canvas>
    <div id="flash_info_title_text"></div>
  </div>
  <div id="flash_info_text"></div>
</div>