<div id='footer' class='panel'>
    <div id='footer_items'>
        <div title='User Menu'>
            <svg id='footer_user_menu' class='action pointer footer_icon'>
                <use href='#icon_user'>
            </svg>
        </div>

        <div title='Reactions'>
            <svg id='footer_reactions' class='action pointer footer_icon'>
                <use href='#icon_thumbs-up'>
            </svg>
        </div>

        <textarea id='input' size="1" rows="1"'></textarea>

        <div id='footer_search' class='flex_start'>
            <div title="Recent Searches">
                <svg class='other_icon action pointer' id='footer_search_history_icon'>
                    <use href='#icon_sync'></use>
                </svg>
            </div>

            <input id='footer_search_input' type='text' placeholder='Search'>
        </div>

        <div id='footer_media_items'>

            <div id='footer_image_controls' class='footer_media_control'>
                <div id="footer_image_label" class='footer_media_label action pointer' title='Change the Image' data-type="image">
                    <svg id='footer_image_icon' class='footer_icon'><use href='#icon_image'></svg>
                </div>

                <div id='footer_image_toggler' class='pointer action' title='Show/Hide Image. Hidden means it will not be displayed or active'>
                    <svg id='footer_toggle_image_icon' class='footer_icon'><use href='#icon_toggle-on'></svg>
                </div>

                <div id='footer_image_lock'>
                    <div id='footer_lock_image_icon_container' class='pointer action footer_icon' title='Lock/Unlock Image. Locked means it will stay the same even if media is changed by a user'>
                        <svg id='footer_lock_image_icon' class='footer_icon'><use href='#icon_locked'></svg>
                    </div>

                    <div id='footer_lock_image_label' class='footer_media_locked_label footer_text action pointer' title='Click To Unlock'>(Locked)</div>
                </div>
            </div>

            <div id='footer_swaprotate' class='pointer action' title="Swap / Rotate">
                <svg class='footer_icon'><use href='#icon_sync'></svg>
            </div>

            <div id='footer_tv_controls' class='footer_media_control'>
                <div id="footer_tv_label" class='footer_media_label action pointer' title='Change the TV' data-type="tv">
                    <svg id='footer_tv_icon' class='footer_icon'><use href='#icon_tv'></svg>
                </div>

                <div id='footer_tv_toggler' class='pointer action' title="Show/Hide TV. Hidden means it will not be displayed or active">
                    <svg id='footer_toggle_tv_icon' class='footer_icon'><use href='#icon_toggle-on'></svg>
                </div>

                <div id='footer_tv_lock'>
                    <div id='footer_lock_tv_icon_container' class='pointer action' title="Lock/Unlock TV. Locked means it will stay the same even if media is changed by a user">
                        <svg id='footer_lock_tv_icon' class='footer_icon'><use href='#icon_locked'></svg>
                    </div>

                    <div id='footer_lock_tv_label' class='footer_media_locked_label footer_text action pointer' title='Click To Unlock'>(Locked)</div>
                </div>
            </div>

            <div title='Media Menu'>
                <svg id='footer_media_menu' class='action pointer'>
                    <use href='#icon_bars'>
                </svg>
            </div>
        </div>
    </div>
</div>