<div class="panel">
  <div id="footer" class="panel_container grow">
    <div id="input_reply_container" class="flex_row_center rem05_gap hidden input_button_container">
      <img id="input_reply_profilepic" class="profilepic icon_size actionbox">
      <div id="input_reply_cancel" class="action input_button">Cancel</div>
    </div>

    <div id="input_edit_container" class="flex_row_center rem05_gap hidden input_button_container">
      <div id="input_edit_cancel" class="action input_button">Cancel</div>
    </div>

    <div id="footer_input_menu" class="flex_row_center action" title="Input Options">
      <svg class="footer_icon"><use href="#icon_arrow-up"></use></svg>
    </div>

    <textarea id="input" size="1" rows="1" wrap="false"></textarea>

    <div id="footer_media_items" class="flex_row_center rem025_gap generic_horizontal_separator">
      <div id="footer_image_controls" class="flex_row_center rem05_gap">
        <div id="footer_image_icon" class="flex_row_center action rem05_gap" title="Change Image. Shift+Click to show dialog directly">
          <div>Image</div>
          <svg class="footer_icon"><use href="#icon_image"></use></svg>
        </div>

        <div id="footer_image_toggle" class="flex_row_center action" title="Show/Hide Image">
          <svg class="footer_icon"><use href="#icon_toggle-on"></use></svg>
        </div>

        <div id="footer_image_lock" class="action" title="If locked image won't change automatically">Lock</div>
        <div id="footer_image_list" class="action" title="List of recent images">List</div>
      </div>

      <div id="footer_tv_controls" class="flex_row_center rem05_gap">
        <div id="footer_tv_icon" class="flex_row_center action rem05_gap" title="Change TV. Shift+Click to show dialog directly">
          <div>TV</div>
          <svg class="footer_icon"><use href="#icon_tv"></use></svg>
        </div>

        <div id="footer_tv_toggle" class="flex_row_center action" title="Show/Hide TV">
          <svg class="footer_icon"><use href="#icon_toggle-on"></use></svg>
        </div>

        <div id="footer_tv_lock" class="action" title="If locked tv won't change automatically">Lock</div>
        <div id="footer_tv_list" class="action" title="List of recent tv">List</div>
      </div>

      <div id="footer_radio_container" class="flex_row_center action rem025_gap">
        <svg id="footer_radio_icon" class="footer_icon hidden"><use href="#icon_volume-full"></use></svg>
        <div>Radio</div>
      </div>
    </div>
  </div>
</div>