<div id='footer' class='panel'>
    <div id='footer_items'>
        <div id='footer_user_menu_container' class='pointer action'>
            <i id='footer_user_menu' class='fa fa-user-circle footer_icon'></i>
        </div>

        <textarea id='input' size="1" rows="1" style='--expand: "InputExpand";'></textarea>

        <div id='footer_media_items'>

            <div id='footer_image_controls' class='footer_media_control'>
                <div id="footer_image_label" class='footer_media_label action pointer nicetitle' title='Change the Image' data-type="image">
                    <div class='footer_text_small'>Image</div><i id='footer_image_icon' class='fa fa-camera footer_icon2'></i>
                </div>

                <div id='footer_image_toggler' class='pointer action nicetitle footer_icon2' title='Show/Hide Image. Hidden means it will not be displayed or active'>
                    <i id='footer_toggle_image_icon' class='fa fa-toggle-on'></i>
                </div>

                <div id='image_lock_area'>
                    <div id='footer_lock_image_icon_container' class='pointer action nicetitle footer_icon3' title='Lock/Unlock Image. Locked means it will stay the same even if media is changed by a user'>
                        <i id='footer_lock_image_icon' class='fa fa-unlock'></i>
                    </div>

                    <div id='footer_lock_image_label' class='footer_media_locked_label footer_text_small action pointer nicetitle' title='Click To Unlock'>(Locked)</div>
                </div>
            </div>

            <div id='footer_media_rotate' class='pointer action nicetitle footer_icon3' title="Click: Rotate | Middle Click: Swap">
                <i id='footer_media_rotate_icon' class='fas fa-sync-alt'></i>
            </div>

            <div id='footer_tv_controls' class='footer_media_control'>
                <div id="footer_tv_label" class='footer_media_label action pointer nicetitle' title='Change the TV' data-type="tv">
                    <div class='footer_text_small'>TV</div><i id='footer_tv_icon' class='fa fa-tv footer_icon2'></i>
                </div>

                <div id='footer_tv_toggler' class='pointer action nicetitle footer_icon2' title="Show/Hide TV. Hidden means it will not be displayed or active">
                    <i class='fa fa-toggle-on' id='footer_toggle_tv_icon'></i>
                </div>

                <div id='tv_lock_area'>
                    <div id='footer_lock_tv_icon_container' class='pointer action nicetitle footer_icon3' title="Lock/Unlock TV. Locked means it will stay the same even if media is changed by a user">
                        <i class='fa fa-unlock' id='footer_lock_tv_icon'></i>
                    </div>

                    <div id='footer_lock_tv_label' class='footer_media_locked_label footer_text_small action pointer nicetitle' title='Click To Unlock'>(Locked)</div>
                </div>
            </div>

            <div id='footer_media_menu_container' class='pointer action'>
                <i id='footer_media_menu' class='fa fa-bars'></i>
            </div>
        </div>
    </div>
</div>