<div id='footer' class='panel'>
    <div id='footer_items'>
        <textarea id='input' size='1' rows='1' wrap='false'></textarea>

        <div id='footer_actions' class='generic_horizontal_separator'>
            <div id='footer_highlights' class='action footer_actions_item'>Highlights</div>
            <div id='footer_links' class='action footer_actions_item'>Links</div>
            <div id='footer_search' class='action footer_actions_item'>Search</div>
        </div>

        <div id='footer_media_items' class='generic_horizontal_separator'>
            <div id='footer_image_controls' class='footer_media_control'>
                <div id="footer_image_label" class='footer_media_label action' title='Change the Image' data-type="image">
                    <svg id='footer_image_icon' class='panel_icon'><use href='#icon_image'></svg>
                    <div class='panel_icon_label'>Image</div>
                </div>

                <div id='footer_image_toggler' class='action' title='Show/Hide Image. Hidden means it will not be displayed or active'>
                    <svg id='footer_toggle_image_icon' class='panel_icon'><use href='#icon_toggle-on'></svg>
                </div>

                <div id='footer_image_lock'>
                    <div id='footer_lock_image_icon_container' class='action panel_icon' title='Lock/Unlock Image. Locked means it will stay the same even if media is changed by a user'>
                        <svg id='footer_lock_image_icon' class='panel_icon'><use href='#icon_locked'></svg>
                    </div>

                    <div id='footer_lock_image_label' class='footer_media_locked_label footer_text action' title='Click To Unlock'>(Locked)</div>
                </div>
            </div>

            <div id='footer_tv_controls' class='footer_media_control'>
                <div id="footer_tv_label" class='footer_media_label action' title='Change the TV' data-type="tv">
                    <svg id='footer_tv_icon' class='panel_icon'><use href='#icon_tv'></svg>
                    <div class='panel_icon_label'>TV</div>
                </div>

                <div id='footer_tv_toggler' class='action' title="Show/Hide TV. Hidden means it will not be displayed or active">
                    <svg id='footer_toggle_tv_icon' class='panel_icon'><use href='#icon_toggle-on'></svg>
                </div>

                <div id='footer_tv_lock'>
                    <div id='footer_lock_tv_icon_container' class='action' title="Lock/Unlock TV. Locked means it will stay the same even if media is changed by a user">
                        <svg id='footer_lock_tv_icon' class='panel_icon'><use href='#icon_locked'></svg>
                    </div>

                    <div id='footer_lock_tv_label' class='footer_media_locked_label footer_text action' title='Click To Unlock'>(Locked)</div>
                </div>
            </div>

            <div>
                <div id='footer_apps_icon_container' class='action' title="Toggle Apps">
                <svg id='footer_apps_icon' class='panel_icon'><use href='#icon_star-solid'></svg>
            </div>
        </div>
    </div>
</div>