<div id="footer" class="panel">
  <div id="footer_items">
    <textarea id="input" size="1" rows="1" wrap="false"></textarea>

    <div id="footer_media_items" class="flex_row_center rem025_gap">
      <div id="footer_image_controls" class="flex_row_center rem05_gap">
        <div id="footer_image_label" class="action flex_row_center rem05_gap" title="Change the Image" data-type="image">
          <svg id="footer_image_icon" class="footer_icon"><use href="#icon_image"></svg>
          <div>Image</div>
        </div>

        <div id="footer_image_toggler" class="action" title="Hide or show the image">
          <svg id="footer_toggle_image_icon" class="footer_icon"><use href="#icon_toggle-on"></svg>
        </div>

        <div id="footer_image_lock" class="action" title="If locked image won't change automatically">Lock</div>
        <div id="footer_image_list" class="action" title="List of recent images">List</div>
        <div id="footer_image_prev" class="action" title="Load the previous image">Prev</div>
        <div id="footer_image_next" class="action" title="Load the next image">Next</div>
      </div>

      <div id="footer_tv_controls" class="flex_row_center rem05_gap">
        <div id="footer_tv_label" class="action flex_row_center rem05_gap" title="Change the TV" data-type="tv">
          <svg id="footer_tv_icon" class="footer_icon"><use href="#icon_tv"></svg>
          <div>TV</div>
        </div>

        <div id="footer_tv_toggler" class="action" title="Hide or show the tv">
          <svg id="footer_toggle_tv_icon" class="footer_icon"><use href="#icon_toggle-on"></svg>
        </div>

        <div id="footer_tv_lock" class="action" title="If locked tv won't change automatically">Lock</div>
        <div id="footer_tv_list" class="action" title="List of recent tv">List</div>
        <div id="footer_tv_prev" class="action" title="Load the previous tv">Prev</div>
        <div id="footer_tv_next" class="action" title="Load the next tv">Next</div>
      </div>

      <div id="footer_radio_icon_container" class="action" title="Toggle Radio">
        <svg id="footer_radio_icon" class="footer_icon"><use href="#icon_star-solid"></svg>
      </div>
    </div>
  </div>
</div>