<div id="footer" class="panel">
  <div id="footer_items">
    <textarea id="input" size="1" rows="1" wrap="false"></textarea>

    <div id="footer_media_items" class="flex_row_center rem025_gap">
      <div id="footer_image_controls" class="flex_row_center rem05_gap">
        <div id="footer_image_label" class="flex_row_center action" title="Change the Image">
          <svg class="footer_icon"><use href="#icon_image"></svg>
        </div>

        <div id="footer_image_lock" class="action" title="If locked image won't change automatically">Lock</div>
        <div id="footer_image_prev" class="action" title="Load the previous image">Prev</div>
        <div id="footer_image_next" class="action" title="Load the next image">Next</div>
        <div id="footer_image_list" class="action" title="List of recent images">List</div>
      </div>

      <div id="footer_tv_controls" class="flex_row_center rem05_gap">
        <div id="footer_tv_label" class="flex_row_center action" title="Change the TV">
          <svg class="footer_icon"><use href="#icon_tv"></svg>
        </div>

        <div id="footer_tv_lock" class="action" title="If locked tv won't change automatically">Lock</div>
        <div id="footer_tv_prev" class="action" title="Load the previous tv">Prev</div>
        <div id="footer_tv_next" class="action" title="Load the next tv">Next</div>
        <div id="footer_tv_list" class="action" title="List of recent tv">List</div>
      </div>

      <div id="footer_radio_icon_container" class="flex_row_center action" title="Toggle Radio">
        <svg id="footer_radio_icon" class="footer_icon"><use href="#icon_star-solid"></svg>
      </div>
    </div>
  </div>
</div>