<div id='header' class='unselectable panel'>
    <div id='synth_container' class='unselectable'>
        <div id='synth_content_container'>
            <div id='synth_content'>
                <div class='synth_key_button action' id='synth_key_button_volume'><i id='synth_volume_icon' class='fa fa-volume-up'></i></div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_1'>1</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_2'>2</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_3'>3</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_4'>4</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_5'>5</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_6'>6</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_7'>7</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_8'>8</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_9'>9</div>
                <div class='synth_key_divider'></div>
                <div class='synth_key action' id='synth_key_10'>10</div>
            </div>

            <div id='synth_voice_content'>
                <input type='text' id='synth_voice_input' placeholder="Say Something">
            </div>
        </div>
    </div>
    <div id='recent_voice_box' class='unselectable'>
        <div id='recent_voice_box_content'></div>
    </div>
    <div id='infotip_container' class='unselectable'>
        <div id='infotip'>hi</div>
    </div>		
    <div id='header_items'>
        <div id='header_items_inner'>
            <div id='header_radio'>
                <div class='pointer action' id='toggle_radio_state' onclick='Hue.toggle_play_radio()'>
                    <div class='action pointer' id='header_radio_playing_icon'><i class='icon fa fa-volume-up'></i></div>
                    <div id='toggle_now_playing_text'>Start Radio</div>
                </div>

                <div id='header_radio_volume_area'>
                    <div id='header_radio_volume_controls'>
                        <div id='header_radio_volume_icon_minus' class='action pointer' onclick='Hue.radio_volume_decrease()'><i class='pointer icon fa fa-minus'></i></div>
                        <div class='pointer action' onclick='Hue.radio_volume_decrease()'>Volume:&nbsp;</div>
                        <div class='pointer action' id='volume' onclick='Hue.radio_volume_increase()'>100%</div>
                        <div id='header_radio_volume_icon_plus' class='action pointer' onclick='Hue.radio_volume_increase()'><i class='pointer icon fa fa-plus'></i></div>
                    </div>
                </div>

                <div id='header_now_playing_area'>
                    <div id='header_now_playing_controls' class='action' onclick='Hue.show_played()'>
                        <div class='pointer'>Now Playing:&nbsp;</div>
                        <div class='pointer' id='now_playing'>Loading</div>
                    </div>
                </div>
            </div>

            <div id='header_topic'>
                <div id='header_topic_inner' class='action' onclick='Hue.show_topic_window()'>
                    <div class='header_item'>Topic:&nbsp;</div>
                    <div class='header_item' id='header_topic_text'></div>
                </div>
            </div>
        </div>
    </div>
</div>