<div id='header' class='panel'>
    <div id='header_left'>
        <div title='Room Menu'>
            <svg id='header_left_room_menu_icon' class='action pointer header_icon'>
                <use href='#icon_cube'>
            </svg>
        </div>
        
        <div id='header_left_users_container' class='action pointer flex_row_center' title='Users Online'>
            <svg id='header_left_users_icon' class='header_icon'>
                <use href='#icon_robot'>
            </svg>

            <div id='header_left_users_count' class='header_label'></div>
        </div>

        <div id='header_left_messageboard_container' class='action pointer flex_row_center' title='Message Board'>
            <svg id='header_left_message_board_icon' class='header_icon'>
                <use href='#icon_comment'>
            </svg>

            <div id='header_left_message_board_count' class='header_label'>(0)</div>
        </div>
    </div>

    <div id='activity_bar'>
        <div id='activity_bar_inner'>
            <div id='activity_bar_no_activity'>No Recent Activity</div>
        </div>
    </div>

    <div id='header_right'>
        <div title='Notifications'>
            <svg id='header_right_icon_bell' class='action pointer header_icon'>
                <use href='#icon_bell'>
            </svg>
        </div>

        <div title='Whispers' class='flex_row_center action pointer'>
            <svg id='header_right_icon_envelope' class='header_icon'>
                <use href='#icon_envelope'>
            </svg>
            
            <div id='header_right_whispers_count' class='header_label'>(0)</div>
        </div>

        <div title='Lock Screen'>
            <svg id='header_right_icon_lock' class='action pointer header_icon'>
                <use href='#icon_locked'>
            </svg>
        </div>
    </div>
</div>