<div id='header' class='panel'>
    <div id='header_left' class='header_side'>
        <div id='header_users' class='action pointer flex_row_center'>
            <div>Users</div>
            <div id='header_users_count' class='header_label'></div>
        </div>
    </div>

    <div id='activity_bar'>
        <div id='activity_bar_inner'>
            <div id='activity_bar_no_activity'>No Recent Activity</div>
        </div>
    </div>

    <div id='header_right' class='header_side'>
        <div id='header_room_menu' class='action pointer'>Room Menu</div>

        <div id='header_message_board' class='action pointer flex_row_center'>
            <div>Message Board</div>
            <div id='header_message_board_count' class='header_label'>(0)</div>
        </div>

        <div id='header_notifications' class='action pointer'>
            Notifications
        </div>

        <div id='header_whispers' title='Whispers' class='flex_row_center action pointer'>
            <div>Whispers</div>
            <div id='header_whispers_count' class='header_label'>(0)</div>
        </div>

        <div id='header_lock_screen' class='action pointer'>Lock Screen</div>
    </div>
</div>