<div id="header" class="panel">
  <div id="header_left" class="header_side">
    <div id="header_main_menu" title="Main Menu" class="action header_container">
      <svg class="panel_icon">
        <use href="#icon_cube">
      </svg>
    </div>
    
    <div id="header_users" class="action flex_row_center header_container" title="Users Online">
      <svg class="panel_icon">
        <use href="#icon_robot">
      </svg>

      <div id="header_users_count" class="header_label"></div>
    </div>

    <div id="header_message_board" class="action flex_row_center header_container" title="Message Board">
      <svg class="panel_icon">
        <use href="#icon_comment">
      </svg>

      <div id="header_message_board_count" class="header_label">(0)</div>
    </div>
  </div>

  <div id="activity_bar">
    <div id="activity_bar_inner" class="flex_row_center"></div>
  </div>

  <div id="header_right" class="header_side">
    <div id="header_whispers" title="Whispers" class="flex_row_center action header_container">
      <svg class="panel_icon">
        <use href="#icon_envelope">
      </svg>
      
      <div id="header_whispers_count" class="header_label">(0)</div>
    </div>

    <div id="header_notifications" title="Notifications" class="flex_row_center action header_container">
      <svg class="panel_icon">
        <use href="#icon_bell">
      </svg>

      <div id="header_notifications_count" class="header_label">(0)</div>
    </div>

    <div id="header_lock_screen" title="Lock Screen" class="action header_container">
      <svg class="panel_icon">
        <use href="#icon_locked">
      </svg>
    </div>
  </div>
</div>