<div id="linksbar" class="panel panel_alt">
  <div id="linksbar_links" class="action">Links</div>
  <img id="linksbar_image" class="profilepic icon_size actionbox dynamic_title">
  <div id="linksbar_click" class="action">
    <div id="linksbar_title"></div>
    <div id="linksbar_url"></div>
  </div>
</div>