<div id="linksbar_panel" class="panel panel_alt">
  <div id="linksbar" class="panel_container">
    <div id="linksbar_links" class="action">Links</div>
    <img id="linksbar_image" class="profilepic icon_size actionbox">
    <div id="linksbar_click" class="action">
      <div id="linksbar_title"></div>
      <div id="linksbar_url"></div>
    </div>
  </div>
</div>