<!-- T:28 -->

<% include ../doctype.ejs %>

<html>
	<head>
		<% include ../meta.ejs %>

		<title><%= vars.default_title %></title>

		<link rel="stylesheet" type="text/css" href="/static/css/build/libs.bundle.min.css?version=1">
		<link rel="stylesheet" type="text/css" href="/static/css/main/style.css?version=785">
		
		<script src="/static/js/build/libs.bundle.min.js?version=6"></script>
		<script src="/static/js/build/main.bundle.min.js?version=60"></script>

		<script>

			<% include vars.ejs %>

			$(function()
			{
				Hue.init()
			})

		</script>
	</head>

	<%- body_html %>

</html>