<%# T:3 %>

<% include ../doctype.ejs %>

<html>
	<head>
		<% include ../meta.ejs %>

		<title><%= vars.default_title %></title>

		<link rel="stylesheet" type="text/css" href="/static/css/libs/bundle.min.css?version=5">
		<link rel="stylesheet" type="text/css" href="/static/css/main/style.css?version=681">
		
		<script src="/static/js/libs/bundle.min.js?version=28"></script>
		<script src="/static/js/main/bundle.min.js?version=112"></script>

		<script>

			<% include vars.ejs %>

			$(function()
			{
				Hue.init()
			})

		</script>
	</head>

	<%- body_html %>

</html>