<div id='media' class='unselectable' draggable='false'>
    <div id='media_split'>
        <div class='media_main_container' id='media_image'>
            <div class='media_container' id='media_image_container'>
                <img id='media_image_frame' class='pointer' draggable='false' onclick="Hue.show_current_image_modal()" crossOrigin="Anonymous">
                <div id='media_image_error' class='pointer' onclick="Hue.show_current_image_modal()">Image failed to load</div>
                <div id='media_image_info' class='media_info dynamic_title'></div>
            </div>

            <div class='maxer_container'>
                <div id='media_image_maxer' class='maxer'></div>
            </div>

        </div>

        <div class='media_main_container' id='media_tv'>
            <div id='media_youtube_video_container' class='media_container'></div>
            <div id='media_soundcloud_video_container' class='media_container'></div>
            <div id='media_video_video_container' class='media_container'></div>
            <div id='media_iframe_video_container' class='media_container'></div>

            <div class='maxer_container'>
                <div id='media_tv_maxer' class='maxer'></div>
            </div>
        </div>
    </div>
</div>