<div id='media' draggable='false'>
    <div id='media_split'>
        <div class='media_main_container' id='media_image'></div>
        <div class='media_main_container' id='media_tv'></div>

        <div class='maxer_container'>
            <div id='media_maxer' class='maxer'></div>
        </div>
    </div>
</div>