<div id="media" draggable="false">
  <div id="media_split">
    <div class="media_main_container" id="media_image">
      <div class="media_container" id="media_image_container">
        <img id="media_image_frame" class="actionbox" draggable="false">
        <div id="media_image_error" class="pointer">Image failed to load</div>
      </div>
    </div>

    <div class="media_main_container" id="media_tv">
      <div id="media_youtube_tv_container" class="media_container hidden"></div>
      <div id="media_twitch_tv_container" class="media_container hidden"></div>
      <div id="media_soundcloud_tv_container" class="media_container hidden"></div>
      <div id="media_video_tv_container" class="media_container hidden"></div>
      <div id="media_iframe_tv_container" class="media_container hidden"></div>
    </div>
  </div>
</div>