<div id='reactions_box_container'>
    <div id='reactions_box'>
        <div>
            <svg class='reaction_icon reaction_icon_2 pointer action nicetitle other_icon' title="Like" data-kind="like">
                <use href='#icon_thumbs-up'>
            </svg>

            <svg class='reaction_icon pointer action nicetitle other_icon' title="Love" data-kind="love">
                <use href='#icon_heart'>
            </svg>

            <svg class='reaction_icon pointer action nicetitle other_icon' title="Happy" data-kind="happy">
                <use href='#icon_happy'>
            </svg>
        </div>

        <div>
            <svg class='reaction_icon reaction_icon_2 pointer action nicetitle other_icon' title="Dislike" data-kind="thumbs-down">
                <use href='#icon_thumbs-down'>
            </svg>
    
            <svg class='reaction_icon pointer action nicetitle other_icon' title="Meh" data-kind="meh">
                <use href='#icon_meh'>
            </svg>
    
            <svg class='reaction_icon pointer action nicetitle other_icon' title="Sad" data-kind="sad">
                <use href='#icon_sad'>
            </svg>
        </div>

        <div class='pointer action user_function_button' id='user_function_button_1'>F1</div>
        <div class='pointer action user_function_button' id='user_function_button_2'>F2</div>
        <div class='pointer action user_function_button' id='user_function_button_3'>F3</div>
        <div class='pointer action user_function_button' id='user_function_button_4'>F4</div>
        <div class='pointer action user_function_button' id='user_function_button_5'>F5</div>
        <div class='pointer action user_function_button' id='user_function_button_6'>F6</div>
        <div class='pointer action user_function_button' id='user_function_button_7'>F7</div>
        <div class='pointer action user_function_button' id='user_function_button_8'>F8</div>
    </div>
</div>