<div id='reactions_box_container'>
    <div id='reactions_box'>
        <div>
            <i class='reaction_icon reaction_icon_2 far fa-thumbs-up pointer action nicetitle' title="Like" data-kind="like"></i>
            <i class='reaction_icon far fa-heart pointer action nicetitle' title="Love" data-kind="love"></i>
            <i class='reaction_icon far fa-smile pointer action nicetitle' title="Happy" data-kind="happy"></i>
        </div>

        <div>
            <i class='reaction_icon far fa-thumbs-down pointer action nicetitle' title="Dislike" data-kind="dislike"></i>
            <i class='reaction_icon far fa-meh pointer action nicetitle' title="Meh" data-kind="meh"></i>
            <i class='reaction_icon far fa-frown pointer action nicetitle' title="Sad" data-kind="sad"></i>
        </div>

        <div class='pointer action user_function_button' id='user_function_button_1'>F1</div>
        <div class='pointer action user_function_button' id='user_function_button_2'>F2</div>
        <div class='pointer action user_function_button' id='user_function_button_3'>F3</div>
        <div class='pointer action user_function_button' id='user_function_button_4'>F4</div>
        <div class='pointer action user_function_button' id='user_function_button_5'>F5</div>
        <div class='pointer action user_function_button' id='user_function_button_6'>F6</div>
        <div class='pointer action user_function_button' id='user_function_button_7'>F7</div>
        <div class='pointer action user_function_button' id='user_function_button_8'>F8</div>
    </div>
</div>