<div id='reactions_box_container'>
    <div id='reactions_box'>
        <div id='reactions_functions' class='flex_row_center'>
            <div class='pointer action user_function_button' id='user_function_button_1'>F1</div>
            <div class='pointer action user_function_button' id='user_function_button_2'>F2</div>
            <div class='pointer action user_function_button' id='user_function_button_3'>F3</div>
            <div class='pointer action user_function_button' id='user_function_button_4'>F4</div>
            <div class='pointer action user_function_button' id='user_function_button_5'>F5</div>
            <div class='pointer action user_function_button' id='user_function_button_6'>F6</div>
        </div>

        <div id='reactions_icons' class='flex_row_center'>
            <div class='flex_row_center action pointer reaction_icon' data-kind="like" title="Kike">
                <svg class='other_icon'><use href='#icon_thumbs-up'></svg>
                <div class='reactions_icon_label'>Like</div>
            </div>

            <div class='flex_row_center action pointer reaction_icon' data-kind="love" title="Kove">
                <svg class='other_icon'><use href='#icon_heart'></svg>
                <div class='reactions_icon_label'>Love</div>
            </div>

            <div class='flex_row_center action pointer reaction_icon' data-kind="happy" title="Happy">
                <svg class='other_icon'> <use href='#icon_happy'></svg>
                <div class='reactions_icon_label'>Happy</div>
            </div>

            <div class='flex_row_center action pointer reaction_icon' data-kind="dislike" title="Dislike">
                <svg class='other_icon'><use href='#icon_thumbs-down'></svg>
                <div class='reactions_icon_label'>Dislike</div>
            </div>                

            <div class='flex_row_center action pointer reaction_icon' data-kind="meh" title="Meh">
                <svg class='other_icon'><use href='#icon_meh'></svg>
                <div class='reactions_icon_label'>Meh</div>
            </div>                
            <div class='flex_row_center action pointer reaction_icon' data-kind="sad" title="Sad">
                <svg class='other_icon'><use href='#icon_sad'></svg>
                <div class='reactions_icon_label'>Sad</div>
            </div>
        </div>
    </div>
</div>