<div id="snackbar" class="panel">
  <div id="snackbar_links" class="action">Links</div>
  <div id="snackbar_separator" class="unselectable">|</div>
  <div id="snackbar_url" class="action"></div>
</div>