<div id="snackbar" class="panel">
  <div id="snackbar_links" class="action">Links</div>
  <div class="snackbar_separator">|</div>
  <div id="snackbar_url" class="action"></div>
  <div class="snackbar_separator">|</div>
  <div id="snackbar_title" class="action"></div>
</div>